<div class="content">
      <div class="container smallcontainer">
        <div class="topcontent">
          <div class="row">
            <div class="col-md-12">
                <h2>Your Social Preferences</h2>
                <h3><strong>Employee360&trade;</strong> will <span>never</span> share or access your information without your consent.<br>
Your privacy is of utmost important to us.</h3>
            </div>
          </div> 
        </div>   
        <div class="middlecontent">
          <div class="row">
            <div class="col-md-12">
              <h4>Share content confidently among these social media networks!</h4>
              <h3 class="slogan">*Earn 50 points for each social media network that you connect to Employee360&trade;</h3>
            </div>
          </div>  
        </div>    
        <div class="formcontent">   
           <form class="usersettingsform"> 
             <div class="row">
               <div class="col-md-10">

               </div>
               <div class="col-md-2">
                  <h3>Points Earned</h3>
               </div>
             </div>  
              <div class="row">
                <div class="col-md-1">
                  <ul class="socialicons">
                    <li class="facebook"><a >Facebook</a></li>
                    <li class="twitter"><a >Twitter</a></li>
                    <li class="instagram"><a >Instagram</a></li>
                    <li class="linkedin"><a >LinkedIn</a></li>
                  </ul>  
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                          <input type="text" class="form-control username" placeholder="Username">
                        </div>
                        <div class="col-md-5">
                          <input type="password" class="form-control pass" placeholder="Password">
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-login">LOGIN</button>
                        </div>  
                    </div> 
                  </div>   

                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                          <input type="text" class="form-control username" placeholder="Username">
                        </div>
                        <div class="col-md-5">
                          <input type="password" class="form-control pass" placeholder="Password">
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-login">LOGIN</button>
                        </div>  
                    </div> 
                  </div>  

                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                          <input type="text" class="form-control username" placeholder="Username">
                        </div>
                        <div class="col-md-5">
                          <input type="password" class="form-control pass" placeholder="Password">
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-login">LOGIN</button>
                        </div>  
                    </div> 
                  </div>  

                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                          <input type="text" class="form-control username" placeholder="Username">
                        </div>
                        <div class="col-md-5">
                          <input type="password" class="form-control pass" placeholder="Password">
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-login">LOGIN</button>
                        </div>  
                    </div> 
                  </div>   
                </div>  
                <div class="col-md-2">
                  <div class="pointscontent">
                     <div class="eachcontent"> 
                      <div class="row">
                        <div class="col-md-12">
                            <h4>-</h4>
                        </div>  
                      </div>
                    </div>

                    <div class="eachcontent"> 
                      <div class="row">
                        <div class="col-md-12">
                            <h4>-</h4>
                        </div>  
                      </div>
                    </div>

                    <div class="eachcontent"> 
                      <div class="row">
                        <div class="col-md-12">
                            <h4>-</h4>
                        </div>  
                      </div>
                    </div>

                    <div class="eachcontent"> 
                      <div class="row">
                        <div class="col-md-12">
                            <h4>-</h4>
                        </div>  
                      </div>
                    </div>
                  </div>    

                </div>                 
              </div>
              </form>
          </div>
          <div class="bottomcontent">
            <div class="row">
              <div class="col-md-12">
                <div class="totalcontent">
                    <h1>0</h1>
                    <h3>Total Points Earned</h3>
                </div>    
              </div>  
            </div>  
          </div>  
          
          <div class="row">
            <div class="col-md-12">
              <p class="note">*You can only redeem 50 points one-time for each social network account that you connect</p>
            </div>
          </div>    
        </div> 
    </div>