<div id="wrapper" style="margin-top:40px">
<div class="container">
 <div class="container">
   <div class="row">
     <div class="col-md-1"> </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       Type
       <select>
         <option value=""></option>
         <option value="donation">Donation</option>
         <option value="volunteer">Volunteer</option>
       </select>
       &nbsp;
       From
       <input />
       &nbsp;
       To
       <input />
       &nbsp;
       Status
       <select>
         <option></option>
         <option>Cancelled</option>
         <option>Pending</option>
         <option>Rejected</option>
         <option>Complete</option>
       </select>
     </div>
   </div>
 </div>
 <div class="container margin-top30">
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-12">
       <div class="table-responsive">
         <table class="table borderless">
           <thead>
             <tr>
               <th class="text-center">Name</th>
               <th class="text-center">STATUS</th>
               <th class="text-center">Amount/Fee/Match</th>
               <th class="text-center">Total</th>
               <th class="text-center"></th>
               <th class="text-center">DATE</th>
               <th class="text-center">DETAILS</th>
               <th class="text-center"></th>
               <th class="text-center"></th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let transaction of transactions; let tranIndex = index">
               <td width="30%" class="blue white-shadow">{{ transaction.name }}</td>
               <td class="grey-shadow complete">{{ transaction.status }}</td>
               <td>{{ transaction.tranAmount.toFixed(2) }}/{{ transaction.tranFee.toFixed(2) }}/{{ transaction.tranMatch.toFixed(2) }}</td>
               <td width="10%" class="blue small-white-shadow">{{ transaction.tranTotal.toFixed(2) }}</td>
               <td class="grey-shadow"></td>
               <td class="blue white-shadow">{{ transaction.createDate.substr(0, 10) }}</td>
               <td width="20%" class="grey-shadow"><a routerLink="/admin-receipt/{{ transaction._id }}/{{ shiftIndex }}">Receipt</a></td>
               <td>
                 <button [hidden]="transaction.status !== 'Pending'" (click)="complete(transaction)">Compete</button>
               </td>
               <td>
                 <button (click)="delete(transaction._id)">Delete</button>
               </td>
             </tr>
             <tr style="border-style: none">
               <td class="blue"></td>
               <td></td>
               <td class="blue"></td>
               <td></td>
               <td class="blue"></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <tr style="border-style: none">
               <td class="blue"></td>
               <td></td>
               <td class="blue"></td>
               <td></td>
               <td class="blue"></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
     <div class="col-md-2"></div>
   </div>
 </div>
 <div class="row">

   <div class="col-md-12" style="text-align: center;display:none;">
     <nav aria-label="...">
       <div class="dotstyle dotstyle-fillup">
       <ul class="pagination">
         <li><a class="active">Home</a></li>
         <li><a>Link 1</a></li>
         <li><a>Link 2</a></li>

       </ul>
     </div>
     </nav>
   </div>

 </div>
</div>
</div>
