html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

table {
  border: 0px
}

th {
  color: #189bf3;
}

.imgthumbsize {
  width: 75px;
  height: 75px
}

body {}

a {
  cursor: pointer;
  outline: none;
  color: #000;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover, a:active, a:focus {
  color: #c1d3e0;
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 0;
}

#main-wrapper {
  background-color: #FFFFFF;
}

#wrapper {
  /*background-color: #006699;*/
  margin-left: 10%;
  margin-right: 10%;
}

.most {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  color: #137ec4
}

.social {
  font-size: large;
  font-size: 5rem;
  margin-top: -30px;
  background: -webkit-linear-gradient(#137ec4, #393939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden
}

.sharing {
  color: #959595;
  text-align: center;
  margin-top: -20px;
  text-transform: uppercase;
  vertical-align: super;
  font-size: 1.5rem;
}

ul.mostshared li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
}

ol.colspan {
  list-style-type: decimal;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  margin-left: -20px;
  list-style-position: inside;
}

ol.colspan {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}

ol.colspan li {
  margin-left: 9px;
  list-style-position: inside;
  width: 33, 333333%;
  margin-bottom: 30px;
}

.spanned ol {
  counter-reset: item;
  font-size: 1.7em;
  color: #000000;
  list-style-type: none;
}

.spanned ol li {
  display: block;
}

.spanned ol li:before {
  content: counter(item);
  font-size: 2em;
  counter-increment: item
}

.white-border-content {
  border: 2px solid #FFFFFF;
  color: #c1d3e0;
  padding: 1.5rem 0rem 1.3rem 0rem;
  padding: 15px -5px 15px -5px;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #FFFFFF;
  background-color: #189bf3;
}

.span4big {
  font-size: 5em;
  font-weight: lighter
}

.span2big {
  font-size: 1em;
  text-transform: uppercase;
}

.colspan-name {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
  font-weight: 800;
  font-size: .8em;
  padding-top: 15px;
  color: #353535;
  line-height: 1em;
}

.colspan-number {
  color: #808080;
  font-size: .8em;
  text-align: left;
  font-weight: 200;
  padding-top: -15px;
  padding-bottom: 15px;
  margin-top: -10px;
}


/* Style relevant to this page*/

.fa-chevron-left {
  color: #666666;
}

.mostshared li {
  margin-right: 30px;
  margin-left: 32px;
}

.margin-top30 {
  margin-top: 30px
}

.mostshared .thumb-text-center {
  text-align: center;
  color: #656565
}

.mostshared .thumb-shared-no {
  text-align: center;
  margin-top: -10px;
  color: #169cf1;
}


/*pagre related styles */

.white-border-contentmoney {
  border: 2px solid #FFFFFF;
  color: #c1d3e0;
  padding: 1rem 0rem 1rem 0rem;
  padding: 1px -5px 1px -5px;
  text-align: center;
  font-size: 1em;
  width: 40%;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #FFFFFF;
  background-color: #189bf3;
  margin-right: auto;
  margin-left: auto;
}

table {
  border: 0px
}

th {
  color: #189bf3;
}

.blue {
  background-color: #85c9f6;
  color: #FFFFFF
}

table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.custom-btn-blue {
  padding: 10px 15px 10px 11px;
  background-color: transparent;
  color: #189bf2;
  border: 2px solid #189bf2;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  word-wrap: break-word;
}

.direction {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #666666;
  padding: 5px;
  color: #000000;
}


/*Page Related CSS*/

.textgradient {
  margin-top: 30px;
  background: -webkit-linear-gradient(#189bf3, #346488);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden
}

.spritetweet, .spriteig, .spritefacebook, .sprite360 {
  display: inline-block;
  background: url('/assets/img/giving/social-media-sprite-medium2.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.spritetweet {
  background-position: -0px -1px;
  width: 40px;
  height: 46px;
}

.spriteig {
  background-position: -40px -1px;
  width: 44px;
  height: 46px;
}

.spritefacebook {
  background-position: -85px -0px;
  width: 40px;
  height: 46px;
}

.sprite360 {
  background-position: -130px -0px;
  width: 40px;
  height: 46px;
}

.skew {
  background-color: #189bf3;
  color: #FFFFFF;
  -webkit-transform: perspective(100px) rotateX(-4deg);
  -webkit-transform-origin: left center;
}

.progress {
  background-repeat: repeat-x;
  height: 40px;
  background-color: #FFFFFF;
}

.progress-bar {
  background-repeat: repeat-x;
  background-color: #00CCFF;
}

.boxborder {
  border: 1px solid #57AFEA;
  border-radius: 5px
}

.fa-style {
  color: #189BF3;
  vertical-align: bottom;
  padding-top: 30px;
  color: #189BF3
}

.sortbyitem1 {
  color: #FFFFFF;
  background-color: #2e3192;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.sortbyitem2 {
  color: #FFFFFF;
  background-color: #0054a6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.sortbyitem3 {
  color: #FFFFFF;
  background-color: #00aeef;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.sortbyitem4 {
  color: #FFFFFF;
  background-color: #21cdfc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.sortbyitem5 {
  color: #FFFFFF;
  background-color: #84dbfc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.dropdown-menu li a {
  color: #FFFFFF;
  text-align: right
}

.boxborder {
  border: 1px solid #57AFEA;
  border-radius: 5px
}

.boxborder-stat {
  border: 2px solid #189bf3;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

.causesitem1 {
  color: #FFFFFF;
  background-color: #002157;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem2 {
  color: #FFFFFF;
  background-color: #003663;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem3 {
  color: #FFFFFF;
  background-color: #005b7f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem4 {
  color: #FFFFFF;
  background-color: #0054a6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem5 {
  color: #FFFFFF;
  background-color: #0072bc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem6 {
  color: #FFFFFF;
  background-color: #00aeef;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem7 {
  color: #FFFFFF;
  background-color: #00c8ff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem8 {
  color: #FFFFFF;
  background-color: #00e4ff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem9 {
  color: #FFFFFF;
  background-color: #00efec;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem10 {
  color: #FFFFFF;
  background-color: #05fff0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesitem11 {
  color: #FFFFFF;
  background-color: #00fff6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;


}

.causesanchor {
  color: #FFFFFF;
  text-align: right
}
