<div id="wrapper">
  <div class="container mt30">
    <div class="container pd0">
      <!---First Section  CONTENT Starts here
           ============================================= -->
      <div class="container pd0">
        <div class="row">
          <div class="col-md-3  box-shadow-most mtop-5">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p class="most">Recent Blog Posts</p>
                    <img src="/assets/img/social/divider.png" class="img-responsive" alt="">
                    <img src="/assets/img/social/img.png" class="img-responsive margin-top15" alt="">
                    <p class="most1">the office donates $4M to 
refugee causes following ban </p>
<p class="most2">2 hours ago </p>
 <div class="dotstyle dotstyle-fillup ">
      
<ul class="pagination">
  <li><a class="active">Home</a></li>
  <li><a >Link 1</a></li>
  <li><a >Link 2</a></li>
  <li><a >Link 3</a></li>
  <li><a >Link 3</a></li>

</ul></div>

                                      </div></div>
                                     
                  <div class="clearfix"></div>
                  <div class="col-md-12 ">
                   


                  </div>
                </div>
              </div>
            </div>
          </div>
          
                                       <div class="col-md-3 text-center box-shadow-most mleft-15">
                    
                    <img src="/assets/img/social/icon.png" class="img-responsive mauto" alt="">
                    <p class="para5">Don’t see your coworker?</p>
                    <button type="button" class="btn btn-default bdefault">INVITE</button>
                                                                            </div>
          <section class="onboardvideos">
            <!-- main text-->
            <div class="col-md-9 mt-5"> <img src="/assets/img/social/social-profile.png" alt="" class="auto-style1" />
              <p class="comments-bottom para1"><i class="fa fa-commenting" aria-hidden="true"></i> COMMENTS</p>
            </div>
            <!--Main SIDEBAR-->
          </section>
        </div>
      </div>
      <div style="clear: both"></div>
      <section class="onboardvideos">
        <div class="row row-1">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 bposition">
                <h2 class="head2">ONBOARDING </h2>
                <p class="para2">LIBRARY</p>
                <p class="para3"> Check out other people's onboarding videos </p>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class=" col-md-3">
                    <div class="row">
                      <div class="col-md-12 ml0"> <img src="/assets/img/social/1.jpg" alt="" class="img-responsive" /> </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-12 md12"> <img src="/assets/img/social/2.jpg" alt="" class="img-responsive" /> </div>
                    </div>
                  </div>
                  <div class="col-md-3 mrl0">
                    <div class="row">
                      <div class="col-md-12 md12"> <img src="/assets/img/social/3.jpg" alt="" class="img-responsive" /> </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-12 md12"> <img src="/assets/img/social/4.jpg" alt="" class="img-responsive" /> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="tips">
        <div class="row bshadow">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 md4">
                <h2>THE TIPS BOX</h2>
                <p> Share something out of the ordinary
                 or something to help your team out ! </p> 
                 <button type="button" class="btn center-block">ADD TIP</button>                </div>
              <div class="col-md-8">
                <div class="row">
                  <div class=" col-md-4 pd8">
                    <div class="row">
                      <div class="col-md-11 md11">
                        <h4>TIP #1</h4>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Mark Zuckerburg</footer>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pd8">
                    <div class="row">
                      <div class="col-md-11 md11c">
                        <h4>TIP #2</h4>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Angelina Jolia</footer>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pd8">
                    <div class="row">
                      <div class="col-md-11 md11">
                        <h4>TIP #3</h4>
                        <blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Brad Pitt</footer>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---section 2-- starts--->
      <!---Third section MY CONTENT/ TOTAL SHARES start
     ============================================= -->
      <section class="all-content">
        <div class="container mt50">
          <div class="row">
            <div class="col-md-3 md3"> <span class="font-medium">All Company Content</span></div>
            <div class="col-md-2">
              <p class="paragraph">My Content</p>
            </div>
            <div class="col-md-3">
              <p class="paragraph1">Featured Videos</p>
            </div>
            <div class="col-md-4 text-left"> <button class="btn uload" type="submit">UPLOAD CONTENT</button> </div>
          </div>
        </div>
        <!--image Gallery -->
        <div class="container margin-top15 mt30pl0">
          <div class="row">
            <div class="col-md-4 fifth-md-3">
              <div class="row margin-top30">
                <div class="col-md-12 imgcontainer bimage">
<div class="overlay" >
                 
 <div class="webborder">
                    <p class="center-block"> 00:01:37</p>
                  </div></div>
                  		   <div class="overlay">

                  <div class="repeat-gradient-bottom">
                    <div class="row">
                      <div class="col-md-12 color">
                        <h4>

		<figcaption class="fcaption">
             <p class="paragraph2 pointer"data-toggle="modal" data-target="#myModal1">Pepsi and Malwai</p>

			              <p class="paragraph3">Total Reach | 122</p>
              <p class="text-center">Total Clicks | 17</p>
<p class="paragraph4">
             <button class="btn button1" style="border: 1px solid #FFFFFF;border-radius: 20px!important;font-family: 'Gotham Book';font-size: 16px;" type="button">share<b>IN</b>

</button>
                          <button class="btn button1" style="border: 1px solid #FFFFFF;border-radius: 20px!important;font-family: 'Gotham Book';font-size: 16px;" type="button">share<b>OUT</b></button>
</p>
            </figcaption>


			</h4> </div>
                    </div>
                  </div>
                </div></div>

              </div>
            </div>
            <div class="col-md-4 fifth-md-3">
              <div class="row margin-top30">
                <div class="col-md-12 imgcontainer bimage1">
<div class="overlay" >
                
  <div class="webborder">
                    <p class="center-block">00:01:37</p>
                  </div></div>
                  		   <div class="overlay">

                  <div class="repeat-gradient-bottom-sm">
                    <div class="row">
                      <div class="col-md-12 color">
                        <h4>

		<figcaption class="fcaption">
             <div class="col-md-8 md8">
          <h4 class="text-center pointer" data-toggle="modal" data-target="#myModal1"> Elephants at Play!</h4>
                        <p>You have not shared this content yet!</p>
                      </div>
                      <div class="col-md-4 center-block"> <button class="btn button2" type="button" style="border: 1px solid #FFFFFF;border-radius: 20px!important;font-family: 'Gotham Book';font-size: 16px;margin-top: 10px;">share<b>IN</b>

</button> <button class="btn button2" type="button" style="border: 1px solid #FFFFFF; border-radius: 20px !important; font-family:'Gotham Book'; font-size: 16px; margin-top: 15px;">share<b>OUT</b></button> </div>
                      </figcaption>
                      </h4>
                    </div>
                  </div>
                </div></div>

              </div>
              <div class="col-md-12 imgcontainer bimage2">
              
<div class="overlay" >

  <div class="webborder">
                  <p class="center-block"> 00:01:37</p>
                </div></div>
                		   <div class="overlay">

                <div class="repeat-gradient-bottom-sm2">
                  <div class="row">
                    <div class="col-md-12 color">
                      <h4>

		<figcaption class="fcaption">
             <div class="col-md-8 md8">
          <h4 class="pointer"data-toggle="modal" data-target="#myModal1"> Elephants at Play!</h4>
                      <p>You have not shared this content yet!</p>
                    </div>
                    <div class="col-md-4 center-block"> <button class="btn button2" type="button" style="border: 1px solid #FFFFFF;border-radius: 20px!important;font-family: 'Gotham Book';font-size: 16px;margin-top: 10px;">share<b>IN</b>

</button> <button class="btn button2" type="button" style="border: 1px solid #FFFFFF; border-radius: 20px !important; font-family:'Gotham Book'; font-size: 16px; margin-top: 15px;">share<b>OUT</b></button> </div>
                    </figcaption>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></div>
        <div class="col-md-4 fifth-md-3">
          <div class="row margin-top30">
            <div class="col-md-12 imgcontainer bimage3">
<div class="overlay" >
             
 <div class="webborder">
                <p class="center-block">00:00:32</p>
              </div></div>
              		   <div class="overlay">

              <div class="repeat-gradient-bottom">
                <div class="row">
                  <div class="col-md-12 color">
                    <h4>

		<figcaption class="fcaption">
             <p class="paragraph2 pointer" data-toggle="modal" data-target="#myModal1">Pepsi and Malwai</p>

			              <p class="paragraph3">Total Reach | 122</p>
              <p class="text-center">Total Clicks | 17</p>
<p class="paragraph4">
             <button class="btn button1 active" type="button" style="border: 1px solid #FFFFFF;border-radius: 20px!important;font-family: 'Gotham Book';font-size: 16px;">share<b>IN</b>

</button>
                          <button class="btn button1" type="button" style="border: 1px solid #FFFFFF; border-radius: 20px !important; font-family:'Gotham Book'; font-size: 16px;">share<b>OUT</b></button>
</p>
            </figcaption>


			</h4> </div>
                </div>
              </div></div>

            </div>
          </div>
        </div><br/>
        <!--second row-->
        <!----want to share content---->
    </div>
  </div>

  </section>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header border"> <button type="button" class="close cross1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> </div>
        <div class="modal-body mt-10">
          <h1 class="heads">How  would you like to share this content ?</h1>
          <div class="row mt30 text-center pr30">
            <div class="row mt30">
              <div class="col-md-12 text-center"> <button type="button" class="btn button1 btn1">share<b>IN</b></button> <button type="button" class="btn button1 btn1">share<b>OUT</b></button> </div>
              <div class="col-md-12 text-center"> <button class="btn  text-center" data-dismiss="modal" type="button" style="width:150px;border-radius: 20px; background-color: #189bf2; color: #FFFFFF; margin-bottom: 20px; margin-top: 20px; font-size: 22px; font-family: 'Gotham Book';margin-right:10px;">SHARE</button>                <button class="btn modal-exit-btn text-center" data-dismiss="modal" type="button" style="width:150px;border-radius: 20px; background-color: #7b0046; color: #FFFFFF; margin-bottom: 20px; margin-top: 20px; font-size: 22px; font-family: 'Gotham Book';">EXIT</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center mt-60px">
    <a routerLink="/"> <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-down icon"></i>
</span> </a>
  </div>
</div>
</div>
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog dlog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header mheader">
          <button type="button" class="close cross" data-dismiss="modal">X</button>
               </div>
        <div class="modal-body mbody">
          <div class="col-md-12">
         <h2 class="head1">Elephants of Malawi - Elephants At Play!</h2>
           <button class="btn button1 pull-right top20" type="button">share<b>OUT</b>

</button>
    <button class="btn button1 pull-right top20" type="button">share<b>IN</b></button></div>
    <div class="col-md-12">
<form>
                                <h2 class="head">Comments</h2>

                              <div class="commentscontent">
                                <img class="img-responsive" src="/assets/img/social/user.png">
                                <div class="commentsbox">
                                  <div class="inputcontent">
                                    <textarea class="form-control comments" name="usercomments" placeholder="Post a comment here"></textarea>
                                    <span class="triangle"></span>
                                  </div>
                                  <button class="btn btn-post">POST</button>
                                </div>

                              </div>
                            </form>
        </div>
               <div class="col-md-12 mt20">
<form>
                               
                              <div class="commentscontent">
                                <img class="img-responsive" src="/assets/img/social/katherine.png">
                                <div class="commentsbox">
                                  <div class="inputcontent">
                                    <textarea class="form-control comments" name="usercomments" placeholder="Lorem ipsum dipsum lipsum I don’t know anything past the first two words of “Lorem Ipsum” really."></textarea>
                                    <span class="triangle"></span>
                                  </div>
                                                                 </div>

                              </div>
                            </form>
        </div></div>
        <!---
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>
