<div class="container">
  <div class="row">
    <div class="col-md-1"> <a routerLink="/habitat-voice-surveys"><i class="fa fa-chevron-circle-left" style="font-size:50px"></i></a> </div>
    <div class="col-md-10">
      <h1 class="text-center">What's On Your Mind?&nbsp;</h1> </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><i class="fa fa-pull-right fa-microphone fa-lg"></i>Which internet website do you use often?</h3> </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><i class="fa fa-pull-right fa-microphone fa-lg"></i>How helpful is the internet for making new friends?</h3> </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><i class="fa fa-pull-right fa-microphone fa-lg"></i>How often do you use the internet to make new friends?</h3> </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><i class="fa fa-pull-right fa-microphone fa-lg"></i>Which social media network do you use most often?</h3> </div>
  </div>
  <button class="btn btn-info btn-lg center-block" type="button" style="margin-top: 50px;" data-toggle="modal" data-target="#modal-survey-thankyou">Submit</button>
  <h4 class="text-center" style="color:grey;padding-top:15px;">Power by <span style="display:block;">Watson</span></h4> </div>
<!-- modal -->
<div class="modal fade pg-show-modal" id="modal-survey-thankyou" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Thank you for your feedback!</h4> </div>
      <div class="modal-body">
        <p class="text-center">Here are your 10 points as promised!
          <br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
