<div id="wrapper">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-12">
        <h1>Manage Points System</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div class="well">
          <div class="col-md-4">
            <h2>Volunteering</h2>
          </div>
          <div class="col-md-3">
            <input type="text" placeholder="40 points" class="text" [value]="this.settings.adminVolunteerPoints"
                (blur)="updateFormField('adminVolunteerPoints', $event)">
          </div>

          <div class="col-md-4">
            <h2>Social Media</h2>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4 mt30">
                <h2>Surveys</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="10 points" class="text" [value]="this.settings.adminSurveyPoints"
                    (blur)="updateFormField('adminSurveyPoints', $event)">
              </div>

              <div class="col-md-4 pull-right mleft">
                <h3 class="headings">Facebook</h3>
                <input type="text1" placeholder="150 points" class="text1" [value]="this.settings.adminSocialFacebook"
                    (blur)="updateFormField('adminSocialFacebook', $event)">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mt30">
                <h2>Activities</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="5 points" class="text" [value]="this.settings.adminActivities"
                    (blur)="updateFormField('adminActivities', $event)">
              </div>

              <div class="col-md-4 pull-right mright">
                <h3 class="headings">Instagram</h3>
                <input type="text1" placeholder="125 points" class="text1" [value]="this.settings.adminInstagram"
                    (blur)="updateFormField('adminInstagram', $event)">
              </div>

            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mt30">
                <h2>Donations</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="2 points" class="text" [value]="this.settings.adminDonations"
                    (blur)="updateFormField('adminDonations', $event)">
              </div>

              <div class="col-md-4 pull-right mright1">
                <h3 class="headings">Twitter</h3>
                <input type="text1" placeholder="100 points" class="text2" [value]="this.settings.adminTwitter"
                    (blur)="updateFormField('adminTwitter', $event)">
              </div>

            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mt30">
                <h2>Invite Employee</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="20 points" class="text" [value]="this.settings.adminInviteEmployee"
                    (blur)="updateFormField('adminInviteEmployee', $event)">
              </div>

              <div class="col-md-4 pull-right mright2">
                <h3 class="headings">LinkedIn</h3>
                <input type="text1" placeholder="100 points" class="text3" [value]="this.settings.adminLinkedIn"
                    (blur)="updateFormField('adminLinkedIn', $event)">
              </div>

            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mt30">
                <h2>Daily Login</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="1 points" class="text" [value]="this.settings.adminDailyLogin"
                    (blur)="updateFormField('adminDailyLogin', $event)">
              </div>


            </div>
          </div>
        </div>
        <input type="reset" value="RESET" class="reset pull-right">

        <div class="row">
          <div class="col-md-12">
            <h1>Company Matching and Udemy Credit</h1>
          </div>
          <div class="col-md-12">
            <div class="well1" style="height:600px;">
              <div class="col-md-8 mt30">
                <h2>Company Match Limit Per Donation</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="$50.00" class="text" [value]="this.settings.adminEmployeeMatchLimitPerDonation"
                    (blur)="updateFormField('adminEmployeeMatchLimitPerDonation', $event)">
              </div>
              <div class="col-md-8 mt30">
                <h2>Udemy Credit Per Year Per Employee</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="$400.00" class="text" [value]="this.settings.adminEmployeeUdemyCreditPerYear"
                    (blur)="updateFormField('adminEmployeeUdemyCreditPerYear', $event)">
              </div>
              <div class="col-md-8 mt30">
                <h2>Volunteer Hours Target Per Year Per Employee</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="80" class="text" [value]="this.settings.adminEmployeeVolunteerPerYear"
                    (blur)="updateFormField('adminEmployeeVolunteerPerYear', $event)">
              </div>
              <div class="col-md-8 mt30">
                <h2>Company Donation Match Limit Per Year Per Employee</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="$1000" class="text" [value]="this.settings.adminEmployeeDonationMatchLimitPerYear"
                    (blur)="updateFormField('adminEmployeeDonationMatchLimitPerYear', $event)">
              </div>
            </div>
            <div class="col-md-8 mt30">
              <h2>Employee Donation Target</h2>
            </div>
            <div class="col-md-3 mt30">
              <input type="text" placeholder="$800.00" class="text" [value]="this.settings.adminEmployeeDonationTargetPerYear"
                  (blur)="updateFormField('adminEmployeeDonationTargetPerYear', $event)">
            </div>
                    </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Your Company Mascot - To Gertie, Or Not To Gertie</h1>
          </div>
          <div class="col-md-12">
            <div class="well2">
              <div class="col-md-8 mt30">
                <h2>Want to use your own company mascot?</h2>
                <p>Nothing has been uploaded yet!</p>
                <input type="submit" class="btnset pull-right" name="submit" value="Upload " (click)="UploadGertieImagePopup()"
                />
                <div style='visibility: hidden; height:0; width: 0;'>
                  <input type="file" #gertieFile (change)="UploadGertieImage($event)">
                </div>
              </div>
              <div class="col-md-3 mt30">
                <img src="{{ getGERTIEPath() }}" alt="" class="img-responsive mt30">
                <p class="para">300px X 300px</p>
              </div>

            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h1>Taming the Gerties</h1>
          </div>
          <div class="col-md-12">
            <div class="well3">
              <div class="col-md-8 mt30">
                <h2>Number of Gerties Allowed Per Month</h2>
              </div>
              <div class="col-md-3 mt30">
                <input type="text" placeholder="3" class="text4" [value]="this.settings.adminGertiesPerMonth"
                    (blur)="updateFormField('adminGertiesPerMonth', $event)">
              </div>
              <div class="col-md-8 mt30">
                <h2 class="headings1">Reset Gerties Every</h2>
              </div>
              <div class="col-md-3 mt30">
                <div class="dropdown"> <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                  {{ getGertieReset() }}
               <p><span class="caret"></span></p></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li class="sortbyitem1" role="presentation">
                      <a role="menuitem" (click)='updateGertieReset("FUNDRAISER")'
                          tabindex="-1">FUNDRAISER</a>
                    </li>
                    <li class="sortbyitem2" role="presentation"><a role="menuitem" (click)='updateGertieReset("VOLUNTEER")' tabindex="-1">VOLUNTEER</a></li>
                    <li class="sortbyitem3" role="presentation"><a role="menuitem" (click)='updateGertieReset("DATE")' tabindex="-1">DATE</a></li>
                  </ul>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Terms of Service</h1>
            <div class="col-md-12 content mt30">
              <div class="welly">
                <textarea style="background:none;width:100%;color:black" rows="10" [value]="this.settings.adminTermsOfService"
                    (blur)="updateFormField('adminTermsOfService', $event)"></textarea>
              </div>
            </div>

          </div>
          <div class="col-md-12 mt30">
            <h1>Privacy Policy</h1>
            <div class="col-md-12 content mt30 mb60">
              <div class="welly">
                <textarea style="background:none;width:100%;color:black" rows="10" [value]="this.settings.adminPrivacyPolicy"
                    (blur)="updateFormField('adminPrivacyPolicy', $event)"></textarea>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
