main {
  /*margin-bottom: 200px;*/
  /* sticky footer */
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 200px auto -56px;
  /* Pad bottom by footer height */
  padding: 0 0 114px;
}

.video-placeholder {
  border-radius: 10px;
  background-color: #959595;
  width: 400px;
  /*height: 510px;*/
}

.heading-welcome {
  font-family: Gotham Thin;
  color: #189bf2;
  font-size: 50px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 27.778px;
  /* Approximation due to font substitution */
  text-align: left;
  text-align: center;
}

.heading-message {
  font-family: Gotham Light;
  color: #545454;
  font-size: 20px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 27.778px;
  /* Approximation due to font substitution */
  text-align: left;
  margin-left: 30px;
}

.footer-message {
  font-family: Gotham Light;
  color: #189bf2;
  font-size: 18px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 27.778px;
  /* Approximation due to font substitution */
  text-align: center;
}

.modal-exit-btn {
  background-color: #189bf2;
  width: 224px;
  height: 61px;
  font-family: Gotham Light;
  color: rgba(255, 255, 255, 0.95);
  font-size: 27.78px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 27.778px;
  /* Approximation due to font substitution */
  text-align: center;
}

.record-button {
  border-radius: 50%;
  border-width: 2.7777777777777777px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #ff0000;
  width: 77px;
  height: 77px;
  top: 200px;
}
