div.col-md-6 button.btn-primary {
border-color:#189bf2;background:#189bf2;border-radius: 0px;
 padding: 10px 20px 10px 20px; font-family: 'Gotham Book'; font-size: 31px; color: #fff;
}
div.col-md-6 button.btn-danger {
border-color:#650f32;background:#650f32;border-radius: 0px;
 padding: 10px 20px 10px 20px; font-family: 'Gotham Book'; font-size: 31px; color: #fff;
}
div.col-md-2 h1 {
font-family: 'Gotham Ligh'; color: #189bf2; text-align: left; margin-top:0px;font-size:40px
}
.well {
background-color: #fff; border-radius: 8px; color: #FFFFFF; margin-top:20px;padding-bottom: 20px;
}
.well h2 {
font-family:'Gotham Book'; font-size: 34px; color: #189bf2
}
.well h4 {
color: #189bf2; font-family:'Gotham Book'; font-size: 30px
}
.well p{
color: #189bf2;
 font-family: 'Gotham Light';
  font-size: 30px	}

 .mt30{
  margin-top:30px;
 
 }
