  <app-wellbeing-navbar></app-wellbeing-navbar>
<div id="wrapper">
<div class="container mt30">
<div class="row">
<div class="col-md-12">
<img src="/assets/img/wellbeing/mental/heart.png" alt="" class="img-responsive fleft">
  <h1>Health & Fitness</h1>
  </div>
   <div class="col-md-3 mt10">
   <div class="col-md-11">
   <h2>Filter By</h2>
     <div class="dropdown"> <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">SELECT
               <p>  <span class="caret"></span></p></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li class="sortbyitem1" role="presentation"><a role="menuitem" tabindex="-1">FUNDRAISER</a></li>
                <li class="sortbyitem2" role="presentation"><a role="menuitem" tabindex="-1">VOLUNTEER</a></li>
                <li class="sortbyitem3" role="presentation"><a role="menuitem" tabindex="-1">DATE</a></li>
              </ul>
              <div class="well">
              <h3>$15</h3>
              <h2>93% OFF</h2>
              <p>$200</p>
             <button type="button" class="btn btn-warning">ADD TO CART</button>
             <h4>Includes</h4>
             <ul>
                <li><a role="menuitem" tabindex="-1">1.5 hours on-demand video
</a></li>
                <li><a role="menuitem" tabindex="-1">4 Articles</a></li>
                <li><a role="menuitem" tabindex="-1">6 Supplemental Resources
</a></li>
<li><a role="menuitem" tabindex="-1">Full lifetime access</a></li>

<li><a role="menuitem" tabindex="-1">Access on mobile and TV</a></li>

<li><a role="menuitem" tabindex="-1">Certificate of Completion</a></li>

              </ul>
             </div>
            </div></div>
           

                        </div>
    		 <div class="col-md-9">
    		 <h2>Featured Course</h2>
    		 <div class="eachcontent">
              <div class="row">
                <div class="col-md-12">
                  <div class="image1bg">
                    <div class="blurbg">
                      <div class="textcontent">
                          <h3>Beginner's Guide to Meditation with Emily Fletcher</h3>

<h5>Emily Fletcher,Founder,Ziva Meditation</h5>                         
<h5>27 Lectures/Video</h5>                         
<h5>700 Students</h5>                         
<h5>All Levels</h5>                     
<h4><img src="/assets/img/wellbeing/mental/stars.png" alt="" height="23" width="215" />  </h4>                         
<p>
<span>$200</span>$15</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    		 
    		 <h2>Created by<span class="caption"> Emily Fletcher</span>     &nbsp;&nbsp; &nbsp;&nbsp;Last Updated: 11/2016 &nbsp;&nbsp; &nbsp;&nbsp;    English</h2>
    		 <h3>Develop a Daily Practice to Reduce Stress & Improve Productivity</h3>
    		 <img src="/assets/img/wellbeing/mental/detail-divider.png" alt="" class="img-responsive mt30">
    		  <h4 class="caption1">What Will I Learn?</h4>
    		  <div class="nav">
             <ul>
                <li><a role="menuitem" tabindex="-1">Learn a 5 or 10 minute daily meditation practice you’ll enjoy</a></li>
                <li><a role="menuitem" tabindex="-1">Stress less and smile more.</a></li>
                <li><a role="menuitem" tabindex="-1">Understand different styles of meditation
</a></li>
<li><a role="menuitem" tabindex="-1">Decrease anxiety and insomnia.</a></li>

<li><a role="menuitem" tabindex="-1">Increase focus and productivity.</a></li>
              </ul></div>
               <img src="/assets/img/wellbeing/mental/detail-divider1.png" alt="" class="img-responsive mb10">

              <div style="border:2px solid #189bf2;">
              <h4 class="caption2">Requirements</h4>
    		  <div class="nav">
             <ul>
                <li><a role="menuitem" tabindex="-1">A desire to learn.
</a></li>
                <li><a role="menuitem" tabindex="-1">A comfortable place to sit.</a></li>
                </ul>
    		 </div>  </div>
    		 <img src="/assets/img/wellbeing/mental/detail-divider.png" alt="" class="img-responsive mt10">
             <h4 class="caption2">Description</h4>
            <p class="paragraph">Meditation is the single most powerful stress relieving tool there is. Reduce anxiety 
and increase your bliss by learning a simple daily meditation practice you'll enjoy. 
Reducing the amount of stress in your body will help you perform at the top of your 
game in every area - from the boardroom to the bedroom. You’ll graduate with a 
practice that you can do anywhere, anytime. 
<br><br>
Emily Fletcher is the founder of Ziva Meditation and has taught thousands of people 
both in person, and online via zivaMIND, the world's first online meditation training. 
Her focus is meditation for better performance: because no one cares how good you 
are at meditation, they care how good you are at life.</p>
<h4 class="caption3">Who is the target audience?</h4>
<div class="nav">
             <ul class="mf20">
                <li><a role="menuitem" tabindex="-1">People who think they are too busy to meditate, or people who practice 
mindfulness who are looking for a more restful meditation practice
</a></li>
                                </ul>
    		 </div>
    		 <img src="/assets/img/wellbeing/mental/detail-divider1.png" alt="" class="img-responsive mb10">

<div role="tabpanel" class="tab-pane" id="profile"><div class="panel-group" id="accordion" > 
    
    <table style="margin-top:-14px;">
    <tr>
   <th>
   Curriculum For This Course  <span style="font-family:'Gotham Light';font-size:18px;color:#189fb2;padding-right: 26px;
    padding-left: 56px;">Expand All</span></th>
 
     <th >27 Lectures</th>
  <th> 01:40:09</th>

 </tr>
 </table>
 
    <br>
  <div class="panel panel-default">
  
    <div class="panel-heading">
   
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-minus"></span>
          Introduction
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
               
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td > 03:15</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
      
       <td>Preview</td>
       <td> 03:27</td>
      </tr>
      </table>
      </div>

     </div>
    
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
    <table>
    <tr>
      <td><h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <span class="glyphicon glyphicon-plus"></span>
          Mindfulness,Meditation, and Stress
        </a>
      </h4></td>
    
       <td class="head-td" >4 Lectures</td>
       <td class="head-td"> 11:03</td>
      </tr>
      </table>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
   
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <span class="glyphicon glyphicon-plus"></span>
          Set yourself Up for Success
        </a>
      </h4></td>
    

       <td class="head-td">2 Lectures</td>
       <td class="head-td">05:51</td>
</tr>
</table>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
   
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <span class="glyphicon glyphicon-plus"></span>
          Prepare to Meditate</a>
      </h4></td>
     
       <td class="head-td" >3 Lectures</td>
       <td class="head-td" > 11:25</td>

        
      </tr>
</table>

    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
    
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <table>
    <tr>
      <td>

      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <span class="glyphicon glyphicon-plus"></span>
          Meditate
        </a>
      </h4></td>
     
       <td class="head-td" >4 Lectures</td>
       <td class="head-td" > 35:26</td>

        
      </tr>
</table>


    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
    
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>

      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          <span class="glyphicon glyphicon-plus"></span>
          Integrate Meditation into Your Life
        </a>
      </h4></td>
    

       <td class="head-td">6 Lectures</td>
       <td class="head-td"> 20:50</td>
      </tr>
</table>

    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
         <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
 
       <td>Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
   
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          <span class="glyphicon glyphicon-plus"></span>
          Conclusion
        </a>
      </h4></td>
   
       <td class="head-td">3 Lectures</td>
       <td class="head-td"> 04:20</td>

        
      </tr>
</table>

    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
         <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
    <table>
    <tr>
      <td>

      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          <span class="glyphicon glyphicon-plus"></span>
          Bonus Audios: Guided Visualizations
        </a>
      </h4></td>
    

       <td class="head-td" >2 Lectures</td>
       <td class="head-td"> 00:17</td>
      </tr>
</table>

    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
   
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

  
</div></div>
<img src="/assets/img/wellbeing/mental/detail-divider.png" alt="" class="img-responsive">
<h4 class="caption4">About the Instructor</h4>
<img src="/assets/img/wellbeing/mental/girl.png" alt="" class="img-responsive mt30">
<img src="/assets/img/wellbeing/mental/star-icon.png" alt="" class="img-responsive mt20">
<p class="paragraph1"><span class="caption"> 4.7</span> Average Rating</p>
<img src="/assets/img/wellbeing/mental/review.png" alt="" class="img-responsive mt20">
<p class="paragraph1"><span class="caption">127 </span> Reviews</p>
<img src="/assets/img/wellbeing/mental/student.png" alt="" class="img-responsive mt20">
<p class="paragraph1"><span class="caption">701 </span> Students</p>
<img src="/assets/img/wellbeing/mental/play.png" alt="" class="img-responsive ml-16">
<p class="paragraph1"><span class="caption">1 </span> Course </p>
 <p class="paragraph2"><span class="caption">Emily Fletcher</span><br>
Founder, Ziva Meditation<br><br>

Emily Fletcher is the founder of Ziva Meditation and the creator of 
zivaMIND, the world's first online meditation training. Ziva's mission 
is to make meditation attractive and accessible to people who are 
ready to up-level their performance and their lives. Recently featured 
in The New York Times, named top 100 women in wellness to watch 
and regarded as one of the leading experts in meditation, Emily has 
been invited by companies like Google, Barclays Bank, sweetgreen, 
& Viacom to help improve company performance through meditation.<br><br>

She began her ten years of training in Rishikesh, India and was 
inspired to teach after experiencing the profound physical and 
mental benefits meditation provided her during her 10-year career 
on Broadway, which included roles in Chicago, The Producers & A 
Chorus Line.<br><br>

Emily has been invited to speak at Harvard Business School, 
Bulletproof Biohacking Conference, Summit Series, A-Fest and The 
Omega Center. So far, she has taught over 4,200 people to become 
self-sufficient meditators with this game changing practice to take 
with them for life.
</p>
<img src="/assets/img/wellbeing/mental/detail-divider1.png" alt="" class="img-responsive">
<div class="col-md-12 feedback">
<h4 >Student Feedback</h4>
<div class="col-md-3">
<h1>4.7</h1>
<img src="/assets/img/wellbeing/mental/group-star1.png" alt="" class="img-responsive mtop20">
<p class="para2">Average Rating</p>
</div>
<div class="col-md-9 mtop20">
<div class="progress ">					  
      
                      <div class="progress-bar skew pro" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" >
                       					   
                      </div> 
					  </div>
                      <img src="/assets/img/wellbeing/mental/rating1.png" alt="" class="img-responsive im1">
                  <p class="para">70%</p>
                 
                  <div class="progress">					  
      
                      <div class="progress-bar skew pro1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" >
                       					   
                      </div> 
					  </div>
                      <img src="/assets/img/wellbeing/mental/rating2.png" alt="" class="img-responsive im1">
                  <p class="para1">20%</p>

<div class="progress">					  
      
                      <div class="progress-bar skew pro2" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                       					   
                      </div> 
					  </div>
                      <img src="/assets/img/wellbeing/mental/rating3.png" alt="" class="img-responsive im1">
                  <p class="para1">9%</p>

<div class="progress">					  
      
                      <div class="progress-bar skew pro3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                       					   
                      </div> 
					  </div>
                      <img src="/assets/img/wellbeing/mental/rating4.png" alt="" class="img-responsive im1">
                  <p class="para1">1%</p>


<div class="progress">					  
      
                      <div class="progress-bar skew" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                       					   
                      </div> 
					  </div>
                      <img src="/assets/img/wellbeing/mental/rating5.png" alt="" class="img-responsive im1">
                  <p class="para1">0%</p>


</div>

</div>
<button class="accordion btn-info" id="example-one" data-text-swap="Reviews" data-text-original="Expand Reviews">Expand Reviews</button>
   <div class="panel1">
      <div class="col-md-4 mt30">
   <img src="/assets/img/wellbeing/mental/person.png" alt="" class="img-responsive">
   <p>3 days ago<br>
Natasha Finley</p>
 <img src="/assets/img/wellbeing/mental/rating1.png" alt="" class="img-responsive im2">

   </div>
   <div class="col-md-8 mt30">
   <p>This course was excellent. I am not new to meditation, but 
this was the best course/training I've done. I really loved the 
way Emily presented the course. Everything was clearly 
explained, and it was all so easy to do - you really couldn't 
do anything wrong. Even if you're slightly curious about 
meditation, I highly recommend this course. Very impressed</p>
    </div>
    <div class="col-md-4 mtop20">
   <img src="/assets/img/wellbeing/mental/person.png" alt="" class="img-responsive">
   <p>16 days ago<br>
Jan Lundquist</p>
 <img src="/assets/img/wellbeing/mental/rating4.png" alt="" class="img-responsive im2">

   </div>
   <div class="col-md-8 mtop20">
   <p>At this point in the course, the end of Video 4, the presenter 
is still introducing the content; nothing has been taught. 
However, the presenter speaks clearly and is easy to follow. 
The fact that she frequently refers to the audience as 
"friends" is somewhat irritating, but that's a personal response.</p>
    </div>
    <div class="col-md-4 mtop20">
   <img src="/assets/img/wellbeing/mental/person.png" alt="" class="img-responsive">
   <p>24 days ago<br>
Juraj Kubelka</p>
 <img src="/assets/img/wellbeing/mental/rating1.png" alt="" class="img-responsive im2">

   </div>
   <div class="col-md-8 mtop20">
   <p>Because it is easy to understand. Each section is short 
enough, well structured, and full of information.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-bottom: 50px">
    <div class="dotstyle dotstyle-fillup">
          <ul class="pagination">
            <li><a routerLink="/giving-leaderboard" class="active">Home</a></li>
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
            <li><a>Link 3</a></li>
          </ul>
        </div>

   
    </div>
  </div>
  </div>         <div class="col-md-3 top">
      <a id="back-to-top"  class="btn btn-primary btn-lg back-to-top" 
  role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>
     </div>
</div>
  </div>
</div>
