<div class="content">
      <div class="container smallcontainer">
        <div class="topcontent">
          <div class="row">
            <div class="col-md-12">
                <h2>Your Wallet</h2>
                <h3>Manage all of your payment options in one place.</h3>
            </div>
          </div> 
        </div>   
        <div class="middlecontent">
            <div class="row">
                <div class="col-md-7">
                    <h3>Credit and Debit Cards</h3>
                    <h4>Expires</h4>
                    <div class="box left">
                        <table>
                        <tr>
                            <td>Visa ending in <span>1234</span></td>
                            <td></td>
                            <td>04/22</td>
                        </tr>

                        <tr>
                            <td>Visa ending in <span>5437</span></td>
                             <td><button class="btn btn1">Select</button></td>

                            <td>05/19</td>
                        </tr>   

                        <tr>
                            <td>Visa ending in <span>2384</span></td>
                            <td><button class="btn btn1">Select</button></td>
                            <td>10/22</td>
                        </tr>   

                        <tr>
                            <td>MasterCard ending in <span>4238</span></td>
                            <td><button class="btn btn1">Select</button></td>
                            <td>03/20</td>
                        </tr>   

                        <tr>
                            <td>MasterCard ending in <span>5439</span></td>
                            <td><button class="btn btn1">Select</button></td>
                            <td>09/21</td>
                        </tr>        
                        </table>    
                    </div> 

                    <div class="row">
                        <div class="col-md-5">   
                           <h6>CURRENT DEFAULT CARD</h6>
                        </div>
                        <div class="col-md-7"><button style="float: right;" class="btn btn-remove col-xs-3">REMOVE CARD</button>
                            <button class="btn btn-remove col-xs-4" style="margin-right: 7px">MAKE DEFAULT</button>
                            

                        </div>    
                    </div>    
                </div>
                <div class="col-md-5">
                    <h3>Add a card</h3>
                    <div class="box right">
                        <div class="eachcontent">
                            <div class="row">
                                <div class="col-md-12">
                                <label>Name on card</label>
                                <input type="text" class="form-control cname"> 
                                </div>
                            </div> 
                        </div>
                        <div class="eachcontent">
                            <div class="row">
                                <div class="col-md-12">
                                <label>Card Number</label>
                                <input type="text" class="form-control cnum"> 
                                </div>
                            </div> 
                        </div>
                        <div class="eachcontent">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Expiration Date</label>
                                    <input type="text" class="form-control cexpmmonth" placeholder="MM"> 
                                    <input type="text" class="form-control cexpdate" placeholder="DD">
                                    <input type="text" class="form-control cexpyear" placeholder="YYYY">
                                </div>
                            </div> 
                        </div>
                          <div class="eachcontent">
                            <div class="row">
                                <div class="col-md-12">
                                <label>Security Code</label>
                                <input type="text" class="form-control cexpmmonth"> 
                                </div>
                            </div> 
                        </div>
  
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-next">NEXT</button>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>          
    </div> 
</div>          
