<div class="container">
  <div class="row">
    <div class="col-md-3"> <a routerLink="/wellbeing"><i class="fa fa-chevron-circle-left" style="font-size:50px"></i></a>
      <!-- <h2 style="display: inline; margin-left:10px"></h2> --></div>
    <div class="col-md-6">
      <h1 style="color: #66FF33; font-weight: 600; text-align: center;">Nutrition Tracker |
	<strong style="color: #00FFFF">Water Log</strong></h1></div>
  <div class="col-md-3">
    <div style="margin-top: 25px">
      <img src="/assets/img/goals.png" data-toggle="modal" data-target="#modal-goals" style="cursor:pointer">
      <img routerLink="/wellbeing-weight-tracker" src="/assets/img/weight-track.png" style="cursor:pointer">
      <img routerLink="/wellbeing-water-tracker" src="/assets/img/track-water.png" style="cursor:pointer">
    </div>
  </div>
  </div>
</div>
<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-3" style="overflow-x:hidden;overflow-y:scroll;height:380px;">
      <table width="224" style="font-family: &quot;Times New Roman&quot;, Times, serif">
        <tbody>
          <tr>
            <td width="95" style="color: #0099FF;font-size: x-large">Log Water</td>
            <td width="19"> <i class="fa fa-plus-circle" aria-hidden="true" style="color: #0099FF; font-size: x-large"></i> </td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="344" style="font-size: x-large">October 30,2016</td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119">6 cups</td>
          </tr>
          <tr>
            <td width="344" style="font-size: x-large">October 29,2016</td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119">6 cups</td>
          </tr>
          <tr>
            <td width="344" style="font-size: x-large">October 28,2016</td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119">2 cups</td>
          </tr>
          <tr>
            <td width="344" style="font-size: x-large">October 25,2016</td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119">11 cups</td>
          </tr>
          <tr>
            <td width="344" style="font-size: x-large">October 22,2016</td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119">7 cups</td>
          </tr>
          <tr>
            <td width="344" style="font-size: x-large">October 18,2016</td>
            <td width="119"></td>
          </tr>
          <tr>
            <td width="44"></td>
            <td width="119">6 cups</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8"><img src="http://placehold.it/600x350?text=line Graph using Left Side'Data Se" alt="" class="img-responsive" id="boxclose"> </div>
  </div>
</div>
<div class="container" style="margin-top: 15px">
  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-7"> <strong style="font-size: x-large">Avg. Cup of Water</strong> <b style="font-size: x-large; margin-left: 25px; color: #009933;"> 8</b><button class="btn btn-success btn-md" style="float: right">You are Drinking an adequate amount of water </button>      </div>
    <div class="col-md-2"> </div>
  </div>
</div>
<!-- modal-goals -->
<div class="modal fade" id="modal-goals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:900px">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align: center; vertical-align: middle; font-size: xx-large">Your Goals</h4></div>
          <div class="col-md-12" style="text-align: center;margin-top: 10px;">
            <label id="Label1" style="font-weight: normal">My Goal is to : </label>
            <select name="Select1" placeholder="my goal" style="margin-left: 10px">
              <option value="">Select Goal</option>
              <option value="hurr">Gain Weight</option>
              <option value="hurr">loose Weight</option>
              <option value="hurr">Maintain Weight</option>
            </select>
          </div>
          <div class="col-md-12" style="text-align: center;margin-top: 10px;">
            <label id="Label1" style="font-weight: normal">I currently Weigh </label>
            <input name="Text1" type="text" placeholder="Enter Weight" style="margin-left: 10px" /> </div>
          <div class="col-md-12" style="text-align: center;margin-top: 10px;">
            <label id="Label1" style="font-weight: normal">Nutrients That I would Like to Track</label>
          </div>
          <div class="col-md-12">
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <table>
                  <tr>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Fiber</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Calcium</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Vitamin D</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Vitamin A</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Sugar</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Sodium</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Vitamin C</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Zinc</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Magnesium</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Potassium</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Creatine</button>
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" style="margin: 5px; width: 100px">Iodine</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div style="clear: both"></div>
          <div class="row">
            <div class="col-md-2" style="text-align: right"></div>
            <div class="col-md-8 " style="text-align: center; margin-top: 10px;">
              <button class="btn btn-success btn-lg" type="button" style="margin: 5px; width: 150px" data-dismiss="modal"> Update </button>
              <button class="btn btn-danger btn-lg" type="button" style="margin: 5px; width: 150px" data-dismiss="modal"> Exit</button>
            </div>
            <div class="col-md-2" style="text-align: right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
