<div id="wrapper">
  <div class="container">
    <div class="row mt30">
      <div class="col-md-3" *ngIf="!isEditing">
        <button type="button" data-toggle="modal" data-target="#searchModalMentor" class="btn add-mentor">+Add MENTOR</button>
      </div>
      <div class='col-md-5 col-md-offset-4'>
      </div>
    </div>
    <div class="clearfix">
      <app-toast [message]="toast.message"></app-toast>
    </div>
    <div class="row mt30" *ngIf="!isEditing">
      <div class="col-md-12 global-box-shadow  pb30">

        <table class=" table-responsive">
          <thead>
            <tr>
              <th>MENTORS</th>
              <th>ACTION</th>
            </tr>
            <tr class="divider">
              <td colspan="4"></td>
            </tr>
          </thead>
          <tbody *ngFor="let pager of pagedItems">
            <tr id={{pager._id}}>
              <td class="col-md-4"><img src="http://placehold.it/50" class="img-responsive img-circle">{{pager.username}}</td>
              <td class="col-md-7 pull-right" width="30%">
                <button type="input" class="btn btnset" (click)="enableEdit(pager)">Edit</button>
                <button type="input" class="btn btnset" (click)="declineMentor(pager)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <section *ngIf="isEditing">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <app-toast [message]="toast.message"></app-toast>

          <form #form="ngForm" (ngSubmit)="editMentor(form.value)">
            <div class="form-group-lg">
              <input class="form-control" placeholder="Username" type="text" [(ngModel)]="pager.username"
                  name="username"> </div>
            <div class="form-group-lg">
              <input class="form-control" placeholder="Title" type="text" [(ngModel)]="pager.title"
                  name="title"> </div>
            <div class="form-group-lg">
              <input class="form-control" placeholder="Background" type="text" [(ngModel)]="pager.background"
                  name="background"> </div>
            <div class="form-group-lg">
              <input class="form-control" placeholder="Core Competency" type="text" [(ngModel)]="pager.skill"
                  name="skill"> </div>
            <div class="form-group-lg">
              <input class="form-control" placeholder="Interest" type="text" [(ngModel)]="pager.interest"
                  name="interest"> </div>
            <div class="form-group-lg">
              <input class="form-control" placeholder="Looking For" type="text" [(ngModel)]="pager.lookingFor"
                  name="lookingFor"> </div>
            <button class="btn btnset btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
            <button class="btn btn-default" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </form>
        </div>
      </div>
    </section>

    <!-- PAGINATION -->
    <div class="col-md-9 text-center" style="margin-top: 30px">

      <nav aria-label="Page navigation">
        <!-- pager -->

        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">

          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-no" (click)="setPage(pager.currentPage - 1)"><span aria-hidden="true" style="color: #FFFFFF">&lt; </span></a>
          </li>

          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a class="page-no" (click)="setPage(page)">{{page}}</a>
          </li>

          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">

            <a class="arrows" aria-label="Next" (click)="setPage(pager.currentPage + 1)">
              <span aria-hidden="true" style="color: #FFFFFF">&gt; </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Pagination -->

  </div>
</div>



<!--- modals --->

<app-search-mentor></app-search-mentor>

<!--- modals --->
