500﻿<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- logo -->
        <a id="company-logo" routerLink="/home">
          <img src="/assets/img/logoWhite.png" alt="" style="width: 200px;"> </a>
        <!-- progress-bar -->
        <div id="e360-progress" class="progress">
          <div class="progress-bar skew" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:90%">
            <h4 style="text-align: left; color: #FFFFFF; padding-left:20px;">/500</h4>
            <img src="/assets/img/icon.png" alt="" height="92" style="float: right;position: relative;right: -42px;top: -66px;"
              width="91" /> </div>
        </div>
        <!-- gamification-icon -->
        <a routerLink="/habitat-rewards">
          <img id="gamification-icon" src="/assets/img/gamification.png" width="33" height="42"> </a>
      </div>
      <div class="col-md-4" style="top: -18px;position: relative;">
        <div class="center-block" id="circle-nav">
          <div class="col-xs-6 circle-nav pointer" routerLink="/giving" title="GIVING" id="circle-giving"></div>
          <div class="col-xs-6 circle-nav pointer" routerLink="/habitat" title="HABITAT" id="circle-habitat"></div>
          <div class="col-xs-6 circle-nav pointer" routerLink="/social" title="SOCIAL" id="circle-social"></div>
          <div class="col-xs-6 circle-nav pointer" routerLink="/wellbeing" title="WELLBEING" id="circle-wellbeing"></div>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="nav navbar-nav icon-bar">
          <li>
            <div style="display:inline-block;margin-top:15px;margin-right:17px;" class="nav navbar-nav icon-bar">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="icon-bar-img-alert">
                  <span #notificationCount></span>
                </div>
                <img class="userprofileimage" src="https://s3.amazonaws.com/imminent/oahu/{{ userId }}/picture.png"> </a>
            </div>
            <!--<notification-display (refreshFeed)="refreshChildView()"></notification-display> -->
          </li>
          <li>
            <notification-display (refreshFeed)="refreshChildView()"></notification-display>
          </li>
          <li>
            <a data-toggle="modal" data-target="#myMessengerModal" aria-expanded="false">
              <div class="icon-bar-alert">
                <span>4</span>
              </div>
              <i class="fa fa-comments primary-icon"></i>
            </a>
          </li>
          <!-- <li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="icon-bar-alert"><span>4</span></div><i class="fa fa-comments"></i></a>
								<ul class="dropdown-menu" role="menu" style="width: 310px;">
									<li role="presentation"> <a><i class="fa fa-envelope-o"></i><span> Message Sent </span><span class="pull-right text-muted small">4 minutes ago </span></a> </li>
									<li role="presentation"> <a><i class="fa fa-envelope-o"></i><span> Message Received </span><span class="pull-right text-muted small">7 minutes ago </span></a> </li>
									<li role="presentation"> <a><i class="fa fa-envelope-o"></i><span> Message Sent </span><span class="pull-right text-muted small">8 minutes ago </span></a> </li>
									<li role="presentation"> <a><i class="fa fa-envelope-o"></i><span> Message Received </span><span class="pull-right text-muted small">9 minutes ago </span></a> </li>
								</ul>
							</li> -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="primary-icon fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-settings dropdownPanelsetting">
              <li>
                <a routerLink="/user-profile" class="headingsettings">
                  <i class="fa fa-fw fa-user" style="color:#9a9a9a"></i> Profile</a>
              </li>
              <!-- <li> <a><i class="fa fa-fw fa-envelope"></i> Inbox</a> </li> -->
              <!-- <li> <a><i class="fa fa-fw fa-gear"></i> Settings</a> </li> -->
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">ADMIN</li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/users">Users</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/users-upload">Users Upload</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/rewards">Rewards</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/mentors">Mentors</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/mentor-applicants">Mentor Applicants</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/admin-tools-config">Admin Settings</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/admin-tools-giving">Admin Tools Giving</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/admin-transactions">Admin Transactions</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a (click)="logout()" style="font-family: 'Gotham Book'; font-size: 16px; color: #363636; margin-left: 10px">
                  <i class="fa fa-sign-out" aria-hidden="true" style="color:#9a9a9a;font-size:30px;vertical-align: sub;"></i> Sign Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!---	<section class="breadcrumbs" style="position: relative;top: -43px;">

<div class="col-md-12 ">



            <div class="collapse navbar-collapse" id="navbar-collapse-1">

                <ul class="nav navbar-nav">

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="/assets/img/admin/icon.png" alt="" class="img-responsive img1" style="margin-top:-5px">
      <h2 class="text-center" style="margin: 0px;">ADMIN TOOLS</h2>

                            <ul class="dropdown-menu text-left new" >
                            <li><a href="#">GIVING</a></li>

                            <li class="dropdown dropdown-submenu"><a href="#" style="text-decoration: none" class="dropdown-toggle" data-toggle="dropdown">HABITAT<span class="caret"></span></a>
								<ul class="dropdown-menu text1">
									<li><a href="#">REWARDS MANAGEMENT</a></li>
									<li><a href="#">FEEDBACK</a></li>
									<li><a href="#">MENTORSHIP MANAGEMENT</a></li>
									<li><a href="#">MYHR</a></li>
								</ul>
							</li>
                          <li class="dropdown dropdown-submenu"><a href="#" style="text-decoration: none" class="dropdown-toggle" data-toggle="dropdown">SOCIAL<span class="caret"></span></a>
								<ul class="dropdown-menu text1">
									<li><a href="#">Elena Gilbert</a></li>
									<li><a href="#">Sallie Mae</a></li>

								</ul>
							</li>
                            <img src="/assets/img/admin/pop-divider1.png" alt="" class="img-responsive img2">
                                <li><a href="#">COMMUNICATIONS</a></li>
        <li><a href="#">CONFIGURATION</a></li>
        <li><a href="#">PERMISSIONS</a></li>
        <li><a href="#">REPORTS</a></li>
                            <img src="/assets/img/admin/pop-divider1.png" alt="" class="img-responsive img2">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </ul>
                    </a></li>

                </ul>
            </div>

</div>

</section>-->
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- myMessengerModal -->
<!--<div id="myMessengerModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myMessengerModal">
  <div class="modal-dialog modal-sm" role="document" style="right: -40%;">
    <div class="modal-content">
      <h2 class="text-center">Messenger Panel</h2>
      <hr>
      <ul class="text-left">
               <li>Adam Sandler<div class="icon-messenger-alert"><span>4</span></div></li>
        <li>Davide Brown</li>
        <li>Edward CUllen</li>
        <li>Elena Gilbert</li>
        <li>Frodo Baggins</li>
        <li>John Snow <div class="icon-messenger-alert"><span>2</span></div></li>
        <li>Leanoardo DiCaprio</li>
        <li>Matt Damon</li>
        <li>Michelle Obama</li>
        <li>Mohammed Ali</li>
        <li>Sallie Mae</li>
        <li>Stephen Salvatore</li>
      </ul>
      <br>
      <h5 class="text-center" id="channels">Channels</h5>
      <ul class="text-left list-unstyled">
        <li>3/5 Creative Team</li>
        <li>4/6 Developer Team</li>
        <li>11/11 Marketing Team</li>
      </ul>
    </div>
  </div>
</div> -->
<div id="myMessengerModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myMessengerModal">
  <div class="modal-dialog modal-sm" role="document" style="right: -41%;top: -10%;">
    <div class="modal-content">
      <div class="modal-header headmsn">
        <div class="icon-messenger-alert1">
          <span>4</span>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2 class="titlemsn">Messenger</h2>
        <div class="dropdown">
          <img src="/assets/img/settingcog.png" class="img-responsive mt-24" id="menu1" data-toggle="dropdown">
          <ul class="dropdown-menu dropdownset" role="menu" aria-labelledby="menu1">
            <li class="sortbyblock" role="presentation">
              <a role="menuitem" tabindex="-1">Block</a>
            </li>
            <li class="sortbyturn" role="presentation">
              <a role="menuitem" tabindex="-1">Turn Off Notifications </a>
            </li>
            <li class="sortbyturn" role="presentation">
              <a role="menuitem" tabindex="-1">Disable Desktop Notifications</a>
            </li>
          </ul>
        </div>
        <br>
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" placeholder="search users">
          <span class="input-group-addon">
            <button type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <h3 class="headingmsn">Your Department</h3>
        <ul class="list-group chat-list">
          <!-- <span class="icon-bar-alert">3</span> -->
          <li>
            <a>Adam Sandler</a>
            <div class="icon-messenger-alert">
              <span>1</span>
            </div>
          </li>
          <li>
            <a>Davide Brown</a>
          </li>
          <li>
            <a>Edward CUllen</a>
          </li>
          <li>
            <a>Elena Gilbert</a>
          </li>
          <li>
            <a id="addClass">Frodo Baggins</a>
          </li>
          <li>
            <a>John Snow </a>
          </li>
          <li>
            <a>Leanoardo DiCaprio</a>
          </li>
        </ul>
        <br>
        <div class="ml110">
          <img src="/assets/img/icon-bullets.png" class="img-responsive icon-bullet" alt="">
          <img src="/assets/img/icon-bullets.png" class="img-responsive icon-bullet" alt="">
          <img src="/assets/img/icon-bullets.png" class="img-responsive" alt=""> </div>
        <br>
        <br>
        <img src="/assets/img/dividermsn.png" class="img-responsive" alt="">
        <br>
        <h2 class="modal-title1">Groups</h2>
        <div class="dropdown">
          <img src="/assets/img/settingcog.png" class="img-responsive mt20" id="menu1" data-toggle="dropdown">
          <ul class="dropdown-menu dropdownedit-setting active" role="menu" aria-labelledby="menu1">
            <li class="sortbyedit" role="presentation">
              <a role="menuitem" tabindex="-1">Edit Group </a>
            </li>
            <li class="sortbycreate" role="presentation">
              <a role="menuitem" tabindex="-1">Create Group </a>
            </li>
            <li class="sortbycreate" role="presentation">
              <a role="menuitem" tabindex="-1">Turn Off Notifications</a>
            </li>
          </ul>
        </div>
        <ul class="text-left2 list-unstyledmsn">
          <li>
            <a href="#">3/5 &nbsp;&nbsp;Creative Team</a>
          </li>
          <li>
            <a href="#">4/6 &nbsp;&nbsp;Developer Team</a>
          </li>
          <li>
            <a href="#">11/11 &nbsp;&nbsp;Marketing Team</a>
          </li>
        </ul>
        <button routerLink="/messenger-view-files" type="button" class="btn btn-storage">VIEW FILE STORAGE</button>
      </div>
    </div>
  </div>
</div>
<!--chat box-->
<div class="popup-box chat-popup" id="qnimate">
  <div class="popup-head">
    <div class="popup-head-left pull-left">
      <img src="/assets/img/bullets.png" alt="" class="img-responsive">Frodo Baggins</div>
    <div class="popup-head-right pull-right">
      <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
    </div>
  </div>
  <div class="popup-messages">
    <textarea rows="2" cols="4" class="textarea-hey">hey!</textarea>
    <img src="/assets/img/hey-arrows.png" alt="" class="img-responsive hey-arrows">
    <textarea class="pull-right textarea-froda" rows="2" cols="6">Hi Frodo!</textarea>
    <img src="/assets/img/froda-arrows.png" alt="" class="img-responsive pull-right froda-arrows">
    <textarea rows="2" cols="6" class="textarea-groups"> </textarea>
    <img src="/assets/img/group-bullets.png" alt="" class="img-responsive group-bullets">
    <img src="/assets/img/hey-arrows.png" alt="" class="img-responsive" style="margin: -12px 0 0 29px;"> </div>
  <div class="popup-messages-footer">
    <textarea id="status_message" placeholder="Start typing here." rows="10" cols="40" name="message"></textarea>
    <div class="btn-footer">
      <i class="fa fa-smile-o pull-right" aria-hidden="true"></i>
      <i class="fa fa-paperclip pull-right" aria-hidden="true"></i>
      <i class="fa fa-paper-plane pull-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div style="display:none">
  <img src="/assets/img/circle-nav.png" />
  <img src="/assets/img/circle-giving.png" />
  <img src="/assets/img/circle-habitat.png" />
  <img src="/assets/img/circle-wellbeing.png" />
  <img src="/assets/img/circle-social.png" /> </div>
