.navbar-e360 {
	position: absolute;
	left: 50%;
	margin-left: -50px !important;
	display: block;
}
#current-user {
	padding-top: 44px;
	color: #ffffff;
	font-size: 27.78px;
	font-weight: 400;
}
#company-logo {
	width: 348px;
	height: 30px;
	color: #ffffff;
	font-size: 33.33px;
	font-weight: 400;
	position: absolute;
	top: 36px;
	left: 34px;
	text-decoration: none;
}
.navbar {
	border-radius: inherit;
	background-color: #0b80b1;
	box-shadow: 0px 17px 65px 0px rgba(0, 0, 0, 0.4);
	height: 157px;
}
/*.nav>li>a {
    position: relative;
    display: block;
    padding: 20px;
}*/
.primary-icon {
	color: #FFFFFF;
	font-size: 40px;
	cursor: pointer;
}
ul.icon-bar {
	position: relative;
	top: 30px;
	left: 120px;
}
.icon-bar-alert {
	position: absolute;
	left: 45px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-image: -webkit-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: -moz-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: -o-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: linear-gradient(-45deg, #ed145b 0%, #7b0046 100%);
	text-align: center;
}
.icon-bar-alert span {
	line-height: 34px;
	color: #ffffff;
	font-size: 22px;
}
#circle-nav {
	height: 200px;
	width: 200px;
	background-image: url(assets/img/circle-nav.png);
	position: relative;
	top: 15px;
	pointer-events: none;
}
.circle-nav {
	/*border: black;
  border-width: thin;
  border-style: solid;*/
  position: relative;
	width: 100px;
	height: 100px;
	pointer-events: auto;
}
#e360-progress {
	height: 40px;
	position: absolute;
	width: 300px;
	top: 98px;
	left: 36px;
}
#gamification-icon {
	position: absolute;
	top: 98px;
	left: 350px;
	padding-bottom: 3px;
}
#myMessengerModal .modal-content {
	background: -webkit-linear-gradient(135deg, #4f616d 0%, #445663 37%, #314253 100%);
	background: -moz-linear-gradient(135deg, #4f616d 0%, #445663 37%, #314253 100%);
	background: -o-linear-gradient(135deg, #4f616d 0%, #445663 37%, #314253 100%);
	background: -ms-linear-gradient(135deg, #4f616d 0%, #445663 37%, #314253 100%);
	background: linear-gradient(-45deg, #4f616d 0%, #445663 37%, #314253 100%);
	font-family: Gotham Light;
	color: rgba(255, 255, 255, 0.95);
	font-size: 21px; /* Approximation due to font substitution */;
	font-weight: 400;
	opacity: .9;
}
#channels {
	font-family: Gotham Thin;
	color: rgba(255, 255, 255, 0.95);
	font-size: 25px; /* Approximation due to font substitution */;
	font-weight: 400;
	text-align: center;
}
.list-unstyled {
	padding-left: 20px;
	list-style: none;
}
.icon-messenger-alert {
	float: right;
	margin-right: 10px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-image: -webkit-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: -moz-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: -o-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: linear-gradient(-45deg, #ed145b 0%, #7b0046 100%);
	text-align: center;
}
.icon-messenger-alert span {
	line-height: 34px;
	color: #ffffff;
	font-size: 22px;
}
.skew {
	background-color: #189bf3;
	background: rgb(76,100,109);
/* Old browsers */background: -moz-linear-gradient(left, rgba(76,100,109,1) 0%, rgba(210,66,156,1) 100%); /* FF3.6-15 */;
	background: -webkit-linear-gradient(left, rgba(76,100,109,1) 0%,rgba(210,66,156,1) 100%); /* Chrome10-25,Safari5.1-6 */;
	background: linear-gradient(to right, rgba(76,100,109,1) 0%,rgba(210,66,156,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c646d', endColorstr='#d2429c',GradientType=1 ); /* IE6-9 */;
	copy color: #FFFFFF;
	-webkit-transform: perspective(100px) rotateX(-4deg);
	-webkit-transform-origin: left center;
}
.progress {
	background-repeat: repeat-x;
	height: 40px;
	border-radius: 20px;
	background-color: transparent;
	border: 1px solid #FFFFFF;
}
.progress-bar {
	/* background-color: #FFFFFF;
  border: 1px solid #FFFFFF; */
  color: #0099CC;
	border-radius: 20px 0px 0px 20px;
}
/*admintoolsbar */
.breadcrumbs .dropdown-menu {
	background: #e01259;
/* Old browsers */background: -moz-linear-gradient(top, #e01259 0%, #8b0349 100%); /* FF3.6-15 */;
	background: -webkit-linear-gradient(top, #e01259 0%,#8b0349 100%); /* Chrome10-25,Safari5.1-6 */;
	background: linear-gradient(to bottom, #e01259 0%,#8b0349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e01259', endColorstr='#8b0349',GradientType=0 ); /* IE6-9 */;
	box-shadow: 0px 25px 30.02px 7.98px rgba(0, 0, 0, 0.16);
	font-family: Gotham Light;
	color: rgba(255, 255, 255, 0.95);
	font-size: 21px; /* Approximation due to font substitution */;
	font-weight: 400;
	width: 285px;
}
.breadcrumbs .marginBottom-0 {
	margin-bottom: 0;
}
.breadcrumbs .dropdown-submenu {
	position: relative;
}
.breadcrumbs .dropdown-submenu > .dropdown-menu {
	top: 30;
	left: 0;
	position: initial;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.breadcrumbs .dropdown-submenu > a:after {
	display: none;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.breadcrumbs .dropdown-submenu:hover > a:after {
	border-left-color: #555;
}
.breadcrumbs .dropdown-submenu.pull-left {
	float: none;
}
.breadcrumbs .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.breadcrumbs li.open > a > span {
	border-top: 0px !important;
	border-bottom: 6px dashed !important;
}
.breadcrumbs .navbar-nav > li > a {
	background: #e01259;
	color: #fff;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e01259', endColorstr='#8b0349',GradientType=0 ); /* IE6-9 */;
	box-shadow: 0px 10px 30.02px 7.98px rgba(0, 0, 0, 0.36);
	font-family: Gotham Light;
	color: rgba(255, 255, 255, 0.95);
	font-size: 21px; /* Approximation due to font substitution */;
	font-weight: 400;
}
.breadcrumbs .nav > li > a:focus, .breadcrumbs .nav > li > a:hover {
	text-decoration: none;
	background-color: #e01259;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.breadcrumbs .nav .open > a, .breadcrumbs .nav .open > a:focus, .breadcrumbs .nav .open > a:hover {
	background-color: #e01259!important;
	border-color: none;
	color: #fff;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.breadcrumbs .text-left > li {
	margin-bottom: 10px;
}
.breadcrumbs .text-left > li > a {
	font-family: 'Gotham Book';
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
}
.breadcrumbs .text-left > li > a:hover {
	color: #fff;
	background: transparent;
}
.breadcrumbs .text1 {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e01259', endColorstr='#8b0349',GradientType=0 );
	box-shadow: none;
	border: none;
}
.breadcrumbs .text1 > li > a {
	font-family: 'Gotham Book';
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	outline: none;
}
.breadcrumbs .close {
	font-size: 34px;
	color: #fff;
	opacity: 2;
	float: none;
	font-weight: 100;
	margin-left: 90px;
}
.breadcrumbs .btn-default {
	font-family: 'Gotham Book';
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	background: none;
	border: none;
	margin-top: -10px;
}
.breadcrumbs .img1 {
	float: left;
	margin: 15px -8px 0px 10px;
}
.breadcrumbs .img2 {
	margin: 25px 0 20px 26px;
}
.breadcrumbs .text-center {
	font-family: 'Gotham Book';
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}
.breadcrumbs .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 4px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
.breadcrumbs .navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
	border-top: none;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.breadcrumbs .dropdown-menu > li > a:focus, .breadcrumbs .dropdown-menu > li > a:hover {
	background-color: transparent;
	border-color: none;
	color: #fff;
}
.breadcrumbs .btn-default:hover {
	color: #fff;
	background-color: transparent;
	border-color: none;
	outline: none;
}
.breadcrumbs .dropdown {
	width: 285px;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.breadcrumbs .new {
	background-image: url('/assets/img/admin/pop-divider1.png');
	background-repeat: no-repeat;
	background-color: #e01259;
}
/*.dropdown-menu-settings {
    /*position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 262px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-image: url('/assets/img/blur-bubble.png'); 
    background-repeat: no-repeat;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow:none;
    box-shadow: none;
    background-color: transparent !important;
        margin-right: 100px;
 */
/* background-image: url(/assets/img/blur-bubble.png); */
/*background-repeat: no-repeat;
    position: relative;
    top: -5px;
    left: -120px;
    padding-top: 5px;
    background-color: transparent !important;
    background-size: cover;
    position: absolute;
    top: 60px;
    left: -197px;
    z-index: 1000;
    /* display: none; */
/* float: left;
    min-width: 262px;
    padding: 22px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    /* list-style: none; */
/*  background-image: url(/assets/img/blur-bubble.png);
    background-repeat: no-repeat;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;
    margin-right: 100px;}
    */
.headingsettings {
	font-family: 'Gotham Light'!important;
	font-size: 22px!important;
	color: #363636!important;
}
/*.divider {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #afafaf;
} */
.dropdownsettings li a {
	font-family: 'Gotham Book';
	font-size: 16px;
	color: #363636!important;
	margin-left: 20px;
}
.userprofileimage {
	max-width: 59px;
	max-height: 59px;
	border-radius: 50%;
}
.dropdownPanelsetting {
	position: absolute;
	min-width: 250px;
	background-color: #fff;
	padding: 0px;
	left: -192px;
	top: 78px;
	margin-top: 35px; /*display: none; */;
	z-index: 2;
	border: none;
	border-radius: 10px;
	background: rgb(185,218,232);
/* Old browsers */background: -moz-linear-gradient(top, rgba(185,218,232,1) 0%, rgba(255,252,252,1) 27%); /* FF3.6-15 */;
	background: -webkit-linear-gradient(top, rgba(185,218,232,1) 0%,rgba(255,252,252,1) 27%); /* Chrome10-25,Safari5.1-6 */;
	background: linear-gradient(to bottom, rgba(185,218,232,1) 0%,rgba(255,252,252,.97) 27%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9dae8', endColorstr='#fffcfc',GradientType=0 ); /* IE6-9 */;
	box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.41);
}
.dropdownPanelsetting:before {
	width: 0;
	content: url('/assets/img/tt.png');
	height: 0; /*border-style: solid;
	border-width: 0 12px 20px 10px;
	border-color: transparent transparent #b9dae8 transparent;*/;
	text-align: center;
	top: -15px;
	left: 195px;
	margin-top: -8px;
	margin-left: 10px;
	position: absolute;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 12px;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 7px 0;
	overflow: hidden;
	background-color: #e5e5e5;
	width: 80%;
	margin-left: 25px;
}
.dropdownPanelsetting li a {
	font-family: 'Gotham Book'!important;
	font-size: 17px!important;
	color: #363636!important;
	margin-left: 20px;
	font-weight: 600;
}
.dropdownPanelsetting li:last-child {
	font-family: 'Gotham Book'!important;
	font-size: 17px!important;
	color: #363636!important;
	margin-left: 20px;
	font-weight: 600;
	padding-bottom: 15px;
}
.dropdownPanelsetting li a.headingsettings {
	font-family: 'Gotham Light'!important;
	font-size: 22px!important;
	color: #363636!important;
}
.dropdown-header {
	padding-left: 50px;
}
/*dropdownsetting start*/
.dropdownset {
	position: absolute;
	width: 205px;
	background-color: #fff;
	padding: 0px;
	left: 75px;
	top: 10px;
	margin-top: 35px;
	z-index: 2;
	border: 1px solid #fff;
	border-radius: 0px;
}
.dropdownset:before {
	width: 0;
	content: "";
	height: 0;
	border-style: solid;
	border-width: 0 12px 20px 10px;
	border-color: transparent transparent #fff transparent;
	text-align: center;
	top: -7px;
	left: 154px;
	margin-top: -8px;
	margin-left: 10px;
	position: absolute;
}
.dropdownset > li > a:focus, .dropdownset > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #189bf2;
	width: 205px;
	margin-left: -9px;
}
.sortbyblock {
	color: #898989;
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
	padding: 8px;
	width: 145px;
	font-family: 'Gotham Book';
	font-size: 12px;
}
.sortbyturn {
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
	padding: 8px;
	width: 145px;
	font-family: 'Gotham Book';
	font-size: 12px;
	color: #898989;
}
.dropdownset li a {
	margin-left: -12px;
}
/*dropdownsetting end*/
/*dropdownedit-setting start*/
.dropdownedit-setting {
	position: absolute;
	width: 165px;
	background-color: #fff;
	padding: 0px;
	left: 116px;
	top: 14px;
	margin-top: 35px;
	z-index: 2;
	border: 1px solid #fff;
	border-radius: 0px;
}
.dropdownedit-setting:before {
	width: 0;
	content: "";
	height: 0;
	border-style: solid;
	border-width: 0 12px 20px 10px;
	border-color: transparent transparent #fff transparent;
	text-align: center;
	top: -7px;
	left: 116px;
	margin-top: -10px;
	margin-left: 10px;
	position: absolute;
}
.sortbyedit {
	color: #898989;
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
	padding: 8px;
	width: 145px;
	font-family: 'Gotham Book';
	font-size: 12px;
}
.sortbycreate {
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
	padding: 8px;
	width: 145px;
	font-family: 'Gotham Book';
	font-size: 12px;
	color: #898989;
}
.active > li > a:focus, .active > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #189bf2;
	width: 165px;
	margin-left: -9px;
}
/*dropdownedit-setting end*/
.btn-storage {
	color: #fff;
	background: none;
	border: 2px solid #fff;
	border-radius: 0px;
	font-size: 13px;
	font-family: 'Gotham Book';
	margin: 40px 0 130px 46px;
	padding: 5px 30px 5px 30px;
}
.text-left2 li{
	margin-bottom:10px
}
.text-left2 li a {
	margin-left: -10px;
	font-family: 'Gotham Light';
	font-size: 22px;
	color: #fff;
	text-decoration: none;
}
.modal-title1 {
	font-family: 'Gotham Book';
	font-size: 22px;
	color: #fff;
	float: left;
	margin: 0 154px 0 0;
}
.ml110 {
	margin-left: 110px;
}
.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: -16px;
}
.list-group li{
	list-style: url(/assets/img/bullets.png);
    margin-bottom: 10px;
    list-style-position: inside;
    padding-left: 15px;
    }
    .list-group li:hover {
	list-style: url(/assets/img/hover-bullets.png);
    margin-bottom: 10px;
    list-style-position: inside;
    padding-left: 15px;

}
.list-group li a {
	margin-left: 10px;
	font-family: 'Gotham Light';
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	    cursor: pointer;
}
.list-group li:hover {
background:#9ba2ab;
	}
/*---
.text-cullen{
	list-style: url(cullen-bullets.png);
		    margin-bottom: 10px;
		     list-style-position: inside;
    padding-left: 15px;

}
.text-cullen a {
	margin-left: 10px;
	font-family: 'Gotham Light';
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	    cursor: pointer;
}
.text-cullen:hover {
background:grey;
	}
*/
.titlemsn {
	font-family: 'Gotham Thin';
	font-size: 36px;
	color: #fff;
	margin: -7px 21px 0 27px;
	float: left;
}
.headingmsn {
	font-family: 'Gotham Book';
	font-size: 22px;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 30px;
}
.stylish-input-group {
	width: 93%!important;
	margin-left: 10px!important;
}
.stylish-input-group .form-control {
	border-right: 0!important;
	box-shadow: 0 0 0!important;
	border-color: #ccc !important;
	z-index: inherit;
	background-color: transparent;
}
.input-group-addon:last-child {
	border-left: 0!important;
	background: none!important;
	border-radius: 0px!important;
}
.icon-messenger-alert1 {
	float: left;
	margin-right: 10px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-image: -webkit-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: -moz-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: -o-linear-gradient(135deg, #ed145b 0%, #7b0046 100%);
	background-image: linear-gradient(-45deg, #ed145b 0%, #7b0046 100%);
	text-align: center;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
	color: #fff;
}
.headmsn {
	border-bottom: 0px!important;
}
.list-unstyledmsn {
	padding-left: 20px;
	list-style: none;
	padding-top: 30px!important;
}
/*chatbox*/
.popup-box {
	background-color: #ffffff;
	border: 1px solid #b0b0b0;
	bottom: 0;
	display: none;
	height: 435px;
	position: fixed;
	right: 23%;
	width: 400px;
	z-index: 300000; 
	font-family: 'Gotham Light';
}
.popup-box-on {
	display: block !important;z-index: 300000; 
}
.popup-box .popup-head {
	background-color: #99a3aa;
	clear: both;
	color: #fff;
	display: inline-table;
	font-size: 25px;
	padding: 0px 10px;
	width: 100%;
	font-family: 'Gotham Light';
}
.popup-box .popup-head .popup-head-right {
	margin: 11px 7px 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {
	float: left;
	margin: 10px 10px 0px 10px;
}
.popup-messages-footer > textarea {
	border-top: 1px solid #fff !important;
	height: 45px !important;
	margin: 0px;
	padding: 6px !important;
	border: medium none;
	width: 100% !important;
	background: none;
	resize: none;
}
.popup-messages-footer {
	background: #3b4c5c none repeat scroll 0 0;
	bottom: 0;
	position: absolute;
	width: 100%;
}
.popup-messages-footer .btn-footer {
	overflow: hidden;
	padding: 2px 5px 10px 6px;
	width: 100%;
}
.simple_round {
	background: #d1d1d1 none repeat scroll 0 0;
	border-radius: 50%;
	color: #4b4b4b !important;
	height: 21px;
	padding: 0 0 0 1px;
	width: 21px;
}
.popup-box .popup-messages {
	background: #3b4c5c none repeat scroll 0 0;
	height: 397px;
	margin-top: -5px;
}
.direct-chat-messages {
	overflow: auto;
	padding: 10px;
	transform: translate(0px, 0px);
}
.popup-messages .chat-box-single-line {
	border-bottom: 1px solid #a4c6b5;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}
.popup-messages abbr.timestamp {
	background: #3f9684 none repeat scroll 0 0;
	color: #fff;
	padding: 0 11px;
}
.popup-head-right .btn-group {
	display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
.chat-header-button {
	background: transparent none repeat scroll 0 0;
	border: none;
	border-radius: 50%;
	font-size: 25px;
	height: 34px;
	width: 34px;
	margin-top: -9px;
}
.popup-head-right .btn-group .dropdown-menu {
	border: medium none;
	min-width: 122px;
	padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
	font-size: 12px;
	padding: 3px 10px;
	color: #303030;
}
.popup-messages abbr.timestamp {
	background: #3f9684 none repeat scroll 0 0;
	color: #fff;
	padding: 0 11px;
}
.popup-messages .chat-box-single-line {
	border-bottom: 1px solid #a4c6b5;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}
.popup-messages .direct-chat-messages {
	height: auto;
}
.popup-messages .direct-chat-text {
	background: #dfece7 none repeat scroll 0 0;
	border: 1px solid #dfece7;
	border-radius: 2px;
	color: #1f2121;
}
.popup-messages .direct-chat-timestamp {
	color: #fff;
	opacity: 0.6;
}
.popup-messages .direct-chat-name {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	color: #fff;
	opacity: 0.9;
}
.popup-messages .direct-chat-info {
	display: block;
	font-size: 12px;
	margin-bottom: 0;
}
.popup-messages .big-round {
	margin: -9px 0 0 !important;
}
.popup-messages .direct-chat-img {
	border: 1px solid #fff;
	background: #3f9684 none repeat scroll 0 0;
	border-radius: 50%;
	float: left;
	height: 40px;
	margin: -21px 0 0;
	width: 40px;
}
.direct-chat-reply-name {
	color: #fff;
	font-size: 15px;
	margin: 0 0 0 10px;
	opacity: 0.9;
}
.direct-chat-img-reply-small {
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	height: 20px;
	margin: 0 8px;
	width: 20px;
	background: #3f9684;
}
.popup-messages .direct-chat-msg {
	margin-bottom: 10px;
	position: relative;
}
.popup-messages .doted-border::after {
	background: transparent none repeat scroll 0 0 !important;
	border-right: 2px dotted #fff !important;
	bottom: 0;
	content: "";
	left: 17px;
	margin: 0;
	position: absolute;
	top: 0;
	width: 2px;
	display: inline;
	z-index: -2;
}
.popup-messages .direct-chat-msg::after {
	background: #fff none repeat scroll 0 0;
	border-right: medium none;
	bottom: 0;
	content: "";
	left: 17px;
	margin: 0;
	position: absolute;
	top: 0;
	width: 2px;
	display: inline;
	z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
	border-color: transparent #dfece7 transparent transparent;
}
.direct-chat-text::after, .direct-chat-text::before {
	border-left: medium solid transparent;
	border-right: medium solid #d2d6de;
	border-top: medium solid transparent;
	border-bottom: medium solid transparent;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: url('') none;
	content: " ";
	height: 0;
	pointer-events: none;
	position: absolute;
	right: 100%;
	top: 15px;
	width: 0;
}
.direct-chat-text::after {
	border-width: 5px;
	margin-top: -5px;
}
.popup-messages .direct-chat-text {
	background: #dfece7 none repeat scroll 0 0;
	border: 1px solid #dfece7;
	border-radius: 2px;
	color: #1f2121;
}
.direct-chat-text {
	background: #d2d6de none repeat scroll 0 0;
	border: 1px solid #d2d6de;
	border-radius: 5px;
	color: #444;
	margin: 5px 0 0 50px;
	padding: 5px 10px;
	position: relative;
}
.fade.in {
	opacity: 1;
	background: transparent;
}
.fa-paperclip{
	color:#fff;
	font-size:20px
}
.fa-paper-plane{
	color:#fff;
	font-size:20px
}
.fa-smile-o{
	color:#fff;
	font-size:20px
}
.fa.pull-right {
    margin-left: 15px;
}
.textarea-hey{
			margin:20px 0 0 20px;
			border-radius:6px;
			resize:none;
			padding: 5px 27px 0px 11px;
			font-family:'Gotham Light';
			font-size: 15px;
			color:#000;
			
}
.textarea-froda{
	    	margin:10px 20px 0 20px;
			border-radius:6px;
			resize:none;
			padding: 5px 27px 0px 11px;
			font-family:'Gotham Light';
			font-size: 15px;
			color:#000;
			background:#99a3ab
			
}
.textarea-groups{
			margin:100px 0 0 20px;
			border-radius:6px;
			resize:none;
			padding: 5px 27px 0px 11px;
			font-family:'Gotham Light';
			font-size: 15px;
			color:#000; 
}
.icon-bullet{
	 float:left;margin-right:8px
}
.hey-arrows{
	margin: -32px 0 0 29px;
}
.froda-arrows{
	 margin: 35px -122px 0 0px;
}
.group-bullets{
	 margin: -32px 0 0 46px;
}
