<div class="modal fade" id="myModalmentorshipadd" tabindex="-1" role="dialog" aria-labelledby="myModalMentorshipAdd">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:3.5em; font-family: 'Gotham Book'; margin-top: -8px; margin-right: -5px; font-weight: bold;">&times;</button>      <div class="row" >
          <div class="col-md-12 text-center clerafix" style="margin-top:-20px;">
            <h2 class="heading-welcome" >Add Mentors</h2> 
			</div>
        </div>
        <div class="row" style="padding-top:20px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h5>New Mentor's Name</h5>
            <form action="" role="form" style="margin-top: 15px">
              <div class="form-group input-group col-xs-12 col-md-12 pull-right"> 
              <input type="text" class="form-control boxborder" placeholder="Bob" style="border-radius: 5px; border: 1px solid #0cca61;"> 
              </div>
            </form>
            <p class="result">Select Mentors<span> (0)</span></p>
          </div>
          <div class="col-md-1"> 
			  <img src="/assets/img/admin/divider.png" alt=""></div>
          <div class="col-md-5 empdatastyle">
            <div class="row ">
              <div class="col-md-4" style="text-align: left; margin-left: -20px;"> <img src="http://placehold.it/100" alt="" class="img-responsive img-circle" style="display: inline-block">
 </div>
              <div class="col-md-8" style="padding-left: 0px"> 
				  <p class="empname"> Bob Ross</p>  <p class="job">Lorem Ipsum is simply dummy text of the printing and typesetting</p><br> </div>
            </div>
            <div class="row"  style="margin-top: 20px;">
              <div class="col-md-4" style="text-align: left; margin-left: -20px;"> <img src="http://placehold.it/100" alt="" class="img-responsive img-circle" style="display: inline-block">
 </div>
              <div class="col-md-8" style="padding-left: 0px"> <p class="empname"> Bobby Pierra</p><p class="job">Lorem Ipsum is simply dummy text of the printing and typesetting</p><br> </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 text-center " style="margin-top: 30px"> <button class="btn modal-send-btn" data-dismiss="modal" type="button" >SUBMIT</button> 
          <button class="btn modal-exit-btn" data-dismiss="modal" type="button" >EXIT</button>            </div>
        </div>
      </div>
    </div>
  </div>
</div>
