table {
  border: 0px
}

th {
  color: #189bf3;
}

.imgthumbsize {
  width: 75px;
  height: 75px
}

body {
  border: 1px solid #189BF3;
  color: #111111;
}

a {
  cursor: pointer;
  outline: none;
  color: #000;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:focus {
  color: #c1d3e0;
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 0;
}

#wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.most {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  color: #137ec4
}

.social {
  font-size: large;
  font-size: 5rem;
  margin-top: -30px;
  background: -webkit-linear-gradient(#137ec4, #393939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden
}

.sharing {
  color: #959595;
  text-align: center;
  margin-top: -20px;
  text-transform: uppercase;
  vertical-align: super;
  font-size: 1.5rem;
}

ul.mostshared li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
}

ol.colspan {
  list-style-type: decimal;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  margin-left: -20px;
  list-style-position: inside;
}

ol.colspan {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}

ol.colspan li {
  margin-left: 9px;
  list-style-position: inside;
  width: 33, 333333%;
  margin-bottom: 30px;
}

.spanned ol {
  counter-reset: item;
  font-size: 1.7em;
  color: #000000;
  list-style-type: none;
}

.spanned ol li {
  display: block;
}

.spanned ol li:before {
  content: counter(item) "  ";
  font-size: 2em;
  counter-increment: item
}

.white-border-content {
  border: 2px solid #FFFFFF;
  color: #c1d3e0;
  padding: 1.5rem 0rem 1.3rem 0rem;
  padding: 15px -5px 15px -5px;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #FFFFFF;
  background-color: #189bf3;
}

.span4big {
  font-size: 5em;
  font-weight: lighter
}

.span2big {
  font-size: 1em;
  text-transform: uppercase;
}

.colspan-name {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
  font-weight: 800;
  font-size: .8em;
  padding-top: 15px;
  color: #353535;
  line-height: 1em;
}

.colspan-number {
  color: #808080;
  font-size: .8em;
  text-align: left;
  font-weight: 200;
  padding-top: -15px;
  padding-bottom: 15px;
  margin-top: -10px;
}


/* Style relevant to this page*/

.fa-chevron-left {
  color: #666666;
}

.mostshared li {
  margin-right: 30px;
  margin-left: 32px;
}

.margin-top30 {
  margin-top: 30px
}

.mostshared .thumb-text-center {
  text-align: center;
  color: #656565
}

.mostshared .thumb-shared-no {
  text-align: center;
  margin-top: -10px;
  color: #169cf1;
}


/*pagre related styles */

.white-border-contentmoney {
  border: 2px solid #FFFFFF;
  color: #c1d3e0;
  padding: 1rem 0rem 1rem 0rem;
  padding: 1px -5px 1px -5px;
  text-align: center;
  font-size: 1em;
  width: 40%;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #FFFFFF;
  background-color: #189bf3;
  margin-right: auto;
  margin-left: auto;
}

table {
  border: 0px
}

th {
  color: #189bf3;
}

.blue {
  background-color: #85c9f6;
  color: #FFFFFF
}

table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.custom-btn-blue {
  padding: 10px 15px 10px 11px;
  background-color: transparent;
  color: #189bf2;
  border: 2px solid #d72e9e;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  word-wrap: break-word;
}

.direction {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #666666;
  padding: 5px;
  color: #000000;
}


/*Page Related CSS*/

.textgradient {
  margin-top: 30px;
  background: -webkit-linear-gradient(#189bf3, #346488);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden
}

.spritetweet,
.spriteig,
.spritefacebook,
.sprite360 {
  display: inline-block;
  background: url('../../../www/test/giving/social-media-sprite-medium2.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.spritetweet {
  background-position: -0px -1px;
  width: 40px;
  height: 46px;
}

.spriteig {
  background-position: -40px -1px;
  width: 44px;
  height: 46px;
}

.spritefacebook {
  background-position: -85px -0px;
  width: 40px;
  height: 46px;
}

.sprite360 {
  background-position: -130px -0px;
  width: 40px;
  height: 46px;
}

.skew {
  background-color: #189bf3;
  color: #FFFFFF;
  -webkit-transform: perspective(100px) rotateX(-4deg);
  -webkit-transform-origin: left center;
}

.progress {
  background-repeat: repeat-x;
  height: 40px;
  background-color: #FFFFFF;
}

.progress-bar {
  background-repeat: repeat-x;
  background-color: #00CCFF;
}

.boxborder {
  border: 1px solid #d72e9e!important;
  border-radius: 8px
}

::-webkit-input-placeholder {
  color: #959595!important;
  font-weight: 400;
  font-family: "Gotham Light";
  font-size: 18px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #959595;
  font-weight: 400;
  font-family: "Gotham Light";
  font-size: 18px;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595;
  font-weight: 400;
  font-family: "Gotham Light";
  font-size: 18px;
}

input:-ms-input-placeholder {
  color: #959595;
  font-weight: 400;
  font-family: "Gotham Light";
  font-size: 18px;
}

.commentbtn {
  margin: 3px;
  padding: 8px 20px;
  border: 1px solid #d72e9e;
  background-color: #FFFFFF;
  color: #d72e9e;
  font-family: 'Gotham Light';
  font-size: 17px;
}

.smalltext {
  font-size: 15px;
  color: #959595;
  text-align: right;
  font-family: 'Gotham Light';
  padding-top: 6px;
  transform: skewX(170deg);
}

h1 {
  color: #d72e9e;
  text-align: left;
  font-family: 'Gotham Thin';
  font-size: 45px;
  font-weight: bold
}

h3 {
  color: #d72e9e;
  font-family: 'Gotham Light';
  font-size: 31px;
  font-weight: bold;
}

.reviewbtn {
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  background-color: #d72e9e;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Gotham Book";
  font-size: 22px;
}

::-webkit-input-placeholder {
  color: #959595!important;
  font-weight: bold;
  font-family: "Gotham Light";
  font-size: 22px;
}


input:-moz-placeholder {
  /* Firefox 18- */
  color: #959595!important;
  font-weight: bold;
  font-family: "Gotham Light";
  font-size: 22px;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595!important;
  font-weight: bold;
  font-family: "Gotham Light";
  font-size: 22px;
}

input:-ms-input-placeholder {
  color: #959595!important;
  font-weight: bold;
  font-family: "Gotham Light";
  font-size: 22px;
}

input {
  height: 40px
}


/*check box button */

.content {
  padding: 200px 0px;
}

.tab-content {
  display: block;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.nav.nav-tabs {
  border: 0px none;
  text-align: center;
}

.nav-tabs li {
  text-align: center;
  display: inline-block;
  float: none !important;
  margin-right: 50px
}

.nav-tabs li a {
  width: 100% !important;
  border: 2px solid #0b80b1;
  border-radius: 0px;
  max-width: 285px !important;
  padding: 8px 90px;
  color: #0b80b1;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamLight";
  text-transform: uppercase;
}

.nav-tabs li a:hover,
.nav-tabs li.active a {
  background: #0b80b1 !important;
  color: #fff !important;
  font-family: "GothamBold";
}

.tab-content {
  padding: 70px 0px;
}

.content h2 {
  color: #0b80b1;
  font-size: 32px;
  line-height: 36px;
  font-family: "GothamBold";
  text-align: center;
  margin: 0px;
}

.choices {
  padding: 35px 0px 75px;
  text-align: center;
}

.choices>label {
  color: #0b80b1;
  font-size: 28px;
  line-height: 32px;
  font-family: "GothamLight";
  padding-right: 65px;
}

.qacontent {
  padding: 45px 0px 85px;
}

.inputcontent {
  display: inline-block;
  width: 95%;
  margin-left: 10px;
}

.qacontent h1 {
  float: left;
  margin-top: 0px !important;
  color: #0b80b1;
  font-size: 55px;
  line-height: 45px;
  font-family: "GothamBold";
}

.inputcontent .form-control {
  margin-bottom: 30px;
}

.inputcontent .form-control {
  margin-bottom: 30px;
  min-height: 50px;
  border-radius: 12px;
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  font-family: "GothamBook";
}

.form-control.question {
  background: #cccccc;
  padding: 10px 15px;
}

.form-control.answer {
  background: #bababa;
}

.btn.btn-choice {
  max-width: 329px;
  width: 100%;
  min-height: 65px;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 26px;
  background: transparent;
  color: #0b80b1;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamBook";
  box-shadow: 4px 9px 10px 0px #d8d8d8;
  margin-left: 42px;
}

.btn.btn-question {
  max-width: 329px;
  width: 100%;
  min-height: 65px;
  display: block;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 26px;
  background: transparent;
  color: #0b80b1;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamBook";
  box-shadow: 4px 9px 10px 0px #d8d8d8;
}

.btn.btn-create {
  max-width: 250px;
  width: 100%;
  min-height: 55px;
  display: block;
  margin: 55px auto 0px;
  background: #b7b7b7 !important;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 26px;
  background: transparent;
  color: #fff;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamBook";
  box-shadow: 4px 9px 10px 0px #d8d8d8;
}

input::-webkit-input-placeholder {
  color: #fff !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}

input:-ms-input-placeholder {
  color: #fff !important;
}


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+span,
[type="checkbox"]:checked+span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+span:before,
[type="checkbox"]:checked+span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #0b80b1;
  background: #f5f5f5;
  border-radius: 4px;
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+span:after,
[type="checkbox"]:checked+span:after {
  content: 'eee';
  position: absolute;
  top: 7px;
  left: 0px;
  font-size: 30px;
  line-height: 0.8;
  color: #7b0046;
  transition: all .2s;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+span:after {
  opacity: 0;
  transform: scale(0);
}

[type=checkbox]:checked+span:after {
  opacity: 1;
  transform: scale(1);
}


/* accessibility */

[type="checkbox"]:checked:focus+span:before,
[type="checkbox"]:not(:checked):focus+span:before {
  border: 1px dotted blue;
}


/* hover style just for information */

span:hover:before {
  border: 1px solid #4778d9!important;
}

.nav-tabs li a {
  width: 100% !important;
  border: 2px solid #0b80b1;
  border-radius: 0px;
  padding: 5px 10px !important;
  margin-right: 0px;
  max-width: 100% !important;
  font-size: 24px;
}

[type="checkbox"]:not(:checked)+span::before,
[type="checkbox"]:checked+span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
}

[type="checkbox"]:not(:checked)+span::after,
[type="checkbox"]:checked+span::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 0px;
  font-size: 30px;
  line-height: 0.8;
  color: #7b0046;
  transition: all .2s;
}

.choices>label {
  color: #0b80b1;
  font-size: 20px;
  line-height: 32px;
  font-family: "GothamLight";
  padding-right: 65px;
}

.inputcontent {
  display: inline-block;
  width: 85%;
  margin-left: 0px;
}

.inputcontent .form-control {
  margin-bottom: 30px;
  min-height: 50px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}

.btn.btn-choice {
  max-width: 245px !important;
  width: 100%;
  margin-left: 22px;
}

::-webkit-input-placeholder {
  color: #959595!important;
  font-weight: bold;
  font-family: "Gotham Light";
  font-size: 22px!important;
}


/*check button*/

.content {
  padding: 200px 0px;
}

.tab-content {
  display: block;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.nav.nav-tabs {
  border: 0px none;
  text-align: center;
}

.nav-tabs li {
  text-align: center;
  display: inline-block;
  float: none !important;
  margin-right: 50px
}

.nav-tabs li a {
  width: 100% !important;
  border: 2px solid #0b80b1;
  border-radius: 0px;
  max-width: 285px !important;
  padding: 8px 90px;
  color: #0b80b1;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamLight";
  text-transform: uppercase;
}

.nav-tabs li a:hover,
.nav-tabs li.active a {
  background: #0b80b1 !important;
  color: #fff !important;
  font-family: "GothamBold";
}

.tab-content {
  padding: 70px 0px;
}

.content h2 {
  color: #0b80b1;
  font-size: 32px;
  line-height: 36px;
  font-family: "GothamBold";
  text-align: center;
  margin: 0px;
}

.choices {
  padding: 35px 0px 15px;
  text-align: center;
}

.choices>label {
  color: #252525;
  font-size: 28px;
  line-height: 32px;
  font-family: "GothamLight";
  padding-right: 65px;
}

.qacontent {
  padding: 45px 0px 85px;
}

.inputcontent {
  display: inline-block;
  width: 95%;
  margin-left: 10px;
}

.qacontent h1 {
  float: left;
  margin-top: 0px !important;
  color: #0b80b1;
  font-size: 55px;
  line-height: 45px;
  font-family: "GothamBold";
}

.inputcontent .form-control {
  margin-bottom: 30px;
}

.inputcontent .form-control {
  margin-bottom: 30px;
  min-height: 50px;
  border-radius: 12px;
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  font-family: "GothamBook";
}

.form-control.question {
  background: #cccccc;
  padding: 10px 15px;
}

.form-control.answer {
  background: #bababa;
}

.btn.btn-choice {
  max-width: 329px;
  width: 100%;
  min-height: 65px;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 26px;
  background: transparent;
  color: #0b80b1;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamBook";
  box-shadow: 4px 9px 10px 0px #d8d8d8;
  margin-left: 42px;
}

.btn.btn-question {
  max-width: 329px;
  width: 100%;
  min-height: 65px;
  display: block;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 26px;
  background: transparent;
  color: #0b80b1;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamBook";
  box-shadow: 4px 9px 10px 0px #d8d8d8;
}

.btn.btn-create {
  max-width: 250px;
  width: 100%;
  min-height: 55px;
  display: block;
  margin: 55px auto 0px;
  background: #b7b7b7 !important;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 26px;
  background: transparent;
  color: #fff;
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamBook";
  box-shadow: 4px 9px 10px 0px #d8d8d8;
}


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+span,
[type="checkbox"]:checked+span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+span:before,
[type="checkbox"]:checked+span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #ce058a;
  /* background: #f5f5f5; */
  border-radius: 4px;
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+span:after,
[type="checkbox"]:checked+span:after {
  content: '✔';
  position: absolute;
  top: 7px;
  left: 0px;
  font-size: 40px;
  line-height: 0.8;
  color: #7b0046;
  transition: all .2s;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+span:after {
  opacity: 0;
  transform: scale(0);
}

[type=checkbox]:checked+span:after {
  opacity: 1;
  transform: scale(1);
}


/* accessibility */

[type="checkbox"]:checked:focus+span:before,
[type="checkbox"]:not(:checked):focus+span:before {
  border: 1px dotted blue;
}


/* hover style just for information */

span:hover:before {
  border: 1px solid #4778d9!important;
}

.nav-tabs li a {
  width: 100% !important;
  border: 2px solid #0b80b1;
  border-radius: 0px;
  padding: 5px 10px !important;
  margin-right: 0px;
  max-width: 100% !important;
  font-size: 24px;
}

[type="checkbox"]:not(:checked)+span::before,
[type="checkbox"]:checked+span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
}

[type="checkbox"]:not(:checked)+span::after,
[type="checkbox"]:checked+span::after {
  content: '✔';
  position: absolute;
  top: -5px;
  left: 0px;
  font-size: 30px;
  line-height: 0.8;
  color: #7b0046;
  transition: all .2s;
}

.choices>label {
  color: #252525;
  font-size: 20px;
  line-height: 32px;
  font-family: "GothamLight";
  padding-right: 65px;
}

.inputcontent {
  display: inline-block;
  width: 85%;
  margin-left: 0px;
}

.inputcontent .form-control {
  margin-bottom: 30px;
  min-height: 50px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}

.btn.btn-choice {
  max-width: 245px !important;
  width: 100%;
  margin-left: 22px;
}

::-webkit-input-placeholder {
  color: #acacac!important;
  font-weight: bold;
  font-family: "Gotham Light";
  font-size: 22px;
}


.donatemoney {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #252525;
  font-family: 'Gotham Light';
  font-size: 20px;
}
