<div id="wrapper">
 <div class="container" >
   <div class="row mt30">
   <div class="col-md-12 text-center ">
   <div class="col-md-1" style="padding-left: 0px;">
  
 <a routerLink="/habitat-diversity"> 
        <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-chevron-left " style="font-size:1em; padding-right: 5px; padding-left: 2px;border: 0;"></i>
</span>
        </a>
  </div>
  <div class="col-md-11">
  <h1 style="font-family: Gotham Thin; color: #0cca61; text-align: center;font-size:50px; margin-left: -98px;margin-bottom: 28px;
    margin-top: 26px;">Suggestion Box</h1>
    <p style="font-family: Gotham Thin; color: #636363; text-align: center;font-size:25px;margin-bottom:0px;">Anything making you feel uncomfortable in the office?</p>
<p style="font-family: Gotham Thin; color: #636363; text-align: center;font-size:25px;">Or maybe just have a simple improvement for the office that you would like heard?</p>
 </div>

   <button type="button" class="btn btn-admin">SUGGEST IT!</button>
      
   </div>
   <div class="clearfix" ></div>
   
   <div class="col-md-12 box">
             <h3>Can you believe it?</h3>
             <h4>Your Shopping Cart is empty.</h4>
             <h5>That means you have never suggested anything ever before! </h5>
             <i class="fa fa-meh-o"></i>
             </div>
   </div>
   
   
   </div>  
   </div>