<div>
    <div>
        <input name="querybox" #searchTerm>
        <button (click)="performSearch(searchTerm.value)">Search </button>
    </div>
    <br>

    <div *ngFor="let gif of result">
        <header class="w3-container w3-light-grey">
            <h3>{{gif.title}}</h3>
        </header>
        <div class="container">
            <p>{{gif.rating}}</p>
            <hr>
            <img src={{gif.images.original.url}} alt="Avatar" class="">
            <p>{{gif.title}}</p>
        </div>
    </div>
</div>