<nav class="navbar navbar-exband navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a routerLink="/" class="nav-item nav-link">Home</a>
    <a routerLink="/" class="nav-item nav-link">Logout</a>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- Header -->
<app-toolbar></app-toolbar>
<div class="content" role="main">
  <app-giphy-search></app-giphy-search>
</div>
<app-footer></app-footer>

<router-outlet></router-outlet>