<div class="modal fade" id="rewardredeemconfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="top:200px ;">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #000000;font-size:3em; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -5px; font-weight: bold;">&times;</button>
        <h4 class="modal-title text-center"
            style="font-family:'Gotham Book'; font-size: 45px; color: #0cca61">Confirmation</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-center font-greylight" style="font-family: 'Gotham Book'; font-size: 20px; color: #000000;padding:0px;margin-top: -20px;margin-bottom: 50px;font-weight: 500;">Are you sure you would like to redeem this reward?</h4>
        <div class="row mt30 text-center" style="padding-right: 5px; padding-left: 5px">
          <div class="row" style="margin-top: -30px">
            <div class="col-md-12"> <button class="btn text-center modal-exit-btn" (click)="onSubmit()"data-toggle="modal" data-target="#myredeemconfirmthanksModal" type="submit" style="border-radius: 20px; background-color:#0cca61!important; color: #FFFFFF; margin-bottom: 20px; margin-top: 20px; width: 150px; padding-top: 0px; padding-bottom: 0px; font-family: 'Gotham Book'; font-size: 22px;margin-left:10px;margin-right:10px">SUBMIT</button>              <button class="btn  modal-exit-btn text-center" data-dismiss="modal" type="button" style="border-radius: 20px; background-color: #7b0046; color: #FFFFFF; margin-bottom: 20px; margin-top: 20px;width: 150px; padding-top: 0px; padding-bottom: 0px; font-family: 'Gotham Book'; font-size: 22px;margin-left:10px;margin-right:10px">EXIT</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
