  <app-giving-navbar></app-giving-navbar>
<div id="wrapper">
  <div class="container">
  
    <div class="container">
      <div class="row">
        <div class="col-md-8 pad15">
          <h1 class="textgradient">Frequently Asked Questions</h1>
          <p><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been?</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ?</strong></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="col-md-4"> <img class="faqimg" src="/assets/img/giving/faq.png" alt=""> </div>
      </div>
    </div>
    <div class="container margin-top30">
      <div class="row">
        <div class="col-md-12" style="padding: 15px 45px 15px 15px">
          <h1 class="textgradient">See What Other Are Asking About</h1>
          <div class="table-responsive" width="70%">
            <table class="table" width="70%">
              <tr class="regular">
                <th width="25%">User</th>
                <th width="40%">Questions</th>
                <th width="25%">Responses</th>
              </tr>
              <tbody>
                <tr>
                  <td>Joe Shameo</td>
                  <td>Hi,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like readable English.</td>
                  <td> <button type="button" class="btn btnmaroon">Answered</button></td>
                </tr>
                <tr>
                  <td>Abhrahms</td>
                  <td>Hello,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                    to using 'Content here, content here', making it look like readable English.</td>
                  <td><button type="button" class="btn" style="background-color: #b0093f;background: -webkit-linear-gradient(#e51257,#900431,#83022b); color: #FFFFFF; border-radius: 20px;  text-align: center; padding-right: 25px; padding-left: 25px;">Answered</button></td>
                </tr>
                <tr>
                  <td>John F. Kennedy</td>
                  <td>Hi,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                    using 'Content here, content here', making it look like readable English.</td>
                  <td><button type="button" class="btn" style="background-color: #b0093f;background: -webkit-linear-gradient(#e51257,#900431,#83022b); color: #FFFFFF; border-radius: 20px;  text-align: center; padding-right: 25px; padding-left: 25px;">UnAnswered</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-3" style="text-align: center"> </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <!-- Modal -->
  <div class="container" style="margin-top: 36px;  padding-bottom: 70px;">
    <div class="row" style="text-align: center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h4 style="color: #FFFFFF; line-height: 3em; font-weight: 100; font-size: 1.5em;">DON'T SEE A QUESTION THAT YOU HAVE IN MIND? </h4> <button type="button" class="btn active" data-toggle="modal" data-target="#myModal" style="box-shadow: -2px 0px 19px 3px rgba(0,0,0,0.35);background-color: #b0093f;background: -webkit-linear-gradient(#e51257,#900431,#83022b); color: #FFFFFF;padding: 15px 65px 15px 65px; border-radius: 20px; width: 70%;">ASK US! </button>        </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border: none"><button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 4em"><span aria-hidden="true">&times;</span></button>
          <h2 class="text-h4" style="text-align: center;	color: #189bf2;">Ask Your Question</h2> </div>
        <div class="modal-body">
          <div class="row" style="padding-top: 15px; padding-bottom: 35px; margin-top: -50px;">
            <div class="col-md-12"> </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                <div class="row">
                  <div class="col-md-5"><input name="Text1" class="form-control custom-btn-blue" type="text" placeholder="Enter Your Name Here" /></div>
                  <div class="col-md-7"><input name="Text1" class="form-control custom-btn-blue" type="text" placeholder="Type Question Here " /></div>
                  <div class="col-md-12" style="padding-top: 15px; "><textarea name="TextArea1" class="form-control custom-btn-blue" cols="60" rows="3" placeholder="Enter in any extra Details you would like to accompany your question here"></textarea></div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center " style="margin-top: -30px"> <button class="btn  btn-lg modal-share-btn" type="button"> Submit </button> <button class="btn  btn-lg modal-exit-btn" data-dismiss="modal" type="button"> Exit</button> </div>
        </div>
      </div>
    </div>
  </div>
