<div class="row">
  <app-toast [message]="toast.message"></app-toast>
  <div class="col-xs-12 col-md-12" style="margin-bottom: 15px">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/giving">
          <span class="fa-stack fa-3x  circle-dir" style="margin-bottom: 20px;">
            <i class="fa fa-angle-left" style="font-size:46px; padding-right: 10px; padding-left: 10px;border: 0;"></i>
          </span>
        </a>
      </div>
      <div class="col-md-9">
        <button [routerLink]="getEditRoute()" style="float:right;background:transparent;font-size:40px; border: none;"
            class="" [hidden]="hideEditButton">
          <i class="fa fa-pencil"></i>
          </button>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="eachcontent">
              <div class="image1bg" [style.background-image]="getBKGImage()">
                <div class="blurbg">
                  <div class="textcontent">
                    <div class="col-xs-10 col-md-10">
                      <p style="display: inline-block; padding-left: 15px;font-size:38px; color: #FFFFFF; font-family: 'Gotham Thin'; font-weight: bold;">
                        {{ opportunity.name }} </p>
                    </div>
                    <div class=" col-xs-2 col-md-2">
                      <i class="fa fa-heart" aria-hidden="true" style="color: #FF3300; font-size: 35px; float: right; vertical-align: bottom; padding-top: 10px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6 social-icon-sm" style="margin-top: 1rem; margin-bottom: 1rem">
            <button type="button" class="btn button1">share
              <b>IN</b>
            </button>
            <button type="button" class="btn button1">share
              <b>OUT</b>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8  col-md-12 ">
            <p style="font-family: 'Gotham Light'; font-size: 22px; font-weight: bold; color: #111111;padding-top:30px">
              {{ opportunity.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 col-md-1" style="padding: 10px;margin-top: 20px;">
            <i class="fa fa-location-arrow fa-5x fa-style" aria-hidden="true" style="color: #ce058a;font-size:60px"></i>
          </div>
          <div class="col-xs-4 col-md-4" style="padding-left: 5px;">
            <h3 style="color: #d72e9e; font-family: 'Gotham Light'; font-size: 33px;">Location</h3>
            <p class="location"> {{ opportunity.locationName }}
              <br> {{ opportunity.locationAddress }}
              <br> {{ opportunity.locationCity }}, {{ opportunity.locationState }}
              {{ opportunity.locationZIP }}
              <br> </p>
          </div>
          <div class="col-xs-1 col-md-1" style="padding: 0px;margin-top: 20px;">
            <!--<i class="fa fa-users fa-4x fa-style" style="color: #ce058a;font-size:60px"></i>-->
          </div>
          <div class="col-xs-6 col-md-6" style="padding-left:5px;">
            <!--<h3 style="color: #d72e9e; font-family: 'Gotham Light'; font-size: 33px;">Current Opportunities
              <span style="color: #808080; padding-left: 3px;">(4)</span>
              <br> </h3>
            <span style="text-align: right; margin-right: -25px; margin-left: 55px; font-size:1.6rem;">
              <ul class="opportunity">
                <li> March of Dimes-Clean up Crew </li>
                <li> Yearly Blood Drive</li>
                <li> Annual Shelter Fund Raiser</li>
                <li> St.Jude's Cancer Walk</li>
              </ul>
            </span>-->
          </div>
        </div>
        <div class="row gallery">
          <div *ngFor="let fileItem of fileList" class="col-xs-4 col-md-4" style="padding: 0.5rem">
            <img src="{{ fileItem.path }}" alt="" class="img-responsive"> </div>
        </div>
        <div class="row" style="margin-top: 15px">
          <div class="col-md-12">
            <h2 style="font-family: 'Gotham Light'; font-size: 41px; color: #ce058a">Make a Donation</h2>
          </div>
          <div class="col-md-12" style="text-align:center;">
            <p [hidden]="pendingTransactions() !== true">
              <b>You have pendings donation(s)</b>
          </p>
          </div>
          <div class="col-md-12" style="text-align:center;">
            <p [hidden]="hasDonated() !== true">
              Thank you for your previous donation(s) to this cause! &nbsp;
              <button type="button" routerLink="/giving-dashboard-manage-your-donations" class="btn btn-default"
                  style="font-family: 'Gotham Light'; font-size: 16px; font-weight: bold;width:auto;">My Donation History</button>
          </p>
          Your Donations (Complete): ${{ totalUserDonated().toFixed(2) }}
          &nbsp; &nbsp;
          (Pending): ${{ totalUserPending().toFixed(2) }}
          &nbsp; &nbsp;
          (Matches): ${{ totalUserMatched().toFixed(2) }}
          </div>

          <div class="col-xs-6 col-md-6" style="padding:0px">
            <p style="font-family: 'Gotham Light'; font-size: 25px; color: #252525; font-weight: bold">
              How much would you like to donate?</p>
            <div class="form-group input-group col-md-10">
              <input type="text" class="form-control" (input)="updateDonationTran()" #donationAmount
                  value="" placeholder="$ Enter amount here" style="border-style: solid; border-width: 2px;border-color: #ce058a!important;border-radius:0px">
            </div>
            <p style="font-family: 'Gotham Light'; font-size: 20px; color: #252525; font-weight: bold">I would like to pay using:</p>
            <img src="/assets/img/giving/paypal.png" alt="" height="39" width="109">
            <img src="/assets/img/giving/paypalreduction.png" alt="" height="39" width="93">
            <p>
              <img src="/assets/img/giving/creditcards.png" alt="" height="57" width="288" style="border-style: solid; border-width: 2px!important;border-color: #ce058a!important;border-radius:0px">              </p>
          </div>
          <div class="col-xs-6 col-md-6 transcationsummary" style="position: relative;left: 25px;">
            <div class="row" style="border-style: solid; border-width: 2px; border-color: #ce058a !important; color: white; padding: 2rem; margin-right:10px;">
              {{ updateDonationTran() }}
              <div class="col-xs-12 col-md-12">
                <h3>Transaction Summary</h3>
              </div>
              <div class="col-xs-8 col-md-8">
                <h4>Your Donation</h4>
              </div>
              <div class="col-xs-4 col-md-4">
                <h4>${{ tran.donationAmount.toFixed(2) }}</h4>
              </div>
              <div class="col-xs-8 col-md-8">
                <h4>Fee*</h4>
              </div>
              <div class="col-xs-4 col-md-4">
                <h4>${{ tran.fee.toFixed(2) }}</h4>
              </div>
              <div class="col-xs-8 col-md-8">
                <h4>Donation Match</h4>
              </div>
              <div class="col-xs-4 col-md-4">
                <h4>${{ tran.match.toFixed(2) }}</h4>
              </div>
              <div class="col-xs-8 col-md-8">
                <h4>Total Amount
                  <b> Campaign Will Receive</b>
                </h4>
              </div>
              <div class="col-xs-4 col-md-4">
                <h4>${{ tran.resultDonation.toFixed(2) }}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form #form="ngForm" (ngSubmit)="search(form.value)">
              <div class="form-inline" style="margin-top:30px">
                <div class="col-md-5">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="Billing Address"  required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="City" required>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="State" required>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="Zipcode" required>
                  </div>
                </div>
              </div>
              <div class="form-inline">
                <div class="col-md-6" style="margin-top:10px">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="Name on your card" required>
                  </div>
                </div>
                <div class="col-md-6" style="margin-top:10px">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="Card Number" required>
                  </div>
                </div>
              </div>
              <div class="form-inline" style="margin-top:10px">
                <div class="col-md-6" style="margin-top:10px">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="Expiration Date" required>
                  </div>
                </div>
                <div class="col-md-3" style="margin-top:10px">
                  <div class="form-group input-group col-xs-12">
                    <input type="text" class="form-control" style="border: 1px solid #ce058a!important;"
                        placeholder="CSV Number" required>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem">
          <div class="col-xs-8 col-md-8">
            <p class="h4" style="color:#252525; font-family: 'Gotham Light'; font-size: 24px; font-weight: bold;">Would you like your employer to match your donation?
              <br>
              <small style="font-family: 'Gotham Light'; font-size: 17px; color: #959595; font-weight: bold; font-style: italic">
                Employer will match up to ${{ remainingMatch().toFixed(2) }} / (${{ getDonationMatchLimit().toFixed(2) }} total).</small>
            </p>
          </div>
          <div class="col-xs-4 col-md-4 text-center">
            <label class="switch">
              <input type="checkbox" checked #employerMatch />
              <div class="slider round"></div>
            </label>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="form-group">
              <div class="choices">
                <label for="acceptedTermsCheckBox">
                  <input type="checkbox" id="acceptedTermsCheckBox" (click)="acceptedTerms = !acceptedTerms" value="Written">
                  <span style="color:#252525; font-family: 'Gotham Light'; font-size: 22px; font-weight: bold;">I acknowledge the transaction fee and agree to pay it.</span>
                </label>
              </div>
            </div>
            <div class="col-xs-4 col-md-4 col-xs-offset-4 text-center">
              <button class="btn " (click)="donate()" [disabled]="! acceptedTerms" style="border-radius: 22px; background-color: #0cca61; color: #FFFFFF; width:70%; font-family: 'Gotham Book'; font-size: 16px;">
              DONATE</button>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row" style="background-image: url('../../../assets/img/giving/divide-btm.png'); background-repeat: no-repeat; background-position: center top; height: 180px;background-size: contain;padding-top: 50px">
            <div class="col-xs-12 col-md-12">
              <h2 style="color: #ce058a; font-family: 'Gotham Light'; font-size: 41px; font-weight: bold;">Comments</h2>
              <ul class="list-unstyled">
                <li *ngFor="let comment of opportunity.comments">
                  <div class="col-xs-2 col-md-2" style="margin-top:30px;clear:left;">
                    <img src="https://s3.amazonaws.com/imminent/oahu/{{ comment.createUser }}/picture.png"
                        alt="" height="130" width="130" class="img-responsive img-circle">
                  </div>
                  <div class="col-xs-9 col-md-10" style="margin-top:30px">
                    <div class="eachcommentscontent">
                      <div class="comments">
                        <h5 class="text-left pull-left author">
                          <span style="color: #189bf3">{{ comment.firstName }} </span> Commented</h5>
                        <p>{{ comment.commentText }}</p>
                      </div>
                      <span class="triangle"></span>
                    </div>
                  </div>
                  <br> </li>
                <li>
                  <div class="col-md-12" style="margin-top:30px" [hidden]="hideCommentsPostBox()">
                    <textarea name="TextArea1" cols="20" rows="6" class="form-control" placeholder="Write a Comment here"
                        #postCommentTextArea style="border: 2px solid #ce058a;resize:none;border-radius: 8px"></textarea>
                      <button class="btn btn-post" (click)="postComment()">POST</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <a title="Scroll to top">
        <span class="fa-stack fa-3x  circle-dirup">
          <i class="fa fa-angle-up" style="font-size:58px; padding-right: 10px; padding-left: 14px;border: 0;"></i>
        </span>
      </a>
    </div>
  </div>
</div>


<div class="modal fade" id="donationCompleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 50%">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        </div>
      <div class="modal-body">
        <div class="row" style="padding-top: 15px; padding-bottom: 35px; margin-top: -50px;">
          <div class="col-md-12">
            <h2 class="text-h4" style="text-align: center;	color: #7b0046;">Thank You for your Donation.</h2>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
              <!-- <h5>Your Complaint is very important to us.Please follow furtur instructions that will be sent to your email in the next few days.
       you will also recieve a receipt of confirmation to your email address.<br>
       We are sorry you had to experience the situation</h5>  --></div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center " style="margin-top: 30px">
              <button class="btn modal-exit-btn" data-dismiss="modal" type="button" style="border-radius: 15px; background-color: #7b0046; color: #FFFFFF; width: 150px;">
              Exit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
