<div class="container" style="margin-top: 250px">
  <div class="row">
    <div class="col-md-3" style="height:420px; border-right-style: solid; border-right-width: 2px;text-align:center"> <span style="font-size: large; font-weight: bold; text-align: center">Select a Goal <i class="fa fa-pencil" aria-hidden="true"></i></span>
      <button class="btn btn-info btn-md" style="margin: 5px; padding: 10px; display: inline-block; text-align: center;">
        Participate in NYC Marathon
        <br/> 2016
      </button>
      <br/>
      <button class="btn btn-info btn-md" style="padding: 26px; vertical-align: middle; text-align: center">
        Hike Mount Kilimanjaro
      </button>
      <br/>
      <br/><span style="font-size: large; font-weight: bold; text-align: center">Add Goal</span> <span data-toggle="modal" data-target="#modal-create-goal" style="margin-left: 10px; cursor:pointer"><i class="fa fa-plus-circle" aria-hidden="true" style="color: #0099FF; font-size: xx-large"></i></span> </div>
    <div class="col-md-3" style="height:420px; border-right-style: solid; border-right-width: 2px;">
      <span style="font-size: large; font-weight: bold; text-align: center">View Milestones <i class="fa fa-pencil" aria-hidden="true"></i></span>
      <ul style="list-style-type: none">
        <li style="display: inline-block; list-style-type: none; padding-left: -15px; padding-right: 39px; margin-left: -34px;">
          <input name="Checkbox1" checked="checked" type="checkbox" /> Week1</li>
        <li>Streching</li>
        <li>Jogging</li>
        <li>Massage</li>
        <li style="display: inline-block; list-style-type: none; padding-left: -15px; padding-right: 39px; margin-left: -34px;">
          <input name="Checkbox1" checked="checked" type="checkbox" /> Week2</li>
        <li>Streching</li>
        <li>Jogging</li>
        <li style="display: inline-block; list-style-type: none; padding-left: -15px; padding-right: 39px; margin-left: -34px;">
          <input name="Checkbox1" checked="checked" type="checkbox" /> Week3</li>
        <li>Streching</li>
        <li>Sprints</li>
        <li>Massage</li>
        <li style="display: inline-block; list-style-type: none; padding-left: -15px; padding-right: 39px; margin-left: -34px;">
          <input name="Checkbox1" checked="checked" type="checkbox" /> Week4</li>
        <li>Streching</li>
        <li>Sprints</li>
        <li style="display: inline-block; list-style-type: none; padding-left: -15px; padding-right: 39px; margin-left: -34px;">
          <input name="Checkbox1" type="checkbox" /> Week5</li>
        <li>Streching</li>
        <li>Jogging</li>
        <li>Massage</li>
      </ul>
    </div>
    <div class="col-md-5" style="margin-top: -15px">
      <p style="text-align: center; font-size: large;">Week Number</p>
      <table style="background-color: #FFFFFF; padding: 5px 10px 5px 10px">
        <tbody>
          <tr>
            <td style="padding: 5px; margin: 5px;"></td>
            <td style="padding: 5px; margin: 5px;">1</td>
            <td style="padding: 5px; margin: 5px;">2</td>
            <td style="padding: 5px; margin: 5px;">3</td>
            <td style="padding: 5px; margin: 5px;">4</td>
            <td style="padding: 5px; margin: 5px;">5</td>
            <td style="padding: 5px; margin: 5px;">6</td>
            <td style="padding: 5px; margin: 5px;">7</td>
            <td style="padding: 5px; margin: 5px;">8</td>
            <td style="padding: 5px; margin: 5px;">9</td>
            <td style="padding: 5px; margin: 5px;">10</td>
            <td style="padding: 5px; margin: 5px;">11</td>
            <td style="padding: 5px; margin: 5px;">12</td>
            <td style="padding: 5px; margin: 5px;">13</td>
            <td style="padding: 5px; margin: 5px;">14</td>
            <td style="padding: 5px; margin: 5px;">15</td>
            <td style="padding: 5px; margin: 5px;">16</td>
            <td style="padding: 5px; margin: 5px;">17</td>
            <td style="padding: 5px; margin: 5px;">18</td>
            <td style="padding: 5px; margin: 5px;">19</td>
          </tr>
          <!---first-->
          <tr>
            <td colspan="6">
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td colspan="3"> Streching</td>
          </tr>
          <!--second-->
          <tr>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td colspan="5">
              <div class="progress">
                <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td colspan="2">Jogging</td>
            <td></td>
            <td></td>
          </tr>
          <!---third-->
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td>Sprints</td>
            <td></td>
            <td></td>
            <td colspan="3"> &nbsp;</td>
            <td></td>
            <td></td>
            <td colspan="3"> &nbsp;</td>
          </tr>
          <!--forth-->
          <tr>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td colspan="2">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only"></span> </div>
              </div>
            </td>
            <td></td>
            <td> Massage</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-6"> <span style="font-size: x-large">Your Progress</span>
          <br/> <span style="font-size: xx-large; font-weight: bold; text-align: right; float: right;">42%</span> </div>
        <div class="col-md-6" style="padding-top: 50px">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 42%"> <span class="sr-only"></span> </div>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-warning btn-lg btn-block" style="text-align:center">Your Almost Halfway There !</button>
        </div>
        <div class="col-md-12" style="margin-top: 15px; text-align: center;">
          <button class="btn  btn-md" style="border: thin solid #0099FF; text-align:center; color: #0099FF;">View Next Goal</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="modal-create-goal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align: center; vertical-align: middle; font-size: xx-large">Create a Goal</h4></div>
          <div class="col-md-12" style="text-align: center;margin-top: 10px;"> </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="border-right-style: solid; border-right-width: thin; height: 400px">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Name of Your Goal"> </div>
              </div>
              <div class="row" style="margin-top: 6px">
                <div class="col-md-5">
                  <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Start Date"> </div>
                <div class="row">
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="End Date"> </div>
                </div>
                <p style="font-size: large; margin-top: 15px;">Sharing Settings</p>
                <p>Each Time you Complete a milestone,
                  <br/>would you like to share it on : </p>
                <table width="480" style="font-family: &quot;Times New Roman&quot;, Times, serif;height: 110px;overflow-x: hidden;overflow-y: scroll;height:150px">
                  <tbody>
                    <tr>
                      <td></td>
                      <td width="246"><strong></strong></td>
                      <td width="95"><strong></strong></td>
                    </tr>
                    <tr>
                      <td> <i class="fa fa-facebook-official" style="font-size: xx-large; color: #0099FF;margin-right: 15px;" aria-hidden="true"></i> </td>
                      <td width="44" style="padding-left: 15px;">Facebook</td>
                      <td width="295">
                        <input type="checkbox" unchecked data-toggle="toggle"> </td>
                    </tr>
                    <tr>
                      <td> <i class="fa fa-twitter-square" aria-hidden="true" style="font-size: xx-large; color: #0099FF;margin-right: 15px;"></i> </td>
                      <td width="44" style="padding-left: 15px;">Twitter</td>
                      <td width="95">
                        <input type="checkbox" unchecked data-toggle="toggle"> </td>
                    </tr>
                    <tr>
                      <td> <i class="fa fa-instagram" aria-hidden="true" style="font-size: xx-large; color: #0099FF;margin-right: 15px;"></i> </td>
                      <td width="44" style="padding-left: 15px;">Instagram</td>
                      <td width="95">
                        <input type="checkbox" unchecked data-toggle="toggle"> </td>
                    </tr>
                    <tr>
                      <td> <i class="fa fa-square" aria-hidden="true" style="font-size: large; color: #66FF33"></i></td>
                      <td width="44" style="padding-left: 15px;">360 Platform</td>
                      <td width="95">
                        <input type="checkbox" unchecked data-toggle="toggle"> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6 " style="margin-top: -20px">
              <div class="col-sm-5"> </div>
              <h3>Create Milestones</h3>
              <p>Each milestone you achieve should resemble a step towards achieving your goal ! </p>
              <p style="font-size: large">Interval 1</p>
              <div class="row">
                <div class="col-md-8">
                  <div class="wrapper3">
                    <input type="text" class="form-control" placeholder="List an activity">
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <table style="margin-top: 10px">
                <tbody>
                  <!-- <tr>
                    <td width="295" style="color: #0099FF;font-size: medium">Add Activity </td>
                    <td width="19"> <i class="fa fa-plus-circle" aria-hidden="true" style="color: #0099FF; font-size: large"></i> </td>
                  </tr> -->
                  <tr style="margin-top: 20px">
                    <td width="295" style="color: #0099FF;font-size: x-large">Add Activity </td>
                    <td width="19"> <i class="fa fa-plus-circle" aria-hidden="true" style="color: #0099FF; font-size: x-large"></i> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-3" style="text-align: right"></div>
              <div class="col-md-6 " style="text-align: center; margin-top: 10px;">
                <button class="btn btn-danger btn-lg" type="button" style="margin: 5px; width: 150px" data-dismiss="modal">Exit</button>
                <button class="btn btn-success btn-lg" type="button" style="margin: 5px; width: 150px" data-dismiss="modal">Create</button>
              </div>
              <div class="col-md-3" style="text-align: right"></div>
            </div>
            <div class="row">
              <div class="col-md-4" style="text-align: right"></div>
              <div class="col-md-8 "> </div>
            </div>
            <div style="clear: both"></div>
            <div class="row">
              <div class="col-md-3" style="text-align: right"></div>
              <div class="col-md-6 " style="text-align: center; margin-top: 10px;"> </div>
              <div class="col-md-3" style="text-align: right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
