  <app-giving-navbar></app-giving-navbar>
<div id="wrapper" style="margin-top:40px">
  <div id="main-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
         <a routerLink="/giving"> 
        <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size: 50px; padding-right: 5px;padding-left: 12px;padding-top: 5px;border: 0; color: #000000;"></i>
</span>
        </a>
        </div>
        <div class="col-md-10 text-center">
          <p class="most">Most</p>
          <p class="social">Involved</p>
          <p class="sharing">Volunteering</p>
        </div>
        <div class="col-md-1"> 
      </div>
      <div class="row">
        
        <div class="col-md-12 md9thumbs text-center">
          <ul class="mostshared" style="margin-left:-25px">
            <li style="margin-right:27px; "> 
			<img src="/assets/img/giving/katherine.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Katherine</p>
              <p class="thumb-shared-no">54</p>
            </li>
            <li style="margin-right: 27px; margin-left: 27px"> 
			<img src="/assets/img/giving/bob-singh.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Bob</p>
              <p class="thumb-shared-no">47</p>
            </li>
            <li style="margin-right: 27px; margin-left: 27px"> 
			<img src="/assets/img/giving/benny.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Benny</p>
              <p class="thumb-shared-no">44</p>
            </li>
            <li style="margin-right: 27px; margin-left: 27px"> 
			<img src="/assets/img/sylvia.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Sylvia </p>
              <p class="thumb-shared-no">35</p>
            </li>
            <li style="margin-right:27px; margin-left: 27px"> 
			<img src="/assets/img/giving/bob-bald-ross.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Bob</p>
              <p class="thumb-shared-no">30</p>
            </li>
          </ul>
        </div>
       
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-5">
              <div class="white-border-content" style="color: #FFFFFF; background-color: #ce058a"> <span class="span4big">56</span> <br> <span class="span2big">Your Rank number</span> </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="white-border-content" style="color: #FFFFFF; background-color: #ce058a"> <span class="span4big">78</span> <br> <span class="span2big">Your Volunteer Hours </span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 spanned" style="margin-top: 30px">
          <ol class="colspan">
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px; margin-left: -9px;"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
    
      <div class="col-md-12" style="text-align: center">
        <div class="dotstyle dotstyle-fillup">
          <ul class="pagination">
            <li><a class="active">Home</a></li>
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
            
          </ul>
        </div>
      </div>
     
    </div>
  </div>
</div>
