<div class="col-md-12 comment-box">
	<div class="col-xs-2 mt20">
					<img alt="" class="img-responsive" src="https://s3.amazonaws.com/imminent/oahu/{{ userId }}/picture.png"></div>
				<div class="col-xs-10 mt20" style="padding-left: 10px;">
					<textarea   #commenttext cols="47" rows="3" class="commented" placeholder="Start typing here." ></textarea>
					<img alt="" class="img-responsive" src="/assets/img/shape.png" style="margin: -54px -1px 1px -8px;">
					<img alt="" class="img-responsive" src="/assets/img/comment-divider.png" style="margin-bottom: 25px">
				</div>
<br>
<input type="file" #commentfile>
<button type="button" class="btn btn-primary postcomment" (click)="feedPostComment()">Post Comment</button>


  <!--<textarea #commenttext rows="2" class="commenttextarea" placeholder="Enter text here"></textarea> -->
</div>
