<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <a routerLink="/habitat"> 
        <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size:46px; padding-right: 10px; padding-left: 10px;border: 0;"></i>
</span>
        </a>      </div>
      <div class="col-md-11 text-center">
        <h1>Hows it Going, Mary?</h1>
        <app-toast [message]="toast.message"></app-toast>
</div>
    </div>
    <div class="row" style="margin-top: 60px">
      <div class="col-md-2"></div>
      <div class="col-md-4 box-shape">
        <div class="row">
          <div class="col-md-12 text-center text-capitalize title-text">How are we Doing?</div>
          <div class="col-md-12 text-center std-text">This is a Simple Hero Unit standard and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</div>
          <div class="col-md-12 text-center"> <button type="button" (click)="earnSurveyPts()" class="btn button1" style="margin-bottom: 30px">WRITTEN SURVEY</button> </div>
        </div>
      </div>
      <div class="col-md-4 box-shape">
        <div class="row">
          <div class="col-md-12  text-center title-text">What's on your mind?</div>
          <div class="col-md-12 text-center center-block std-text">This is a Simple Hero Unit standard and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </div>
          <div class="col-md-12 text-center"> <button type="button" (click)="earnSurveyPts()" class="btn button1" style="margin-bottom: 30px">VOICE ACTIVATED SURVEYS</button> </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 box-shape">
        <div class="row">
          <div class="col-md-12 text-center title-text">How are you Feeling?</div>
          <div class="col-md-12 text-center std-text">This is a Simple Hero Unit standard and typesetting industry. Lorem Ipsum has been the industry's standard<br> dummy text ever since</div>
          <div class="col-md-12 text-center"> <button type="button" (click)="earnSurveyPts()" class="btn button1" style="margin-bottom: 30px">BIOFEEDBACK SURVEYS</button> </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
