<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <app-toast [message]="toast.message"></app-toast>
          <div class="col-md-12">
            <div class="list-group icon-group-blue leftsidebar shadows"> <a data-toggle="modal" data-target="#myMessengerModal" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555; "><i class="fa fa-comments" aria-hidden="true"></i> Messenger</a>
              <!-- <a data-toggle="modal" data-target="#modalCalender" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a> --><a routerLink="/giving-get-involved" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555"><i class="fa fa-gratipay" aria-hidden="true" style="color:#189BF2"></i> Get Involved</a>
              <a routerLink="/giving-opportunity" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Opportunity</a> <a routerLink="/habitat-hows-it-going"
                  class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555"><i class="fa fa-users" aria-hidden="true"></i> How's It Going?</a>
              <a data-toggle="modal" data-target="#onboarding-modal" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555"> <img src="/assets/img/help1.png" alt="" style="width: 41px; height: 41px;"><span style="padding-left:10px;">IT Help Care</span></a>
              <a routerLink="/help" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555;background-image:none!important;	">
                <p style="display: inline-block"> <span class="fa-stack fa-1x img-circle circle-dir">
  <i class="fa fa-question" style="font-size:26px; padding-left: 2px;padding-bottom:5px"></i>
</span></p><span style="padding-left:10px;">Help</span></a>
            </div>
            <div class="list-group shadows" style="border-style: none; margin-top: 30px;"> <span class="list-group-item">
					<div class="col-md-6">
					<img src="/assets/img/gertie_360.png" class="img-circle img-responsive center-block" style=" padding-top:10px;">

					</div>
					<div class="col-md-6">
					<img src="/assets/img/social/goldtrophy.png" class="img-circle  center-block" style="padding-top: 5px;height: 83px;
    min-width: 135px; padding-left: 0px;margin-left: -32px;">

					</div>
					<div class="clearfix"></div>

						<a class="btn  center-block goldbtn" routerLink="/hall-of-gertie">Hall of Gerties</a>
						<div class="text-center">
						<a data-toggle="modal" data-target="#myModalsend" class="btn btn-purple gertiebtn" >Send-a-Gertie!</a>
						</div>

						</span> </div>
          </div>
        </div>
        <div class="col-md-12 box-shadow-most" style="margin-top:10px">
          <div class="row">
            <div class="col-md-12 text-center" style="margin-top: -10px">
              <p class="most">Most</p>
              <p class="social">Engaged</p>
              <p class="sharing">Total Accrued Points</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 ">
              <ul class="mostshared center-block" style="margin-top: 10px;padding-left:5px">
                <li> <img src="/assets/img/katherine.png" class="img img-circle imgthumbsize" alt="" /> <br/>
                  <p class="thumb-text-center" >Katherine</p>
                  <p class="thumb-shared-no">754</p>
                </li>
                <li style="padding-right:-15px"> <img src="/assets/img/larry.png" class="img img-circle imgthumbsize" alt="" /><br/>
                  <p class="thumb-text-center">Pete</p>
                  <p class="thumb-shared-no">144</p>
                </li>
                <li> <img src="/assets/img/sylvia.png" class="img img-circle imgthumbsize" alt=""><br/>
                  <p class="thumb-text-center" >Sylvia</p>
                  <p class="thumb-shared-no">144</p>
                </li>
                <li style="padding-left: 36px;"> <img src="/assets/img/4.png" class="img img-circle imgthumbsize" alt=""><br/>
                  <p class="thumb-text-center">Michelle </p>
                  <p class="thumb-shared-no">121</p>
                </li>
                <li> <img src="/assets/img/3.png" class="img img-circle imgthumbsize" alt="" /><br/>
                  <p class="thumb-text-center">Mike</p>
                  <p class="thumb-shared-no">130</p>
                </li>
                <li routerLink="/feed-leaderboard" style="padding-top: 0px"> <img src="/assets/img/social/dots.png" class="img pointer" alt="" style="margin-top: -100px" /><br/> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well" style="margin-top: -0px">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="font-blue" style="text-align: center; font-family: 'Gotham Book'; font-size: 38px; color: #189bf2; padding-top: 15px; margin-top: 0px; padding-bottom: 15px;">Hi, {{session.username}}</h2> </div>
          </div>
          <div class="col-xs-12 text-center">
            <button type="btn center-block" data-toggle="modal" data-target="#myuserquickModal" class="btn addcontentbtn"> ADD CONTENT</button> </div>
        </div>
        <app-feed-display></app-feed-display>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 shadows" style="background-color: #FFFFFF;">
            <div class="datepicker center-block"></div>
          </div>
        </div> <br>
        <div class="row">
          <div class="col-md-12 shadows" style="background-color: #FFFFFF;">
            <div class="list-group rightsidebar" style="border-style: none; padding-right: 2px; padding-left:2px">
              <h2 style="margin-right: 10px; margin-left:10px; border-bottom-style: solid; border-width:2px; border-color: #e2e2e2; font-family: 'Gotham Light'; font-size: 20px; color: #555555; text-align: center; padding-top: 20px; padding-bottom: 10px; font-weight: bold;">Trending opportunities</h2>
              <a *ngFor="let trend of trending" class="list-group-item" routerLink="{{ '/giving/' + trend._id }}">
                 <img src="/assets/img/trending.png" alt="" height="21" width="35" />
                 <span style="font-family: 'Gotham Light';color: #555555; font-weight: bold;">
                {{ trend.name }}
              </span>
            </a>
            </div>
            <div class="list-group rightsidebar" style="padding-right: 2px; padding-left:2px">
              <h2 style="margin-right: 10px; margin-left:10px; border-bottom-style: solid; border-width:2px; border-color: #e2e2e2; font-family: 'Gotham Light'; font-size: 16px; color: #555555; text-align: center; padding-top: 20px; padding-bottom: 10px; font-weight: bold;">Upcoming Health Events (3)</h2>
              <a class="list-group-item " data-toggle="modal" data-target="#myModalhealthevents"> <em class="fa fa-calendar" aria-hidden="true" style="color: #8f0053; font-size: 20px"></em> <span style="font-family: 'Gotham Light';color: #555555; font-weight: bold; padding-left: 10px;">Volunteer - March of Dimes</span> </a>
              <a class="list-group-item" data-toggle="modal" data-target="#myModalupcoming"><em class="fa fa-calendar" aria-hidden="true" style="color: #8f0053; font-size: 20px;"></em><span style="font-family: 'Gotham Light';color: #555555; font-weight: bold;padding-left: 10px;"> St. Jude's Cancer Walk</span> </a>              <a class="list-group-item"><em class="fa fa-calendar" aria-hidden="true" style="color: #8f0053; font-size: 20px;"></em><span style="font-family: 'Gotham Light';color: #555555; font-weight: bold;padding-left: 10px;">Hiking Old Rag Mountain</span></a> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 shadows" style="background-color: #FFFFFF; margin-top: 30px; padding-bottom: 30px;"> <img class="center-block" src="/assets/img/invite.png" alt="" height="191" width="194">
            <p style="color: #555555; font-family:'Gotham Light';font-size: 16px;text-align: center;">Don't See your Coworker ?</p> <button class="btn center-block" type="button" style=" border: 2px solid #189BF2!important; background-color: #FFFFFF; text-align: center; color: #189BF2; font-family: 'Gotham Light'; font-size: 14px;border-radius: 0 !important; padding-right: 20px; padding-left: 20px;">INVITE</button>            </div>
        </div>
        <div class="row">
          <div class="col-md-12 shadows" style="background-color: #FFFFFF; margin-top: 30px; padding-bottom: 30px;"> <img class="center-block" src="/assets/img/conference.png" alt="" height="228" width="164" />
            <p style="color: #555555; font-family:'Gotham Light';font-size: 16px;text-align: center;">Need a conference room ?</p> <button class="btn center-block" type="button" style="border-radius: 0 !important; border: 2px solid  #555555!important; background-color: #FFFFFF; text-align: center; color: #555555; font-family: 'Gotham Light'; font-size: 14px; width: 80%;">COMING SOON</button>            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modals -->
<app-calender></app-calender>
<app-health-event></app-health-event>
<app-opportunity></app-opportunity>
<app-upcoming-events></app-upcoming-events>
<app-send-a-gertie></app-send-a-gertie>
<app-onboarding></app-onboarding>
<app-share-in></app-share-in>
<app-share-out></app-share-out>
<app-post></app-post>
<!--/ modals -->
