
<div  id="earnmorepoints" aria-labelledby="myModalLabel" class="modal fade" role="dialog" tabindex="-1">
	<div class="modal-dialog " role="document" style="width: 1160px">
		<div class="modal-content">
			<div class="modal-header" style="border: none">
				<button aria-hidden="true" class="close" data-dismiss="modal" style="color: #000000; font-size: 3em; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -5px; font-weight: bold;" type="button">&times;
				</button></div>
			<div class="modal-body">
				<h1 class="head">Looking to Earn More Points ?</h1>
				<h4 class="head1">Here are some opportunities for you to quickly 
				earn those points</h4>
				<div class="row mt30 text-center" style="padding-left: 5px">
					<div class="col-md-2">
						<img alt="" class="global-box-shadow" src="/assets/img/habitat/REWARDS/dd.png" />
						<p class="task">volunteering</p>
						<p class="points">40 points</p>
					</div>
					<div class="col-md-2">
						<img class="global-box-shadow" src="/assets/img/habitat/REWARDS/survey.png" />
						<p class="task">surveys</p>
						<p class="points">20 points</p>
					</div>
					<div class="col-md-2">
						<img alt="" class="global-box-shadow" src="/assets/img/habitat/REWARDS/activities.png" />
						<p class="task">activities</p>
						<p class="points">10 points</p>
					</div>
					<div class="col-md-2">
						<img alt="" class="global-box-shadow" src="/assets/img/habitat/REWARDS/forest.png" />
						<p class="task">donations</p>
						<p class="points">5 points</p>
					</div>
					<div class="col-md-2">
						<img alt="" class="global-box-shadow" src="/assets/img/habitat/REWARDS/com.png" />
						<p class="task">get social</p>
						<p class="points">view key</p>
					</div>
					
					<div class="col-md-12" style="margin-top: -30px;">
					<h4 class="text-center font-grey">Or earn a few easy quick points 
					by sharing your content!</h4>
					</div>
					
					<div class="row" style="margin-top: -30px">
						<div class="col-md-5 text-center">
						</div>
						<div class="col-md-2">
							<button class="btn  btn-block modal-exit-btn text-center exit-btn" data-dismiss="modal" type="button">
							EXIT</button></div>
						<div class="col-md-5">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
