.head {
	font-family: 'Gotham Thin';
	font-size: 55.5px;
	color: #0cca61;
	text-align: center;
	font-weight: 600;
}
.head1 {
	font-family: 'Gotham Thin';
	font-size: 27.78px;
	color: #959595;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
}
.col-md-2 {
	width: 17.666667%;
	padding: 8px;
	margin-right: 25px;
}
.global-box-shadow {
	width: 218px;
	height: 218px;
	-webkit-filter: brightness(65%); /* Safari */;
	filter: brightness(65%);
	box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.2);
}
.task {
	left: 10px;
	position: relative;
	top: -130px;
	color: #FFFFFF;
	font-size: 23px;
	text-transform: uppercase;
	font-family: "Gotham Book";
}
.points {
	margin-top: 22px;
	left: 10px;
	position: relative;
	top: -100px;
	color: #FFFFFF;
	font-size: 19px;
	text-transform: uppercase;
	font-family: "gotham Bold";
}
.font-grey{
	top: 0px;margin-bottom: 45px; position: relative;font-family:'Gotham Book';
	font-size:27px;
	color:#0cca61;
	text-align:center;margin-top:30px
	}
	.exit-btn{
border-radius: 30px; background-color: #7b0046; font-family:'Gotham Book';font-size:27px;color:#fff;
            margin-bottom: 20px; margin-top: 20px;
}