<div id="wrapper">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-1">
        <a routerLink="/wellbeing">
          <span class="fa-stack fa-3x  circle-dir"> <i class="fa fa-angle-left"></i> </span>
        </a>
      </div>
      <div class="col-md-11">
        <h1>Your Benefits | Summary</h1>
      </div>
    </div>
    <section class="progres-percent">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <h4>MONTH</h4>
          <div class="progress">
            <div class="progress-bar skew" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                aria-valuemax="100">
              <p class="text-nonem"> 10/50 points </p>
          </div>
          <p>20%</p>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1">
        <h4>YEAR</h4>
        <div class="progress">
          <div class="progress-bar skew1" role="progressbar" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100">
            <p class="text-nonem"> 210/5000 points </p>
        </div>
        <p>40%</p>
      </div>
  </div>
</div>
<button routerLink="/wellbeing-incentfit-pts-gym-reimb" type="button" class="btn btn-default pull-right">BACK</button>
</section>
<div style="clear: both"></div>
<section class="log">
  <div class="row">
    <div class="col-md-12">
      <h2>Log Activity</h2>
    </div>
    <div class="col-md-11 col-md-offset-1 mt30 ml50 mb40">
      <div class="col-md-4">
        <h3>YESTERDAY</h3>
        <p>1/11/17</p>
      </div>
      <div class="col-md-4">
        <h3 class="active">TODAY</h3>
        <p class="active">1/12/17</p>
      </div>
      <div class="col-md-4">
        <h3>TOMORROW </h3>
        <p>1/13/17</p>
      </div>
    </div>
    <div class="col-md12">
      <div class="col-md-4">
        <div class="col-xs-5 box">
          <img class="img-responsive mt42" src="/assets/img/wellbeing/physical/bike.png"
              alt="Bike"></div>
        <div class="col-xs-5">
          <h4>Biking</h4>
          <p>3
            <span class="para">miles</span>
          </p>
          <button type="button" class="btn btn-primary alert-success">SELECT</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-xs-5 box">
          <img class="img-responsive ml26" src="/assets/img/wellbeing/physical/walk.png"
              alt="Bike"></div>
        <div class="col-xs-5">
          <h4>Walking</h4>
          <p>9
            <span class="para">miles</span>
          </p>
          <button type="button" class="btn btn-primary  alert-success">SELECT</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-xs-5 box">
          <img class="img-responsive ml26" src="/assets/img/wellbeing/physical/running.png"
              alt="Bike"></div>
        <div class="col-xs-5">
          <h4>Running</h4>
          <p>5
            <span class="para">miles</span>
          </p>
          <button type="button" class="btn btn-primary  alert-success">SELECT</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 bg"></div>
    <div class="col-md-11 col-md-offset-1 mt30 ml50 mb40">
      <div class="col-md-6">
        <div class="col-xs-4 box">
          <img class="img-responsive mt42" src="/assets/img/wellbeing/physical/hand.png"
              alt="Bike"></div>
        <div class="col-xs-7">
          <h4>Blood Test</h4>
          <p>50
            <span class="para">pts/year </span>
          </p>
          <button type="button" class="btn btn-primary  alert-success">COMPLETE</button> <br><br>
          <button type="button" class="btn btn-primary alert">DONE!</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-xs-4 box">
          <img class="img-responsive" src="/assets/img/wellbeing/physical/google-map.png"
              alt="Bike" style="margin-top: 22px;
    margin-left: 24px;"></div>
        <div class="col-xs-7">
          <h4>Gym Visit</h4>
          <p>5
            <span class="para">pts/visit</span>
          </p>
          <button type="button" class="btn btn-primary  alert-success">COMPLETE</button> <br/><br>
          <button type="button" class="btn btn-primary alert">DONE!</button>
        </div>
      </div>
    </div>
  </div>
</section>
