<section class="admin-mentorship">
<div id="wrapper">
 <div class="container" >
   <div class="row mt30">
   <div class="col-md-8">
  <h2>Requests to Become A Mentor</h2>
   </div>
   <div class="col-md-4" style="position: relative;top: 50px;right: -30px;">
      <form #form="ngForm" (ngSubmit)="search(form.value)">
              <div class="form-group input-group  "  style="background:transparent;border: 0;"> 
              <span class="input-group-btn">
                    <button class="btn " type="submit"  style="background:transparent;border: 0;top:-8px;">
                      <i class="fa fa-search" style="color: #0cca61!important;font-size: 29px!important;"></i>
                    </button>
                </span>

 <input type="text" class="form-control forinput" placeholder="Search for course here." name="search" ngModel required>
               </div>
            </form>
  

   
   
   </div>
   <div class="clearfix" ></div>
   <div class="row mt30" >
 
<div class="col-md-12 global-box-shadow pb30" >  
 <table class=" table-responsive ">
   <tr>
   <th>MENTORS</th>
<th>ACTION</th>

   </tr>
    <tr class="divider">
 <td colspan="4"></td>
 </tr>
   <tbody>
   
   <tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
John Boo </td>
   
 <td width="55%">
  <button type="button" class="btn btnset ">View</button>

 <button type="button" class="btn btnset btnsetmargin">Approve</button>
 <button type="button" class="btn btnset btnsetmargin">Remove</button>
 
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin" style="display: inline-block">
Michael Robinson </td>
   
 <td>
   <button type="button" class="btn btnset">View</button>

 <button type="button" class="btn btnset  btnsetmargin">Approve</button>
 <button type="button" class="btn btnset  btnsetmargin">Remove</button>
 
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
Alexender Robinson </td>
  
 <td>
  <button type="button" class="btn btnset">View</button>

 <button type="button" class="btn btnset  btnsetmargin">Approve</button>
 <button type="button" class="btn btnset  btnsetmargin">Remove</button>
 

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
Jenifer Pinkster </td>
 <td>
   <button type="button" class="btn btnset">View</button>

 <button type="button" class="btn btnset  btnsetmargin">Approve</button>
 <button type="button" class="btn btnset  btnsetmargin">Remove</button>
 

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
Bob Robinson </td>
 <td>
  <button type="button" class="btn btnset">View</button>

 <button type="button" class="btn btnset  btnsetmargin">Approve</button>
 <button type="button" class="btn btnset  btnsetmargin">Remove</button>
 
 

 </td>

   </tr>

   
   </tbody>
   
   </table>
   
   </div>
 

   </div>
   <div class="row mt30">
      <div class="col-md-12">
      <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a class="arrows"aria-label="Previous" >
        <span aria-hidden="true"> &lt;  </span>
      </a>
    </li>
    <li >
	<a  class="page-no">1</a></li>
    <li>
	<a class="page-no">2</a></li>
    <li><a class="page-no">3</a></li>
    <li><a class="page-no">4</a></li>
    <li><a class="page-no">5</a></li>
    <li>
      <a class="arrows"  aria-label="Next">
        <span aria-hidden="true">&gt; </span>
      </a>
    </li>
  </ul>
</nav>      </div>

   </div>
   </div>
   
   
   </div>  
   
   
   
   <div class="container" >
   <div class="row mt30">
   <div class="col-md-8">
   <a  class="btn global-box-shadow addmentorbtn" data-toggle="modal" data-target="#myModalmentorshipadd" >
          <span class="glyphicon glyphicon-plus" ></span> ADD MENTOR 
        </a>
   </div>
   <div class="col-md-4" style="position: relative;top: 50px;right: -30px;">
      <form #form="ngForm" (ngSubmit)="search(form.value)">
              <div class="form-group input-group "  style="background:transparent;border: 0;"> 
              <span class="input-group-btn">
                    <button class="btn " type="submit"  style="background:transparent;border: 0;top:-8px;">
                      <i class="fa fa-search" style="color: #0cca61!important;font-size: 29px!important;"></i>
                    </button>
                </span>

 <input type="text" class="form-control forinput" placeholder="Search for course here." name="search" ngModel required>
               </div>
            </form>
  

   
   
   </div>
   <div class="clearfix" ></div>
   <div class="row mt30" >
 
<div class="col-md-12 global-box-shadow  pb30" >  
 <table class=" table-responsive ">
   <tr>
   <th>MENTORS</th>
   <th>NUMBER OF MENTEES</th>
<th>ACTION</th>

   </tr>
    <tr class="divider">
 <td colspan="4"></td>
 </tr>
   <tbody>
   
   <tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
John Boo </td>
    <td>6</td>
 <td width="20%">
 
 <button type="button" class="btn btnset">Remove</button>
 
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin" style="display: inline-block">
Michael Robinson </td>
    <td>1</td>
 <td>
  <button type="button" class="btn btnset">Remove</button>
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
Alexender Robinson </td>
    <td>2</td>
 <td>
 <button type="button" class="btn btnset">Remove</button>
 

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
Jenifer Pinkster </td>
    <td>5</td>
 <td><button type="button" class="btn btnset">Remove</button>

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle imgmargin">
Bob Robinson </td>
    <td>3</td>
 <td>
 <button type="button" class="btn btnset">Remove</button>
 

 </td>

   </tr>

   
   </tbody>
   
   </table>
   
   </div>
 

   </div>
   <div class="row mt30">
  
      <div class="col-md-12">
      <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a class="arrows"  aria-label="Previous" >
        <span aria-hidden="true"> &lt;  </span>
      </a>
    </li>
    <li >
	<a  class="page-no">1</a></li>
    <li>
	<a class="page-no">2</a></li>
    <li><a class="page-no">3</a></li>
    <li><a class="page-no">4</a></li>
    <li><a class="page-no">5</a></li>
    <li>
      <a class="arrows"aria-label="Next">
        <span aria-hidden="true">&gt; </span>
      </a>
    </li>
  </ul>
</nav>      </div>

   </div>
   </div>
   
   
   </div>
   </div>
</section>

<app-admin-tools-habitat-mentorship-add></app-admin-tools-habitat-mentorship-add>