<div id="wrapper">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-1" style="left: 0px; top: 0px">
        <a routerLink="/wellbeing-incentfit-fitness-challenges">
          <span class="fa-stack fa-3x  circle-dir"> <i class="fa fa-angle-left"></i> </span>
        </a>
      </div>
      <div class="col-md-11">
        <h1>Drop Soda, Drink Water</h1>
      </div>
    </div>
    <div class="gymdetails">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <p style="text-align: right;"> <img src="/assets/img/wellbeing/physical/arrowgoal.png" alt="" height="135"
                  width="135" /></p>
          </div>
          <div class="col-md-7" style="border-right-style: solid; border-right-width: 1px; border-right-color: #189bf2;height: 140px;">
            <h2>Challenge Goal</h2>
            <p style="font-family: 'Gotham Light'; font-size: 28px; color: #189bf2; font-weight: bold">Complete to earn the most points in 30 days! </p>
          </div>
          <div class="col-md-3" style="height: 140px">
            <div class="col-md-4">
              <span style="font-family:'Gotham Thin'; color: #189bf2; font-size: 163px; display: inline-block; vertical-align: top;position: relative; top: -48px;">1</span>
            </div>
            <div class="col-md-8">
              <p style="font-family: 'Gotham Light'; font-size: 27px; color: #189bf2; font-weight: bold;display: inline-block;">point/cup of
                <span style="font-family: 'Gotham Book'; font-weight: bold">water you drink</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gymdetails rewards">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <p> <img src="/assets/img/wellbeing/physical/reward.png" alt="" height="135"
                  width="135" /></p>
          </div>
          <div class="col-md-10">
            <h2>Reward</h2>
            <p> A water bottle for all participants who
              <span>average atleast 5 cups a day</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>
    <div class="rank">
      <div class="row" style="margin-top:30px">
        <div class="col-md-5" style="box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.13);padding-top:30px;">
          <div class="col-md-4"> <img src="/assets/img/wellbeing/physical/star.png" alt="" height="136"
                width="142" /> </div>
          <div class="col-md-8">
            <p class="ranktitle">Your Rank</p>
            <p class="rankno">23</p>
          </div>
        </div>
        <div class="col-md-6 pull-right" style="box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.13);padding-top:30px;">
          <div class="col-md-12">
            <div class="col-md-4"> <img src="/assets/img/wellbeing/physical/time.png" alt="" height="136" width="136" /> </div>
            <div class="col-md-8">
              <p class="ranktitle">Days Remaining</p>
              <p class="rankno">28</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---row table--->
    <div class="gymdetails">
      <div class="row" style="">
        <div class="col-md-12">
          <table class="table table-responsive table-condensed">
            <thead>
              <tr>
                <th width="18%">Rank</th>
                <th width="29%">Name</th>
                <th width="29%">Points</th>
                <th width="55%">Daily Average</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Person Name </td>
                <td>19</td>
                <td>6.5</td>
              </tr>
              <tr> </tr>
              <tr>
                <td>2</td>
                <td>Person Name </td>
                <td>15</td>
                <td>6.3</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Person Name </td>
                <td>10</td>
                <td>6.0</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Person Name </td>
                <td>10</td>
                <td>5.9</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Person Name </td>
                <td>8</td>
                <td>5.1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button class="btn view-btn" type="button">VIEW MORE</button>
    </div>
  </div>
</div>
