<div id="wrapper">
 <div class="container" >
   <div class="row mt30">
   <div class="col-md-12 text-center ">
   <button routerLink="/admin-tools-habitat-rewards-mgt-create" type="button" class="btn btn-admin " >CREATE</button>
      <button routerLink="/admin-tools-habitat-rewards-mgt-view" type="button" class="btn btn-admin active" >VIEW </button>
   <button routerLink="/admin-tools-habitat-rewards-mgt-approve" type="button" class="btn btn-admin" >APPROVE</button>

   </div>
   <div class="clearfix" ></div>
   <div class="row mt30" >
 
<div class="col-md-12 global-box-shadow  pb30" >  
 <table class=" table-responsive ">
   <tr>
   <th>REWARD NAME</th>
   <th>POINTS REQUIRED</th>
<th>ACTION</th>

   </tr>
    <tr class="divider">
 <td colspan="4"></td>
 </tr>
   <tbody>
   
   <tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
Paid Hour Lunch Break </td>
    <td>125</td>
 <td width="30%">
 
 <button type="button" class="btn btnset">Edit</button>
 <button type="button" class="btn btnset">Delete</button>
 
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle" style="display: inline-block">
Extra Hour for Lunch</td>
    <td>200</td>
 <td>
 <button type="button" class="btn btnset">Edit</button>
 <button type="button" class="btn btnset">Delete</button>
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
Lunch with Director</td>
    <td>250</td>
 <td>
 <button type="button" class="btn btnset">Edit</button>
 <button type="button" class="btn btnset">Delete</button>
 

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
Half Day Off</td>
    <td>450</td>
 <td> <button type="button" class="btn btnset">Edit</button>
 <button type="button" class="btn btnset">Delete</button>
 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
1-Day Off </td>
    <td>500</td>
 <td>
 <button type="button" class="btn btnset">Edit</button>
 <button type="button" class="btn btnset">Delete</button>
 

 </td>

   </tr>

   
   </tbody>
   
   </table>
   
   </div>
 

   </div>
   <div class="row mt30">
  
      <div class="col-md-12">
      <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a class="arrows" routerlink="" aria-label="Previous" >
        <span aria-hidden="true"> &lt;  </span>
      </a>
    </li>
    <li >
	<a  class="page-no" routerlink="" >1</a></li>
    <li>
	<a class="page-no" routerlink="" >2</a></li>
    <li><a class="page-no" routerlink="" >3</a></li>
    <li><a class="page-no" routerlink=""  >4</a></li>
    <li><a class="page-no" routerlink="" >5</a></li>
    <li>
      <a class="arrows" routerlink="" aria-label="Next">
        <span aria-hidden="true">&gt; </span>
      </a>
    </li>
  </ul>
</nav>      </div>

   </div>
   </div>
   
   
   </div>  
   </div>
