<div id="wrapper">
  <div id="main-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a routerLink="/social"> <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size: 50px; padding-right: 5px;padding-left: 12px;padding-top: 5px;border: 0; color: #000000;"></i>
</span>
</a>
        </div>
        <div class="col-md-10 text-center">
          <p class="most">Most</p>
          <p class="social"> Social</p>
          <p class="sharing">Sharing</p>
        </div>
        <div class="col-md-1"> <img src="/assets/img/trophy.png" class="img-circle" alt="" height="56" width="60" style="padding: 5px; border-radius: 50%; box-shadow: -2px 0px 39px 2px rgba(0,0,0,0.35);" /></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 md9thumbs">
          <ul class="mostshared" style="margin-left:0px">
            <li style="margin-right:27px; "> <img src="/assets/img/larry.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Larry</p>
              <p class="thumb-shared-no">154</p>
            </li>
            <li style="margin-right: 27px; margin-left: 27px"> <img src="/assets/img/pete.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Pete</p>
              <p class="thumb-shared-no">144</p>
            </li>
            <li style="margin-right: 27px; margin-left: 27px"> <img src="/assets/img/sylvia.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Sylvia</p>
              <p class="thumb-shared-no">144</p>
            </li>
            <li style="margin-right: 27px; margin-left: 27px"> <img src="/assets/img/4.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Michelle </p>
              <p class="thumb-shared-no">121</p>
            </li>
            <li style="margin-right:27px; margin-left: 27px"> <img src="/assets/img/3.png" class="img img-circle imgthumbsize" alt="" /> <br/>
              <p class="thumb-text-center">Mike</p>
              <p class="thumb-shared-no">130</p>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-5">
              <div class="white-border-content" style="color: #FFFFFF; background-color: #189bf3"> <span class="span4big">23</span> <br> <span class="span2big">Your Rank number</span> </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="white-border-content" style="color: #FFFFFF; background-color: #189bf3"> <span class="span4big">102</span> <br> <span class="span2big">Your Shares </span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 spanned" style="margin-top: 30px">
          <ol class="colspan">
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px; margin-left: -9px;"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Mike Steve<br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Larry Bird <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Pete Jones <br/>
<span class="colspan-number">146 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Sylvia smith <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
            <li style="margin-bottom: 10px"> <span class="colspan-name">Michelle  <br/>
<span class="colspan-number">121 shares</span></span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
    
      <div class="col-md-12" style="text-align: center">
        <div class="dotstyle dotstyle-fillup">
          <ul class="pagination">
            <li><a href="/social-leaderboard" class="active">Home</a></li>
            <li><a >Link 1</a></li>
            <li><a >Link 2</a></li>
            <li><a >Link 3</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>
