<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <a routerLink="/habitat">
          <span class="fa-stack fa-3x  circle-dir">
            <i class="fa fa-angle-left" style="font-size:46px; padding-right: 10px; padding-left: 10px;border: 0;    color: #0cca61;"></i>
          </span>
        </a>
      </div>
      <div class="col-md-3 fontcolor-global" style="font-size:60px; font-family: 'Gotham Light';color:#0cca61;margin-top:35px">Rewards</div>
      <div class="col-md-4">
        <p class="fontcolor-global border-green">You have a total of
          <span class="fontcolor-global" style="font-size:60px; display: block; font-family: 'Gotham Thin'; font-weight: bold;">{{ points.totalPts? points.totalPts : 0}}</span>
        </p>
      </div>
      <div class="col-md-4 text-right">
        <a style="background:#178031;padding:38px 30px 8px 20px;">
          <i class="fa fa-sign-in" aria-hidden="true" style=" font-size: 55px;color: #FFFFFF; margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 10px;"></i>
          <p style="font-size:20px;font-family:'Gotham Thin';display: inline-block; vertical-align: bottom;color: #fff;
         padding-top: 10px; margin-top: 0px;line-height:1em;margin-left: 10px" data-toggle="modal" data-target="#earnmorepoints">
          Need to Earn
            <br>More points ?</p>
        </a>
      </div>
    </div>
    <div class="row  mb50" style="margin-top: -0px">
      <div class="col-xs-12 col-md-4 col-lg-4  col-sm-4"></div>
      <div class="col-xs-12 col-md-4 col-lg-4  col-sm-4 fontcolor-global  "> </div>
      <div class="col-xs-12 col-md-4 col-lg-4  col-sm-4 text-right ">
        <img src="/assets/img/help.png" alt="" height="42" width="42" id="menu1" data-toggle="dropdown" />
        <div class="dropdown-menu dropdownPanel active" role="menu" aria-labelledby="menu1">
          <h2 class="head">Gamification System</h2>
          <p class="paragraph">Volunteering - 40
            <br> Surveys - 20
            <br> Activities - 10
            <br> Donating - 5</p>
          <p style="color:#0cca61">Sharing Content</p>
          <p class="paragraph1"> Daily you may earn 2 points max for each time you share within the 360 Platform (1 point per share).</p>
          <p class="paragraph1">
          You may earn 2 points each time you share content from the 360 platform, to a social media account. For each additional
            social media account that you share the content to, you will earn an additional 1 point. </p>
        </div>
      </div>
    </div>
    <article class="row" style="background-color: #0cca61;padding-top: 15px;padding-bottom: 0px;margin-bottom: 30px;">
      <div class="col-xs-12 col-md-2 mb30" style="margin-right: 35px">
        <p class="border-color-global font-color-white">VOLUNTEERING
          <span class="font-color-white">{{points.volunteerPts? points.volunteerPts : 0}}</span>
        </p>
      </div>
      <div class="col-xs-12 col-md-2" style="margin-right:35px">
        <p class="border-color-global font-color-white">DONATIONS
          <span class="font-color-white">{{points.donationPts? points.donationPts : 0}}</span>
        </p>
      </div>
      <div class="col-xs-12 col-md-2 pull-left" style="margin-right: 35px">
        <p class="border-color-global font-color-white ">ACTIVITY(WELLBEING)
          <span class="font-color-white">{{points.wellbeingPts? points.wellbeingPts : 0}}</span>
        </p>
      </div>
      <div class="col-xs-12 col-md-2" style="clip: rect(auto, -30px, auto, auto); text-align: right; margin-right:35px;">
        <p class="border-color-global font-color-white">SURVEYS
          <span class="font-color-white">{{points.surveyPts? points.surveyPts : 0}}</span>
        </p>
      </div>
      <div class="col-xs-12 col-md-2" style="clip: rect(auto, -30px, auto, auto); text-align: right; ">
        <p class="font-color-white">SOCIAL
          <span class="font-color-white">{{points.socialPts? points.socialPts : 0}}</span>
        </p>
      </div>
    </article>
    <article class="row" style="text-align: center">
      <div class="col-xs-4 col-md-3" *ngFor="let pager of pagedItems" (click)="redeemReward(pager, points.totalPts)">
        <div class="section" style="margin-bottom: 80px">
          <p class="points-top para1">{{pager.points}}</p>
          <div class="global-box-shadow" style="display: inline-block">
            <figure class="imghvr-fade" style="width: 270px; height: 212px">
              <img class="hov" src="/assets/img/habitat/REWARDS/reward6.jpg" height="212" width="280">
              <figcaption>
                <p style="color: #FFFFFF;">{{pager.description}} </p>
              </figcaption>
            </figure>
            <p class="hov1">{{pager.name}}</p>
            <button class="btn  bor-radius15 font-white pr30 pl30 pull-right para1 btnstyle">{{ pager.points > points.totalPts ? (pager.points - points.totalPts)+' Points Needed' : 'Redeem Reward' }}</button>
          </div>
        </div>
      </div>
    </article>
    <!-- PAGINATION -->
    <section class="row">
      <div class="col-md-9 text-center" style="margin-top: 30px">
        <nav aria-label="Page navigation">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)"><span aria-hidden="true" style="color: #FFFFFF">&#8722;</span></a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a aria-label="Next" (click)="setPage(pager.currentPage + 1)">
                <span aria-hidden="true" style="color: #FFFFFF">&#43;</span>
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <!--- Pagination -->
    
  </div>
</div>
<!-- Earn More Pts Modal -->
<app-reward-earn-more-pts></app-reward-earn-more-pts>
<!--Redeem Confirmation Modal-->
<app-reward-redeem-confirmation></app-reward-redeem-confirmation>
<!--Redeem Confirmation Thanks Modal-->
<app-reward-redeem-thanks></app-reward-redeem-thanks>
