<section>
  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div class="features-boxed">
          <div class="container box-items">
            <div class="row features">
              <a routerLink="/habitat-rewards">
                <div class="col-md-4 col-sm-6 item" style="padding-left:0px">
                  <div class="box"> <img src="/assets/img/habitat/habitat-rewards.png" alt="">
                    <h3 class="name">Rewards </h3>
                    <p class="description" style="display: block">Manage Your rewards and incentives </p>
                  </div>
                </div>
              </a>
              <a routerLink="/habitat-suggestion-box">
                <div class="col-md-4 col-sm-6 item">
                  <div class="box1"> <img src="/assets/img/habitat/habitat-suggestionbox.png" alt="">
                    <h3 class="name1">Suggestion Box</h3>
                    <p class="description1">See something?<br>
Say something. </p>
                  </div>
                </div>
              </a>
              <a routerLink="/habitat-mentorship">
                <div class="col-md-4 col-sm-6 item">
                  <div class="box2"> <img src="/assets/img/habitat/habitat-people.png" alt="">
                    <h3 class="name2">Mentorship</h3>
                    <p class="description2">Advance your skill set with<br>
mentors and mentees </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="row features">
              <!-- <a routerLink="/habitat-diversity"> -->
                            <div class="col-xs-2 mt-110" style="padding:0px">

                  <div class="box3"> <img src="/assets/img/habitat/habitat-diversity-pg.png" alt="" class="img-responsive">
                    <h3 class="name3">Diversity Programs</h3>
                    <p class="description3">Coming Soon!</p>
                  </div></div>
                
                             <div class="col-xs-2 mt-110" style="padding:0px">
                  <div class="box3"> <img src="/assets/img/habitat/employe.png" alt="" class="img-responsive">
                    <h3 class="name3-1">Employee Referral</h3>
                    <p class="description3">Coming Soon!</p>
                  </div></div>
           
                   <!-- </a> -->
              <a routerLink="/habitat-hows-it-going">
                <div class="col-md-4 col-sm-6 item">
                  <div class="box4"> <img src="/assets/img/habitat/hows-it-going.png" alt="">
                    <h3 class="name2">What's On Your Mind?</h3>
                    <p class="description2">Complete surveys using<br>
state-of-the-art tech </p>
                  </div>
                </div>
              </a>
              <a routerLink="/habitat-myhr">
                <div class="col-md-4 col-sm-6 item">
                  <div class="box4"> <img src="/assets/img/habitat/habitat-hr-hub.png" alt="">
                    <h3 class="name2">myHR</h3>
                    <p class="description2"> You are Human.These are<br> your resources</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
