<div id="wrapper">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-1">
        <a routerLink="/wellbeing">
          <span class="fa-stack fa-3x  circle-dir"> <i class="fa fa-angle-left"></i> </span>
        </a>
      </div>
      <div class="col-md-11">
        <h1>Your Benefits | Summary</h1>
      </div>
    </div>
    <section class="progres-percent">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <h4>MONTH</h4>
          <div class="progress">
            <div class="progress-bar skew" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                aria-valuemax="100">
              <p class="text-nonem"> 10/50 points </p>
          </div>
          <p>20%</p>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1">
        <h4>YEAR</h4>
        <div class="progress">
          <div class="progress-bar skew1" role="progressbar" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100">
            <p class="text-nonem"> 210/5000 points </p>
        </div>
        <p>40%</p>
      </div>
  </div>
</div>
</section>
<div class="row" style="margin-top: -107px;">
  <div class="col-md-12">
    <button routerLink="/wellbeing-incentfit-pts-gym-reimb-log-activity" type="button" class="btn gym-btn ">LOG ACTIVITY</button>
    <button type="button" class="btn gym-btn pull-right">DETAILS</button>
  </div>
</div>
<div style="clear: both"></div>
<section class="log">
  <div class="row">
    <div class="col-md-12">
      <h2>Activity key</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="col-xs-4 box">
            <img class="img-responsive mt42" src="/assets/img/wellbeing/physical/bike.png"
                alt="Bike"></div>
          <div class="col-xs-7">
            <h4>Bike Riding</h4>
            <p>6
              <span class="para"> pts/mile</span>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-xs-4 box">
            <img class="img-responsive mt42" src="/assets/img/wellbeing/physical/hand.png"
                alt="Bike"></div>
          <div class="col-xs-7">
            <h4>Blood Test</h4>
            <p>50
              <span class="para">pts/year </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix" style="margin-top:40px">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="col-xs-4 box">
            <img class="img-responsive ml26" src="/assets/img/wellbeing/physical/walk.png"
                alt="Bike"></div>
          <div class="col-xs-7">
            <h4>Walking</h4>
            <p>3
              <span class="para">pts/mile</span>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-xs-4 box">
            <img class="img-responsive" src="/assets/img/wellbeing/physical/google-map.png"
                alt="Bike" style="margin-top: 22px;
    margin-left: 24px;"></div>
          <div class="col-xs-7">
            <h4>Gym Visit</h4>
            <p>5
              <span class="para">pts/visit</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:40px">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="col-xs-4 box">
            <img class="img-responsive ml26" src="/assets/img/wellbeing/physical/running.png"
                alt="Bike"></div>
          <div class="col-xs-7">
            <h4>Running</h4>
            <p>5
              <span class="para">pts/miles</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
