.textgradient{
margin-top: 30px; background: -webkit-linear-gradient(#189bf3, #346488);  -webkit-background-clip: text;-webkit-text-fill-color: transparent;overflow:hidden
}
.spritetweet, .spriteig, .spritefacebook, .sprite360
{
	display: inline-block;
	background: url('social-media-sprite-medium2.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}
.spritetweet {
	background-position: -0px -1px;
	width: 40px;
	height: 46px;
}
.spriteig { background-position:  -40px -1px; width: 44px; height:46px; }
.spritefacebook { background-position:  -85px -0px; width: 40px; height: 46px; }
.sprite360 { background-position:  -130px -0px; width: 40px; height:46px; }
	.skew {
		
background: #0071bd; /* Old browsers */
background: -moz-linear-gradient(left,  #0071bd 0%, #1799ef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #0071bd 0%,#1799ef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #0071bd 0%,#1799ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071bd', endColorstr='#1799ef',GradientType=1 )!important;
 /* IE6-9 */
		color: #FFFFFF;       width: 20%;
       height:60px;
		-webkit-transform: perspective(100px) rotateX(-6deg);
		-webkit-transform-origin: left center;
	}
	.skew1 {
		
background: #0071bd; /* Old browsers */
background: -moz-linear-gradient(left,  #0071bd 0%, #1799ef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #0071bd 0%,#1799ef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #0071bd 0%,#1799ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071bd', endColorstr='#1799ef',GradientType=1 ) !important;
/* IE6-9 */
		color: #FFFFFF;       width: 40%;
       height:60px;
		-webkit-transform: perspective(100px) rotateX(-6deg);
		-webkit-transform-origin: left center;
	}
	.progres-percent{
		background-image: url('/assets/img/wellbeing/physical/shadow.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		padding-bottom: 95px;
	}

.progress{
	background-repeat: repeat-x;width:90%;
	height: 60px;
	background-color: #FFFFFF;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
	border: 1px solid #57AFEA;margin-bottom:15px;
	border-radius:0px;
}


.progress-bar{
	background-repeat: repeat-x;
}
.progress-bar p{
	text-align: left; vertical-align: top;
	 margin-top:18px !important;
	 color:#fff !important;
	 font-size:20px !important;
	 text-align: left !important;
    margin-left: 20px !important;
    font-family: "Gotham Book";

	 }
	.control-label {
		color: #959595;
		font-family: "Gotham Book";
		font-size: 19px;
	}
	.progress p {
		font-family: "Gotham Book";
		font-size: 50px;
		color: #189bf2;
		font-weight: 600;
		margin-top: -8px;
		text-align: right;
		margin-right: 10px;
		text-transform: uppercase;
	}
.boxborder{
	border: 1px solid #57AFEA; border-radius: 5px
	}
	
	.circle-dir{border-style: solid; border-width: 1px;border: 1px solid #209ff2; border-radius: 50%; font-size:3em; padding-right: 5px; padding-left: 5px;}
	.transaction p {
		font-family: "Gotham Thin";
		color: #464646;
		font-size: 41px;
		font-weight: bold;
		line-height: 40px;
	}
	.mt30{
	margin-top:30px
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 2em;
    vertical-align: middle;
    color:#209ff2;
}
.fa-angle-left{
	font-size:66px;
	 padding-left: 16px;
	 border: 0;
}
	div.col-md-11 h1{
		color: #7b0046;
		text-align: center;
		font-family: 'Gotham Book';
		margin-top: 8px;
		font-size: 46px;
		font-weight: 600;
	}
div.col-md-11 h4{
	color:#189bf2; 
	text-align: right;
	font-family: 'Gotham Book'; 
font-size:18px;
font-weight:bold;
margin-right: 109px;
}
	.gym-btn{
		background: #fff;
		border: 2px solid #189bf2;
		border-radius: 0px;
		color: #189bf2;
		font-size: 23px;
		padding: 3px 20px 3px 20px;
		margin-top: 60px;
		font-family: "Gotham Book";-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	}
	div.col-md-12 h2{
		color: #7b0046;
		text-align: center;
		font-family: 'Gotham Light';
		font-size: 50px;
		font-weight: 600;
		margin-bottom: 60px;
	}
.alert-success{
	background:#fff;
	border:2px solid #b7b7b7;
	border-radius:0px;
	color:#189bf2;font-size:18px;
	padding: 6px 33px 4px 33px;
	margin-top:-7px;font-family: 'Gotham Light';
	font-size:24px;
		}

div.col-md-4 p{
	color:#b7b7b7; 
	text-align: center;
	font-family: 'Gotham Book'; 
font-size:25px;

}
div.col-md-4 h3{
	color:#b7b7b7; 
	text-align: center;
	font-family: 'Gotham Book'; 
font-size:33px;

}
.ml50{
	margin-left:50px;
}
	.active{
		color: #189bf2 !important;
		font-weight: bold !important;
		font-family: "gotham Bold";
		font-size: 33px;
	}
.box{
	box-shadow: -1px 5px 5px 2px rgba(199,199,199,1);
    height: 140px;
    margin-left:8px
}
div.col-xs-5 h4{
	color:#189bf2; 
	font-family: 'Gotham Light'; 
font-size: 28.80px;
    font-weight: 600;
    margin-bottom: -5px;
    margin-top: 0px;}
div.col-xs-5 p{
	color:#189bf2; 
	text-align: center;
	font-family: 'Gotham Thin'; 
font-size:43px;
margin-top:3px;  font-weight: 600;
}
.para{
	color:#189bf2; 
	text-align: center;
	font-family: 'Gotham Thin'; 
font-size:33px;

}
.mb40{
	margin-bottom:40px
}
div.col-xs-4{
	height: 184px;

}
	div.col-xs-7 h4{
		    color: #7b0046;
    font-family: 'Gotham Light';
    font-size: 33px;
    margin-bottom: 0;
    margin-top: 19px;
    font-weight: 600;
    text-align: left;	}
div.col-xs-7 p{
	color:#189bf2; 
	font-family: 'Gotham Thin'; 
font-size:43px;
margin-top:0px;
}
.alert{
	background:#00ff23;
	border-radius:20px;
	padding:5px 40px 5px 40px;
	font-size:25px;
	font-family:'Gotham book';
	font-weight:bold;
	border-color:#00ff23
}
.bg{
background-image: url('/assets/img/wellbeing/physical/divider.png'); 
                background-repeat: no-repeat; background-position: center center;padding:80px	
}
.mt42{
	margin-top:42px
}
.ml26{
	margin-top:28px;margin-left:26px
}
.text-nonem{
		-webkit-transform: perspective(100px) rotateX(5deg);
		-webkit-transform-origin: left center;
		
	}
