#wrapper{
margin-left: 10%; 
margin-right: 10%;
}

.circle-dir{border-style: solid;
 border-width: 1px;
border: 1px solid #2c2c2c;
 border-radius: 50%;
 font-size:3em;
  padding-right: 5px;
  padding-left: 5px;}
.mt30{
	margin-top:30px
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 2em;
    vertical-align: middle;
    color:#2c2c2c;
        top: 10px;
}
.fa-angle-left{
	font-size:66px;
	 padding-left: 16px;
	 border: 0;
}
div.col-md-11 h1{
	font-family:'Gotham Book';
	font-size:38px;
	color:#189bf2;
	  font-weight:bold;

}
.most{
	font-family:'Gotham Book';
	font-size:30px;
	text-align:center;
	background: -webkit-linear-gradient(#555555, #189bf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  margin-top:40px;
    margin-bottom:40px
}
.gertie{
	font-size:44px
}
/*well-box-7 start*/
.well-box-7{
	box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.32); 
	border-radius:60px;
	height:284px
}
.p40{
	padding: 40px;
}
div.col-xs-7 h3{
	font-family:'Gotham Book';
	font-size:34px;
	color:#189bf2;
    margin: 46px 0 -10px -34px;
}
div.col-xs-7 h4{
	font-family:'Gotham Book';
	font-size:24px;
	color:#cccccc;
   margin-left:-34px;
}
.bob-singh{
	float: right;
    margin: -72px 83px 0 0;
}
div.col-xs-7 h5{
	font-family:'Gotham Thin';
	font-size:28px;
	color:#cccccc;
   margin-left:-34px;
}
.gertie_360{
	    float: right;
       margin-right: 80px;
    width: 30px;    
}
div.col-xs-7 h6{
	font-family:'Gotham Book';
	font-size:21px;
	color:#898989;
   margin-left:-34px;
}
div.col-xs-7 p{
	font-family:'Gotham Book';
	font-size:21px;
	color:#0076a3;
       margin-left: -34px;
    text-align: right;}
/*well-box-7 end*/


/*well-box-5 start*/
.well-box-5{
	box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.32); 
	border-radius:60px;
	height: 239px;
    margin-top: 25px;
     -webkit-filter: opacity(.2);
  filter: opacity(.4);
    }
.p20{
	padding: 20px;
    margin-top: 20px;}
div.col-xs-7 h3{
	font-family:'Gotham Book';
	font-size:26px;
	color:#189bf2;
    margin: 46px 0 -10px -34px;
}
div.col-xs-7 h4{
	font-family:'Gotham Book';
	font-size:18px;
	color:#cccccc;
   margin-left:-34px;
}
.bob{
	float: right;
    margin: -64px 37px 0 0;
    width: 63px;}
div.col-xs-7 h5{
	font-family:'Gotham Thin';
	font-size:22px;
	color:#cccccc;
   margin-left:-34px;
}
.gertie_360copy{
	    float: right;
       margin-right: 150px;
    width: 30px;
}
div.col-xs-7 h6{
	font-family:'Gotham Book';
	font-size:16px;
	color:#898989;
   margin-left:-34px;
}
div.col-xs-7 .para{
	font-family:'Gotham Book';
	font-size:16px;
	color:#0076a3;
       margin-left: -34px;
    text-align: right;}
/*well-box-7 end*/
.btn-default {
    color: #189bf2;
    background-color: #fff;
    border-color: #fff;
  /*  margin: -61px 0 0 475px; */
    font-family:'Gotham Light';
	font-size:19px;
	position: relative;
    top: -42px;
}
.btn-default:hover {
    color: #189bf2;
    background-color: #fff;
    border-color: #fff;
}
 .rot{
  -webkit-transform:rotate(-90deg);    position: relative;
    top: 125px;
    height: 115px;
  
  }
  .progressimg{
	    float: right;
    position: relative;
    right: 15px;
    top: 5px;
    height: 65px;
    width: 65px;    -webkit-transform: rotate(90deg);
}
.progress {
	background-color:transparent;
	border: none;-webkit-box-shadow: 0;
    box-shadow: none;
}
.progress-bar {
	border-top-right-radius: 60px; border-bottom-right-radius: 60px;
	background: linear-gradient(to right, #189bf2, #00c0ff)!important;height: 75px;
	 transition-duration: 3s;
}
.top-three div.col-md-4,.top-three div.col-md-12   {
	padding:0px
}
.pd0{
	padding:0px;
}

.topper-name-lg{
font-family: 'Gotham Book'; font-size: 38px; color: #189bf2; font-weight: 600;position: relative;
    left: 85px;
}
.topper-role-lg{
	font-family: "Gotham Book";
	font-size: 19px;
	color: #959595;
	font-weight: 600;
	    position: relative;
    left: 32px;
    top: -16px;
}
.top-points-lg{
	font-family: "Gotham Thin";
	color: #cccccc;
	font-size: 38px;
	font-weight: 600;    position: relative;
    top: -20px;    left: -10px;
}

.topper-name{
font-family: 'Gotham Book'; font-size: 27px; color: #189bf2; font-weight: 600;position: relative;
    left: 85px;
}
.topper-role{
	font-family: "Gotham Book";
	font-size: 19px;
	color: #acacac;
	font-weight: 600;
	    position: relative;
    left: 32px;
    top: -16px;
}
.top-points{
	font-family: "Gotham Thin";
	color: #cccccc;
	font-size: 25px;
	font-weight: 600;    position: relative;
    top: -20px;    left: 10px;
} .top-points img {
	height:35px;width: 38px;margin-left:10px
}
#lg-img{
	height:45px!important;width: 48px!important;margin-left:10px
}
progress::-webkit-progress-value {
    transition : width 5s ease;}
