<div class="modal fade" id="myModal" role="dialog" style="position: absolute ;top: 194px;right: 136px;">
  <div class="modal-dialog pull-right">

    <!-- Modal content-->
    <div class="modal-content" style="background-image: url('/assets/img/admin/popup.png'); background-repeat: no-repeat;background-size:contain">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Congratulations!</h4>
      </div>
      <div class="modal-body">
        <h2>You've successfully added</h2>
        <h3>Beginner's Guide to Meditation with Emily Fletcher</h3>
        <p>By Emily Fletcher, Founder, Ziva <br> Meditation
        </p>
        <img src="/assets/img/admin/thumbnail-popup.png" alt="" class="img-responsive">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="">GO TO CART</button>
      </div>
    </div>

  </div>
</div>