div.col-md-12 h1{
	font-family:'Gotham Thin';
	font-size:50px;
	color:#189bf2;
}
.dropdown button {
width: 100%;text-align:left;border:1px solid #189bf3;background-color: #fff; 
	color: #189bf3 !important; padding-top: 10px; padding-bottom: 10px; font-size: 22px;font-family:'Gotham Light';border-radius:0px
}
.dropdown button p{
margin: 0px; padding: 0px; display: inline-block; float: right
	
}
.caret {
margin-top:-5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #189bf3;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background: #fff;
    border: 1px solid #0b80b1;
}
div.col-md-11 h2{
	font-family:'Gotham Book';
	font-size:27px;
	color:#189bf2;
	    margin-left: 20px;
}
.mt30{
	margin-top:30px;
}
div.col-md-9 h2{
	font-family:'Gotham Book';
	font-size:33px;
	color:#fd8b38;
   font-weight:bold
}
.well{
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.13); 
	background:#fff;
	margin-top:30px;
	    border-radius: 10px;
}
.btn-warning{
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.13); 
	background:#fff;
    border:none !important;
    color:#189bf2 !important;
    font-family:'Gotham Book' !important;
    font-size:16px !important;
    border-radius:50px !important;
    padding: 20px;
    }
    ul{
       margin-left: -32px;
	list-style-image:url('img/bullets.png');
}
ul li{
	margin-bottom:10px
}
ul li a{
	color:#a1a1a1;
    font-family:'Gotham Book';
    font-size:12px;

}	  
.nav ul{
       margin-left: 40px;
	list-style-image:url('img/bullets.png');
}
.nav ul li{
	margin-bottom:20px
}
.nav ul li a{
	color:#a1a1a1;
    font-family:'Gotham Book';
    font-size:22px;

}	  
.accordion-toggle:hover {
      text-decoration: none;
    }
.panel-title {
    margin-top: 0px !important;
    font-size:14px !important;
    color:#000 !important;
    font-weight:bold;
       }
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border-left: none;
    border-right: none;
}
.glyphicon-plus:before {
    content: "\002b";
    font-size: 12px;
    color:#189bf2;

}
.glyphicon-minus:before {
    content: "\2212";
    font-size: 12px;
    color:#189bf2;

}
.fa-play-circle:before {
    content: "\f144";
    color: #bbd6f1;
        margin-left: 16px;
         margin-right: 10px;

}
.skew {
		background-color: #189bf2!important;
		color: #FFFFFF;background-image: linear-gradient(to bottom,#189bf2 0,#189bf2 100%);


		-webkit-transform: perspective(100px) rotateX(-6deg);
		-webkit-transform-origin: left center;
	}

.progress{
	background-repeat: repeat-x;width:64%;
	height: 35px;
	background: #cccccc;
		    border-radius: 0px;
float: left;
    margin-right: 8px;


}
.progress-bar{
	background-repeat: repeat-x;
}
	.control-label {
		color: #959595;
		font-family: "Gotham Book";
		font-size: 19px;
	}
	.progress p {
		font-family: "Gotham Thin";
		font-size: 50px;
		color: #189bf2;font-weight:500;
		 margin-top: -8px; text-align: right; margin-right: 10px;
	}
	.back-to-top {
cursor: pointer;
bottom: 0;
background: #fd8b38;
    border-radius: 20px;
    padding: 20px 12px 20px 12px;
    border: none;
}
.back-to-top:hover {
    /* color: #fff; */
    background-color: #fd8b38;
    border-color: #fd8b38;
}
/*model css*/
.modal-content{
	width:390px;
	float:right;
	margin-right:44px;
	background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
	
}
.modal-header {
    padding-left: 38px;
    border-bottom: none;
}
.modal-title{
	font-family:'Gotham Book';
	font-size:26px;
	color:#555555;
	    margin-top: 35px;
	    margin-bottom: -15px;

}
.modal-body{
	padding-left: 36px;
}
.modal-body h2{
	font-family:'Gotham Book';
	color:#959595;
	font-size:22px;
	margin-top: 0px;
}
.modal-body h3{
	font-family:'Gotham Book';
	color:#189bf2;
	font-size:20px;
	
}
.modal-body p{
	font-family:'Gotham Book';
	color:#555555;
	font-size:16px;
	
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: none;
}
.btn-default{
	background:#fff;
	border:none;
	border-radius:50px;
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.18); 
	font-family:'Gotham Book';
	color:#189bf2;
	font-size:17px;
    padding: 7px 30px 6px 30px;
       margin: -12px 0 25px 0;}
.close {
        font-size: 40px;
    font-weight: 100;
        margin-right: 10px;
    margin-top:20px !important}
