<div class="modal fade" id="myshareoutModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content sharecontent">
      <div class="modal-header shareheader">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:4em; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -10px; font-weight: normal;">&times;</button>
        <h4 class="modal-title sharetitle">share<strong>OUT</strong></h4>
      </div>
      <div class="modal-body" style="padding:0 50px 0 50px;">
        <div class="col-md-9 col-md-offset-3">
          <a class="anc" style="font-family: 'Gotham Light'; font-size: 28px; color: #000;border:none; "><img class="img-responsive" src="/assets/img/sharing/twiter.png" alt="img2"></a>
          <a class="anc" style="font-family: 'Gotham Light'; font-size: 28px; color: #000;border:none; "> <img class="img-responsive" src="/assets/img/sharing/linkdin.png" alt="img2"></a>
          <a class="anc" style="font-family: 'Gotham Light'; font-size: 28px; color: #000;border:none; "> <img class="img-responsive" src="/assets/img/sharing/facebook.png" alt="img2"></a>
          <a class="anc" style="font-family: 'Gotham Light'; font-size: 28px; color: #000;border:none; "><img class="img-responsive" src="/assets/img/sharing/instagram.png" alt="img2"></a>
        </div>
        <img class="img-responsive" src="/assets/img/sharing/slide.png" alt="img2" style="margin:0 auto;">
        <h1 class="sharename">Jennifer's Wish</h1>
        <h6 style="font-family:'Gotham Thin';font-size:19px;color:#189bf2;margin-top: 38px;">Say something about this post...</h6>
        <textarea rows="6" cols="88" class="sharetextarea">Start typing here.</textarea>
        <p style="font-family:Gotham Thin;font-size:19px;color:#666666;text-align:right">0/140 Character Limit</p>
      </div>
      <div class="modal-footer sharefooter">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-right:75px;padding: 8px 30px 8px 30px;
    border-radius: 0px;font-family:Gotham Book;font-size:20px;background:#189bf2;border:1px solid #189bf2">SHARE</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding: 8px 20px 8px 20px;
    border-radius: 0px;font-family:Gotham Book;font-size:20px;background:#7b0046;border:1px solid #7b0046">CANCEL</button>
      </div>
    </div>
  </div>
</div>
