@import 'src/styles/_variables';

form {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 2em 2.5em;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin:1em;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .form-group {
   	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .form-group > label {
    margin-right: 1em; 
    padding: .5em;
  }
  input {
    padding:.3em;
  }

  form input,
  form select {
    flex: 6; 
    padding: .5em;
    margin-bottom: 1em;
  }

fieldset {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}


.action-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-top:1em;
}

.checkbox-option {
  padding: .5rem;
}