.wizard {
  padding: 64px 85px 54px;
}

.nav.nav-tabs {
  border-bottom: 0px none !important;
  text-align: center;
  padding-bottom: 20px;
}

.nav-tabs>li {
  display: inline-block;
  margin-bottom: -1px;
  float: none !important;
}

.nav-tabs li a {
  width: 50px;
  height: 22px;
  border: 2px solid #189bf2;
  border-radius: 13px;
}

.nav-tabs li.active a, .nav-tabs li a:hover {
  background: #189bf2 !important;
  border: 2px solid #189bf2;
  border-radius: 13px;
}

.tab-content h1 {
  color: #1899ef;
  font-size: 50px;
  line-height: 27px;
  font-family: "Gotham Thin";
  text-align: center;
}

.tab-content h3 {
  color: #555555;
  font-size: 27px;
 line-height: 1em;  font-family: "Gotham Light";
  text-align: center;
  padding: 10px 10px 50px 10px;
font-weight:600;
}

.tab-content h4 {
  color: #555;
  font-size: 22px;
  line-height: 30px;
  font-family: "Gotham Light";
  text-align: center;
  padding-bottom: 80px;
  margin-bottom: 0px;
}

.form-group {
  margin-bottom: 20px;
}

.tab-content label {
  color: #555;
  font-size: 27px;
  line-height: 32px;
  font-family: 'Gotham Light';
  padding-bottom: 20px;
  display: block;
}

.tab-content .form-control {
  border: 2px solid #189bf2;
  border-radius: 6px;
  min-height: 60px;
  color: #189bf2;
  font-size: 22px;
  line-height: 34px;
  font-family: "Gotham Light";
}

.btn.btn-primary.next-step {
  background: #189bf2;
  border: 1px solid #189bf2;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-family: "Gotham Book";
  max-width: 222px;
  width: 100% !important;
  min-height: 52px;
  margin: 20px auto 0px;
  display: block;
  border-radius: 0px;
  float: none !important;
  padding: 0px 50px;
}

.btn.btn-default.prev-step {
  background: #7b0046;
  border: 1px solid #7b0046;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-family: "Gotham Book";
  max-width: 222px;
  width: 100% !important;
  min-height: 52px;
  margin: 60px auto 0px;
  display: block;
  border-radius: 0px;
  float: none !important;
  padding: 0px 50px;
}

select.depart {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('/assets/img/optionarrow.png') no-repeat right center;
  padding-right: 30px;
  min-height: 26px;
  display: inline-block;
}

.recordcontainer {
  max-width: 577px;
  width: 100%;
  min-height: 415px;
  background: #bfbfbf;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  position: relative
}

.btn.btn-record {
  background: url('/assets/img/recordbutton.png') no-repeat center;
  min-height: 67px;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  bottom: 16px;
  width: 100%;
  left: 0;
  right: 0;
}

.hints img {
  position: absolute;
  bottom: 74px;
  right: 120px;
}

.hints h4 {
  color: #189bf2;
  position: absolute;
  bottom: -30px;
  right: -230px;
  text-transform: uppercase;
  font-family: 'RockSalt', cursive;
}


/*.btn {
  display: inline-block;
  padding: 6px 23px;
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 6px;
}*/

.exreport {
  border-style: solid;
  border-width: 2px;
  border-radius: 0px !important;
  color: #189bf2 !important;
  font-size: 17px;
  text-align: center;
  font-family: "Gotham Book";
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  border-top-color: #189bf2;
  border-right-color: #189bf2;
  border-bottom-color: #189bf2;
  border-left-color: #189bf2;
  font-weight: bold;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0px 4px 16px #ccc;
  background: none;
  margin-top: 50px;
  border: none;
}

.container.smallcontainer {
  max-width: 1108px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.content {
  padding: 60px 0px;
}

.topcontent h2 {
  color: #1899ef;
  font-size: 41px;
  line-height: 32px;
  font-family: "Gotham Light";
  text-align: center;
}

.topcontent h3 {
  color: #b5b8b8;
  font-size: 25px;
  line-height: 32px;
  font-family: "Gotham Light";
  text-align: center;
  padding: 0px 10px;
}

.topcontent h3 strong {
  font-family: "Gotham Book";
  color: #b5b8b8;
  font-weight: 400;
}

.topcontent h3 span {
  font-family: "Gotham Book";
  color: #b5b8b8;
  font-weight: 700;
}

.middlecontent {
  padding-top: 86px;
}

.middlecontent h4 {
  color: #1899ef;
  font-size: 22px;
  line-height: 32px;
  font-family: "Gotham Book";
  text-align: center;
}

h3.slogan {
  color: #7b0046;
  font-size: 27px;
  line-height: 32px;
  font-family: "Gotham Book";
  text-align: center;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

.formcontent {
  padding-top: 40px;
}

.socialicons {
  padding: 0px;
  margin: 0px;
}

ul.socialicons li {
  list-style-type: none;
  padding-bottom: 15px;
}

ul.socialicons li:first-child {
  padding-top: 0px;
}

ul.socialicons li a {
  display: block;
  text-indent: -9999px;
}

	ul.socialicons li.facebook a {
		background: url('/assets/img/facebook.png') left center no-repeat;
		min-height: 55px;
		display: block;
		background-size: contain;margin-top: -7px;
	}
	ul.socialicons li.twitter a {
		background: url('/assets/img/twitter.png') left center no-repeat;
		min-height: 55px;
		display: block;
		background-size: contain;margin-top: 0px;
	}
	ul.socialicons li.instagram a {
		background: url('/assets/img/instagram.png') left center no-repeat;
		min-height: 55px;
		display: block;
		background-size: contain;margin-top: 0px;
	}
	ul.socialicons li.linkedin a {
		background: url('/assets/img/linkedin.png') left center no-repeat;
		min-height: 55px;
		display: block;
		background-size: contain;margin-top: 0px;

	}

.usersettingsform .form-control {
  color: #b5b8b8;
  font-size: 21px;
  line-height: 28px;
  font-family: "Gotham Light";
  height: 43px;
  border: 2px solid #1899ef;
  border-radius: 8px;
}

.btn.btn-login {
  color: #b5b8b8;
  font-size: 18px;
  line-height: 25px;
  font-family: "Gotham Book";
  height: 45px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 4px 1px 1px #f5f5f5;
  padding: 5px 17px;
}

.totalcontent {
  background: #959595;
  max-width: 290px;
  height: 72px;
  display: block;
  margin: 45px auto 0px;
  border-radius: 4px;
}

.totalcontent h1 {
  color: #fff;
  font-size: 33px;
  line-height: 28px;
  font-family: "Gotham Thin";
  text-align: center;
  margin: 0px !important;
  padding-top: 10px;
}

.totalcontent div {
  color: #fff;
  font-size: 11px;
  line-height: 32px;
  font-family: "Gotham Light";
  text-align: center;
  margin: 0px;
}

.note {
  color: #b5b8b8;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gotham Light";
  padding-top: 60px;
}

.usersettingsform h3 {
  color: #ffffff;
  font-size: 12px;
  line-height: 32px;
  font-family: "Gotham Light";
  text-align: center;
}

.pointscontent .eachcontent h4 {
  color: #7b0046;
  font-size: 22px;
  line-height: 32px;
  font-family: "Gotham Light";
  text-align: center;
  padding: 15px 0px;
}

.pointscontent {
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 1px 1px 0px 2px #eee;
}

.btn-skills {
  border-radius: 8px;
  background-color: #004a80!important;
  color: #FFFFFF;
  padding-right: 19px;
  padding-left: 20px;
  margin: 5px;
  font-family: "Gotham Light";
  font-size: 23px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #555555;
  font-weight: 400;
  font-family: "Gotham Light";
  font-size: 25px;
}

.addcontentbtn {
  border: 0;
  box-shadow: 0;
  border-radius: 20px;
  margin-top: 2px;
  text-align: center;
  width: 180px;
  background-color: #8e0053;
  color: #FFFFFF;
  font-family: 'Gotham Light';
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(#9c005c, #8f0054, #88004f, #7e0048);
}

.addcontent {
  width: 940px !important;
  right: 200px;
}
.btnset {
    border-radius: 20px;
    margin-top: 40px;
    padding-right: 17px;padding-top:5px;padding-bottom:5px;
    padding-left: 17px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF !important;
    color: #189bf2;
    font-family: "Gotham Light";
    font-size: 21px !important;
    width: 150px !important;
    -webkit-box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.1);
}
.uploadlabel{
	font-family: "Gotham Light";
	color: #555555;
	font-size: 25px;
	font-weight: 600;
}
input::-webkit-input-placeholder {
	color: #acacac!important;
	font-weight: bold;
	font-family: "Gotham Light";
	font-size: 25px;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #acacac!important;
	font-weight: bold;
	font-family: "Gotham Light";
	font-size: 25px;

}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #acacac!important;
	font-weight: bold;
	font-family: "Gotham Light";
	font-size: 25px;
 
}
 
input:-ms-input-placeholder {
	color: #acacac!important;
	font-weight: bold;
	font-family: "Gotham Light";
	font-size: 25px;
}
.caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
}