<div id="wrapper" style="margin-top: -30px">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a routerLink="/habitat"> <i class="fa fa-chevron-circle-left" style="font-size:50px"></i></a>
      </div>
      <div class="col-md-2"> </div>
      <div class="col-md-8"></div>
    </div>
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-12 text-center ">
        <h1 style="font-family: 'Gotham Thin'; font-size: 55px; color: #189bf2">Performance Review</h1>
        <h4 class="font-white" style="font-size: 27px; font-family: 'Gotham Thin'; color: #636363;">Select a summary to view</h4> </div>
    </div>
    <div class="row  thumbshadow" style=" border-radius: 15px; background-color: #FFFFFF; color: #000000; width: 100%; padding-right: 20px; padding-left: 20px;padding-top:20px; min-height:700px">
      <div class="table-responsive">
        <table class="table-responsive" style="width: 100%">
          <tr>
            <th>Name</th>
            <th></th>
            <th>Date</th>
            <th></th>
          </tr>
          <tbody class="performancereviews">
            <tr *ngFor="let review of reviews" (click)="onSelect(review)" [class.select]="review === selectedReview">
              {{review.data}} {{review.name}}

              <td height="10px" width="60%" style="margin: 0px"> <a data-target="#modal-comments" data-toggle="modal" class="pointer">9-15-2013_Mary_Jane_Performance_Review(pdf)</a></td>
              <td rowspan="58" style="background-image: url('assets/img/shadow-vertical.png'); background-repeat: no-repeat; background-position: center center; background-size: 10px 599px">
              </td>
              <td height="10px" width="30%" class="date">15 Sept.,8.56 AM(2013)</td>
              <td class="text-right pr30" height="10px" width="20%"> <i class="fa fa-plus" aria-hidden="true" style="color: #189BF2; font-size: 2rem;"></i> </td>
            </tr>
            <tr>
              <td width="60%"><a data-target="#modal-comments" data-toggle="modal">8-14-2013_Mary_Jane_Performance_Review (pdf)</a></td>
              <td class="date">14 Aug,7.15 AM (2013)</td>
              <td class="text-right pr30"><i class="fa fa-plus" aria-hidden="true" style="color: #189BF2; font-size: 2rem;"></i> </td>
            </tr>
            <tr>
              <td width="60%"><a data-target="#modal-comments" data-toggle="modal">7-15-2013_Mary_Jane_Performance_Review (pdf)</a></td>
              <td width="30%" class="date">12 Sept.,8.56 AM(2013)</td>
              <td width="20%" class="text-right pr30"><i class="fa fa-plus" aria-hidden="true" style="color: #189BF2; font-size: 2rem;"></i> </td>
            </tr>
            <tr>
              <td width="60%"><a data-target="#modal-comments" data-toggle="modal">6-13-2013_Mary_Jane_Performance_Review (pdf)</a></td>
              <td width="30%" class="date">14 Sept.,8.56 AM(2013)</td>
              <td width="20%" class="text-right pr30"><i class="fa fa-plus" aria-hidden="true" style="color: #189BF2; font-size: 2rem;"></i> </td>
            </tr>
            <tr>
              <td width="50%"><a data-target="#modal-comments" data-toggle="modal">9-15-2013_Mary_Jane_Performance_Review (pdf)</a></td>
              <td width="30%" class="date">15 Sept.,8.56 AM(2013)</td>
              <td width="20%" class="text-right pr30"><i class="fa fa-plus" aria-hidden="true" style="color: #189BF2; font-size: 2rem;"></i> </td>
            </tr>
            <tr>
              <td width="50%"><a data-target="#modal-comments" data-toggle="modal">9-15-2013_Mary_Jane_Performance_Review (pdf)</a></td>
              <td width="30%" class="date">15 Sept.,8.56 AM(2013)</td>
              <td width="20%" class="text-right pr30"><i class="fa fa-plus" href="http://google.com" aria-hidden="true" style="color: #189BF2; font-size: 2rem;"></i> </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- modal -->
<div class="modal fade pg-show-modal" id="modal-comments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comments</h4> </div>
      <div class="modal-body"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div> <img src="/assets/img/username.png"> <span class="pull-right">Mary Jane: 8/15/2013</span> <textarea class="form-control" rows="3" style="margin-top:10px">I thought I did better than that. This performance review isn't any good. Highly disappointed in you.</textarea>          </div>
        <div style="margin-top: 20px"> <img src="/assets/img/pete.png" class="pull-right"> <span class="pull-left">Joe Shmoe: 8/16/2013</span> <textarea class="form-control" rows="3" style="margin-top:10px">You're fired.</textarea> </div>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button> </div>
    </div>
  </div>
</div>
