
<app-giving-navbar></app-giving-navbar>
<div id="wrapper">
  <div class="container">
    <div class="container">

      <div class="row" style="margin-top: 15px">

        <div class="col-md-1">
          <a routerLink="/giving-dashboard-manage-your-donations">
            <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size:66px;padding-top:0px; padding-right: 5px; padding-left: 15px;border: 0;"></i>
</span>
          </a>
        </div>

        <div class="col-md-11 text-center ">
          <h1 style="color:#ce058a; text-align: left; font-weight: bold; font-family: 'Gotham Thin'; font-size: 63px;">
                  {{ opportunity.name }}
                </h1>
        </div>
      </div>
      <section class="progres-percent">
        <div class="row" style="margin-top: 15px">
          <div class="col-md-12 text-center col-md-offset-1">
            <div class="progress " style="border: 2px solid #ce058a;margin-bottom:5px; background-color: #FFFFFF;">

              <div class="progress-bar skew" role="progressbar" [attr.aria-valuenow]="getPercentComplete()" aria-valuemin="0"
                  aria-valuemax="100" [style.width]="getPercentComplete() + '%'" style="width: 60%; background-color: #ce058a!important; color: #FFFFFF;height: 103%;">
                <p style="text-align: left; vertical-align: top; padding-bottom: 5px; padding-top: 10px; padding-left: 15px;">
                </p>
            </div>
            <p style="color:#ce058a">{{ getPercentComplete() }}%</p>
          </div>
          <p class="pd affix1 control-label "><em>Donating to this Opportunity Ends on {{ getEndDate() }}</em></p>

        </div>
        <div class="col-md-2 fon">
        </div>

    </div>
    </section>
    <div style="clear: both"></div>
    <section class="transaction">
      <div class="row" style="margin-top:30px">

        <div class="col-md-12 col-md-offset-1">
          <div class="row">
            <div class="col-md-12" style="font-size:2.7rem;line-height: 2.7rem;color:#5b5b5b">
              <div class="col-md-8" style="font-size:34px;line-height: 2.7rem;color:#464646; display: block;font-family:Gotham Thin">
                <p>Transaction ID: {{   getReceiptId() }} </p>
                <p> Transaction Status: <span style="color: #ce058a;font-family:Gotham book">COMPLETE </span></p>
                <p> Date: {{ getWhen() }} </p>

                <p> Payment Method :PAYPAL </p>

                <p> Eligible Match Amount: ${{ getDonationMatchLimit().toFixed(2) }} </p>
              </div>
              <div class="col-md-4">
                <div class="col-md-10">
                  <button class="btn note-btn" data-toggle="modal" data-target="#myviewnoteModal" type="button">

                     <img src="/assets/img/giving/note2.png" data-toggle="modal" data-target="#myModal"
                     class=" img-responsive" alt=""  />
                     </button>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </section>
    <div style="clear: both"></div>

    <section class="amount-details">
      <div class="row" style="padding-top:3rem">

        <div class="col-md-12 col-md-offset-1">
          <div class="row">
            <div class="col-md-12 " style="font-size:2.8rem;line-height: 2.7rem; font-weight: normal; ">
              <div style="border-right-style: solid; border-right-width: 1px; border-right-color: #5BC0DE; text-align: right; float: left; padding-right: 30px;">
                <p>Donation Amount</p>
                <p> Transaction Fee</p>
                <p>Donation Match</p>
                <p> <strong>Total</strong></p>
              </div>
              <div class="pull-left" style="padding-left: 30px;line-height: 2.7rem; ">
                <span style="display: block;padding-left:50px;">${{ donation.donation.toFixed(2) }}</span>
                <span style="display: block;padding-left:50px"> ${{ donation.fee.toFixed(2) }}</span>
                <span style="display: block;padding-left:50px">${{ donation.match.toFixed(2) }}</span>
                <p style="padding-left:5px"> <strong>${{ donation.total.toFixed(2) }}</strong></p>
              </div>

            </div>



          </div>



        </div>


      </div>
    </section>
    <section class="receipt-share">
      <div class="row" style="margin-top: 15px">



        <div class="col-md-12 col-md-offset-1">
          <div class="row">
            <div class="col-md-5">
              <button class="btn" style="background: linear-gradient(to bottom, #ce058a,#ce058a,#ce058a);padding: 10px 20px 10px 20px;
                                     font-size:16px;color: #FFFFFF; border-radius: 0px;margin-left: 40px;font-family:Gotham Book;margin-right: 25px;">RESEND RECEIPT TO MY EMAIL</button>
                <img src="/assets/img/giving/printed.png" alt="Printed" style="border-radius: 50%;padding: 5px;box-shadow: 1px 6px 10px #ccc;">
            </div>
            <div class="col-md-7" style="text-align: left">
              <p style="font-family:Gotham Book;font-size:18px;color:#363636;font-weight: 600;">Want to share this opportunity ?</p>
              <button type="button" class="btn button1">share<b>IN</b></button>
              <button type="button" class="btn button1">share<b>OUT</b></button>

            </div>
          </div>
        </div>


      </div>


    </section>



  </div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myviewnoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="popupbg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:18px; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -5px; font-weight: bold;">&times;</button>
          <h4 class="modal-title">A Message From The Organization</h4>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque
            euismod, ultrices orci sit amet, maximus lacus. Nullam magna metus, phare
            tra sit amet quam vitae, congue vehicula libero. Nulla vehicula mi facilisis
            blandit commodo. a ipsum.</p>
        </div>
        <div class="modal-footer">
          <h2>Thank You For Your Help!</h2>
          <a class="btn btn-close close" type="button" aria-label="Close" data-dismiss="modal">CLOSE</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<!-- /.modal -->
