    
    html {
    
    -webkit-font-smoothing: antialiased;
    height: 100%;outline: none;font-size:16px;

}
body{
font-family: "Gotham Book";
}

table{border:0px}
th{
color:#189bf2;
}

.imgthumbsize{
width: 75px; height: 75px
}

body{
	color: #c1d3e0;
	background-color: #FFFFFF;

}
a {
    cursor: pointer;
    outline: none;
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:active, a:focus {
    color: #c1d3e0;
    text-decoration: none;
    outline: none;
}
button:active {
outline: none;
border: none;
}

button:focus {outline:0;}
	#main-wrapper
{
		background-color: #f3f8fb;
	}
#wrapper{
margin-left:1%;margin-right: 1%
}
    *:focus {outline:none !important}

    
    .most{
text-align: center;font-size:3rem; padding-top: 20px; color:#137ec4
}
.social{
font-size: large; font-size:5rem; margin-top: -30px; background: -webkit-linear-gradient(#137ec4, #393939);  -webkit-background-clip: text;-webkit-text-fill-color: transparent;overflow:hidden
}
.sharing
{color: #959595; text-align: center; margin-top: -20px; text-transform: uppercase; vertical-align: super;font-size:1.5rem;

}

 ul.mostshared li{
	list-style-type: none; display: inline-block;padding-right:5px;
	}

ol.colspan{
list-style-type: decimal; 
 -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;margin-left:-20px; 
   list-style-position: inside;}


  ol.colspan{
     -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
   }
ol.colspan li{
    margin-left:9px; list-style-position: inside;width:33,333333%;margin-bottom:30px;
        }
.spanned ol { 
    counter-reset: item;font-size: 1.7em;
		color: #000000;
    list-style-type: none;
}
.spanned ol li { display: block; }
.spanned ol li:before { 
    content: counter(item) "  "; font-size: 2em;
    counter-increment: item }
	.white-border-content{
		border: 2px solid #FFFFFF;
		color: #c1d3e0;
		padding: 1.5rem 0rem 1.3rem 0rem;
		padding: 15px -5px 15px -5px;
		text-align: center;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: .1em;color: #FFFFFF; background-color: #189bf3;
	}
    
    .span4big
{font-size: 5em;font-weight: lighter
}
.span2big
{
font-size: 1em; text-transform: uppercase;
}
.colspan-name{
display: inline-block; vertical-align: top; padding-left: 8px; font-weight: 800; font-size: .8em; padding-top: 15px; color: #353535; line-height: 1em;
}
.colspan-number
{
color: #808080;font-size:.8em; text-align: left; font-weight: 200; padding-top: -15px; padding-bottom: 15px; margin-top: -10px;
}
	
	
	
	/* Style relevant to this page*/
	
	.fa-chevron-left{
		color: #666666;
	}
	.mostshared li{
margin-right:30px; margin-left:32px;
		}
	.margin-top30{
margin-top:30px
}

.mostshared .thumb-text-center{text-align: center;color:#656565}
.mostshared .thumb-shared-no{text-align: center; margin-top: -10px; color: #169cf1;}


/*pagre related styles */

	.white-border-contentmoney{
		border: 2px solid #FFFFFF;
		color: #c1d3e0;
		padding: 1rem 0rem 1rem 0rem;
		padding: 1px -5px 1px -5px;
		text-align: center;
		font-size: 1em;
		width: 40%;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: #FFFFFF;
		background-color: #189bf3;
		margin-right: auto;
		margin-left: auto;
	}
    *{
		color: #000000	}
	table{border:0px}
.blue{
background-color: #85c9f6; color: #FFFFFF

}
 table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

	.custom-btn-blue{
		padding: 10px 15px 10px 11px;
		background-color: transparent;
		color: #189bf2;
		border: 2px solid #189bf2;
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		font-weight: 500;
		word-wrap: break-word;
	}



/*Page Related CSS*/
.textgradient{
margin-top: 30px; background: -webkit-linear-gradient(#189bf3, #346488);  -webkit-background-clip: text;-webkit-text-fill-color: transparent;overflow:hidden
}
	.direction
{
		border-radius: 50%;
		border: 1px solid #000000;
		padding: 25px;
		padding-left: 5px;
		padding-right: 35px;
	}
	
.margin-button-blue{
	
	padding: 5px 15px 5px 15px;
	margin: 5px;
	background-color: #189BF2;
	color: #ffffff;	
}
.margin-button-maroon
	{
	background-color: #7b0046;
	color: #FFFFFF;	margin: 5px;
	}
	.pagination>li>a,.pagination>li>span{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #189BF2;
	border: 1px solid #ddd;
}
	.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}  

.pagination>.active>a:focus{
border-radius:5px;
}
	.introbtn{
		border-radius: 20px;
		padding: 8px 15px 8px 15px;
		margin-top: 10px;font-size:1.5rem;
		background-color: #00a651;
		color: #FFFFFF;
	}

.dropdown-menu li a {
	color: #FFFFFF; text-align: right

	}
	.thumbintro{
	height:148px; width:148px; vertical-align: bottom; margin-top: 30px;
	}
table {
	border-collapse: collapse;
}
td{
height:16px;padding:10px;
}
th{
text-align:left	;padding:10px;

}
.mr10{margin-right:10px!important}.mr15{margin-right:15px!important}.mr20{margin-right:20px!important}.mr25{margin-

right:25px!important}.mr30{margin-right:30px!important}.mr35{margin-right:35px!important}.mr40{margin-right:40px!

important}.mb0{margin-bottom:0!important}.mb5{margin-bottom:5px!important}.mb10{margin-bottom:10px!

important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20px!important}.mb25{margin-bottom:25px!

important}.mb30{margin-bottom:30px!important}.mb35{margin-bottom:35px!important}.mb40{margin-bottom:40px!

important}.ml0{margin-left:0!important}.ml5{margin-left:5px!important}.ml10{margin-left:10px!important}.ml15{margin-

left:15px!important}.ml20{margin-left:20px!important}.ml25{margin-left:25px!important}.ml30{margin-left:30px!

important}.ml35{margin-left:35px!important}.ml40{margin-left:40px!important}.pt0{padding-top:0!important}.pt5{padding-

top:5px!important}.pt10{padding-top:10px!important}.pt15{padding-top:15px!important}.pt20{padding-top:20px!

important}.pt25{padding-top:25px!important}.pt30{padding-top:30px!important}.pt35{padding-top:35px!important}.pt40

{padding-top:40px!important}.pr0{padding-right:0!important}.pr5{padding-right:5px!important}.pr10{padding-right:10px!

important}.pr15{padding-right:15px!important}.pr20{padding-right:20px!important}.pr25{padding-right:25px!important}.pr30

{padding-right:30px!important}.pr35{padding-right:35px!important}.pr40{padding-right:40px!important}.pb0{padding-

bottom:0!important}.pb5{padding-bottom:5px!important}.pb10,.pb14{padding-bottom:10px!important}.pb15{padding-

bottom:15px!important}.pb20{padding-bottom:20px!important}.pb25{padding-bottom:25px!important}.pb30{padding-

bottom:30px!important}.pb35{padding-bottom:35px!important}.pb40{padding-bottom:40px!important}.pl5{padding-left:5px!

important}.pl15{padding-left:15px!important}.pl25{padding-left:25px!important}.pl30{padding-left:30px!important}.pl35

{padding-left:35px!important}.pl40{padding-left:40px!important}.bor-radius{border-radius:10px;-webkit-border-radius:10px;-

moz-border-radius:10px;-ms-border-radius:10px 10px 10px 10px}.bor-radius8{border-radius:8px;-webkit-border-radius:8px;-

moz-border-radius:8px;-ms-border-radius:8px 8px 8px 8px}

.mb50{margin-bottom:50px!important}
/*---font color codes---*/
.font-white{

color: #FFFFFF
}
.thumbshadow{ -webkit-box-shadow: -1px 8px 22px 0px rgba(0, 0, 0, 0.7);
-moz-box-shadow:    -1px 8px 22px 0px rgba(0, 0, 0, 0.7);
box-shadow:         -1px 8px 22px 0px rgba(0, 0, 0, 0.7);}
/*------------------------------*/
.modal-share-small-btn
{
border-radius: 20px;  position: relative;  background-color: #189bf3; color: #FFFFFF; width: 100px; vertical-align: middle; margin-top: -50px;}
.modal-h3-color, .modal-h4-color{
color: #000000
}
.modal-comment-area
{
overflow-y:scroll;overflow-x:hidden; height: 200px;
}
.modal-post-btn
{
border-radius: 20px; float: right; position: relative; margin-top: -50px; margin-right: 10px; background-color: #189bf3; color: #FFFFFF; width: 100px

}
	
.modal-commentbox-text{
padding: 10px; text-align: left; color: #7b7b7b;}
.padding-top30{
padding-top:30px
}	

.map_infobox {
	position: relative;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 90%;
	height: 110px;
	border-opacity: 0.8;
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.75);box-shadow: 3px 4px 5px #333333; float: right;
	-webkit-background-clip: padding-box; /* for Safari */;
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.map_infobox:before{
	content: "";
	position: absolute;
	top: 80%;
	left: -12px;
	z-index: 1;
	height: 20px;
	width: 23px;
	margin-top: -15px;
	background: #FFF;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-opacity: 0.5;
	border-left: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	-webkit-background-clip: padding-box; /* for Safari */;
	background-clip: padding-box;
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
}
.fontcolor-global{
	color:#189BF2;
}
.bgcolor-global{
	background-color:#189BF2
}
	.border-color-global{
		border: 2px solid #189BF2;
}
/*Border radius*/
.bor-radius{border-radius:10px!important;
-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px 10px 10px 10px}
.bor-radius8{border-radius:8px!important;-webkit-border-radius:8px;
-moz-border-radius:8px;-ms-border-radius:8px 8px 8px 8px}
.bor-radius15{border-radius:15px!important;
-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px 15px 15px 15px}
bor-radius20{border-radius:20px!important;
-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px 20px 20px 20px}

/*Box-shadows*/
.global-box-shadow{
box-shadow: 0px 6px 5px 1px rgba(224,224,224,1);

}
.global-box-shadow :hover{
}
/*Margin-paddings*/

.mt30{margin-top:30px;}
.mtoff30{margin-top:-30px;}
.mtoff10{margin-top:-10px;}
.mroff10{margin-right:-10px!important}
.mroff30{margin-top:-30!important}
.mloff10{margin-left:-10!important}
.mloff30{margin-left:-30!important}

.mr10{margin-right:10px!important}.mr15{margin-right:15px!important}.mr20{margin-right:20px!important}.mr25{margin-right:25px!important}.mr30{margin-right:30px!important}.mr35{margin-right:35px!important}.mr40{margin-right:40px!important}.mb0{margin-bottom:0!important}.mb5{margin-bottom:5px!important}.mb10{margin-bottom:10px!important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20px!important}.mb25{margin-bottom:25px!important}.mb30{margin-bottom:30px!important}.mb35{margin-bottom:35px!important}.mb40{margin-bottom:40px!important}
.mb50{margin-bottom:50px!important}
.ml0{margin-left:0!important}.ml5{margin-left:5px!important}.ml10{margin-left:10px!important}.ml15{margin-left:15px!important}.ml20{margin-left:20px!important}.ml25{margin-left:25px!important}.ml30{margin-left:30px!important}.ml35{margin-left:35px!important}.ml40{margin-left:40px!important}
.ml50{margin-bottom:50px!important}
.pt0{padding-top:0!important}.pt5{padding-top:5px!important}.pt10{padding-top:10px!important}.pt15{padding-top:15px!important}.pt20{padding-top:20px!important}.pt25{padding-top:25px!important}.pt30{padding-top:30px!important}.pt35{padding-top:35px!important}.pt40{padding-top:40px!important}.pr0{padding-right:0!important}.pr5{padding-right:5px!important}.pr10{padding-right:10px!important}.pr15{padding-right:15px!important}.pr20{padding-right:20px!important}.pr25{padding-right:25px!important}.pr30{padding-right:30px!important}.pr35{padding-right:35px!important}.pr40{padding-right:40px!important}.pb0{padding-bottom:0!important}.pb5{padding-bottom:5px!important}.pb10,.pb14{padding-bottom:10px!important}.pb15{padding-bottom:15px!important}.pb20{padding-bottom:20px!important}.pb25{padding-bottom:25px!important}.pb30{padding-bottom:30px!important}.pb35{padding-bottom:35px!important}.pb40{padding-bottom:40px!important}.pl5{padding-left:5px!important}.pl15{padding-left:15px!important}.pl25{padding-left:25px!important}.pl30{padding-left:30px!important}.pl35{padding-left:35px!important}.pl40{padding-left:40px!important}
/*Border radius*/
.bor-radius{border-radius:10px!important;
-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px 10px 10px 10px}
.bor-radius8{border-radius:8px!important;-webkit-border-radius:8px;
-moz-border-radius:8px;-ms-border-radius:8px 8px 8px 8px}
.bor-radius15{border-radius:15px!important;
-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px 15px 15px 15px}
bor-radius20{border-radius:20px!important;
-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px 20px 20px 20px}
/*Color Codes*/
.font-color-white{
color: #FFFFFF
}
.font-greylight{
color:#c1c4c5;
}
.font-grey{
color:#959595;	
}
.font-successgreen{
  color:00a651;
}
.fontcolor-global{
color:#189BF2!important;
}
.bgcolor-global{
background-color:#189BF2!important;
}
.border-color-global{
border: 2px solid #189BF2!important;}
.font-maroon{
color: #7b0046!important;
}
.bg-maroon{
background-color:#7b0046!important;
}
/*Box-shadows*/
.global-box-shadow{-webkit-box-shadow: 0px 6px 5px 1px rgba(224,224,224,1);
-moz-box-shadow:    0px 6px 5px 1px rgba(224,224,224,1);
box-shadow: 0px 6px 5px 1px rgba(224,224,224,1);}
/*outline removing*/
	.direction
{
		color: white;
		border-radius: 50%;
		border: 1px solid #FFFFFF;
		padding: 5px;
		font-size: 2.8rem;
	}
	.global-box-shadow{-webkit-box-shadow: -1px 8px 22px 0px rgba(0, 0, 0, 0.7);
-moz-box-shadow:    -1px 8px 22px 0px rgba(0, 0, 0, 0.7);
box-shadow: -1px 8px 22px 0px rgba(0, 0, 0, 0.7);}
	.btn-admin{
		-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		border-radius: 0;
		background: none;
		border: 2px solid #0cca61;
		color: #0cca61;
		margin-right: 10px;
		margin-left: 10px;
		font-size: 22px;
		font-weight: 600;
		width: 220px;
		font-family: "Gotham Book";
	}
	.active {
		background-color: #0cca61 !important;
		color: #FFFFFF !important;font-family: "Gotham Book";
		font-size: 22px!important;

	}
	.btnset{
		border-radius: 20px;
		padding-right: 17px;
		padding-left: 17px;
		border: 1px solid #CCCCCC;
		background-color: #FFFFFF !important;
		color: #0cca61;
		font-family: "Gotham Book";
		font-size: 21px !important;
		width: 150px !important;
	}
.btn-block {
	border-radius: 20px;
}
table {
	font-size:1.1rem;width:100%;font-weight:600
}
tr{
	padding-left:150px;
}
	th{
		font-size: 25px;
		font-weight: bold;
		padding-left: 10px;
		font-family: "Gotham Bold";
		color: #0cca61;
	}
.pagination .arrows{
	background-color: none !important;
	padding: 0px 7px 0px 7px !important;
	border: none  !important;
	margin: 10px !important;
	background-color: #FFFFFF !important;
	color: #0b80b1!important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	font-family: "Gotham Book"!important;
	font-size: 25px!important;
	font-weight: bold!important;border-style: none !important;

}
.pagination .arrows:hover{
border-style: none !important;
	
		background-color: #04e029 !important;font-family: "Gotham Book";
		font-size: 25px!important;

		padding: 0px 7px 0px 7px !important;		color: #FFFFFF !important;
	
}
.pagination .page-no{
border-style: none  !important; margin: 10px; background-color: #FFFFFF !important; padding-right: 16px !important; padding-left: 23px !important;
 color: #04e029 !important;font-family: "Gotham Book"!important;
	font-size: 25px!important;
	font-weight: bold;

}
	.pagination .page-no:hover{
		border-style: none !important;
		
		background-color: #04e029  !important;
		padding-right: 16px !important;
		padding-left: 23px !important;
		color: #FFFFFF  !important;
	}

.pagination .arrows span {
	 color: #04e029 !important; font-size: 1.5rem !important;font-family: "Gotham Book"!important;
	font-size: 25px!important;
	font-weight: bold;

}

.pagination .arrows span:hover {
	 color: #FFFFFF!important; font-size: 1.5rem !important;font-family: "Gotham Book"!important;
	font-size: 25px!important;
	font-weight: bold;

}

	td button.btn-success {
		background-color: #04e029!important;
		font-size: 1rem!important;font-family: "Gotham Book"!important;
	font-size: 22px!important;
	font-weight: bold;

		font-weight: 700  !important;
	}
	td button.btn-default{
		
	}
button i{
	padding-left: 15px !important; float: right !important; font-size: 1.3em !important; color: #FFFFFF !important;
}
.disabled {
	color: #FFFFFF;
		font-weight: 700;font-family: "Gotham Book";
		font-size: 22px !important;
}
	.divider{
	
		background-image: url('/assets/img/table-divider.png');
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: -20px;
		margin-top: -20px;
		top: -30px;
	}
.img-responsive {
	display: inline-block !important;
}
	tr td {
		padding-left: 10px;
		font-family: "Gotham Book";
		color: #363636 !important;
		font-size: 25px !important;
	}
.pagination li a span {
	   position: relative !important;
    float: left !important;
    /* padding: 6px 12px; */
    margin-left: -1px !important;
    /* line-height: 1.42857143; */
    color: #04e029  !important;
    text-decoration: none !important;
    /* background-color: #189BF2; */
    top: 5px;font-family: "Gotham Book";
		font-size: 25px!important;


}
.active {
		background-color: #04e029;
		color: #FFFFFF;font-family: "Gotham Book";
		font-size: 22px!important;  outline: 0px!important;

	}
    .btn:focus{
    outline: 0px!important;


}