<div id="wrapper">
 <div class="container" >
   <div class="row mt30">
   <div class="col-md-12 text-center ">
   <button routerLink="/admin-tools-habitat-rewards-mgt-create" type="button" class="btn btn-admin ">CREATE</button>
      <button routerLink="/admin-tools-habitat-rewards-mgt-view" type="button" class="btn btn-admin">VIEW </button>
   <button routerLink="/admin-tools-habitat-rewards-mgt-approve" type="button" class="btn btn-admin active">APPROVE</button>

   </div>
   <div class="clearfix" ></div>
   <div class="row mt30" >
 
<div class="col-md-12 global-box-shadow pb30 " >  
 <table class=" table-responsive">
   <tr>
   <th>USER NAME</th>
   <th>REDEEMING</th>
<th>ACTION</th>

   </tr>
    <tr class="divider">
 <td colspan="4"></td>
 </tr>
   <tbody>
   
   <tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
John Boo </td>
    <td>1-Day Off</td>
 <td width="30%">
 
 <button type="button" class="btn btnset">Approve</button>
 <button type="button" class="btn btnset">Decline</button>
 
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle" style="display: inline-block">
Michael Robinson </td>
    <td>Half Day Off</td>
 <td>
 <button type="button" class="btn btnset" >Approve</button>
 <button type="button" class="btn btnset">Decline</button>
 </td>
   </tr>
   
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
Alexender Robinson </td>
    <td>Paid Lunch Break</td>
 <td>
 <button type="button" class="btn btn-block btn-success active" >Approved<i class="fa fa-undo" aria-hidden="true" ></i></button>
 

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
Jenifer Pinkster </td>
    <td>Extra Hour for Lunch</td>
 <td><button type="button" class="btn btnset">Approve</button>
 <button type="button" class="btn btnset">Decline</button>

 
 </td>

   </tr>
<tr>
   <td>
   <img src="http://placehold.it/50" alt="" class="img-responsive img-circle">
Bob Robinson </td>
    <td>Extra Hour for Lunch</td>
 <td>
 <button type="button" class="btn btn-block btn disabled">Declined<i class="fa fa-undo" aria-hidden="true"></i></button>
 

 </td>

   </tr>

   
   </tbody>
   
   </table>
   
   </div>
 

   </div>
   <div class="row">
  
      <div class="col-md-12">
      <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a class="arrows" routerlink="" aria-label="Previous" >
        <span aria-hidden="true"> &lt;  </span>
      </a>
    </li>
    <li >
	<a  class="page-no" routerlink="">1</a></li>
    <li>
	<a class="page-no" routerlink="">2</a></li>
    <li><a class="page-no" routerlink="" >3</a></li>
    <li><a class="page-no" routerlink=""  >4</a></li>
    <li><a class="page-no"routerlink="" >5</a></li>
    <li>
      <a class="arrows" routerlink="" aria-label="Next">
        <span aria-hidden="true">&gt; </span>
      </a>
    </li>
  </ul>
</nav>      </div>

   </div>
   </div>
   
   
   </div>  
   </div>
