div.col-md-12 h1 {
font-family:'Gotham Light'; color: #189bf2; text-align: center; margin-top:0px;font-size:40px
}
.well {
background-color: #fff; border-radius: 0px; color: #FFFFFF;
 margin-top:20px;border:1px solid #189bf2;
  box-shadow: 3px 3px 12px 2px #e7e5e5;
  padding-left:46px;
  padding-right:46px;
  padding-top:10px;
  padding-bottom:10px
  
}
.well h2 {
font-family:'Gotham Book'; font-size: 33px; color: #189bf2;
text-align:center;
}
 .mt30{
  margin-top:30px;
 
 }
.tagcloud a {
	padding: 5px 11px 5px 11px;
	border: 2px solid #189bf2;
	color: #189bf2;
	font-family: "Gotham Light";
	font-size: 27.78px;
	background-color: #FFFFFF;
	border-radius: 0px;
	margin-top: 1px;
	margin-left: 8px;
	margin-right: 8px;
	font-weight: bold;
	position: relative;
	text-decoration: none;
}
