
table{border:0px}
th{
color:#189bf3;
}

.imgthumbsize{
width: 75px; height: 75px
}
a {
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
button:hover, a:active, a:focus {
    color: #c1d3e0;
    text-decoration: none;
    outline: none;
}
button:focus {
    outline:0;
}
.wrapper{margin-left: 10%; 
margin-right: 10%;
}
.span4big
{font-size: 5em;font-weight: lighter
}
.span2big
{
font-size: 1em; text-transform: uppercase;
}
.colspan-name{
display: inline-block; vertical-align: top; padding-left: 8px; font-weight: 800; font-size: .8em; padding-top: 15px; color: #353535; line-height: 1em;
}
.colspan-number
{
color: #808080;font-size:.8em; text-align: left; font-weight: 200; padding-top: -15px; padding-bottom: 15px; margin-top: -10px;
}
	
	
	
	/* Style relevant to this page*/
	
	table{border:0px}
th{
color:#189bf3;
}
.blue{
background-color: #85c9f6; color: #FFFFFF

}
/*Page Related CSS*/

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green{
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}
.ribbon-wrapper-yellow {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}

	.ribbon-green {
		font: bolder 12px Sans-Serif;
		color: #333;
		text-align: center;
		text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		position: relative;
		padding: 7px 0;
		left: -5px;
		top: 15px;
		width: 120px;
		background-color: #009933;
		color: #FFFFFF;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	}
	
	.ribbon-yellow {
	font: bolder 12px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	background-color: #FFFF00;
	color: #000000;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
}

	
	
	.ribbon-red {
		font: bolder 12px Sans-Serif;
		color: #333;
		text-align: center;
		text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		position: relative;
		padding: 7px 0;
		left: -5px;
		top: 15px;
		width: 120px;
		background-color: #FF0000;
		color: #FFFFFF;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
.input[type=search] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 100%;
}
.faheartdisp
{
color: #FF3300; font-size: xx-large; margin-right: 15px; margin-left: 15px; margin-top: 0px; vertical-align: bottom;
}
	.faheartdispinactive
{
		color: #999999;
		font-size: xx-large;
		margin-right: 15px;
		margin-left: 15px;
		margin-top:0px;
		vertical-align: bottom;
	}

.daysleft{
border-radius: 5px;  background-color: #189bf3; color: #FFFFFF; display: inline-block; text-align: right; margin-right: 15px; width: 80%; padding-right: 8px; padding-top: 5px; padding-bottom: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #FF0000;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: relative;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 1s;
	}

.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: #675 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;}
.boxborder{
	border: 1px solid #57AFEA; border-radius: 5px
	}
	
	.boxborder-stat{
	border: 2px solid #189bf2; border-radius: 5px;width:90%; text-align: center;margin-bottom:1.2rem; margin-top: 1.2rem; margin-right: auto; margin-left: auto;}
.thumbshadow{ box-shadow: -1px 5px 5px 2px rgba(199,199,199,1)}
.thumbnail img {width:420px;height:235px;}
	.sortbyitem1{
	color: #FFFFFF; background-color: #2e3192;
	 border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #FFFFFF;

	}
.sortbyitem2{
	color: #FFFFFF; background-color: #0054a6;
	 border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #FFFFFF;

	}
.sortbyitem3{
	color: #FFFFFF; background-color: #00aeef;
	 border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #FFFFFF;

	}
.sortbyitem4{
	color: #FFFFFF; background-color: #21cdfc;
	 border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #FFFFFF;

	}
.sortbyitem5{
	color: #FFFFFF; background-color: #84dbfc;
	 border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #FFFFFF;

	}
.dropdown-menu li a {
	color: #FFFFFF; text-align: right

	}
div.polaroid {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}	.thumbnail {
	padding: 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

table {
  border: 0px
}

th {
  color: #189bf3;
}

.imgthumbsize {
  width: 75px;
  height: 75px
}

body {
  background-color: #FFFFFF;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button:hover, a:active, a:focus {
  color: #c1d3e0;
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 0;
}

#main-wrapper {
  /*background-color: #f3f8fb;*/
}

#wrapper {
  /*background-color: #006699;*/
  margin-left: 10%;
  margin-right: 10%;
}

.most {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  color: #137ec4
}

.social {
  font-size: large;
  font-size: 5rem;
  margin-top: -30px;
  background: -webkit-linear-gradient(#137ec4, #393939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden
}

.sharing {
  color: #959595;
  text-align: center;
  margin-top: -20px;
  text-transform: uppercase;
  vertical-align: super;
  font-size: 1.5rem;
}

ul.mostshared li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
}

ol.colspan {
  list-style-type: decimal;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  margin-left: -20px;
  list-style-position: inside;
}

ol.colspan {
  ol.colspan {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
  }
  ol.colspan li {
    margin-left: 9px;
    list-style-position: inside;
    width: 33, 333333%;
    margin-bottom: 30px;
  }
}

.spanned ol {
  counter-reset: item;
  font-size: 1.7em;
  color: #000000;
  list-style-type: none;
}

.spanned ol li {
  display: block;
}

.spanned ol li:before {
  content: counter(item) '';
  font-size: 2em;
  counter-increment: item
}

.white-border-content {
  border: 2px solid #FFFFFF;
  color: #c1d3e0;
  padding: 1.5rem 0rem 1.3rem 0rem;
  padding: 15px -5px 15px -5px;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #FFFFFF;
  background-color: #189bf3;
}

.span4big {
  font-size: 5em;
  font-weight: lighter
}

.span2big {
  font-size: 1em;
  text-transform: uppercase;
}

.colspan-name {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
  font-weight: 800;
  font-size: .8em;
  padding-top: 15px;
  color: #353535;
  line-height: 1em;
}

.colspan-number {
  color: #808080;
  font-size: .8em;
  text-align: left;
  font-weight: 200;
  padding-top: -15px;
  padding-bottom: 15px;
  margin-top: -10px;
}


/* Style relevant to this page*/

.fa-chevron-left {
  color: #666666;
}

.mostshared li {
  margin-right: 30px;
  margin-left: 32px;
}

.margin-top30 {
  margin-top: 30px
}

.mostshared .thumb-text-center {
  text-align: center;
  color: #656565
}

.mostshared .thumb-shared-no {
  text-align: center;
  margin-top: -10px;
  color: #169cf1;
}


/*pagre related styles */

.white-border-contentmoney {
  border: 2px solid #FFFFFF;
  color: #c1d3e0;
  padding: 1rem 0rem 1rem 0rem;
  padding: 1px -5px 1px -5px;
  text-align: center;
  font-size: 1em;
  width: 40%;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #FFFFFF;
  background-color: #189bf3;
  margin-right: auto;
  margin-left: auto;
}

* {
  color: #000000
}

table {
  border: 0px
}

th {
  color: #189bf3;
}

.blue {
  background-color: #85c9f6;
  color: #FFFFFF
}

table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.custom-btn-blue {
  padding: 10px 15px 10px 11px;
  background-color: transparent;
  color: #189bf2;
  border: 2px solid #189bf2;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  word-wrap: break-word;
}


/*Page Related CSS*/

.textgradient {
  margin-top: 30px;
  background: -webkit-linear-gradient(#189bf3, #346488);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden
}

.findnpo {
  border-radius: 20px;
  background: linear-gradient(to bottom, #e51257, #ba0b44, #83022b);
  color: #FFFFFF;
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
}


/*Ribbon Layouts-*/

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}

.ribbon-wrapper-yellow {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}

	.ribbon-green {
		font: bold 10px 'Gotham Book';
		color: #333;
		text-align: center;
		text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		position: relative;
		padding: 7px 0;
		left: -5px;
		top: 15px;
		width: 120px;
		background-color: #009933;
		color: #FFFFFF;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	}
	.ribbon-yellow {
		font: bold 10px 'Gotham Book';
		color: #333;
		text-align: center;
		text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		position: relative;
		padding: 7px 5 7px 5;
		left: -3px;
		top: 15px;
		width: 120px;
		background-color: #FFFF00;
		color: #000000;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	}
	.ribbon-red {
		font: bold 10px 'Gotham Book';
		color: #333;
		text-align: center;
		text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		position: relative;
		padding: 7px 0 7px 0;
		left: -5px;
		top: 15px;
		width: 120px;
		background-color: #FF0000;
		color: #FFFFFF;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	}

.ribbon-green:before, .ribbon-green:after {
  content:'';
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}

.input[type=search] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

input[type=search]:focus {
  width: 100%;
}

.faheartdisp {
  color: #FF3300;
  font-size: xx-large;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  vertical-align: bottom;
}

.faheartdispinactive {
  color: #999999;
  font-size: xx-large;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  vertical-align: bottom;
}

	

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #FF0000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #675 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.boxborder {
  border: 1px solid #57AFEA;
  border-radius: 5px
}

.boxborder-stat {
  border: 2px solid #189bf2;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

.thumbshadow {
  box-shadow: -1px 5px 5px 2px rgba(199, 199, 199, 1)
}

.thumbnail img {
  width: 420px;
  height: 235px;
}

.sortbyitem1 {
  color: #FFFFFF;
  background-color: #2e3192;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
}

.sortbyitem2 {
  color: #FFFFFF;
  background-color: #0054a6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
}

.sortbyitem3 {
  color: #FFFFFF;
  background-color: #00aeef;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
}

.sortbyitem4 {
  color: #FFFFFF;
  background-color: #21cdfc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
}

.sortbyitem5 {
  color: #FFFFFF;
  background-color: #84dbfc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
}

.dropdown-menu li a {
  color: #FFFFFF;
  text-align: right
}
.skew {    
   background-color: #189bf3; color: #FFFFFF;
      -webkit-transform: perspective(100px) rotateX(-19deg);
    -webkit-transform-origin: left center;
}

.progress-bar p{
	 
   background-color:inherit; color: #FFFFFF;
      -webkit-transform: perspective(100px) rotateX(20deg);
    -webkit-transform-origin: left center;font-size: 27px;
}
[class^='imghvr-'], [class*=' imghvr-'] {
  
}

[class^='imghvr-']>img, [class*=' imghvr-']>img {
  vertical-align: top;
  max-width: 100%;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
 background: rgba(0, 0, 0, .5);
    padding: 30px;
    position: absolute;
    top: 7px;
    bottom: 0;
    height: 62%;
    left: 7px;
    right: 7px;
    color: #FFFFFF;
    
    
    
    }

[class^='imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h6 {
  color: #ffffff;
}

[class^='imghvr-'] a, [class*=' imghvr-'] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before, [class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after, [class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before, [class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

[class^='imghvr-fade'] figcaption, [class*=' imghvr-fade'] figcaption {
  opacity: 0;
}

[class^='imghvr-fade']:hover>img, [class*=' imghvr-fade']:hover>img {
  opacity: .7
}

[class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover figcaption {
  opacity: 1;
}

[class^='imghvr-fade']:hover>img, [class*=' imghvr-fade']:hover>img, [class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover figcaption {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.thumbnail {
  padding: 0px;
}

h4 {
  margin-left: 10px
}
.button1 {
    box-shadow: -2px 2px 26px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:#FFFFFF;width:100px;border-radius: 20px;color: #189bf2;margin-right:5px;

}
.caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ce058a;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background: #fff;
    border: 1px solid #0b80b1;
}
.dropdown button p{
margin: 0px; padding: 0px; display: inline-block; float: right
	
}
span.input-group-btn-sm {
	position: absolute; margin-left: 228px;margin-top: 0px
}
span.input-group-btn-lg {
	position: absolute; margin-left: 328px;margin-top: 0px
}

	span.input-group-btn button{
		border-style: none!important;
		background-color: transparent!important;
		color: #0099CC;
	}
  
span.input-group-btn button i {
	color: #189bf2 !important;font-size:16px !important;}
	input.form-control{
		border-color: #189bf2 !important;
		border-radius: 8px !important;
		border-style: solid !important;
		border-width: 2px !important;
	}
	.dropdown button {
width: 100%;text-align:left;border:1px solid #ce058a;background-color: #fff; 
	color: #ce058a; padding-top: 10px; padding-bottom: 10px; font-size: 1.4rem;border-radius:0px
}
div.polaroid {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
	div.col-md-12 h4 {
		font-family: 'Gotham Book';
		font-size: 18px;
		font-weight: bold;
		color: #363636;
		text-transform: capitalize;
		text-align: left;
	}
	.daysleft {
		border-radius: 5px;
		background-color: #189bf3;
		color: #FFFFFF;
		display: inline-block;
		text-align: right;
		margin-right: 15px;
		width: 90%;
		padding-right: 8px;
		margin-top: 15px;
		padding-top: 5px;
		padding-bottom: 0px;
		margin-left: 10px;}
.daysnum{
	font-family: 'Gotham Light';
		font-weight: bold;
		text-transform: uppercase;color: #FFFFFF;
font-size: 19px; color: #FFFFFF; padding-bottom: 0px; margin-bottom: -7px; padding-right: 5px;
}
.days-txt{
		color: #FFFFFF;
		display: inline-block;
		text-align: right;
	font-family:'Gotham Light';
		font-size: 12px;padding-bottom:0px;
		font-weight: bold;
		text-transform: uppercase;
padding: 0px 5px 5px 0px; margin: -5px 0px 0px 0px;
}
[class*="col-"] {
    margin-bottom: 0px;
}

	input::-webkit-input-placeholder {
		color: #cccccc;
		font-weight: bold;
		font-family: "Gotham Light";
		font-size: 16px;
	}
.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 7px;
	height: 7px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
/*	height: 100%;*/
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(206,5,138,0.5);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to 

screen readers */
	position: absolute;border:none;
}
.dotstyle li a.active {
	top: 0;
	left: 0;
	width: 100%;
/*	height: 100%;*/
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(206,5,138,0.9);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to 

screen readers */
	position: absolute;border:none;

}
/*hover */
hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color:none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}



.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition:none;
  transition: none;
  font-weight: normal;
  margin-top: 60px;
}

.hovereffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect p.info:hover {
  box-shadow:none;
}
.pagination>li>a, .pagination>li>span {
   
    padding: 2px 11px!important;
  
}