<div id="wrapper">
  <div class="container">
    <div class="row mt30">
      <div class="col-md-12 text-center ">
        <button routerLink="/rewards/create" type="button" class="btn btn-admin ">CREATE</button>
        <button routerLink="/rewards" type="button" class="btn btn-admin">VIEW </button>
        <button routerLink="/reward-applicants" type="button" class="btn btn-admin active">APPROVE</button>
      </div>
      <div class="clearfix">
        <app-toast [message]="toast.message"></app-toast></div>
      <div class="row mt30">
        <div class="col-md-12 global-box-shadow pb30 ">

          <table class=" table-responsive">
            <thead class="thead-default">
              <tr>
                <th>USER NAME</th>
                <th>REDEEMING</th>
                <th>ACTION</th>
              </tr>
              <tr class="divider">
                <td colspan="4"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pager of pagedItems">
                <td><img src="http://placehold.it/50" alt="" class="img-responsive img-circle">                  {{pager.name}}</td>
                <td>{{pager.points}}</td>
                <td>
                  <button type="button" class="btn btnset" (click)="approveReward(pager)">Approve</button>
                  <button type="button" class="btn btnset" (click)="declineReward(pager)">Decline</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- PAGINATION -->
      <div class="col-md-9 text-center" style="margin-top: 30px">

        <nav aria-label="Page navigation">
          <!-- pager -->

          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">

            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-no" (click)="setPage(pager.currentPage - 1)"><span aria-hidden="true" style="color: #FFFFFF">&lt; </span></a>
            </li>

            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-no" (click)="setPage(page)">{{page}}</a>
            </li>

            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">

              <a class="arrows" aria-label="Next" (click)="setPage(pager.currentPage + 1)">
                <span aria-hidden="true" style="color: #FFFFFF">&gt; </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Pagination -->

    </div>
  </div>
</div>
