<div class="content">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-family: 'Gotham book'; font-weight:bold;font-size: 38px; color: #0b80b1">ADD/REMOVE USERS</h1>
        <p style="font-family: 'Gotham book'; font-size: 30px; color: #0b80b1;margin-top: 30px;margin-bottom: 30px;text-align:center;">UPLOAD A CSV TO QUICKLY ADD MULTIPLE EMPLOYEES</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <p style="margin-right: -115px;font-family:'Gotham Book';font-size:26px;color:#00ff00;text-align:right">Upload successful!</p>
      </div>
      <div class="col-md-4" style="text-align:right;">
        <button class="btn btn-upload" style="margin-right: 26px;color:#0b80b1;font-family:Gotham book;font-weight:bold;font-size:26px;">UPLOAD<img src="/assets/img/admin/user/upload.png" alt="Upload"></button>
      </div>
      <div class="col-md-12" style="text-align:center;margin-top: 30px;margin-bottom: 20px;">
        <button class="btn" style="padding-left:25px;padding-right:25px;border-radius:24px;background:#7b0046;color:#fff;font-family:Gotham book;font-weight:bold;font-size:26px;">SUBMIT UPLOAD</button>
      </div>
      <div class="col-md-12">
        <h4 style="font-family:'Gotham Book';font-size:30px;color:#0b80b1;margin-top:40px;margin-bottom:40px">ADD A USER</h4>
        <form>
          <div class="form-group col-xs-4">
            <label for="inputEmail" style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">First Name </label>
            <input type="text" class="form-control" id="inputEmail">
          </div>
          <div class="form-group col-xs-4">
            <label for="inputEmail" style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">Last Name </label>
            <input type="text" class="form-control" id="inputEmail">
          </div>
          <div class="form-group col-xs-4">
            <label for="inputEmail" style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">Department </label>
            <input type="text" class="form-control" id="inputEmail">
          </div>
          <div class="form-group col-xs-4 mt30">
            <label for="inputEmail" style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">Position/Title </label>
            <input type="text" class="form-control" id="inputEmail">
          </div>
          <div class="form-group col-xs-4 mt30">
            <label for="inputEmail" style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">Operates As </label>
            <input type="text" class="form-control" id="inputEmail">
          </div>
        </form>
      </div>
      <div class="col-md-12 mb250">
        <h4 style="font-family:'Gotham Book';font-size:30px;color:#0b80b1;margin-top:40px;margin-bottom:40px">REMOVE A USER</h4>
        <form class="form-search" method="get" id="s" action="/">
          <div class="input-append" style="    margin-left: 10px;">
            <label for="inputEmail" style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">Browse Name</label><br>
            <input type="text" class="input-medium search-query" style="border: 2px solid #189bf2;border-radius: 4px;margin-right:-36px;width:45%;height:44px;">
            <button type="submit" class="add-on" style="background:#fff;border:none;margin-left: -6px;"><i class="glyphicon glyphicon-search" style="color:#0b80b1;top: 8px;font-size: 24px;"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
