    <app-giving-navbar></app-giving-navbar>
<div id="wrapper" style="margin-top:40px">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-2">
              <a routerLink="/giving">
        <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size:46px; padding-right: 10px; padding-left: 10px;border: 0;"></i>

</span>
        </a>
          <!-- <a routerLink="/giving"> <span class="fa-stack fa-3x  circle-dir">
            <i class="fa fa-chevron-left " style="font-size:1em; padding-right: 5px; padding-left: 10px;border: 0;"></i>
          </span> </a> -->
        </div>


        <div class="col-md-7">
          <div class="white-border-contentmoney">
            <h5 style="text-align: center; padding-right: 15px;font-family: 'Gotham Light'; font-size: 22px; color: #FFFFFF">You have Donated a total of</h5>
            <h2 style="text-transform: lowercase; font-family: 'Gotham Thin'; font-size: 83px; color: #FFFFFF; ">${{ donationTotal.toFixed(2) }}</h2> </div>
        </div>
        <div class="col-md-3">
          	<button type="button" routerLink="/giving-dashboard-manage-volunteering"
            class="btn custom-btn-blue pr15 pl15 mroff30  btn-block" style="font-family: 'Gotham Light'; font-size: 16px; font-weight: bold">My Volunteering History</button>

           </div>
 </div>
      </div>
   </div>
    </div>
    <div class="container margin-top30">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table borderless">
              <thead>
                <tr>
                  <th>ORGANIZATION NAME</th>
                  <th>STATUS</th>
                  <th>AMOUNT</th>
                  <th>DATE</th>
                  <th>DETAILS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let donation of donations">
                  <td width="30%" class="blue white-shadow pl30">{{ donation.name }}</td>
                  <td width="12%" class="grey-shadow complete">{{ donation.status }}</td>
                  <td width="15%" class="blue small-white-shadow">${{donation.tranAmount.toFixed(2) }}</td>
                  <td width="25%" class="grey-shadow-lg">{{ donation.createDate.substr(0, 10) }}</td>
                  <td width="15%" class="blue white-shadow"><a routerLink="/giving-donation-receipt/{{ donation._id }}">Receipt</a></td>
                </tr>
                <tr style="border-style: none">
                  <td class="blue"></td>
                  <td></td>
                  <td class="blue"></td>
                  <td></td>
                  <td class="blue"></td>
                </tr>
                <tr style="border-style: none">
                  <td class="blue"></td>
                  <td></td>
                  <td class="blue"></td>
                  <td></td>
                  <td class="blue"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align: center;display:none;">
        <nav aria-label="...">
         <div class="dotstyle dotstyle-fillup">
          <ul class="pagination">
            <li><a class="active">Home</a></li>
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>

          </ul>
        </div>

        </nav>
      </div>
    </div>
