<div class="container">
  <div class="row">
    <div class="col-md-1"><a routerLink="/habitat-written-surveys"> 
 <span class="fa-stack fa-3x img-circle circle-dir">
  <i class="fa fa-chevron-left " style="font-size:1em; padding-right: 5px; padding-left: 5px;"></i>
</span></a>  </div>
    <div class="col-md-10">
      <h1 style="color: #189bf2; font-family: 'Gotham Thin'; font-size: 55px;">How Are We Doing?</h1>
      <p style="color:#636363; font-family: 'Gotham Thin'; font-size: 27px;">Select an answer for each question</p>
    </div>
  </div>
  <form>
    <div class="panel" style="border:none" >
      <div class="panel-heading">
        <h1 class="question" style="font-family: 'Gotham Light'; font-size: 33px">How many company health events have you participated in this month?</h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="items-collection">
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3"style="width: 12%; height: 100px;margin-right: 10px;">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group"style="margin: 0px">
                  <label class="btn labelstyle">
                            <div class="itemcontent"style=" padding-right: 5px; padding-left: 5px;">
                                        <input type="radio" name="item" autocomplete="off" id="1">
                                        <input name="Checkbox1" type="checkbox" />
                                        <h1 style="font-family: 'Gotham Light'; font-size: 46px">&#60;5</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3" style="width: 12%; height: 100px;margin-right: 10px;">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group">
                  <label class="btn labelstyle">
                                    <div class="itemcontent" style=" padding-right: 5px; padding-left: 5px;">
                                        <input type="radio" name="itemcontent" autocomplete="off" id="2">
                                        <h1 style="font-family: 'Gotham Light'; font-size: 46px">&#62;5</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3 "style="width: 32%; height: 100px;margin-right: 10px;">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group">
                  <label class="btn labelstyle" style="width: 330px">
                                    <div class="itemcontent itemcontentstyle">
                                        <input type="radio" name="item" autocomplete="off" id="3">
                                        <h4 style="display: inline-block; font-family: 'Gotham Light'; font-size: 28.4px;">I can't remember</h4>
                                        <h1 style="display: inline-block">	&#9785;</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>

            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3"style="width: 32%; height: 100px;margin-right: 10px;" >
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group itemcontent ">
                  <label class="btn labelstyle" style="width: 430px">
                                    <div class="itemcontent itemcontentstyle">
                                        <input type="radio" name="item" autocomplete="off" id="4">
                                        <h5 style="display: inline-block; font-family: 'Gotham Light'; font-size: 28.4px; vertical-align: middle;">I didn't participate in any.</h5>
                                        <h1 style="display: inline-block; vertical-align: middle;"> &#9785;</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="panel" style="background-color: transparent">
      <div class="panel-heading">
        <h1 class="question"  style="font-family: 'Gotham Light'; font-size: 33px">Is the bathroom being kept clean enough?</h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="items-collection">
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group">
                  <label class="btn labelstyle"  style="background-color: transparent">
                                    <div class="itemcontent" style="padding-right: 30px; padding-left: 30px">
                                        <input type="radio" name="item" autocomplete="off" id="6">
                                        <h1>Yes  &#9786;</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group itemcontent">
                  <label class="btn labelstyle"  style="background-color: transparent">
                                    <div class="itemcontent" style="padding-right: 30px; padding-left: 30px">
                                        <input type="radio" name="item" autocomplete="off" id="7">
                                        <h1>NO  &#9785;</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    
    <div class="panel"  style="background-color: transparent">
      <div class="panel-heading">
        <h1 class="question"  style="font-family: 'Gotham Light'; font-size: 33px">Are the new wifi connections better than the previous?</h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="items-collection">
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group">
                  <label class="btn labelstyle"  style="background-color: transparent">
                                    <div class="itemcontent" style="padding-right: 30px; padding-left: 30px">
                                        <input type="radio" name="item" autocomplete="off" id="8">
                                        <h1>Yes 	&#9786;</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>
            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
              <div class="info-block block-info clearfix">
                <div data-toggle="buttons" class="btn-group itemcontent">
                  <label class="btn labelstyle" >
                                    <div class="itemcontent" style="padding-right: 30px; padding-left: 30px">
                                        <input type="radio" name="item" autocomplete="off" id="9">
                                        <h1>No  &#9785;</h1>
                                    </div>
                                </label>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </form>
  <button class="btn btn-lg center-block" type="button" style="margin-top: 50px;"  data-toggle="modal" data-target="#myModal">SUBMIT</button>
<figure class="text-center" style="margin-top: 60px">
<figcaption style="color:grey"></figcaption>
  <img src="/assets/img/habitat/surveymonkey.png">
</figure>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="top: 260px">
  <div class="modal-dialog" role="document" style="width: 50%">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 3em; font-family: 'Gotham Thin'; color: #252525;margin-top: -5px;"><span aria-hidden="true">&times;</span></button>
       
      </div>
      <div class="modal-body">
         
        <div class="row" style="padding-top: 15px; padding-bottom: 35px; margin-top: -30px;">
            
            <div class="col-md-12">
 <h4 class="modal-title text-center" style="font-family: 'Gotham Light'; font-size: 47px; color: #111111">Thank you for your feedback!</h4>
        <div class="row">
        <div class="col-md-1"></div>
   <div class="col-md-10" >
              <p class="text-center" style="font-family:'Gotham Light'; font-size: 33px; color: #0cca61">Here are your 10 points as promised!
      
           </div>
        </div>
   <div class="row">
 
   <div class="col-md-12 text-center " style="margin-top: 20px;margin-bottom: 0px;">
	   <button class="btn modal-exit-btn" data-dismiss="modal" type="button" style="padding: 0px; border-radius: 20px; background-color: #7b0046; color: #FFFFFF; width: 130px; font-family: 'Gotham Light'; font-size: 20px;"> EXIT</button>
</div>
</div>
    </div>
    </div>
  </div>
</div>

  </div>


