	button.btn-lg {
		border-radius: 30px;
		background-color: #7b0046;
		color: #fff; background: linear-gradient(to bottom, #ec135b,#de1157,#c30d53,#a6074e,#9e064c,#900449,#820147); 
		font-family: "Gotham Book";box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		width: 300px;
		font-size: 30px;
	}
div.col-md-10>h1, div.col-md-10>p {
  text-align: center;
  font-family: Gotham Light;
  color: #189BF2;

}
div.panel-heading {
box-shadow: 0px 5px 9px 2px rgba(213,213,213,1);
  padding: 1em;
  margin: 1em;
  font-size: 2em;
  color: #189BF2;
  background-color: #fff;
  font-family: Gotham Thin;


}
label.btn.btn-default {
  padding: 1em;
  border-radius:.5em;
  color: #189BF2;
  border: #189BF2 outset 1px;
  font-family: Gotham Light;

}
label.btn:visited{
	background-color:red;color:aqua;
}
.labelstyle {
border: 1px solid  #189BF2; border-radius: 8px; background-color: transparent; color:  #189BF2;
}
	.itemcontentstyle {
		height: 80px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.circle-dir{border-style: solid; border-width: 1px; border-radius: 50%; font-size:2em; padding-right: 5px; padding-left: 5px;}
