<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- <h3>Your Company Logo Here </h3> -->
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row">
      <div class="col-md-12" id="e360-bg">
        <a class="btn center-block " id="e360-login-btn" data-target="#modal-login"
            data-toggle="modal">LOGIN</a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div id="powered-by" style="height:66px;float: right; vertical-align: middle;">
    <span id="powered-by-text"> </span> <img height="90" id="logo" src="/assets/img/footer.png" width="411px"></div>
</div>
<!--modal-login-->
<div class="modal fade pg-show-modal" id="modal-login" tabindex="-1" role="dialog"
    aria-hidden="true">
  <div class="modal-dialog modal-sm" style="width: 370px">
    <div class="modal-content">
      <form #form="ngForm" (ngSubmit)="onLogin(form.value)">
        <div class="modal-header" style="border:none">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
              style="font-size:3em; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -5px; font-weight: bold;">&times;</button>
        </div>
        <div class="modal-body text-center center-block">
          <h2 class="modal-title text-center welcome">Welcome</h2>
          <p class="text-center" style="color: #464646; font-family: 'Gotham Light'; font-size: 16px;">
            <b>Simply login using any of these <br>social media accounts</b>
          </p>
          <small class="text-muted" style="color: #acacac; font-size: 14.56px; font-family: &quot;Gotham Light&quot;">Select Social Network</small>
          <div class="row" style="margin-top: 15px">
            <div class="col-md-1"></div>
            <div class="col-md-10"> <img src="../../assets/img/login/fb.png" alt="" width="65" height="65"
                  style="margin: 5px;" /> <img src="../../assets/img/login/tweet.png"
                  alt="" width="65" height="65" style="margin: 5px;" /> <img src="../../assets/img/login/ig.png"
                  alt="" width="65" height="65" style="margin: 5px;" /> </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="border-top-style: solid; border-width: 1px; border-color: #189BF2"></div>
            <div class="col-md-1"></div>
          </div>
          <div class="row text-center">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="margin-top: -15px">
              <h4 style="color: #464646; font-family: 'Gotham Light'; text-align: center; padding-top: 10px; padding-bottom: 10px; font-size: 16.67px; font-weight: bold;">Enter the following : </h4>
              <div class="form-group   center-block">
                <input type="text" name="username" ngModel required class="form-control col-md-3"
                    placeholder="Username" style="border-radius: 8px; border: 2px solid #189BF2;margin-bottom:0px">
                  <a style="text-align: right;font-size:12.5px; padding-top: -75px; float: right;margin-bottom:30px; color: #acacac; font-family: 'Gotham Light';">Forgot Username?</a>
              </div>
              <div class="form-group">
                <input type="password" name="password" ngModel required class="form-control"
                    id="pwd" placeholder="Password" style="border-radius: 8px;border: 2px solid #189BF2; margin-top:20px">
                  <a style="text-align: right;font-size:12.5px; padding-top: -75px; float: right;margin-bottom:30px; color: #acacac; font-family: 'Gotham Light';">Forgot Password?</a>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" class="btn center-block btn-admin">LOGIN</button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn center-block btn-firsttime" data-target="#modal-first-time"
                        data-toggle="modal" data-dismiss="modal">FIRST TIME?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
  <!--modal-first-time-->
  <div class="modal fade pg-show-modal" id="modal-first-time" tabindex="-1" role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 350px">
      <div class="modal-content">
        <form #formFirstTime="ngForm" (ngSubmit)="onCreate(formFirstTime.value)">
          <div class="modal-header" style="border:none">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                style="font-size:3em; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -5px; font-weight: bold;">&times;</button>
          </div>
          <div class="modal-body text-center center-block">
            <h2 class="modal-title text-center welcome">Welcome</h2>
            <p class="text-center" style="color: #474747; font-family: 'Gotham Light';">Enter your company email address</p>
            <div class="row text-center">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="form-group   center-block">
                  <input type="email" name="username" ngModel required class="form-control col-md-3"
                      placeholder="Username" id="email" style="border-radius: 8px; border: 2px solid #189BF2; ">
                </div>
                <label class="text-center" for="pwd" style="color: #474747;margin-top:30px; font-family: 'Gotham Light';">Create a password</label>
                <div class="form-group">
                  <input type="password" name="password" ngModel required class="form-control"
                      id="pwd" placeholder="Password" style="border: 2px solid #189BF2; margin-top:10px">
                    <input type="confirm password" class="form-control" id="pwd" placeholder="Confirm Password"
                        style="border: 2px solid #189BF2; margin-top: 20px">
                </div>
                <button type="submit" class="btn center-block btn-admin">LOGIN</button>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
