<div id="wrapper">
  <div class="container">
    <div class="container">
      <!---First Section  CONTENT Starts here
           ============================================= -->
      <div class="container">
        <div class="row" id="first-section-row">
          <!-- main text-->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <figure class="imghvr-fade">

                  <img class="img-circle user-profile-pic hov" src="https://s3.amazonaws.com/imminent/oahu/{{ session.id }}/picture.png">
                  <figcaption>
                    <p class="pointer">UPLOAD PICTURE</p>
                  </figcaption>
                </figure>



                <div class="row">
                  <div class="col-md-12" data-spy="scroll" data-target="#sidebarmentees">
                    <div *ngIf="profile?.skills" id="sidebarmentors">
                      <h3> Skills and Interest </h3>
                      <ul *ngFor="let skill of profile.skills" class="list">
                        <li>{{skill}}</li>
                      </ul>
                      <ul *ngFor="let interest of profile.interests" class="list">
                        <li>{{interest}}</li>
                      </ul>
                    </div>

                    <div *ngIf="profile?.interests" id="sidebarmentors">
                      <h3>Update Profile Info </h3>
                      <p>Give the world a better representation of your skills.
                        <a data-toggle="modal" data-target="#onboarding-modal" class="list-group-item" style="font-family: 'Gotham Light'; font-size: 18px; color: #555555"> <img src="/assets/img/help1.png" alt="" style="width: 41px; height: 41px;"><span style="padding-left:10px;">IT Help Care</span></a>
                      </p>
                    </div>

                    <!--sidebar-Mentors-->
                    <div *ngIf="profile.mentorStatus === 'Approved'" id="sidebarmentors">
                      <h3>Mentors </h3>
                      <ul *ngFor="let mentor of profile.mentors" class="list">
                        <li>{{mentor.name}}</li>
                      </ul>
                    </div>
                    <div *ngIf="profile.mentorStatus !== 'Approved'" id="sidebarmentors">
                      <h3>Find Mentors </h3>
                      <p>Learn from experience, get a mentor</p>
                        <span routerLink="/habitat-mentors"><i class="fa fa-address-book-o" aria-hidden="true"></i>
                          </span>
                    </div>

                    <!--sidebar-Mentees-->
                    <div *ngIf="profile?.mentees" id="sidebarmentors">
                      <h3>Mentees </h3>
                      <ul *ngFor="let mentee of profile.mentees" class="list">
                        <li>{{mentee.name}}</li>
                      </ul>
                    </div>
                    <div *ngIf="!profile?.mentee" id="sidebarmentors">
                      <h3>Become a Mentor </h3>
                      <p>Share your experience, shape the future become a mentor.</p>
                        <span routerLink="/habitat-mentors"> <i class="fa fa-address-book-o" aria-hidden="true"></i>
                          </span>
                    </div>
                    <div id="sidebarmentees">
                      <h1>{{pageVisits}}</h1>
                      <h4>TOTAL PROFILE VIEWS</h4>
                    </div>
                    <div id="sidebarmentees">
                      <h3>Current Opportunities </h3>
                      <div class="list-group icon-group-blue leftsidebar">
                        <a class="list-group-item"> <img src="/assets/img/user/clean.png" alt="" />Clean-up Crew</a>
                        <a class="list-group-item"> <img src="/assets/img/user/dog.png" alt="" />Dog Rescue</a>
                        <a class="list-group-item"> <img src="/assets/img/user/earth.png" alt="" />Syrian Refugees</a>
                      </div>
                    </div>
                    <div *ngIf="hasReceipts" id="sidebarmentees">
                      <h3>Rewards Earned</h3>
                      <ul *ngFor="let receipt of allItems">
                        <li> {{receipt.rewardName}}</li>
                      </ul>
                    </div>
                    <div *ngIf='!hasReceipts' id="sidebarmentees">
                      <h3>Earn Rewards</h3>
                      <p>Looks like you have no rewards, click the gift and see the
                        possibilities.
                        <span routerLink="/habitat-rewards"><i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                          </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <p style="display: inline-block">
                      <span class="name-title">{{session.username}}</span>
                    </p> <img src="/assets/img/user/divide-shadow.png" alt="" height="123"
                        width="50" style="margin-left: 15px;" />
                    <p style="display: inline-block">
                      <span class="Job-title"></span> <br>
                      <span class="dept">{{profile.department}}</span>
                    </p>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                      malesuada nec augue non varius. Pellentesque molestie posuere
                      ipsum ut pulvinar. Proin libero nunc, faucibus ut tristique
                      vel, convallis a massa.
                    </p>
                  </div>
                </div>
                <div class="col-md-12 margin-top25">
                  <div class="row">
                    <div class="col-md-3">
                      <span class="phone"> <i class="fa fa-phone" aria-hidden="true"></i> {{profile.number}}</span>
                    </div>
                    <div class="col-md-9">
                      <p>
                        <span class="mail"><i class="fa fa-envelope" aria-hidden="true"></i>{{profile.email}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <!---third--->
                <div class="row margin-top25">
                  <div class="col-md-8">
                    <div class="col-md-4 text-center" style="padding: 0px">
                      <p class="most">Most</p>
                      <p class="social">Involved</p>
                      <p class="sharing">#56</p>
                    </div>
                    <div class="col-md-4 text-center" style="padding: 0px">
                      <p class="most">Most</p>
                      <p class="social">Social</p>
                      <p class="sharing">#23</p>
                    </div>
                    <div class="col-md-4 text-center" style="padding-right: 0px; margin-right: 0px;">
                      <p class="most">Most</p>
                      <p class="social">Engaged</p>
                      <p class="sharing">#37</p>
                    </div>
                  </div>
                  <div class="col-md-4 white-border-content">
                    <span class="span4big">769</span> <br>
                    <span class="span2big">Total Points Accured </span>
                  </div>
                </div>

                <!-- your gertie-->
                <div class="col-md-12">
                  <div class="row" style="background-color: #FFFFFF;margin-top: 30px;box-shadow: 0px 10px 19px 3px rgba(201,201,201,1); padding-bottom: 0px; padding-top: 15px;">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4" style="margin-left:0px;padding-left:10px;padding-right:10px;background-position: right top;background-color: #FFFFFF; background-image: url('/assets/img/user/shadow-social.png'); background-repeat: no-repeat;">
                          <h2 style="font-family:'gotham Book'; color: #189bf2; text-align: center;padding-top:30px; font-size: 26px;">YOUR GERTIES</h2>
                          <p style="color: #959595; font-family:'Gotham Book'; font-size: 19px; text-align: center; display: block;">
                            (2/50) </p>
                        </div>
                        <div class="col-md-8">
                          <div class="row">
                            <div class=" col-md-4">
                              <div class="row">
                                <div class="col-md-11"> <img src="/assets/img/gertie_360.png" alt="" /> </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="row">
                                <div class="col-md-11"> <img src="/assets/img/gertie_360.png" alt="" /> </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="row">
                                <div class="col-md-11"> <img src="/assets/img/gertie_360.png" alt="" /> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!---your gratie endes here--->
                <!------YOUR WALL---->
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 text-center" style="margin-top:30px;margin-bottom: 30px">
                      <h1 style="font-family: 'Gotham Light'; color: #189bf2; font-size: 35px">Your Wall</h1>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-10" style="box-shadow: -2px 0px 9px 2px rgba(0,0,0,0.35);padding-top: 40px; padding-bottom: 30px;">
                          <img src="/assets/img/user/imageupl.png" class="img-responsive" alt="">                          </div>
                        <div class="col-md-10">
                          <h2>Photo Uploads</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-10" style="box-shadow: -2px 0px 9px 2px rgba(0,0,0,0.35); padding-top: 40px; padding-bottom: 30px;">
                          <div class="embed-responsive embed-responsive-16by9" style="height: 236px">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
                          </div>
                        </div>
                        <div class="col-md-10">
                          <h2>Video Uploads</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!---profile comment BIG----->
                <div class="col-md-12" style="padding: 0px; margin: 60px 0px 0px 0px;">
                  <p style="font-size:13px;color: #acacac; font-family: &amp;amp; amp; text-transform: uppercase; padding-top: 0px; font-family: 'Gotham Book'; text-align: right;">You shared this <i class="fa fa-share" aria-hidden="true"></i>                    </p>
                  <div class="well" style="padding: 20px 20px 0px 20px; margin-top: 2px;">
                    <div class="row">
                      <div class="col-xs-3" style="display: block; margin-left: -50px; margin-top: -50px;margin-right:0px;">
                        <img src="/assets/img/4.png" style="border: 2px solid #FFFFFF; border-radius: 50%; z-index: 100; position: relative;"
                            height="127" width="127"> </div>
                      <div class="col-xs-9" style="padding-left: 0px">
                        <div class="row">
                          <div class="col-xs-12">
                            <span style="float: right; color: #c2c2c2; margin-top: -15px; text-align: right; margin-right: -60px; font-size: 20px; font-family: 'Gotham Book';">12/13/16</span>
                            <p style="color: #0b80b1; font-family: 'Gotham Book'; font-size: 40px; padding-left: 0px; margin-left:-30px;">
                              <span>Michelle Swan </span>
                            </p>
                            <p style="font-family: 'Gotham Light';margin-left:-30px; font-size: 13px; color: #000000; font-weight: 300;">
                              <span style="color: #555555; font-family: 'Gotham Book'; font-size: 23px; font-weight: bold;">Can't wait for the PETA fundraiser this weekend! </span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12" style="position: relative; margin-top: 30px"> <img class="img-responsive" src="/assets/img/user/dogpeta.png"
                            alt="" style="padding: 20px; margin-top:-50px;border-radius: 20px; display: block; z-index: 10; position: relative; text-align: center;"
                        />
                        <div class="repeat-gradient-bottom">
                          <div class="row">
                            <div class="col-md-12" style="color: #FFFFFF; ">
                              <h4 style="width: 100%; top: 1px; text-align: left; vertical-align: top; margin-top: 10px;">
                                <span style="padding-right: 20px; padding-left: 10px;font-size: 24px;color: #FFFFFF;">Featured Campaign</span>
                                <span style="border-right-style: solid; border-width: 1px; border-color: #FFFFFF; "></span>
                                <span style="padding-right: 10px; padding-left: 20px; font-weight: 100; font-size: 20px;">Elephants of Malawai</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12" style="margin-top:-80px;margin-bottom:0px">
                        <p class="comment-like">
                          <a> <i class="fa fa-commenting" aria-hidden="true"></i>Comments
                            (21)
                          </a>
                          <a> <i class="fa fa-heart" aria-hidden="true"></i>13</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!---profile 2------->
                <div class="col-md-12" style="padding: 0px; margin: 60px 0px 0px 0px;">
                  <p style="font-size:13px;color: #acacac; font-family: &amp;amp; amp; text-transform: uppercase; padding-top: 0px; font-family: 'Gotham Book'; text-align: right;">You shared this <i class="fa fa-share" aria-hidden="true"></i>                    </p>
                  <div class="well" style="padding: 20px 20px 0px 20px; margin-top: 2px;">
                    <div class="row">
                      <div class="col-xs-3" style="display: block; margin-left: -50px; margin-top: -50px;margin-right:0px;">
                        <img src="/assets/img/4.png" style="border: 2px solid #FFFFFF; border-radius: 50%; z-index: 1000; position: relative;"
                            height="127" width="127"> </div>
                      <div class="col-xs-9" style="padding-left: 0px">
                        <div class="row">
                          <div class="col-xs-12">
                            <span style="float: right; color: #c2c2c2; margin-top: -15px; text-align: right; margin-right: -60px; font-size: 20px; font-family: 'Gotham Book';">12/13/16</span>
                            <p style="color: #0b80b1; font-family: 'Gotham Book'; font-size: 40px; padding-left: 0px; margin-left:-30px;">
                              <span>Mary Jane </span>
                            </p>
                            <p style="font-family: 'Gotham Light';margin-left:-30px; font-size: 13px; color: #000000; font-weight: 300;">
                              <span style="color: #555555; font-family: 'Gotham Book'; font-size: 23px; font-weight: bold;">I can't believe we have lost almost 75% of this elephant's population!</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12" style="position: relative; margin-top: 30px"> <img class="img-responsive" src="/assets/img/elephants.png"
                            alt="" style="padding: 20px; margin-top:-50px;border-radius: 20px; display: block; z-index: 10; position: relative; text-align: center;"
                        />
                        <div class="repeat-gradient-bottom">
                          <div class="row">
                            <div class="col-md-12" style="color: #FFFFFF; ">
                              <h4 style="width: 100%; top: 1px; text-align: left; vertical-align: top; margin-top: 10px;">
                                <span style="padding-right: 20px; padding-left: 10px;font-size: 24px;color: #FFFFFF;">Featured Campaign</span>
                                <span style="border-right-style: solid; border-width: 1px; border-color: #FFFFFF; "></span>
                                <span style="padding-right: 10px; padding-left: 20px; font-weight: 100; font-size: 20px;">Elephants of Malawai</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12" style="margin-top:-80px;margin-bottom:10px">
                        <p class="comment-like">
                          <a> <i class="fa fa-commenting"></i>Comments (11)</a>
                          <a> <i class="fa fa-heart" aria-hidden="true"></i>10</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>

      <!-- Modal -->
      <app-onboarding></app-onboarding>
