body {
  color: #c1d3e0;
  background-color: #FFFFFF;
  font-family: "Gotham Book";
}

a {
  cursor: pointer;
  outline: none;
  color: #000;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover, a:active, a:focus {
  color: #c1d3e0;
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 0;
}

#wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.margin-top25 {
  margin-top: 25px
}

.text {
  font-size: 22px;
  font-family: "Gotham Thin";
  font-weight: bold;
  color: #636363;
  padding-top: 30px;
}

.span4big {
  font-size: 55px;
  font-family: "Gotham Thin";
  color: #FFFFFF;
  font-weight: bold;
}

.span2big {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Gotham Book";
  color: #FFFFFF;
  font-weight: bold;
}

.dept {
  padding-top: 10px;
  color: #c1d3e0;
}

.contact {
  font-size: 1.2em
}

.deptnames {
  padding-top: 10px;
  padding-bottom: 0px;
  color: #c1d3e0;
}

.line {
  margin-left: 10px
}

#first-section-row {
  padding: 25px;
  margin-top: 15px
}

#line {
  padding-right: -12px;
  padding-left: 20px;
  font-size: 3rem
}

.user-profile-pic {
  border: thin solid #FFFFFF;
  padding: 10px;
  width: 272px;
  height: 272px;
  border-radius: 50%;
}

span.name-title, span.nav-name {
  font-size: 55px;
  color: #189bf2;
  font-family: "Gotham Thin";
  font-weight: bold;
}

span.mail {
  padding-left: 60px;
  vertical-align: text-top;
  top: 10px;
  font-family: 'Gotham Thin';
  font-size: 22px;
  color: #189bf2;
  font-weight: bold
}

.Job-title {
  font-size: 28px;
  color: #636363;
  text-align: left;
  padding-left: 60px;
  font-family: "Gotham Thin";
  font-weight: bold;
}

p.contact-title {
  font-size: large;
  margin-top: 15px;
}

ul.mostshared li {
  list-style-type: none;
  display: inline-block;
  padding: 17px;
  padding-bottom: 0px;
}

.white-border-content {
  color: #FFFFFF;
  padding: 1.5rem 0rem 1.3rem 0rem;
  padding: 15px -10px 15px -50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: "Gotham Thin";
  background-color: #189bf2;
}

.white-border-content a {
  color: #F7F7F7;
}

.margin-top15 {
  margin-top: 15px
}

.box-shadow-most {
  padding: 15px 10px 15px 10px;
  box-shadow: -2px 0px 19px 2px rgba(0, 0, 0, 0.35);
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #000000;
  vertical-align: middle;
  margin-top: 25px
}

.most {
  text-align: center;
  font-size: 19px;
  padding-top: 20px;
  color: #636363;
  text-transform: uppercase;
}

.social {
  font-size: 28px;
  margin-top: -30px;
  background: -webkit-linear-gradient(#4b5f6d, #7f98ab, #347baa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  font-family: "Gotham Book";
  font-weight: bold;
  padding-top: 9px;
  text-transform: uppercase;
}

.sharing {
  color: #34a1f0;
  text-align: center;
  margin-top: -20px;
  text-transform: uppercase;
  vertical-align: super;
  font-size: 33px;
  font-family: "Gotham Thin";
  font-weight: bold;
}

.md9thumbs {
  text-align: left;
  margin-left: -70px;
}

.imgthumbsize {
  width: 75px;
  height: 75px
}

.thumb-text-center {
  text-align: center;
  color: #656565
}

.thumb-shared-no {
  text-align: center;
  margin-top: -10px;
  color: #169cf1;
}

#view-more {
  float: right;
  background-color: #00aeef;
  margin-top: -30px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.side-box-shadow {
  box-shadow: -2px 0px 19px 3px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px 15px 25px 15px;
  text-align: center;
}

#section-2-container {
  margin-top: 15px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.section-2-most {
  padding-right: 1em;
  padding-left: 1em
}

#viewmore {
  color: #FFFFFF;
  background-color: #00adef;
  float: right;
  margin-top: -25px;
}

#section2-total-views {
  text-align: right;
  padding-right: 50px;
}

.hr {
  border-top: 1px solid #000000;
  border-top-color: #FFFFFF;
  border-top-style: solid;
  border-top-width: 1px;
  top: -20px
}

.all {
  color: #FFFFFF;
  padding-right: 15px;
  padding-left: 5px;
  padding-top: 25px
}

#colorwhite {
  color: #FFFFFF
}


/*SIDEBAR*/

p.headings, span.font-medium, span.mentors {
  font-size: medium;
  font-weight: 600;
  text-align: center;
}

.padding-right5 {
  padding-right: 10px;
  padding-left: 10px;
  color: #c1d3e0;
}

.margin-button-blue {
  border-radius: 9px;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  margin-right: 2px;
  background-color: #0054a6;
  color: #ffffff;
  width: 103px;
  font-family: "Gotham Book";
  font-weight: bold;
}

.margin-button-grey {
  border-radius: 9px;
  background-color: #96979e;
  margin-top: 5px;
  margin-right: 2px;
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  width: 103px;
  font-family: "Gotham Book";
  font-weight: bold;
}

#sidebarmentors {
  box-shadow: -2px 0px 19px 3px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 20px;
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 20px;
  padding-top: 5px;
  text-align: left;
}

ul.list {
  list-style-type: none;
  text-align: left;
  margin-left: -35px;
  font-size: 17px;
  color: #959595;
  font-weight: bold;
  font-family: "Gotham Book";
}

p.headings, span.font-medium, p.mentors {
  padding-left: 22px;
  padding-right: 22px;
  font-size: medium;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  margin-top: 2px;
  padding-top: 15px;
  text-align: left;
}

#sidebarmentees {
  box-shadow: -2px 0px 19px 3px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  background-color: #FFFFFF;
  color: #000000;
}

#sidebarmentees h1 {
  padding-top: 0px;
  font-family: 'Gotham Thin';
  font-size: 75px;
  color: #189bf2;
  text-align: center;
  font-weight: bold;
}

#forth-section-row {
  padding-right: 22px;
  padding-left: 22px
}


/*fifth row*/

#fifthrow {
  padding: 22px;
  margin-top: 5px;
}

.fifth-md-3 {
  margin-top: 15px;
  text-align: justify;
  margin-right: -30px;
  margin-left: 0px;
}

.well {
  background: #ffffff!important;
  margin-top: 60px;
  background: #FFFFFF;
  border-radius: 0 !important;
  box-shadow: -2px 0px 9px 2px rgba(0, 0, 0, 0.35);
}

.list-group {
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .075);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .075)
}

.leftsidebar .list-group-item {
  border-style: none;
  padding-bottom: 20px;
}

div.col-md-3 h3 {
  color: #189bf2;
  font-family: 'Gotham Book';
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

div.col-md-3 h4 {
  color: #189bf2;
  font-family: 'Gotham Book';
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px
}

.list-group-item img {
  height: 26px;
  width: 26px;
  margin-right: 10px
}

a.list-group-item {
  list-style-type: none;
  font-size: 17px;
  color: #959595;
  padding-bottom: 6px;
  font-weight: bold;
  font-family: "Gotham Book";
}

.phone {
  font-family: 'Gotham Thin';
  font-size: 22px;
  color: #189bf2;
  font-weight: bold
}

.fa-envelope, .fa-phone {
  color: #7b0046
}

div.col-md-4 div.row div.col-md-11 {
  margin-top: 30px;
  margin-left: 10px;
}

div.col-md-4 div.row div.col-md-11 img {
  /*height: 107px;*/
  width: 100px;
}

.dept {
  text-align: center;
  padding-left: 60px;
  font-family: 'Gotham Book';
  font-size: 18px;
  color: #c2c2c2;
  text-transform: uppercase;
}

div.col-md-10 h2 {
  color: #189bf2;
  font-family: 'Gotham Light';
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.comment-like {
  margin-top: 15px;
  margin-bottom: -5px;
  padding-bottom: 0px;
  padding-top: 10px;
  float: right;
  text-align: right;
  clear: both;
  font-weight: bold;
}

.comment-like a {
  color: #959595;
  font-size: 20px;
  font-family: 'Gotham Light';
  font-weight: bold;
  text-transform: uppercase;
}

.comment-like i.fa-commenting {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 25px;
  vertical-align: bottom;
  color: #189bf2;
}

.comment-like i.fa-heart {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 25px;
  vertical-align: bottom;
  color: #ff0000;
}
/*image hover */
[class^='imghvr-'], [class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[class^='imghvr-']>img, [class*=' imghvr-']>img {
  vertical-align: top;
  max-width: 100%;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
  background: rgba(0, 0, 0, .5);
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
}

[class^='imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h6 {
  color: #ffffff;
}

[class^='imghvr-'] a, [class*=' imghvr-'] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before, [class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after, [class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before, [class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

[class^='imghvr-fade'] figcaption, [class*=' imghvr-fade'] figcaption {
  opacity: 0;border-radius:50%;position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

[class^='imghvr-fade']:hover>img, [class*=' imghvr-fade']:hover>img {
  opacity: .7
}

[class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover figcaption {
  opacity: 1;
}

[class^='imghvr-fade']:hover>img, [class*=' imghvr-fade']:hover>img, [class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover figcaption {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
figcaption {
	text-align: center
}

figcaption p {
color: #FFFFFF; text-align: center;padding-top:100px; text-transform: uppercase; font-family: 'Gotham Book'; font-size: 16px; font-weight: bold;
}

