<!-- Total Body Fat = Weight * (body fat [%] / 100)
Lean Weight = Weight * (1 - (body fat [%] / 100)
FFMI = (Lean Weight / 2.2) / ((Feet * 12.0 + Inches) * 0.0254)2
Adjusted FFMI = FFMI + ( 6.3 * (1.8 - (Feet * 12.0 + Inches) * 0.0254)) -->
For Men

FFMI	Body fat	Description
17-18	10-18%	Skinny man
18-20	20-27%	Average man
19-21	25-40%	Fat man
20-21	10-18%	Athlete / Intermediate gym user
22-23	6-12%	Advanced gym user
24-25	8-20%	Bodybuilder / Powerlifter / Weightlifter
FFMI score for women
FFMI	Body fat	Description
14-15	20-25%	Skinny women
14-17	22-35%	Average women
15-18	30-45%	Fat women
16-17	18-25%	Athlete / Intermediate gym user
18-20	15-22%	Advanced gym user
19-21	15-30%	Bodybuilder / Powerlifter / Weightlifter


To estimate your FFMI, complete the following simple steps:

Choose the measurement system (imperial or metric)
Enter your height
Enter your weight
Enter your body fat percentage
Click the "Calculate" button to get the results.
Copyright © 2019 FFMI Calculator. All Rights Reserved.
