<div id="wrapper">
<div class="container mt30">
<div class="row">
<div class="col-md-12">
  <h1>Eating Healthy</h1>
  </div>
   <div class="col-md-3" style="    margin-top: 70px;">
   <img src="/assets/img/wellbeing/mental/salad.png" alt="" class="img-responsive">
   <h3>Your Progress </h3>
    <div class="progress " style="border:none;margin-bottom:5px; background-color: #cccc;">					  
      
                      <div class="progress-bar skew" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; background-color: #189bf2!important; color: #FFFFFF;">
                       <p class="st-text">
					   60% <span style="font-size:16px">COMPLETE</span>
					   </p>
					   
                      </div> 
					  </div>
					  <p style="font-family:'Gotham Light';font-size:30px;color:#189bf2;text-align:right">17/27</p>
<button routerLink="/wellbeing-udemy-course-detail" type="button" class="btn btn-danger">Continue to Lecture 18</button>
<h6>Student Feedback</h6>
<h4>4.7</h4>
<img src="/assets/img/wellbeing/mental/star.png" class="img-responsive" alt="" style="margin-left: 216px;">
<p style="font-family:'Gotham Book';font-size:13px;color:#a1a1a1 ;text-align:center;margin-top:10px;">Average Rating</p>
<h2>Rate this course?</h2>
<img src="/assets/img/wellbeing/mental/group-star.png" alt="" class="img-responsive" style="margin-top:15px;">
<h5>0/5 STARS</h5>
<button type="button" class="btn btn-info">Submit</button>
</div>
   <div class="col-md-9">
                                    <!-- Nav tabs --><div class="card">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Course Content</a></li>
                                                                            </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home" style="
    margin-left: 65px;
">
                                        <h1>About this course</h1>
                                        <p>Learn to eat healthy in a matter of a few days!</p>
                                        <h2>By the numbers</h2>
                                        <h3>Features</h3>
                                        <p style="line-height: 1.2;font-family:'Gotham Light';font-size:24px;color:#189bf2;margin-top:20px">Lectures:<span style="color:#555555;"> 51</span>
                                        <br>Video:<span style="color:#555555;"> 9 hours</span><br>

                              Skill Level: <span style="color:#555555;"> Expert</span><br>

                          Students: <span style="color:#555555;"> 1,223</span><br>

                           Languages: <span style="color:#555555;"> English</span>

                                        </p>
                                        <p style="font-family:'Gotham Light';font-size:24px;color:#55555;margin-top: -150px;float: right;line-height: 1.2;">
                                        Lifetime access<br>
                                   Available on iOS and Android<br>
                            Certificate of Completion</p>
                            <h4>Description</h4>
                            <p style="font-family:'Gotham Book';font-size:17px;color:#a1a1a1;">
                            Meditation is the single most powerful stress relieving tool there is. Reduce anxiety 
and increase your bliss by learning a simple daily meditation practice you'll enjoy. 
Reducing the amount of stress in your body will help you perform at the top of your 
game in every area - from the boardroom to the bedroom. You'll graduate with a 
practice that you can do anywhere, anytime. 
<br><br>


Emily Fletcher is the founder of Ziva Meditation and has taught thousands of people 
both in person, and online via zivaMIND, the world's first online meditation training. 
Her focus is meditation for better performance: because no one cares how good you 
are at meditation, they care how good you are at life.
</p>
<h4>About the Instructor</h4>
<img src="/assets/img/wellbeing/mental/girl.png" alt="" class="img-responsive" style="margin-top:30px">
<img src="/assets/img/wellbeing/mental/star-icon.png" alt="" class="img-responsive" style="margin-top:20px;float:left">
<p style="font-family:'Gotham Book';font-size:13px;color:#959595;margin: 18px 0 0 30px;"><span style="color:#189bf2;">4.7</span> Average Rating</p>
<img src="/assets/img/wellbeing/mental/review.png" alt="" class="img-responsive" style="margin-top:20px;float:left">
<p style="font-family:'Gotham Book';font-size:13px;color:#959595;margin: 18px 0 0 30px;"><span style="color:#189bf2;">127 </span> Reviews</p>
<img src="/assets/img/wellbeing/mental/student.png" alt="" class="img-responsive" style="margin-top:16px;float:left">
<p style="font-family:'Gotham Book';font-size:13px;color:#959595;margin: 18px 0 0 30px;"><span style="color:#189bf2;">701 </span> Students</p>
<img src="/assets/img/wellbeing/mental/play.png" alt="" class="img-responsive" style="margin-top:16px;float:left;margin-left: -16px;">
<p style="font-family:'Gotham Book';font-size:13px;color:#959595;margin: 18px 0 0 30px;"><span style="color:#189bf2;">1 </span> Course </p>
 <p style="font-family:'Gotham Book';font-size:16px;color:#a1a1a1;margin: -310px 0 0 178px;"><span style="color:#189bf2;">Emily Fletcher</span><br>
Founder, Ziva Meditation<br><br>

Emily Fletcher is the founder of Ziva Meditation and the creator of 
zivaMIND, the world's first online meditation training. Ziva's mission 
is to make meditation attractive and accessible to people who are 
ready to up-level their performance and their lives. Recently featured 
in The New York Times, named top 100 women in wellness to watch 
and regarded as one of the leading experts in meditation, Emily has 
been invited by companies like Google, Barclays Bank, sweetgreen, 
& Viacom to help improve company performance through meditation.<br><br>

She began her ten years of training in Rishikesh, India and was 
inspired to teach after experiencing the profound physical and 
mental benefits meditation provided her during her 10-year career 
on Broadway, which included roles in Chicago, The Producers & A 
Chorus Line.<br><br>

Emily has been invited to speak at Harvard Business School, 
Bulletproof Biohacking Conference, Summit Series, A-Fest and The 
Omega Center. So far, she has taught over 4,200 people to become 
self-sufficient meditators with this game changing practice to take 
with them for life.
</p>
                                       </div>
                                        
                                        
                                        
                                        
                                        <div role="tabpanel" class="tab-pane" id="profile"><div class="panel-group" id="accordion" > 
    
    <table style="margin-top:-14px;">
    <tr>
   <th>
   Curriculum For This Course  <span style="font-family:'Gotham Light';font-size:18px;color:#189fb2;padding-right: 26px;
    padding-left: 56px;">Expand All</span></th>
 
     <th >27 Lectures</th>
  <th> 01:40:09</th>

 </tr>
 </table>
 
    <br>
  <div class="panel panel-default">
  
    <div class="panel-heading">
   
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-minus"></span>
          Introduction
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
               
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td > 03:15</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
      
       <td>Preview</td>
       <td> 03:27</td>
      </tr>
      </table>
      </div>

     </div>
    
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
    <table>
    <tr>
      <td><h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <span class="glyphicon glyphicon-plus"></span>
          Mindfulness,Meditation, and Stress
        </a>
      </h4></td>
    
       <td class="head-td" >4 Lectures</td>
       <td class="head-td"> 11:03</td>
      </tr>
      </table>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
   
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <span class="glyphicon glyphicon-plus"></span>
          Set yourself Up for Success
        </a>
      </h4></td>
    

       <td class="head-td">2 Lectures</td>
       <td class="head-td">05:51</td>
</tr>
</table>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
   
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <span class="glyphicon glyphicon-plus"></span>
          Prepare to Meditate</a>
      </h4></td>
     
       <td class="head-td" >3 Lectures</td>
       <td class="head-td" > 11:25</td>

        
      </tr>
</table>

    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
    
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <table>
    <tr>
      <td>

      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <span class="glyphicon glyphicon-plus"></span>
          Meditate
        </a>
      </h4></td>
     
       <td class="head-td" >4 Lectures</td>
       <td class="head-td" > 35:26</td>

        
      </tr>
</table>


    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
    
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
      
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>

      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          <span class="glyphicon glyphicon-plus"></span>
          Integrate Meditation into Your Life
        </a>
      </h4></td>
    

       <td class="head-td">6 Lectures</td>
       <td class="head-td"> 20:50</td>
      </tr>
</table>

    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
         <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
 
       <td>Preview</td>
       <td > 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
   
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
     <table>
    <tr>
      <td>
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          <span class="glyphicon glyphicon-plus"></span>
          Conclusion
        </a>
      </h4></td>
   
       <td class="head-td">3 Lectures</td>
       <td class="head-td"> 04:20</td>

        
      </tr>
</table>

    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
         <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
    
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
    <table>
    <tr>
      <td>

      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          <span class="glyphicon glyphicon-plus"></span>
          Bonus Audios: Guided Visualizations
        </a>
      </h4></td>
    

       <td class="head-td" >2 Lectures</td>
       <td class="head-td"> 00:17</td>
      </tr>
</table>

    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
   
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
   
            <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i> What you will Learn
        </a>
      </h4></td>
     
       <td>Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
    
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Meet Emily</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
      </div>
       <div class="panel-body" style="border-top: 1px solid #ddd;">
      
       <table>
    <tr>
      <td><h4 class="panel-title" style="color:#189fb2 !important">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <i class="fa fa-play-circle" aria-hidden="true"> </i>
         <select style="border:none;">
         <option>Exercise: Measure Your Success</option>
         </select> 
        </a>
      </h4></td>
     
       <td >Preview</td>
       <td> 04:13</td>
      </tr>
      </table>
            </div>
    </div>
  </div>

  
</div></div>

                                        
                                                                            </div>
</div>
                                </div></div>
                                
                                </div>
</div>
