
    $font: #011627;
    $primary: #3462B3;
    $secondary: #8AADEA;

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(5rem, auto);
    background-color: $primary;
    color: white;
}

div.logo {
    display: grid;
    align-items: center;
    padding: 2rem;
}

ul.sm-stack {
    display: none;
}

ul.nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

li>a {
    padding: .7rem;
    text-transform: uppercase;
    color: var(--dark);
    text-decoration: none;
    border-radius: 10%;
}

li a:hover,
li>a:active {
    background-color: $secondary;
    color: var(--dark);
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(10rem, auto);
    background-color: rgb(253, 250, 236);
    padding: 1em;
}

div.content {
    grid-row: 1/3;
    border: 1px black solid;
    padding: 2rem;
}

aside {
    padding: 2rem;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(8rem, auto);
    background-color: var(--violet);
}

div.services {
    display: grid;
    justify-content: space-evenly;
    list-style: none;
}

li.card {
    width: 5rem;
    height: 5rem;
    border: 1px outset var(--violet);
    box-shadow: 2px 3px 1px var(--turquoise);
    padding: 1rem;
    margin: .5rem 0;
}

@media(max-width:550px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(10rem, auto);
        background-color: cornsilk;
    }
    li.card {
        width: 80%;
        height: 10rem;
        border: 1px outset var(--violet);
        box-shadow: 2px 3px 1px var(--turquoise);
        padding: 1rem;
        margin: .5rem 3rem;
    }
}
span.icon-bar {
        width: .3rem;
        height: .1rem;
        background-color: var(--powder);
        margin:.1em;
        z-index: 200;
    }

@media(max-width:445px) {
    ul.nav-list {
        display: none;
    }
    ul.sm-stack {
        visibility: visible;
        display:inline-block;
        z-index:100;
    }
}