<div id="wrapper">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-1">
        <a routerLink="/wellbeing">
          <span class="fa-stack fa-3x  circle-dir"> <i class="fa fa-angle-left"></i> </span>
        </a>
      </div>
      <div class="col-md-11">
        <h1>Your Current Gym Membership </h1>
      </div>
    </div>
    <div class="gymdetails">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <h2>Gym</h2>
            <p>Equinox</p>
          </div>
          <div class="col-md-4">
            <h2>Address</h2>
            <p>663 W 25th St <br> New York,NY 10010 </p>
          </div>
          <div class="col-md-3">
            <h2>Started on</h2>
            <p>10/11/2015</p>
          </div>
          <div class="col-md-3">
            <h2>Last Visited</h2>
            <p>12/06/2016</p>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>
    <div class="schedule">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <h2 class="selected">Class Schedule</h2>
          </div>
          <div class="col-md-6 text-right">
            <span class="selected">WEEK</span>
            <span>MONTH</span>
          </div>
          <div class="col-md-12">
            <table class="table table-responsive table-condensed">
              <thead>
                <tr>
                  <th></th>
                  <th>SUN</th>
                  <th>MON</th>
                  <th>TUE</th>
                  <th>WeD</th>
                  <th>thu</th>
                  <th>fri</th>
                  <th>sat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>6am</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                </tr>
                <tr>
                  <td>7am</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                  <td>Spinning</td>
                </tr>
                <tr>
                  <td>8am</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>9am</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                </tr>
                <tr>
                  <td>10am</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                  <td>Yoga</td>
                </tr>
                <tr>
                  <td>11am</td>
                  <td>Kickboxing</td>
                  <td>Boxing</td>
                  <td>Kickboxing</td>
                  <td>Boxing</td>
                  <td>Kickboxing</td>
                  <td>Boxing</td>
                  <td>Kickboxing</td>
                </tr>
                <tr>
                  <td>12pm</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>1pm</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2am</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3am</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                </tr>
                <tr>
                  <td>4am</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5am</td>
                  <td>Boxing</td>
                  <td>Kickboxing</td>
                  <td>Boxing</td>
                  <td>Kickboxing</td>
                  <td>Boxing</td>
                  <td>Kickboxing</td>
                  <td>Boxing</td>
                </tr>
                <tr>
                  <td>6pm</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>7pm</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>8pm</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                  <td>Pilates</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="gym-form">
      <div class="row formrow">
        <div class="col-md-12">
          <div class="col-md-6">
            <h2>Looking for another gym?</h2>
            <div class="col-md-6" style="padding-left:0px">
              <input type="text" class=" search-query form-control " placeholder="Search by Zipcode"
              />
            </div>
          </div>
          <div class="col-md-6 notfound">
            <h2> Cannot find the gym you are looking for? </h2>
            <button type="button"
                class="btn cancelbtn " routerLink="/wellbeing-incentfit-memberships">Cancel</button>
          </div>
          <div class="=row">
            <div class="col-md-12">
              <h2>Enter the gym's contact information and we will get them to join! </h2>
            </div>
            <div class="col-md-4">
              <input type="text" class=" search-query form-control " placeholder="Gym Name"
              /> </div>
            <div class="col-md-8" style="padding-right:9px;">
              <div class="col-md-12  pull-right">
                <input type="text" class=" search-query form-control " placeholder="Address"
                /> </div>
            </div>
            <div class="row clearfix " style="margin-top: 30px">
              <div class="col-md-2  margin-forms">
                <input type="text" class=" search-query form-control " placeholder="City"
                /> </div>
              <div class="col-md-2  margin-forms2">
                <input type="text" class=" search-query form-control " placeholder="State"
                /> </div>
              <div class="col-md-2 margin-forms2">
                <input type="text" class=" search-query form-control " placeholder="Zipcode"
                /> </div>
              <div class="col-md-4 margin-forms2">
                <input type="text" class=" search-query form-control " placeholder="Phonenumber"
                /> </div>
            </div>
            <button class="btn sbmt-btn center-block" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
