  .imgthumbsize {
    width: 75px;
    height: 75px
  }
  
  a {
    cursor: pointer;
    outline: none;
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #c1d3e0;
    text-decoration: none;
    outline: none;
  }
  
  button:focus {
    outline: 0;
  }
  
  #wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .most {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    color: #f167c2
  }
  
  .social {
    font-size: large;
    font-size: 55px;
    margin-top: -39px;
    background: -webkit-linear-gradient(#f167c2, #d72e9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    font-family: 'Gotham Light';
    font-weight: bold;
  }
  
  .sharing {
    color: #959595;
    text-align: center;
    margin-top: -20px;
    text-transform: uppercase;
    vertical-align: super;
    font-size: 1.5rem;
  }
  
  ul.mostshared li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
  }
  
  ol.colspan {
    list-style-type: decimal;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin-left: -20px;
    list-style-position: inside;
  }
  
  ol.colspan {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
  }
  
  ol.colspan li {
    margin-left: 9px;
    list-style-position: inside;
    width: 33, 333333%;
    margin-bottom: 30px;
  }
  
  .spanned ol {
    counter-reset: item;
    font-size: 1.7em;
    color: #000000;
    list-style-type: none;
  }
  
  .spanned ol li {
    display: block;
  }
  
  .spanned ol li:before {
    content: counter(item) "  ";
    font-size: 2em;
    counter-increment: item
  }
  
  .white-border-content {
    border: 2px solid #FFFFFF;
    color: #c1d3e0;
    padding: 1.5rem 0rem 1.3rem 0rem;
    padding: 15px -5px 15px -5px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #FFFFFF;
    background-color: #189bf3;
  }
  
  .span4big {
    font-size: 5em;
    font-weight: lighter
  }
  
  .span2big {
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .colspan-name {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    font-weight: 800;
    font-size: .8em;
    padding-top: 15px;
    color: #353535;
    line-height: 1em;
  }
  
  .colspan-number {
    color: #808080;
    font-size: .8em;
    text-align: left;
    font-weight: 200;
    padding-top: -15px;
    padding-bottom: 15px;
    margin-top: -10px;
  }
  
  i {
    background-color: white;
    border-radius: 50%;
    border: 1px solid #666666;
    padding: 5px;
    color: #000000;
  }
  /* Style relevant to this page*/
  
  .fa-chevron-left {
    color: #666666;
  }
  
  .mostshared li {
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .margin-top30 {
    margin-top: 30px
  }
  
  .mostshared .thumb-text-center {
    text-align: center;
    color: #656565
  }
  
  .mostshared .thumb-shared-no {
    text-align: center;
    margin-top: -10px;
    color: #169cf1;
  }
  /*Page Related */
  
  ul.mostshared li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    opacity: 5 !important;
  }
  
  .white-border-content {
    border: 2px solid #FFFFFF;
    color: #c1d3e0;
    padding: 1.5rem 0rem 1.3rem 0rem;
    padding: 15px -10px 15px -50px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  
  .white-border-content a {
    color: #F7F7F7;
  }
  
  .margin-top15 {
    margin-top: 15px
  }
  
  .box-shadow-most {
    padding: 15px 10px 15px 10px;
    box-shadow: 3px 6px 21px 0px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000000;
    vertical-align: middle;
    margin-top: 25px
  }
  
  .md9thumbs {
    text-align: left;
    margin-left: -70px;
  }
  
  .imgthumbsize {
    width: 90px;
    height: 90px
  }
  
  .imgthumbsizeparticipants {
    margin-top: 0px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  
  .thumb-text-center {
    text-align: center;
    color: #656565
  }
  
  .thumb-shared-no {
    text-align: center;
    margin-top: -10px;
    color: #169cf1;
  }
  
  #view-more {
    float: right;
    background-color: #00aeef;
    margin-top: -30px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  
  .custom-btn-blue {
    background-color: transparent;
    color: #d72e9e;
    border: 2px solid #d72e9e;
    display: block;
    width: 90%;
    margin: 15px auto 15px auto;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: 'Gotham Light';
    font-size: 13.89px;
    font-weight: bold;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  
  .participantsbg {
    width: 50%;
    height: 18%;
    -webkit-border-radius: 0px 0px 0px 99px;
    -moz-border-radius: 0px 0px 0px 99px;
    border-radius: 0px 0px 0px 99px;
    background: black;
    color: #FFFFFF;
    text-align: right;
    float: right;
    width: 100%;
    background-color: rgba(155, 55, 55, 0.7);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    padding-top: 1.5rem;
    padding-right: 0px;
    padding-bottom: 1.5rem;
    padding-left: 0px;
    margin-left: 15px;
    margin-top: -385px;
    overflow-x: hidden;
  }
  /*.content:before {
		content: "";
		left: 0;
		right: 0;
		z-index: -1;
		width: 100%;
		height: 50px;
		display: block;
		background-image: linear-gradient(45deg, rgb(212,121,0), rgb(204,204,204));
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
		position: relative;
	}
	.content {
		left: 0;
		right: 0;
		z-index: 0;
		/*margin-left: 20px;
		margin-right: 20px;
		color: #fff;
		position: relative;
	}*/
  
  #viewmore {
    color: #FFFFFF;
    background-color: #00adef;
    float: right;
    margin-top: -25px;
  }
  
  .animated-progress-striped {
    background: repeating-linear-gradient( to right, #0cccf9, #0cccf9 15px, #FFFFFF 15px, #FFFFFF 20px);
  }
  
  .repeat-gradient-bottom {
    width: 100%;
    height: 100px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    vertical-align: baseline;
    position: relative;
    top: 220px;
    bottom: 0px;
    margin-bottom: 0px;
    background-image: repeating-linear-gradient(45deg, rgba(60, 56, 53, .9), rgba(204, 204, 204, .8));
  }
  
  .circletext {
    color: #6c6c6c;
    font-family: 'Gotham Book';
    font-size: 10.27px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .btngrade {
    width: 100%;
    background: linear-gradient(to bottom, #ec135b, #bd085c, #b0045d, #aa035d, #a5025e, #9f005d);
    min-height: 41px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: "GothamBook";
    padding: 8px 21px 8px 21px;
    background: linear-gradient(to bottom, #ec135b, #bd085c, #b0045d, #aa035d, #a5025e, #9f005d);
    color: #FFFFFF;
    border-radius: 20px;
    margin-right: -27px;
  }
  
  .btngrade1 {
    padding: 8px 40px 8px 40px;
    background: linear-gradient(to bottom, #f18d1d, #d57317, #b65611, #ad4e0f);
    color: #FFFFFF;
    border-radius: 20px;
    margin-right: 15px;
  }
  /*middle content*/
  
  .textcontent {
    /*  background: rgba(0,0,0,.5);
          position: absolute;
          bottom: 0px;
          width: 96%;
          color: #fff;*/
  }
  
  .box-shadow-most h3 {
    text-align: center;
    background: -webkit-linear-gradient(top, #f167c2, #d72e9e);
    /*background: linear-gradient(top, #878787, #000);*/
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    font-size: 39px;
    font-family: "Gotham Book";
    margin-top: 15px;
  }
  
  .mr0mb30 {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  
  .mt30mb30 {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  
  .mt10mb10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mt20 {
    margin-top: 20px
  }
  
  .mb55 {
    margin-bottom: 55px
  }
  
  .center-block {
    margin-top: 10px;
    padding-left: 7px
  }
  
  .mrlt {
    margin-right: 39px;
    margin-left: -44px;
    margin-top: 25px
  }
  
  .caption {
    text-align: center;
    margin-left: 5px;
  }
  
  .most1 {
    padding: 0px;
    margin: 0px;
    font-size: 26px;
    font-weight: bold;
    font-family: "Gotham Book";
    color: #f167c2;
  }
  
  .impact {
    font-size: 62px;
    text-align: center;
  }
  
  .text {
    padding: 20px;
    background-color: #fff;
    color: #ce058a;
    text-align: center;
    border: 2px solid #ce058a
  }
  
  .heading {
    font-family: 'Gotham Book';
    font-size: 45px;
    color: #ce058a
  }
  
  .heading1 {
    font-family: 'Gotham Book';
    font-size: 27px;
    font-weight: bold;
  }
  
  .center {
    text-align: center;
  }
  
  .pr25 {
    padding-right: 25px
  }
  
  .gt50 .fill,
  .percircle .bar,
  .pie {
    position: absolute;
    border: .08em solid #ce058a!important;
    width: .84em;
    height: .84em;
    clip: rect(0, .5em, 1em, 0);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
   ::-webkit-input-placeholder {
    color: rbga(255, 255, 255, .0)!important;
    font-family: "Gotham Book";
    font-size: 30px;
  }
  
  input:-moz-placeholder {
    /* Firefox 18- */
    color: #FFFFFF!important;
    font-weight: 400;
  }
  
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF !important;
    font-weight: 400;
  }
  
  input:-ms-input-placeholder {
    color: #FFFFFF!important;
    font-weight: 400;
  }
  
  form input {
    box-shadow: 0px 0px;
    border-right: 0;
    border-left: 0;
    background: transparent;
    border: 0px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    border-right-width: 0;
    border-bottom-width: 3px;
    border-left-width: 0;
  }
