
<div id="wrapper">
  <div class="container">
    <div class="row mt30">
      <div class="col-md-12 text-center ">
        <div class="col-md-1" style="padding-left: 0px;">

          <a routerLink="/habitat">
            <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-chevron-left " style="font-size:1em; padding-right: 5px; padding-left: 2px;border: 0;"></i>
</span>
          </a>
        </div>
        <div class="col-md-11">
          <h1 style="font-family: Gotham Thin; color: #0cca61; text-align: center;font-size:50px; margin-left: -98px;margin-bottom: 28px;
    margin-top: 26px;">Suggestion Box</h1>
            <p style="font-family: Gotham Thin; color: #636363; text-align: center;font-size:25px;margin-bottom:0px;">Anything making you feel uncomfortable in the office?</p>
            <p style="font-family: Gotham Thin; color: #636363; text-align: center;font-size:25px;">Or maybe just have a simple improvement for the office that you would
              like heard?</p>
        </div>

        <button type="button" class="btn btn-admin" data-toggle="modal" data-target="#myhabitatsuggestModal">SUGGEST IT!</button>

      </div>
      <div class="clearfix"></div>
      <div class="row mt30">
        <div class="col-md-12 global-box-shadow col-md-offset-1 pb30" style="    width: 88%;">
          <table class=" table-responsive " style="margin-left:0px;    margin-top: 15px;">
            <tr>
              <th width="60%">SUGGESTION </th>
              <th width="20%" style="padding-left:90px"> DATE</th>
              <th width="20%" style="padding-left:90px">DELETE</th>

            </tr>
            <tr class="divider">
              <td colspan="4"></td>
            </tr>
            <tbody>

              <tr *ngFor="let sugg of suggestions">
                <td style="font-family:Gotham Book;font-size:19px;color:#363636;">
                  {{ sugg.text }}</td>
                <td style="float:right;font-family:Gotham Book;font-size:19px;color:#363636">
                  {{ sugg.editDate.substr(0,10) }} </td>
                <td style="text-align:right">
                  <span [hidden]="noDelete(sugg.createUser)">
  <button type="button"  (click)="delete(sugg._id)" class="btn btnset" style="margin-top:1px;" width="20%">DELETE</button>
</span>
                </td>

              </tr>
            </tbody>

          </table>

        </div>

      </div>
      <div class="row mt30">
        <div class="col-md-12">
          <nav aria-label="Page navigation" style="margin-left:26px;margin-top:-20px;display:none;">
            <ul class="pagination">
              <li>
                <a class="arrows" aria-label="Previous">
                  <span aria-hidden="true"> &lt;  </span>
                </a>
              </li>
              <li>
                <a class="page-no">1</a></li>
              <li>
                <a class="page-no">2</a></li>
              <li><a class="page-no">3</a></li>
              <li><a class="page-no">4</a></li>
              <li><a class="page-no">5</a></li>
              <li>
                <a class="arrows" aria-label="Next">
                  <span aria-hidden="true">&gt; </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>


  </div>
</div>
<div class="modal fade" id="myhabitatsuggestModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="border-radius:15px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:4em; font-family: 'Gotham Book'; margin-top: -15px; margin-right: -10px; font-weight: normal;">&times;</button>

        <h4 class="modal-title">Suggest Something!</h4>
        <div class="col-md-offset-1 col-md-10">
          <p style="font-family:Gotham Light;font-size: 19px;margin-top: 15px;color: #959595;text-align:center">Suggest something to help improve the office or bring up an issue that
            you witnessed occur in the office.</p>
        </div>
      </div>
      <div class="modal-body" style="padding:0 40px 0 40px;">
        <div class="col-md-12">
          <textarea rows="6" #submitText cols="59" placeHolder="Start typing here." class="hsuggest-textarea"></textarea>
          <p style="font-family:Gotham Light;font-size:19px;color:#959595;text-align:right;border-radius:20px">0/140 Character Limit</p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12" style="margin-top:20px;">
          <button type="button" class="btn hsuggest-submit " (click)="submit()">SUBMIT</button>
          <button type="button" class="btn hsuggest-exit" data-dismiss="modal">EXIT</button>
        </div>
      </div>
    </div>

  </div>
</div>
