th{
color:#189bf2;
}

.imgthumbsize{
width: 75px; height: 75px
}
a {
    cursor: pointer;
    outline: none;
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:active, a:focus {
    color: #c1d3e0;
    text-decoration: none;
    outline: none;
}
button:focus {
    outline:0;
}
	
#wrapper{
margin-left: 10%; 
margin-right: 10%;
}
    
	/* Style relevant to this page*/
	
	.fa-chevron-left{
		color: #666666;
	}
	
	.margin-top30{
margin-top:30px
}

/*pagre related styles */

	.white-border-contentmoney{
		border: 2px solid #FFFFFF;
		color: #c1d3e0;
		padding: 1rem 0rem 1rem 0rem;
		padding: 1px -5px 1px -5px;
		text-align: center;
		font-size: 1em;
		width: 40%;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: #FFFFFF;
		background-color: #189bf3;
		margin-right: auto;
		margin-left: auto;
	}
    
th{
color:#0072bc;
}
.blue{
background-color: #85c9f6; color: #FFFFFF

}
 table,tr,td {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

	.custom-btn-blue{
		padding: 10px 15px 10px 11px;
		background-color: transparent;
		color: #189bf2;
		border: 2px solid #189bf2;
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		font-weight: 500;
		word-wrap: break-word;
	}



/*Page Related CSS*/
.textgradient{
margin-top: 30px; background: -webkit-linear-gradient(#189bf3, #346488);  -webkit-background-clip: text;-webkit-text-fill-color: transparent;overflow:hidden
}

.direction
{
		background-color: white;
		border-radius: 50%;
		border: 1px solid #666666;
		padding: 5px;
		color: #000000;
	}

	th{
		font-size: 22px;
		font-family: "Gotham Book";
	}
tr{
	padding-top:50px;padding-bottom: 50px;margin-bottom: 30px;}
	.viewbtn{
		background-color: #189bf2;
		color: #FFFFFF;
		border-radius: 20px;
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
		width: 120px;
		text-transform: uppercase;
		font-size: 16px;
		font-family: "Gotham Book";
	}
	
.shadow-col{
background-size: 5px 300px;
 background-image: url('assets/img/shadow-hm-right.png'); 
 background-position: center top; background-repeat: no-repeat;
}
	.caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
}
	input::-webkit-input-placeholder {
		color: #959595!important;
		font-family: "Gotham Light";
		font-size: 18px;
	}
	::-webkit-input-placeholder {
		color: #959595!important;
		font-family: "Gotham Light";
		font-size: 18px;
	}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 table tr td {
	border-style: none!important;
}
