<div id="wrapper">
     
   <div class="container">

    <div class="row">
    <div class="col-md-12"> <a routerLink="/habitat">
               <i class="fa fa-chevron-circle-left"></i></a></div>

              <div class="col-xs-12 col-md-12">
              
              <div class="row mtoff30">
              
              <div class="col-md-2">
</div>

<div class="col-md-5 pgname" >Diversity Programs</div>
                            <div class="col-md-5 mt10">
                            
                            <form action="" role="form">
                  <div class="form-group input-group col-xs-12 col-md-9 mt15 pull-right">
                      <input type="text" class="form-control boxborder" placeholder="SEARCH PROGRAMS">
                      <span class="input-group-btn" >
                          <button class="btn" type="button">
                            <i class="fa fa-search"  ></i>
                          </button>
                      </span>
                  </div>
                </form>
                            
                            </div>

              </div>
                
              </div>
              <!---sidebar--->
              <div class="col-xs-12 col-md-2">

                <div class="row">

                  <div class="col-xs-12 col-md-12">
                   
                    <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" >SORT BY
       <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li class="sortbyitem1"  role="presentation">
	  <a role="menuitem" tabindex="-1" >ALL</a></li>
      <li class="sortbyitem2" role="presentation"><a role="menuitem" tabindex="-1" >INTERNSHIPS</a></li>
      <li class="sortbyitem3" role="presentation"><a role="menuitem" tabindex="-1" >MENTORSHIPS</a></li>
     <li class="sortbyitem4" role="presentation"><a role="menuitem" tabindex="-1" >NEWS</a></li>
      <li class="sortbyitem5" role="presentation"><a role="menuitem" tabindex="-1" >SCHOLARSHIPS</a></li>
      <li class="sortbyitem6" role="presentation">
	  <a role="menuitem" tabindex="-1"  >WEBINARS</a></li>

    </ul>
  </div>
<br>
  <div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">TAG
       <i class="fa fa-times" aria-hidden="true" style="border-style: none; color: #0099CC"></i>
</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li class="sortbyitem1" role="presentation"><a role="menuitem" tabindex="-1" >TRENDING</a></li>
      <li class="sortbyitem2" role="presentation"><a role="menuitem" tabindex="-1" >REWARD</a></li>
      <li class="sortbyitem3" role="presentation"><a role="menuitem" tabindex="-1" >FEATURED</a></li>
     
    </ul>
  </div><br>
<div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">STATE
        <i class="fa fa-times" aria-hidden="true" style="color: #FFFFFF"></i>
</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li class="sortbyitem1" role="presentation"><a role="menuitem" tabindex="-1" >TRENDING</a></li>
      <li class="sortbyitem2" role="presentation"><a role="menuitem" tabindex="-1" >REWARD</a></li>
      <li class="sortbyitem3" role="presentation"><a role="menuitem" tabindex="-1" >FEATURED</a></li>
     
    </ul>
  </div>

                    
                  </div>
                  
                  
        <div class="clearfix" ></div>
        
                </div><br>
                
        		  &nbsp;


					
<br>
             </div>

<!---thumbnails-->

              <div class="col-xs-10 col-md-10 mtoff30">

                <div class="row">
           
              

                  
                  <div class="col-xs-12 col-md-12">
                    <div class="row">

                      <div class="col-xs-12 col-md-4">
                      <div class="thumbnail polaroid">
 <img src="/assets/img/habitat/DIVERSITY/latin-culture.jpg" alt="" class="img-responsive" >
   <div class="row" >
        <div class="col-md-12">
        <h4>Latin Culture 5/5</h4>

</div>
<div class="row mt50">
        <div class="col-md-6">
       <p>WEBINAR</p>
      
  </div>
        
        <div class="col-md-6 ">
       <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>
        </div>
        </div>
        </div>



 </div>

                       
                      </div>

                      <div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid" >
 <img src="/assets/img/habitat/DIVERSITY/china.jpg" alt="" class="img-responsive">

        <div class="row">
        <div class="col-md-12">
        <h4>Study Abroad-China</h4>

</div>
<div class="row mt50">

        <div class="col-md-6">
        <p>INTERNSHIP</p>           

        </div>
        
        <div class="col-md-6">
         <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>

        </div>
        
        </div></div>
    </div>
                      </div>

                      <div class="col-xs-12 col-md-4" >
<div class="thumbnail polaroid">
 <img src="/assets/img/habitat/DIVERSITY/india.jpg" alt="" class="img-responsive">
        <div class="row">
        <div class="col-md-12">
        <h4>Study Abroad India</h4>

</div>
<div class="row mt50">

        <div class="col-md-6">
       <p style="color:#189BF3">INTERNSHIP</p>           

        </div>
        
        <div class="col-md-6">
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>

        </div></div>
        
        </div>

    </div>
                      </div>

                      <div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid" >
 <img src="/assets/img/habitat/DIVERSITY/germany.jpg" alt="" class="img-responsive">

        <div class="row">
        <div class="col-md-12">
        <h4>Study Abroad Germany</h4>

</div>
<div class="row mt50">

        <div class="col-md-6">
       <p>INTERNSHIP</p>
          

 </div>
        
        <div class="col-md-6">
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>

        </div>
        
        </div></div>

    </div>
                      </div>

                      <div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid">
 <img src="/assets/img/habitat/DIVERSITY/studying-minorities.jpg" alt="" class="img-responsive">
      
        
        <div class="row">
        <div class="col-md-12">
        <h4>Study Minorities</h4>
</div>
<div class="row mt50">

        <div class="col-md-6">
        <p>SCHOLARSHIP</p>

        </div>
        
        <div class="col-md-6 ">
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>
        </div>
        
        </div></div>
       
    </div>
                      </div>

                      <div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid">
 <img src="/assets/img/giving/syrian.jpg" alt="" class="img-responsive">
<div class="row">
<div class="col-md-12">
        <h4>Syrain Culter No More</h4>

</div>
<div class="row mt50">

<div class="col-md-6">
<p>NEWS</p>
</div>
<div class="col-md-6">
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>

</div>
       </div>
    </div>
                      </div></div>

                      <div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid">
 <img src="/assets/img/giving/forest.jpg" alt="" class="img-responsive" >

        <div class="row">
        <div class="col-md-12">
        <h4>Amazone Rainforest</h4>

</div>
<div class="row mt50">

        <div class="col-md-6">
        <p>WEBINAR</p>
           

 </div>
        
        <div class="col-md-6 ">
        
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>
        </div>
        
        </div></div>

    </div>
                      </div>
                      
                      <div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid">
 <img src="/assets/img/giving/blood-drive.jpg" alt="" class="img-responsive"  > 
 <div class="row">
        <div class="col-md-12">
        <h4>WORLD Blood Drive</h4>

</div>
<div class="row mt50">

        <div class="col-md-6">
        <p>NEWS</p>
             
        
        </div>
        
        <div class="col-md-6 ">
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>

        </div>
        
        </div></div>



    </div>
                      </div>
<div class="col-xs-12 col-md-4">
<div class="thumbnail polaroid">
 <img src="/assets/img/habitat/DIVERSITY/jamaican-smoking.jpg" alt="" class="img-responsive">
    <div class="row">
        <div class="col-md-12">
        <h4>Smoking in Jamaica</h4>

</div>
<div class="row mt50">

        <div class="col-md-6">
       <p>NEWS</p>
           

        </div>
        
        <div class="col-md-6">
  <button routerLink="/habitat-diversity-post-detail" type="button" class="btn">VIEW</button>

        </div>
        
        </div></div>
</div>
                      </div>
                      <!---last thumb--->

                    </div>

                  </div>

              </div>
              </div>

            </div>
</div>
</div>
