    html {
    
    -webkit-font-smoothing: antialiased;
    height: 100%;
}


.imgthumbsize{
width: 75px; height: 75px
}
.thumb-text-center{text-align: center;color:#656565}
.thumb-shared-no{text-align: center; margin-top: -10px; color: #169cf1;}

body{
	
	background-color: #FFFFFF;
}
a {
    cursor: pointer;
    outline: none;
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:active, a:focus {
    color: #c1d3e0;
    text-decoration: none;
    outline: none;
}
#wrapper{
margin-left: 10%; 
margin-right: 10%;
}
    
    
div.col-md-12 h1{
	color:#189bf2; 
	text-align: center;
	font-family: 'Gotham Light'; 
	font-size:46px;
}
.mt30{
	margin-top:30px;
}
.mt20{
	margin-top:20px;
}
.mb40{
	margin-bottom:40px
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
   -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color:rgba(183, 109, 34, 0.7);
 
}
.hovereffect .overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 8px;
   -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay2 {
  background-color:rgba(183, 109, 34, 0.7);
 
}
.hovereffect .overlay2 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: -10px;
   -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay3 {
  background-color:rgba(183, 109, 34, 0.7);
 
}
.hovereffect .overlay3 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: -25px;
   -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay1 {
  background-color:rgba(183, 109, 34, 0.7);
 
}


.hovereffect img {
  display: block;
  position: relative;
}
.hovereffect p.info1{
	text-align: left;color:#fff;line-height: 1.2;font-family:'Gotham Book';
	font-size:20px;margin-top:-85px;font-weight: bold;padding:16px;position: absolute;
}
.hovereffect:hover p.info1 {
  opacity: .2;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
    color: #fff;
   background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin-top: 130px;
  font-size:24px
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
