<div id="wrapper">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-12">
        <h1>My Courses</h1>
      </div>
      <div class="col-md-12 mt30">
        <div class="col-md-4">
          <div class="hovereffect"> <img class="img-responsive" src="/assets/img/wellbeing/mental/food-salad.png" alt="" style="height:312px;filter:brightness(50%);">
            <div class="overlay">
              <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
            </div>
            <p class="info1">Eating Healthy<br> Mon 4-5 pm</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="hovereffect" style=" margin-left: -20px;">
            <img class="img-responsive" src="/assets/img/wellbeing/mental/calculater.png" alt="" style="width: 530px; height: 312px; margin-left: 9px;filter:brightness(50%);">
            <div class="overlay1">
              <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
            </div>
            <p class="info1">Business Basics <br> Wed 5-6 pm</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="hovereffect" style="margin-left:-42px">
            <img class="img-responsive" src="/assets/img/wellbeing/mental/work.png" alt="" style="margin-left: 9px; height: 312px; filter:brightness(50%);">
              <div class="overlay1">
                <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
              </div>
              <p class="info1">Boot Camp <br> Tue 9-10 am</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt20">
        <div class="col-md-6">
          <div class="hovereffect"> <img class="img-responsive" src="/assets/img/wellbeing/mental/pexels.png" alt="" style="height:312px;width: 530px;filter:brightness(50%);">
            <div class="overlay2">
              <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
            </div>
            <p class="info1">Super Strength Workout <br>Fri 8-9 am </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="hovereffect" style="margin-left:-15px">
            <img class="img-responsive" src="/assets/img/wellbeing/mental/officem.png" alt="" style="width: 530px; height: 312px; margin-left: -15px;filter:brightness(50%);">
              <div class="overlay3">
                <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
              </div>
              <p class="info1">Organizing your office <br> Mon 10-11 am</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt20 mb40">
        <div class="col-md-4">
          <div class="hovereffect" style="margin-right: -22px;"> <img class="img-responsive" src="/assets/img/wellbeing/mental/yoga.png" alt="" style="height:312px;filter:brightness(50%);">
            <div class="overlay">
              <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hovereffect" style="margin-left:30px">
            <img class="img-responsive" src="/assets/img/wellbeing/mental/juice.png" alt="" style="width: 485px; height: 312px;filter:brightness(50%);">
              <div class="overlay">
                <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hovereffect" style="margin-left: 55px;"> <img class="img-responsive" src="/assets/img/wellbeing/mental/red-lunch.png" alt="" style="height: 312px;filter:brightness(50%);">
            <div class="overlay">
              <a routerLink="/wellbeing-udemy-course" class="info">view more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
