<h2>Add Exercise</h2>
<form [formGroup]="addForm" (ngSubmit)="onSubmitExercise()">
    <div class="row">
        <div class="column">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="last_name" formControlName="name" class="form-control">
            </div>
            <div class="form-group">
                <ng-container *ngFor="let m of movementList">
                    <label><input type="checkbox" value="{{m}}" (change)="handleMovementChanges($event)">{{m}}</label>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="muscle_group">Muscle Group</label>
                <select id="muscle_group" type="text" formControlName="muscle_group" class="form-control">
                    <option value="">--Please choose an option--</option>
                    <option value="Back">Back</option>
                    <option value="Chest">Chest</option>
                    <option value="Core">Core</option>
                    <option value="Legs">Legs</option>
                    <option value="Sub">Sub</option>
                </select>
            </div>
            <div class="action-container">
                <button [disabled]="isLoading" class="btn secondary">
                    <span *ngIf="isLoading" class="spinner-border">
                    </span>
                    Cancel
                </button>
                <button [disabled]="isLoading" class="btn primary">
                    <span *ngIf="isLoading" class="spinner-border">
                    </span>
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>

<exercises></exercises>