:host {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap:.5em;
    margin:1em;
}

.username {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


