<div class="profile">
    <div class="username">
        <h5>{{profile.first_name + ' ' + profile.last_name}}</h5>
        <i (click)="displayEditPage(profile)" *ngIf="isAdmin" class="fa-solid fa-pencil fa-lg"></i>
    </div>
    <h5>Age:{{profile.age}}</h5>
    <div>Exercise List:<button class="btn" [disabled]="(gainsService.$currentProfile | async)?._id !== profile._id"
            (click)="addExercise()">add exercise</button>
        <ul>
            <li *ngFor="let exercise of profile.exercise_list">{{exercise}}</li>
        </ul>
    </div>
    <div>Exercise Log: <button class="btn" (click)="addLog(profile._id)">log session</button>
        <ul>
            <li *ngFor="let log of profile.exercise_log">{{log}}</li>
        </ul>
    </div>
    <h5>Weight: {{profile.weight}}</h5>
    <h5>Height: {{profile.height}}</h5>
    <h5>Body Fat%: {{profile.body_fat_percent}}</h5>
    <h5>Lean Body Mass: {{profile.lean_body_mass}}</h5>
    <h5>FFMI: {{profile.fat_free_mass_index}}</h5>
    <button class="btn primary" (click)="selectUser(profile._id)">Select User</button>
</div>

<modal id="modal-1" [isVisible]="showModal">
    <p class="closing-x" (click)="modalService.close()">X</p>
    <h1 class="modal-title">Add Exercises to Program</h1>
    <div class="modal-content">
        <ul class="exercise-list">
            <li class="exercise" *ngFor="let exercise of $exerciseList| async"><i class="fa-solid fa-circle-plus fa-lg"
                    (click)="updateUserProgram(exercise.name,false)"></i>{{exercise.name}}</li>
        </ul>

        <ul class="current-exercises">
            <li class="exercise" *ngFor="let move of (gainsService.$currentProfile| async)?.exercise_list"><i
                    class="fa-solid fa-trash fa-lg" (click)="updateUserProgram(move, true)"></i>{{move}}</li>
        </ul>
    </div>
    <button class="btn secondary" (click)="modalService.close()">Close</button>
</modal>

<modal id="editProfileModal">
    <p class="closing-x" (click)="modalService.close()">X</p>
    <add-user-form [editUser]="editUser"></add-user-form>
</modal>