<div id="wrapper">
  <div class="container">
    <ul class="list-group" style="padding-top:25px; list-style-type: none;">
      <li role="presentation" style="text-align:center;">
        <a (click)="markAll()">Mark all as seen</a>
      </li>
      <li *ngFor="let notification of notifications" class="list-group-item">
        <a (click)="navigate(notification)" style='float:left;'>
          <div class="menu-list-item"> <i class="fa fa-fw fa-commenting{{ getCommentIcon(notification) }}"></i> {{
            notification.message}} <br>
            <span style="font-size:10px;">{{ notification.editDate }}</span>
          </div>
          <button style="color: #707070; font-size: 16px;float:right;"
            (click)="deleteNotification(notification, $event)" title="Delete Notification"> <i class="fa fa-trash-o"
              aria-hidden="true"></i> </button>
          <button style="color: #707070; font-size: 16px;float:right;" [hidden]="(notification.userSeenDate !== null)"
            (click)="markNotificationAsRead(notification, $event)" title="Mark Notification As Read"> <i
              class="fa fa-eye" aria-hidden="true"></i> </button>
          <button style="color: #707070; font-size: 16px;float:right;"
            (click)="disableNotification(notification, $event)" title="Disable Notification">
            <i class="fa fa-bell-slash-o" aria-hidden="true"></i> </button>
        </a>
        <div style="clear:both;"></div>
      </li>
    </ul>
  </div>
</div>