.addcontentbtn {
  border: 0;
  box-shadow: 0;
  border-radius: 20px;
  margin-top: 2px;
  text-align: center;
  width: 180px;
  background-color: #8e0053;
  color: #FFFFFF;
  font-family: 'Gotham Light';
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(#9c005c, #8f0054, #88004f, #7e0048);
}

.addcontent {
  width: 940px !important;
  right: 200px;
}

.shareheader {
  padding: 15px;
  border-bottom: none !important;
}

.sharefooter {
  padding-bottom: 50px !important;
  text-align: center !important;
  border-top: none !important;
}
.sharetitle {
    margin-top: 12px !important;
    margin-bottom:0px;
    text-align: center;
    font-size: 31px;
    font-family: 'Gotham Book';
    color: #189bf2;font-weight: bold;

}
	.sharetitle span{
		font-family: "gotham Bold";
		font-size: 31px;
		font-weight: bold;
	}

.shareitem {
  font-family: 'Gotham Light';
  font-size: 11px;
  color: #a1a1a1;
  text-align: center
}

.opport-name {
  font-family: 'Gotham book';
  font-size: 13px;
  color: #fff;
  margin-top: -30px;
  text-align: center;
  position: fixed;
  margin-left: 56px;
}

.opport-head {
  font-family: 'Gotham Light';
  font-size: 14px;
  color: #707070;font-weight:600;
  margin-bottom: 25px;
}.userquick-footer{
	    /* padding-bottom: 50px !important; */
    text-align: center !important;
    border-top: none !important;
}
.userquick-post{
	margin-right: 75px;
    /* padding: 8px 70px 8px 70px; */
    width: 180px;
    border-radius: 0px;
    font-family: Gotham Book;
    font-size: 20px;
    background: #1899ef;
}
.userquick-exit{
	margin-right: 75px;
    /* padding: 8px 70px 8px 70px; */
    width: 180px;
    border-radius: 0px;
    font-family: Gotham Book;
    font-size: 20px;
    background-color:#7b0046!important;   
}

.userquick-textarea{
	border: 2px solid #189bf2;
	border-radius: 6px;
	font-family: 'Gotham Thin';
	font-size: 14px;
	color: #acacac;
	padding: 10px;
}
.userquick-h6{
font-family:'Gotham light';font-size:19px;color:#189bf2;font-weight: 600;
}
.userquick-h6 span{
	color:#acacac
}
.userquick-controlbtm{
font-family:'Gotham Thin';font-size:11px;color:#b7b7b7;text-align:right;
}
.userquick-noattach{
font-family:'Gotham Light';font-size: 13px; color: #959595;padding: 19px;text-align: center;font-style: italic;font-weight: 600;

}
.userquick-label{
font-family:'Gotham Light';font-size: 16px; color: #707070;margin-left: 10px;font-weight: 600;

}
.userquick-say{
font-family:'Gotham Light';font-size: 14px; color: #707070;margin-bottom: 25px;font-weight: 600;
}
.userquick-input{
border-radius: 10px;border: 2px solid #1899ef;padding: 5px 0 5px 128px;margin-left: 22px;margin-top: 3px;
}
