<div id="wrapper">
     <app-wellbeing-navbar></app-wellbeing-navbar>


<div class="container mt50">
<section class="first-time-head">
      <div class="row" style="margin-top: 39px;">
  
  <div class="col-md-12">
    <h1>What types of courses would you like to browse through?</h1>
    <p style="font-family: Gotham Book; color: #959595; text-align: center; margin-top:0px;font-size:22px">Select from any of the course categories from below</p>
  </div>
  </div>
  </section>
  <section class="first-time-content">
  <div class="row mt50">
  <div class="col-md-12" style="margin-left: 8px;">

   <div class="col-md-2 content">
           <img src="/assets/img/wellbeing/mental/development.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Development</h4>
           
            </div>
    <div class="col-md-2 content">
        <img class="img-responsive" src="/assets/img/wellbeing/mental/business.png" alt="Develop" style="padding:35px;">
    <h4 class="heading">Business</h4>
            </div>
  <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/itsoftware.png" alt="Develop" style="padding:35px">
    <h4 class="heading">IT & Software</h4>
            </div>
  <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/office.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Office Productivity</h4>
            </div>
 <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/personal.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Personal Development</h4>
            </div>

  </div>
      </div>
      <div class="row mt30">
  <div class="col-md-12" style="margin-left: 8px;">

    <div class="col-md-2 content">
           <img src="/assets/img/wellbeing/mental/design.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Design</h4>
           
            </div>
    <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/marketing.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Marketing</h4>
            </div>
  <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/lifestyle.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Lifestyle</h4>
            </div>
  <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/photography.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Photography</h4>
            </div>
 <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/health.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Health & Fitness</h4>
            </div>

  </div>
      </div>
         <div class="row mt30 mb50">
  <div class="col-md-12" style="margin-left: 8px;">

    <div class="col-md-2 content">
           <img src="/assets/img/wellbeing/mental/traning.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Teacher Training</h4>
           
            </div>
    <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/music.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Music</h4>
            </div>
  <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/acedmeics.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Academics</h4>
            </div>
  <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/language.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Language</h4>
            </div>
 <div class="col-md-2 content">
        <img src="/assets/img/wellbeing/mental/test.png" alt="Develop" style="padding:35px">
    <h4 class="heading">Test Prep</h4>
            </div>

  </div>
      </div>

</section>
            </div></div>