  .wrapper{
	margin-left: 10%;margin-right:10%;
}
div.col-md-12 h1 {
font-family:Gotham Thin; color: #189bf2;font-size:36px; text-align: center; margin-top:0px;}
div.col-md-12 h2 {
font-family:'Gotham Light'; color: #0b80b1;font-size:31px; text-align: left; margin-top:0px;}

.content{
	-webkit-box-shadow: -2px 8px 18px 1px rgba(237,237,237,1);
-moz-box-shadow: -2px 8px  18px 1px rgba(237,237,237,1);
box-shadow: -2px 8px 18px 1px rgba(237,237,237,1);
margin-right:22px;border: 2px solid #189bf2;width: 18%;

}
 .mt50{
  margin-top:50px;
 
 }
 .mt30{
  margin-top:30px;
 
 }
 .heading{
	text-align: center;
	font-family: Gotham Book;
	font-size: 15px;
	color: #959595;
	margin-bottom: 20px;
	font-weight: bold;
}
.mb50{
	margin-bottom:50px;
}
