<section class="wellbeing-nav">
  <div class="container-fluid" style="padding-left:0;padding-right:0;">
    <div class="row" style="background-color: #ce058a;margin-top:-43px;margin-right:0">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 " style=" background-color: #ce058a;">
            <div class="row text-center" style="padding-top: 15px;position: relative;top: 10px;">
              <div class="col-xs-4">
                <h5><a routerLink="/giving">DASHBOARD</a></h5>
              </div>
              <div class="col-xs-4">
                <h5><a routerLink="/giving-find-npo">FIND NPO</a></h5>
              </div>
              <div class="col-xs-4">
                <h5><a routerLink="/giving-opportunity">CREATE CAUSE</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
