[class*="col-"] {
    margin-bottom: 12px;
}
h5 a{
	font-family: "Gotham Light";
	font-size: 19px;
	/* font-weight: bold; */
	color: #FFFFFF;
}
h5 a.active{
	font-family: "Gotham Light";
	font-size: 19px;
	font-weight: bold;
	color: #FFFFFF;
}
