<div id="wrapper">
  <div class="container mt30">
    <div class="row">

      <div class="col-md-1">
        <a routerLink="/habitat">
          <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left"></i>
</span>
        </a>
      </div>

      <div class="col-md-11">
        <div class="page">
          <h1>myHR</h1>
          <p>Select a document to view</p>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <img class="img-responsive pull-right" src="/assets/img/habitat/plant.png" alt="Plant" >
        <table class="bordered">
          <tbody>
            <tr>
              <td>
                <h1 class="heading"></h1>
                <button type="button" class="btn btn-style" data-toggle="modal" data-target="#myModal4">Expense</button>
                  <img src="/assets/img/habitat/top.png" alt="Top" class="mt45">
              </td>
              <td>
                <h1 class="heading"></h1>
                <button type="button" class="btn btn-style1"  data-toggle="modal" data-target="#myModal5">Performance <br> Reviews
                  </button>
                  <img src="/assets/img/habitat/top.png" routerLink="/habitat-performance-review" alt="Top" class="mt45">
              </td>

            </tr>


          </tbody>

        </table>
        <table class="bordered1">
          <tbody>
            <tr>
              <td>
                <h1 class="heading"></h1>
                <button type="button" class="btn btn-style" data-toggle="modal" data-target="#myModal1">Holiday Charts</button>
                  <img src="/assets/img/habitat/top.png" alt="Top" class="mt45">
              </td>
              <td>
                <h1 class="heading"></h1>
                <button type="button" class="btn btn-style1" data-toggle="modal" data-target="#myModal3">Training Docs</button>
                  <img src="/assets/img/habitat/top.png" alt="Top" class="mt45">
              </td>

            </tr>


          </tbody>

        </table>
        <table class="bordered2" >
          <tbody>
            <tr>
              <td>
                <h1 class="heading"></h1>
                <button type="button" class="btn btn-style" data-toggle="modal" data-target="#myModal">Map</button>
                  <img src="/assets/img/habitat/top.png" alt="Top" class="mt45">
              </td>
              <td>
                <h1 class="heading"></h1>
                <button type="button" class="btn btn-style1" data-toggle="modal" data-target="#myModal2">ORG Chart</button>
                  <img src="/assets/img/habitat/top.png" alt="Top" class="mt45">
              </td>

            </tr>


          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
<!-- Modal holiday-->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content1">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
        <div class="modal-body">
        <div class="col-md-12">
         <img src="/assets/img/habitat/logo1.png" class="img-responsive logo1">
         <h2 class="head">HOLIDAY CHART</h2>
         <h3 class="head1"><span class="text">September 27th:</span> Michael's Fun Run</h3>
          <h3 class="head1"><span class="text">Oct 31st:</span> Halloween Office Party. Half Day</h3>
 <h3 class="head1"><span class="text">Nov 22nd-24th:</span> Thanksgiving. Office Closed</h3>
 <h3 class="head1"><span class="text">Dec 22nd- Jan 2nd:</span> Chirstmas Break</h3>
<h3 class="head1"><span class="text">Mar 30th: </span> Michael's Birthday. Office Party</h3>
<h3 class="head1"><span class="text">April 12th-15th:</span> Spring Break</h3>
<h3 class="head1"><span class="text">May 9th: </span> Office Olympics</h3>
<h3 class="head1"><span class="text">June 11th: </span> Casino Night. Charity Event</h3>
<h3 class="head1"><span class="text">July 4th:</span> Fireeorks and Pancakes</h3>
<h3 class="head1"><span class="text">July 16th: </span> Jim and Pam's Wedding</h3>
<h3 class="head1"><span class="text">August 2nd: </span> Bring your kid to Work Day</h3>

         </div>
                 </div>
        <div class="modal-footer">
                 </div>
      </div>
      
    </div>
  </div>
  <!-- Modal training-->
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content2">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
        <div class="modal-body">
         <img src="/assets/img/habitat/logo1.png" class="img-responsive mt-30"><br>
         <div class="col-md-offset-1 col-md-10 col-md-offset-1">
         <h3 class="head2">COMPANY TRAINING NEEDS ANALYSIS CHECKLIST</h3>
         <h4 class="head3">Company Background, Business Strategy and Objectives</h4>
         <div class="box">
         <p class="para">How long has the business been established?<br>
         What are the company strategy and objectives for the future? Short, medium and long term?<br>
                 How big a threat are your competitors?<br>
        What have been your successes to date? What can be replicates?<br>
        What are the current and future key challenges / risks for the business?<br>
          How will you manage any risks?<br>
         What are the opportunities for the future?<br>
          What plans do you have to maintain / increase sales over the next 3years?<br>
    Who are the key personnel in the business? Do you have succession planning ub okace? </p>
 </div>
 <h4 class="head3">Markets, Products &Aacute; Services</h4>
         <div class="box">
         <p class="para">What are your organisation's main markets? Do you 
         intend to enter new markets over the next three years?<br>
         What are your main products and services?<br>
                Are you planning to introduce new products? What are the implications and 
                potential training requirements?<br>
        How do you develop new products/services?<br>
       Who is responsible for sales and marketing?<br>
          What are your routes to market - how do you sell?<br>
         Who are your main customers?<br>
          Hoe is customer feedback gathered?<br>
    Do you use a Customer Relationship Management (CRM) system? Does this 
    require you need any additional skills? </p>
 </div>
 <h4 class="head3">Operations</h4>
         <div class="box">
         <p class="para">Are you working to full capacity?<br>
         What cost reduction areas have you identified over the next 2 years?<br>
                 Do you have any bottlenecks in your company/processes? <br>
       How are suppliers managed to ensure you are getting the 
       right level of service?<br>
        How do you manage waste / scrapge?<br>
          What technology do you use and how might this change your 
          production/service e.g. new machinery, automated programmes?<br>
         Would changes require additional people to carry out different tasks or impact on
         <br>how they are supervised or managed? Is multi-skilling required?<br>
         What financial management system do you use and is it effective?</p>
 </div>
 <h4 class="head3">Structure and People</h4>
         <div class="box">
         <p class="para">What  is  the  structure  of  the  business?  Ratio  of  management  /  direct<br>
       </p>
 </div>

 </div>
                </div>
        <div class="modal-footer mb40">
                 </div>
      </div>
      
    </div>
  </div>

  <!-- Modal chart-->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
        <div class="modal-body">
         <img src="/assets/img/habitat/logo1.png" class="img-responsive col-xs-2 mt-30">
         <img src="/assets/img/habitat/graph.png" class="img-responsive col-xs-9 mt-15">
        </div>
        <div class="modal-footer mb40">
                 </div>
      </div>
      
    </div>
  </div>
<!-- Modal map-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
        <div class="modal-body">
         <img src="/assets/img/habitat/logo1.png" class="img-responsive col-xs-1 top370">
         <img src="/assets/img/habitat/map.jpg" class="img-responsive col-xs-10">
        </div>
        <div class="modal-footer mb40">
                 </div>
      </div>
      
    </div>
  </div>
  <!-- Expense-->
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content3">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
        <div class="modal-body">
        <div class="col-md-12">
         <img src="/assets/img/habitat/logo1.png" class="img-responsive">
         <img src="/assets/img/habitat/form.jpg" class="img-responsive"></div>
        </div>
        <div class="modal-footer mb40">
                 </div>
      </div>
      
    </div>
  </div>
  <!-- performance-->
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content4">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
                  </div>
        <div class="modal-body">
        <div class="col-md-12">
           <img src="/assets/img/habitat/performance1.png" class="img-responsive mtop-62">

                 </div>
        <div class="modal-footer mb40">
                 </div>
      </div>
      
    </div>
  </div>
</div>
