<div id="wrapper">
  <div class="container">
    <div class="row mt30">
      <div class="col-md-12 text-center clearfix">
        <button routerLink="/rewards/create" type="button" class="btn btn-admin active">CREATE</button>
        <button routerLink="/rewards" type="button" class="btn btn-admin">VIEW </button>
      </div>
      <div class="clearfix"></div>

      <div class="row mt30" style="margin-top: 50px">
        <div class="col-md-12  pb30">
          <form #form="ngForm" (ngSubmit)="createReward(form.value)" class="mgt-createform">
            <div class="row">
              <app-toast [message]="toast.message"></app-toast>
              <div class="col-md-7">
                <div class="form-group">
                  <div class="col-md-10">
                    <label class="control-label" for="name">Enter the name of your reward</label>
                  </div>
                  <div class="col-md-9" style="margin-top:15px">
                    <input type="text" [(ngModel)]="form.name" name="name" class="form-control" id="name" style="background-color: #cccccc">
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="control-label" for="points">Points required to Redeem</label>
                  </div>
                  <div class="col-md-3" style="margin-top:15px">
                    <input type="number" name="points" [(ngModel)]="form.points" class="form-control col-md-4" id="points"
                        style="background-color: #cccccc">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt30" style="margin-top:90px">
              <div class="col-md-8">
                <div class="form-group">
                  <div class="col-md-3">
                    <img src="/assets/img/admin/imageupload.png" height="220" width="220" alt="" style="background-color: #C0C0C0">
                  </div>
                  <div class="col-md-9" style="padding-left:80px">
                    <input type="radio" default name="userposttype" id="userposttypefile">
                    <label class="control-label uploadlabel" for="image">Upload a Thumbnail for your reward</label>
                    <input type="file" [(ngModel)]="form.image" class="btnset" name="image" id="postuploadfile"/>
                    <h3 style="font-family: 'Gotham Book';font-size: 22px;color:#898989; font-style: italic;">Nothing Has been uploaded yet!</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="RewardInputDescription">Reward Description<span style="font-family: &quot;Gotham Book&quot;; color: #b7b7b7">(Optional)</span></label>
                  <textarea name="description" [(ngModel)]="form.description" max="140" cols="20" rows="9" class="form-control" id="description"
                      placeholder="" style="background-color:#e5e5e5"></textarea>
                    <p class="help-block pull-right " style="color: #b7b7b7; font-family: 'Gotham Book'; font-size: 16px; font-weight: bold">0/140 Character Limit</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn sbt-btn">SUBMIT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
