  <app-giving-navbar></app-giving-navbar>
<div id="wrapper">

 <div class="container"  id="main-wrapper">

   <div class="row" style="margin-top: 15px">

    <div class="col-md-1">
                <a routerLink="/giving-dashboard-manage-volunteering">
       <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size: 50px; padding-right: 5px;padding-left: 18px;padding-top: 5px;border: 0; color: #000000;"></i>
</span>
        </a>
              </div>

   <div class="col-md-11">
                <h1 style="color:#ce058a; text-align: left; font-family:Gotham Thin;font-size:50px;margin-left: 30px;">{{ opportunity.name }}</h1>
             </div>
      </div>

 <div class="row">
      <div class="col-md-12" style="margin-top: 50px;">
       <div class="row">
           <div class="col-md-offset-1 col-md-6" style="font-size:34px;line-height: 2.7rem;color:#464646; display: block;font-family:Gotham Thin">

               <p class="mleft30">Transaction ID: {{ getReceiptId() }} </p>
               <p class="mleft30"> Transaction Status: <span style="color: #ce058a;font-family:Gotham book">COMPLETE </span></p>
               <p class="mleft30"> Date: {{ getEventDate() }} </p>
               <p class="mleft30"> Start Time : {{ formatTime(shift.startTime) }} </p>
               <p class="mleft30">  End Time : {{ formatTime(shift.endTime) }}</p>
               <p class="mleft30" style="color: #7b0046; font-family:Gotham book">Reward : 15 Points </p>
                    </div>
                    <div class="col-md-2" style="padding:0px;" >
                      <button class="btn note-btn" style="padding:0px;"  data-toggle="modal" data-target="#myviewnoteModal" type="button">
                     <img src="/assets/img/giving/note2.png" style="height: 216px;width: 216px;" data-toggle="modal" data-target="#myModal" class=" img-responsive" alt=""  />
                     </button>
                    </div>
                    <div class="col-md-3">

                    <div class="white-border-vol" style=" color: #FFFFFF; background-color: #ce058a;width: 80%;text-transform: capitalize;">
						<span style="font-size:125px; font-family: 'Gotham Thin'; font-weight: normal;">{{ shift.hours.toFixed(1) }}</span>
						<br>
						<span style="font-size:15px; font-family: 'Gotham Book'; font-weight: bold;">Hours Volunteered</span>
						</div>


                    </div>

      </div>
         </div>


                                <div class="clearfix"></div>
                                 <div class="row" style="padding-top:3rem">


                                <div class="col-md-offset-1 col-md-5">
                                <button class="btn" style="background: linear-gradient(to bottom, #ce058a,#ce058a,#ce058a);padding: 10px 20px 10px 20px;
                                     font-size:16px;color: #FFFFFF; border-radius: 0px;margin-left: 40px;font-family:Gotham Book;margin-right: 25px;">RESEND RECEIPT TO MY EMAIL</button>
                                  <img src="/assets/img/giving/printed.png" alt="Printed" style="border-radius: 50%;padding: 5px;box-shadow: 1px 6px 10px #ccc;">
 </div>
                                <div class="col-md-6" style="text-align: left">
                                <p style="font-family:Gotham Book;font-size:18px;color:#363636;font-weight: 600;">Want to share this opportunty?</p>
                   <button type="button" class="btn button1" style="padding:2px 25px 2px 25px;margin-right:14px">share<b>IN</b></button>
       <button type="button" class="btn button1" style="padding:2px 20px 2px 20px">share<b>OUT</b></button>
                                </div>
                                </div>
									                                </div>




              </div>
