<div id="wrapper">
 <div class="container" >
   <div class="row mt30">
   <div class="col-md-12 text-center clearfix">
   <button routerLink="/admin-tools-habitat-rewards-mgt-create" type="button" class="btn btn-admin active">CREATE</button>
      <button routerLink="/admin-tools-habitat-rewards-mgt-view" type="button" class="btn btn-admin">VIEW </button>
   <button routerLink="/admin-tools-habitat-rewards-mgt-approve" type="button" class="btn btn-admin">APPROVE</button>

   </div>
   <div class="clearfix" ></div>
   <div class="row mt30"style="margin-top: 50px">
 
<div class="col-md-12  pb30" >  
<div class="mgt-createform">
 <div class="row">
 <div class="col-md-7">
 <div class="form-group">
 <div class="col-md-10">
     <label class="control-label" for="exampleInputEmail1">Enter the name of your reward</label>

 </div>
 <div class="col-md-9" style="margin-top:15px">
     <input type="text" class="form-control" id="RewardInputName" placeholder="" style="background-color: #cccccc">

 </div>
  </div>
 </div>
  <div class="col-md-5">
  <div class="form-group">
  <div class="col-xs-12">
    <label class="control-label"for="exampleInputEmail1">Points required to Redeem</label>
    </div>
    <div class="col-md-3" style="margin-top:15px">
     <input type="text" class="form-control col-md-4" id="PointsInputRedeem" placeholder=""  style="background-color: #cccccc">
   
    </div>
  </div>
  
  </div>

 
 </div>
 
  <div class="row mt30" style="margin-top:90px">
 <div class="col-md-8">
 
  <div class="form-group">
  <div class="col-md-3">
   <img src="/assets/img/admin/imageupload.png" height="220" width="220"alt="" style="background-color: #C0C0C0">
  </div>
  <div class="col-md-9" style="padding-left:80px">
   <label class="control-label uploadlabel" for="exampleInputEmail1">Upload a Thumbnail for your reward</label>

  
    <input type="submit" class="btnset" name="submit" value="Upload " />
    <h3 style="font-family: 'Gotham Book';font-size: 22px;color:#898989; font-style: italic;">Nothing Has been uploaded yet!</h3>
  </div>
  </div>
   
    </div>
  <div class="col-md-4">
  
   <div class="form-group">
    <label class="control-label" for="exampleInputEmail1">Reward Description<span style="font-family: &quot;Gotham Book&quot;; color: #b7b7b7">(Optional)</span></label>
    <textarea name="TextArea1" cols="20" rows="9"class="form-control" id="RewardInputName" placeholder="" style="background-color:#e5e5e5"></textarea>
    <p class="help-block pull-right " style="color: #b7b7b7; font-family: 'Gotham Book'; font-size: 16px; font-weight: bold" >0/140 Character Limit</p>
  </div>

  </div>

 
 </div>
 <div class="row">
 <div class="col-md-12 text-center">

 <button type="submit" class="btn sbt-btn" >SUBMIT</button>
 </div></div>

   </div>
   </div>
 

   </div>
   
   </div>
   
   
   </div>  
   </div>
