<div class="container-fluid">
  <div class="row" style="background-color: #fd8b38; color: #FFFFFF; text-align: center; line-height: 3em;margin-top:-43px">
    <div class="col-md-12">
      <h1 style="padding-top: 50px;margin:0px; font-family: 'Gotham Book'; font-size: 47px; font-weight: bold; color: #FFFFFF;">Never too late to begin a healthy lifestyle.</h1>
      <h2 style="padding-bottom: 50px;margin:0px; font-family: 'gotham Bold'; font-size: 47px; font-weight: bold;">Start now.</h2>
    </div>
  </div>
</div>
<div id="wrapper">
  <div class="container mt30" style="margin-top: 30px">
    <div class="col-md-3">
      <div class="col-md-12" style="background-color: #189bf2; color: #FFFFFF;text-align: center ">
        <app-toast [message]="toast.message"></app-toast>
        <h1 style="font-family:'gotham Bold'; font-size: 22px; font-weight: bold">Today's Motivation </h1>
        <blockquote style="font-family: 'Gotham Light'; font-size: 19px; font-weight: bold">
          <p style="padding: 14px;">"One of the greatest moments in life is realizing that two weeks ago your
            body what it just did"</p>
        </blockquote>
      </div>
      <div class="col-md-12  box-shadow-most" style="border-radius:8px;margin-top:20px; padding-bottom: 0px;margin-bottom: -32px;">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 text-center">
                <p class="most">Clear-Eyes Full Heart</p>
                <p class="social">Leaderboard</p>
                <p class="sharing"></p>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 " style="margin-bottom: -35px;">
                <ul class="mostshared center-block" style="margin-top: 10px;padding-left:6px">
                  <li> <img src="/assets/img/3.png" class="img img-circle imgthumbsize"
                        alt="" style="display: inline-block" />
                    <p class="thumb-text-center">Jeo</p>
                  </li>
                  <li style="padding-right:45px"> <img src="/assets/img/1.png" class="img img-circle imgthumbsize"
                        alt="" style="display: inline-block" />
                    <p class="thumb-text-center">Jane</p>
                  </li>
                  <li style="padding-right:45px"> <img src="/assets/img/sylviahome.png" class="img img-circle imgthumbsize"
                        style="display: inline-block" alt="" />
                    <p class="thumb-text-center">Kelly</p>
                  </li>
                  <li style="padding-right:45px"> <img src="/assets/img/bob-bald-ross.png" class="img img-circle imgthumbsize"
                        alt="" style="display: inline-block" />
                    <p class="thumb-text-center">Bob </p>
                  </li>
                  <li> <img src="/assets/img/3.png" class="img img-circle imgthumbsize"
                        alt="" />
                    <p class="thumb-text-center">Mike</p>
                  </li>
                  <li style="float:right"> <img src="/assets/img/wellbeing/more.png" class="img " alt="" />                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="eachcontent" style="padding:0px">
        <div class="row">
          <div class="col-md-12" style="padding:0px">
            <div class="image2bg">
              <div routerLink="/wellbeing-incentfit-pts-gym-reimb" class='col-md-4 sprite1 pointer'
                  style="padding:0px"> <img src="/assets/img/wellbeing/1.jpg" alt="" height="500px" /></div>
            <div routerLink="/wellbeing-incentfit-fitness-challenges" class='col-md-4 sprite2 pointer'
                style="padding:0px"><img src="/assets/img/wellbeing/2.jpg" height="500px" alt="" /></div>
          <div routerLink="/wellbeing-incentfit-memberships" class='col-md-4 sprite3 pointer'
              style="padding:0px"><img src="/assets/img/wellbeing/3.jpg" height="500px" alt="" /></div>
        <div class="blurbg">
          <div class="textcontent text-center">
            <h1 style="font-family: 'gotham Bold'; font-size: 36px; text-align: center; margin-top:20px;">Your Physical Wellbeing</h1>
            <div class="flyout hidden">View Gym Reimbursements</div>
            <div class="flyout2 hidden2">View Fitness Challenges</div>
            <div class="flyout3 hidden3 ">View Gym Membership</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="eachcontent" style="padding:0px">
  <div class="row">
    <div class="col-md-12" style="padding:0px;margin-top:-5px">
      <div class="image3bg">
        <div class="blurbg">
          <div class="textcontent">
            <h1 style="font-family: 'Gotham Bold'; padding: 0px; font-size: 36px; text-align: center; margin-top:20px; ">Your Mental Wellbeing</h1>
            <p style="font-family: 'Gotham Book'; font-size: 15.4px; text-align: center;">Browse through 1000s of videos taught by leading professionals and gain
              the skills you want and need</p>
          </div>
        </div>
        <div class="cnt">
          <button routerLink="/wellbeing-udemy" type="button" class="btn launchbtn">LAUNCH</button>
        </div>
        <div class="blurbgcredit">
          <div class="textcontent">
            <p style="font-family: 'Gotham Thin'; font-size: 44px;padding-left:44px;padding-bottom:0px">$400.00</p>
            <p style="font-family: ' Gotham Book'; font-size: 16px; text-transform: uppercase;padding-left:50px;">
              available Credit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
