<div class="content">
  <div class="container mt30">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-family: Gotham book; font-weight:bold;font-size: 38px; color: #0b80b1">ADD/REMOVE USERS</h1>
        <p style="font-family: Gotham book; font-size: 30px; color: #0b80b1;margin-top: 30px;margin-bottom: 30px;">UPLOAD A CSV TO QUICKLY ADD MULTIPLE EMPLOYEES</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <p style="font-family:Gotham Book;font-size:26px;color:#acacac;font-style:italic;text-align:right">Nothing is attached yet.</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-upload" style="color:#0b80b1;font-family:Gotham book;font-weight:bold;font-size:26px;">UPLOAD <img src="/assets/img/admin/user/upload.png" alt="Upload"></button>
      </div>
      <div class="col-md-12">
        <h4 style="font-family:Gotham Book;font-size:30px;color:#0b80b1;margin-top:40px;margin-bottom:40px">ADD A USER</h4>
        <form [formGroup]="userForm" (ngSubmit)="addUser($event)">
          <div class="form-group col-xs-4">
            <label>First Name</label>
            <input class="form-control" type="text" formControlName="firstname" required>
          </div>
          <div class="form-group col-xs-4">
            <label>Last Name</label>
            <input class="form-control" type="text" formControlName="lastname" required>
          </div>
          <div class="form-group col-xs-4">
            <label>Email</label>
            <input class="form-control" type="text" formControlName="email" required>
          </div>
          <div class="form-group col-xs-4">
            <label>Department</label>
            <input class="form-control" type="text" formControlName="department">
          </div>
          <div class="form-group col-xs-4">
            <label>Position/Title</label>
            <input class="form-control" type="text" formControlName="position">
          </div>
          <div class="form-group col-xs-4">
            <label>Operates As</label>
            <select class="form-control" formControlName="permissions">
              <option value="user">USER</option>
              <option value="admin">ADMIN</option>
            </select>
          </div>
          <div class="form-group col-xs-4">
            <button type="submit" class="btn btn-upload" style="color:#0b80b1;font-family:Gotham book;font-weight:bold;font-size:26px;margin-top: 30px;">SUBMIT USER</button>
          </div>
        </form>
      </div>
      <div class="col-md-12 mb250">
        <h4 style="font-family:'Gotham Book';font-size:30px;color:#0b80b1;margin-top:40px;margin-bottom:40px">REMOVE A USER</h4>
        <div class="input-append" style="    margin-left: 10px;">
          <label style="font-family:'Gotham Book';font-size:24px;color:#0b80b1;font-weight: normal;">Browse Name</label><br>
          <input type="search" [formControl]="searchControl" class="input-medium search-query" style="border: 2px solid #189bf2;border-radius: 4px;margin-right:-36px;width:45%;height:44px;">
          <button type="submit" class="add-on" style="background:#fff;border:none;margin-left: -6px;">
              <i class="glyphicon glyphicon-search" style="color:#0b80b1;top: 8px;font-size: 22px;"></i>
              </button>
        </div>
      </div>
    </div>
  </div>
</div>
