
// :host {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-flow: column nowrap;
// }

.exercises {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;
}

.exercise-details { 
    flex: 1 2 30%;
    box-shadow:2px 1px 2px 2px grey;
    padding: 1em;
}