<div id="wrapper">
  <div class="container">
    <div class="row mt30">
      <div class="col-md-12">
        <h1>Files Shared</h1>
        <p>Every file that you have sent or received
          <br> from your fellow employees</p>
        <h3>Edit</h3>
      </div>
      <!--leftsidebar filter by start-->
      <div class="col-md-3">
        <h2>Filter by</h2>
        <label>
          <input type="checkbox" name="check-one" id="check-one" value="checkone" />
          <i></i>
          <span>All</span>
        </label>
        <img src="/assets/img/messenger/checkbox-divider.png" alt="" class="img-responsive mt20">
        <label class="mt20">
          <input type="checkbox" />
          <i></i>
          <span>Sent</span>
        </label>
        <label>
          <input type="checkbox" />
          <i></i>
          <span>Recieved</span>
        </label>
        <img src="/assets/img/messenger/checkbox-divider.png" alt="" class="img-responsive mt20">
        <label class="mt20">
          <input type="checkbox" />
          <i></i>
          <span>Photos</span>
        </label>
        <label>
          <input type="checkbox" />
          <i></i>
          <span>Videos</span>
        </label>
        <label>
          <input type="checkbox" />
          <i></i>
          <span>Documents</span>
        </label>
        <img src="/assets/img/messenger/checkbox-divider.png" alt="" class="img-responsive mt20">
        <label class="mt20">
          <input type="checkbox" />
          <i></i>
          <span>My Department</span>
        </label>
        <img src="/assets/img/messenger/checkbox-divider.png" alt="" class="img-responsive mt20">
        <h3 class="mygroup">My Groups</h3>
        <label class="mt20">
          <input type="checkbox" />
          <i></i>
          <span>creative team</span>
        </label>
        <label>
          <input type="checkbox" />
          <i></i>
          <span>SQUAAD</span>
        </label>
        <button type="button" class="btn btn-info">APPLY</button>
      </div>
      <!--leftsidebar filter by end-->
      <!--center dept start-->
      <div class="col-md-4">
        <div class="box">
          <div class="thumbnail"> </div>
          <div class="caption">
            <h4>10/14/16</h4>
            <h5>Dept | Design</h5>
          </div>
        </div>
        <div class="box">
          <div class="thumbnail-squaad"> </div>
          <div class="caption">
            <h4>11/23/16</h4>
            <h5>Group | SQUAAD</h5>
          </div>
        </div>
        <div class="box">
          <div class="thumbnail-screen"> </div>
        </div>
      </div>
      <!--center dept end-->
      <!--rightsidebar-->
      <div class="col-md-offset-1 col-md-4">
        <div class="box">
          <div class="thumbnail-design"> </div>
          <div class="caption">
            <h4>11/16/16</h4>
            <h5>Dept | Design</h5>
          </div>
        </div>
        <div class="box">
          <div class="thumbnail-team"> </div>
          <div class="caption">
            <h4>12/3/16</h4>
            <h5>Group | creative team</h5>
          </div>
        </div>
        <div class="box">
          <div class="thumbnail-rectangle"> </div>
        </div>
      </div>
    </div>
  </div>
</div>