<div id="wrapper">
  <div class="container" id="main-wrapper" style="margin-top: 30px">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a routerLink="/habitat"> <i class="fa fa-chevron-circle-left" style="font-size:50px"></i></a>
        </div>
        <div class="col-md-8 text-center " style="padding: 15px">
          <h3 style="color:#189bf2">Your Private Lockbox</h3>
          <p class="text-muted">You should feel safe in your work place.If,you dont,let us know.<br>And no one in your office will ever know.<br>We take Confidentialiy very seriously</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 text-right"> <button routerLink="/habitat-lockbox-complaint" type="button" class="btn btncomplaint">FILE  A  COMPLAINT</button> </div>
      </div>
    </div>
    <div class="container margin-top30">
      <div class="row">
        <div class="col-md-12" style="padding: 15px 45px 15px 15px">
          <div>
            <table class="table-responsive">
              <tr>
                <th class="text-center">Date</th>
                <th class="invisible">eeeet</th>
                <th>Previous Complaint Descriptions</th>
                <th class="invisible">eeeet</th>
                <th>Actions</th>
              </tr>
              <tbody>
                <tr>
                  <td class="text-center  date-col">09/22/2016</td>
                  <td class="shadow-col" rowspan="56"> </td>
                  <td class="description">Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium deleniti atque corrupti quos doloreset quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id estlaborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Name libero tempore, cum soluta nobis est eligendioptio cumque nihil impedit quo.</td>
                  <td class="shadow-col" rowspan="56">
                  </td>
                  <td width="15%"> <button type="button" class="btn viewbtn">View</button></td>
                </tr>
                <tr>
                  <td class="text-center" style="font-size: 1.2em">04/07/2016</td>
                  <td>Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium deleniti atque corrupti quos dolorese quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id estlaborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Name libero tempore, cum soluta nobis est eligendioptio cumque nihil impedit quo..</td>
                  <td> <button type="button" class="btn viewbtn">View</button> </td>
                </tr>
                <tr>
                  <td class="text-center" style="font-size: 1.2em">06/02/2015</td>
                  <td>Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium deleniti atque corrupti quos doloreset quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id estlaborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Name libero tempore, cum soluta nobis est eligendioptio cumque nihil impedit quo..</td>
                  <td> <button type="button" class="btn viewbtn">View</button> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
