<div class="modal fade" id="myModalupcoming" tabindex="-1" role="dialog" aria-labelledby="myModalLabelupcoming">
  <div class="modal-dialog" role="document">
    <h2 class="heading-welcome" style="top: -9px; position: absolute; text-align: center; width: 600px; height: 80px;background:rgba(110,133,149,.5); padding-top: 25px; color: #FFFFFF;">St. Jude's Cancer Walk</h2> <button type="button " class="close btn-lg" data-dismiss="modal" aria-label="Close" style="font-size: 4em"><span aria-hidden="true">&times;</span></button> <img src="/assets/img/giving/st-jude.png" alt="" style="max-width:100%;max-height:70%;z-inder:1; overflow:visible;  text-align: left; margin-top: -40px;"
    />
    <div class="modal-content">
      <div class="modal-body">
        <div class="row" style="border-style: none; margin-bottom:-15px; margin-top:-50px; background-position: center center; background-image: url('/assets/img/byh.jpg'); background-repeat: repeat; padding-top: 15px;">
          <div class="col-md-12" style=""> Come join our annual St. Jude's Cancer walk Help become part of the movement catered towards saving millions of children diagnsed with cancer.Sign up today! </div>
          <div class="col-md-12 text-center " style="margin-top: 15px;padding-bottom: 15px;">
          <button class="btn" data-dismiss="modal" type="button" style="margin-right: 10px; background-color:#7b0046; color: #FFFFFF; padding-right: 15px; padding-left: 15px; width: 120px;">SIGN UP </button>
            <button class="btn" data-dismiss="modal" type="button"
                style="margin-left: 10px; background-color: #7b0046; color: #FFFFFF; padding-right: 15px; padding-left: 15px; width: 120px;">SHARE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
