<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#view" aria-controls="view" role="tab" data-toggle="tab">View</a></li>
                            <li role="presentation" class="active"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="view">
                                
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="create">
                                <h2>What kind of survey would you like to create?</h2>

                                <div class="choices">
                                   
                                    <label><input type="checkbox" value="Voice-activated"><span>Voice-activated</span></label>
                                    <label><input type="checkbox" value="BioFeedback"><span>Biofeedback</span></label>
                                </div>    

                                <h2>What are your questions that you would like to ask?</h2>

                                <div class="qacontent">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h1>1</h1>
                                            <div class="inputcontent">
                                                <input type="text" name="question" class="form-control question" placeholder="Start typing your question here">
                                               </div>    
                                           
                                        </div>
                                    </div>   
                                </div>
                                <button type="button" class="btn btn-question"><i class="fa fa-plus" aria-hidden="true"></i> Add Question</button>    

                                <button type="button" class="btn btn-create">Create</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>