#wrapper{
margin-left: 10%; 
margin-right: 10%;
}
    
    
div.col-md-12 h2{
	color:#189bf2; 
	text-align: left;
	font-family: 'Gotham Thin'; 
	font-size:40px;
	    margin-left: -18px;
}

.mt30{
	margin-top:30px;
}
.mt50{
	margin-top:50px;
}

.mt20{
	margin-top:20px;
}
.mb40{
	margin-bottom:40px
}
.box{
	background:#fff;border:none;box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.11); 
text-shadow: 0px 10px 21px rgba(0, 0, 0, 0.11);border-radius: 12px;
 padding: 32px; 
 height:525px;
 margin-top: 50px;
 }
div.col-md-12 h1{
	font-family:'Gotham Thin';
	font-size:35px;
	color:#189bf2;
	text-align:center;
}
div.col-md-12 p{
	font-family:'Gotham Book';
	font-size:22x;
	color:#959595;
	text-align:center;
}
div.col-md-12 h3{
	color:#636363; 
	text-align: center;
	font-family: 'Gotham Thin'; 
	font-size:27px;
	    line-height: 2;
	        margin-top: 61px;
}
div.col-md-12 h4{
	color:#636363; 
	text-align: center;
	font-family: 'Gotham Book'; 
	font-size:33px;
	    line-height: 2;
}
div.col-md-12 h5{
	color:#636363; 
	text-align: center;
	font-family: 'Gotham Light'; 
	font-size:27px;
}
.fa-meh-o {
    content: "\f11a";
    color: #fd8b38;
    font-size: 70px;
        margin-left: 500px;
    margin-top: 26px;}
