<app-wellbeing-navbar></app-wellbeing-navbar>

<div id="wrapper">
<div class="container mt30"> 
<div class="row">

                           <div class="col-md-8">
                <h1>Your Shopping Cart</h1>
             </div>
             <div class="col-md-4">
                <h1>2 Course in Cart</h1>
             </div>
  <div class="col-md-12 box">
   
  <div class="col-md-4 well">
  <h2>Beginner’s Guide to Meditation
with Emily Fletcher</h2>
<p>By Emily Fletcher, Founder, Ziva 
Meditation</p>
<img src="/assets/img/wellbeing/mental/thumbnail.png" alt="" class="img-responsive img1" >
<button type="button" class="btn btn-default">VIEW</button><br>
<button type="button" class="btn btn-success">REMOVE</button>
<p class="para">$15</p>
    <p class="para1">$200</p>
  </div>
   <div class="col-md-4 well">
  <h2>The Ultimate Guide To Memory
and Learning Skills</h2>
<p>By Gregory Caremans, Neurocognitive
and Behavioral Expert</p>
<img src="/assets/img/wellbeing/mental/thumbnail1.png" alt="" class="img-responsive img1">
<button type="button" class="btn btn-default">VIEW</button><br>
<button type="button" class="btn btn-success">REMOVE</button>
<p class="para">$15</p>
    <p class="para1">$100</p>
  </div>
<div class="col-md-offset-1 col-md-2 well1" style="background-image: url('/assets/img/wellbeing/mental/divider1.png'); background-repeat: no-repeat">
 <h2>Total</h2>
 <h3>$30</h3>
 <h4>$300</h4>
 <h5>90% OFF</h5>
 <form class="mt30">
 <label class="label1">Coupon?</label>
 <input type="text" class="text1">
 </form>
 <button type="button" class="btn btn-info">APPLY</button>
 <button type="button" class="btn btn-warning">CHECKOUT</button>
  </div>

  </div>
  </div>
   
   <div class="col-md-12 mt50">
  <h1> What type of courses would you like to browse through?</h1>
  <p>Select from any of the course categories from below</p>
  </div>
  
            </div>
              </div>
