<div id="wrapper">
  <div class="container" id="main-wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-12" style="margin-top: 15px;margin-bottom: 15px">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/giving">
              <span class="fa-stack fa-3x  circle-dir">
                <i class="fa fa-angle-left" style="font-size:46px; padding-right: 10px; padding-left: 10px;border: 0;"></i>
              </span>
            </a>
          </div>
          <div class="col-md-9">
            <button [routerLink]="getEditRoute()" style="float:right;background:transparent;font-size:40px; border: none;"
                class="" [hidden]="hideEditButton">
            <i class="fa fa-pencil"></i>
          </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="eachcontent">
          <div class="image1bg" [style.background-image]="getBKGImage()">
            <div class="blurbg">
              <div class="textcontent">
                <div class="col-xs-10 col-md-10">
                  <p style="display: inline-block; padding-left: 15px;font-size:38px; color: #FFFFFF; font-family: 'Gotham Thin'; font-weight: bold;">
                    {{ opportunity.name }}</p>
                </div>
                <div class=" col-xs-2 col-md-2">
                  <i class="fa fa-heart" aria-hidden="true" style="color: #FF3300; font-size: 35px; float: right; vertical-align: bottom; padding-top: 10px;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6" style=" margin-bottom: 1rem">
            <button type="button" class="btn button1">share
              <b>IN</b>
            </button>
            <button type="button" class="btn button1">share
              <b>OUT</b>
            </button>
            <button class="btn btn-xs" style="border: 1px solid #ce058a; margin-left: 15px; color:#ce058a; padding-right: 15px; padding-left: 15px;background-color: #FFFFFF; font-family: 'Gotham Book'; font-size: 16px; font-weight: bold;">INVITE</button>
          </div>
          <div class="col-xs-6 col-md-6 text-right" style="margin-bottom: 1rem;">
            <button [routerLink]="[]" fragment="positionAvailableAnchor" class="btn" style="background-color: #189bf2; padding-right: 35px; padding-left: 35px; color: #FFFFFF;">
              <i class="fa fa-plus" aria-hidden="true" style="color: #FFFFFF; font-size: 15px; padding-right: 10px"></i> SIGN UP</button>
            <button class="btn " style="background-color: #00a652; padding-right: 65px; padding-left: 65px; color: #FFFFFF;">REWARD</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="text-align:center;">
            <p class="img-circle" style="font-family: 'Gotham Light'; font-size: 163px; color: #ce058a; border-radius: 50%; border: 2px solid #ce058a;">
              {{ daysLeft() }}</p>
            <p style="font-family: 'Gotham Light'; font-size: 25px; color: #252525; text-transform: uppercase">Days Left For</p>
            <p style="font-family: 'Gotham Light'; font-size: 19px; color: #252525; text-transform: uppercase;margin-top: -15px;">this opportunity</p>
          </div>
          <div class="col-md-3">
            <h4 style="font-family: 'Gotham Thin'; font-size: 25px; color: #ce058a; text-transform: lowercase;">powered By</h4>
            <img src="/assets/img/giving/charity-logo.jpg" alt="" class="img-responsive" />            </div>
          <div class="col-xs-6  col-md-6 ">
            <p style="color: #ce058a; font-family: 'Gotham Light'; font-size: 22px; font-weight: bold;">{{ opportunity.summary }}</p>
            <p style="font-family: 'Gotham Light'; font-size: 22px; font-weight: bold; color: #111111;padding-top:30px">
              {{ opportunity.description }} </p>
          </div>
        </div>
        <div class="row margin-top30">
          <div class="col-xs-12 col-md-12 ">
            <div class="progress ">
              <div class="progress-bar skew" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100" [style.width]="getProgressStyleWidth()" style="background-color: #ce058a!important; color: #FFFFFF;">
                <p class="st-text">
                  <span style="font-family: 'Gotham Thin';font-size: 36px">{{ getSpotsFilled() }}</span>                  SPOTS FILLED </p>
              </div>
            </div>
            <p class="control-btm">{{ getSpotsFilled() }}/{{ getTotalSpots().toString() }} SPOTS REMAINING</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <i class="fa fa-gift fa-4x" aria-hidden="true" style="color: #ce058a;font-size:100px"></i>
          </div>
          <div class="col-xs-3 col-md-3" style="padding-left: 45px;">
            <h4 style="color: #ce058a; font-family: 'Gotham Light'; font-size: 33px;">Reward</h4>
            <p style="color:#111111; font-family: 'Gotham Light'; font-size: 25px;">{{ getSkillPoints() }} Points</p>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1 col-md-1">
            <i class="fa fa-clock-o fa-4x" aria-hidden="true" style="color: #ce058a;font-size:100px"></i>
          </div>
          <div class="col-xs-5 col-md-5" style="padding-left: 45px;">
            <h4 style="color: #ce058a; font-family: 'Gotham Light'; font-size: 33px;">When & Where</h4>
            <p style="color:#111111; font-family: 'Gotham Light'; font-size: 25px;"> Date: {{ getEventDate() }}
              <br> Start Time: 7 A.M
              <br> End Time: 6 P.M
              <br> Available Shifts :{{ shiftsAvailable() }} </p>
            <p class="where" style="color:#111111; font-family: 'Gotham Light'; font-size: 25px;">
              {{ opportunity.locationName }}
              <br> {{ opportunity.locationAddress }}
              <br> {{ opportunity.locationCity }}, {{ opportunity.locationState }}
              {{ opportunity.locationZIP }}
              <br> </p>
          </div>
        </div>
        <div class="row" style="display: block;position: relative;top: -163px;">
          <div class="col-xs-1 col-md-1">
            <i class="fa fa-users fa-3x" style="color: #ce058a;font-size:85px"></i>
          </div>
          <div class="col-xs-3 col-md-3" style="padding-left: 45px;">
            <h4 style="color: #ce058a; font-family: 'Gotham Light'; font-size: 33px;">Participants
            <br>
          </h4>
            <p style="text-align: right; margin-right: -25px; margin-left: 55px; color:#111111; font-family: 'Gotham Light'; font-size: 25px;">
              {{ getUniqueParticipants() }} </p>
          </div>
        </div>
        <div class="row gallery">
          <div *ngFor="let fileItem of fileList" class="col-xs-4 col-md-4" style="padding: 0.5rem">
            <img src="{{ fileItem.path }}" alt="" class="img-responsive"> </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 id="positionAvailableAnchor" style="font-family: 'Gotham Light'; font-size: 41px; color: #CE058A">Positions Available</h2>
            <div class="panel ">
              <div class="panel-heading" style="background-color: #ce058a; color: #FFFFFF; font-family: 'gotham Bold'; font-size: 20px;padding-top: 17px;
    padding-bottom: 17px;">
                <div class="row">
                  <div class="col-xs-3"> Position </div>
                  <div class="col-xs-3"> Shift </div>
                  <div class="col-xs-3"> Available Spots </div>
                  <div class="col-xs-3"> Sign Up? </div>
                </div>
              </div>
              <div class="panel-body" style=" border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; border-style: solid; border-width: 3px 3px 4px 4px; border-top-color: #ce058a; border-right-color: #ce058a; border-bottom-color: #ce058a; border-left-color: #ce058a; font-family: 'Gotham Light'; font-size: 19px; color: #252525;">
                <div class="row" *ngFor="let shift of opportunity.availableShifts; let shiftIndex = index">
                  <div class="col-xs-3"> {{ shift.name }} </div>
                  <div class="col-xs-4"> {{ formatTime(shift.startTime) }} - {{ formatTime(shift.endTime)
                    }} </div>
                  <div class="col-xs-2"> {{ shiftSpotsAvailable(shift).toString() }} </div>
                  <div class="col-xs-1">
                      <span [hidden]="shiftsPending[shiftIndex] !== true" style="position:relative;top:10px;">Pending</span>
                  </div>
                  <div class="col-xs-1">
                    <div [hidden]="isParticipant(shift, shiftIndex) === true">
                      <button class="btn btn-default btn-xs" style="border:none;"  (click)="toggleShiftPending(shiftIndex, shift)">
                    <i class="fa fa-square-o"></i>
                  </button>
                    </div>
                    <div [hidden]="isParticipant(shift, shiftIndex) !== true">
                      <button class="btn btn-default btn-xs" style="border:none;" (click)="toggleShiftPending(shiftIndex, shift)">
                    <i class="fa fa-check-square-o"></i>
                  </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 text-right">
              <button class="btn" [style.display]="isVolunteerSelectionNotPendingDisplay()" (click)="commitPendingShifts()"
              style="border: 1px solid #ce058a; background-color: #FFFFFF; color: #ce058a; font-family: 'Gotham Book'; font-size: 25px;">
          PARTICIPATE
        </button>
            </div>
          </div>
          <!---comments section-->
          <div class="col-md-12" style="margin-top: 2rem;box-shadow: -5px 8px 15px 0px rgba(50, 50, 50, 0.8);">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <h2 style="color: #ce058a; font-family: 'Gotham Light'; font-size: 41px; font-weight: bold;">Comments</h2>
              <ul class="list-unstyled">
                <li *ngFor="let comment of opportunity.comments">
                  <div class="col-xs-2 col-md-2" style="margin-top:30px;clear:left;">
                    <img src="https://s3.amazonaws.com/imminent/oahu/{{ comment.createUser }}/picture.png"
                        alt="" height="130" width="130" class="img-responsive img-circle">
                  </div>
                  <div class="col-xs-9 col-md-10" style="margin-top:30px">
                    <div class="eachcommentscontent">
                      <div class="comments">
                        <h5 class="text-left pull-left author">
                      <span style="color: #189bf3">{{ comment.firstName }} </span> Commented</h5>
                        <p>{{ comment.commentText }}</p>
                      </div>
                      <span class="triangle"></span>
                    </div>
                  </div>
                  <br> </li>
                <li>
                  <div class="col-md-12" style="margin-top:30px" [hidden]="hideCommentsPostBox()">
                    <textarea name="TextArea1" cols="20" rows="6" class="form-control" placeholder="Write a Comment here"
                        #postCommentTextArea style="border: 2px solid #ce058a;resize:none;border-radius: 8px"></textarea>
                    <button class="btn btn-post" (click)="postComment()">POST</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12"> </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top: 2rem; margin-bottom: 2rem">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <h3 style="color: #ce058a; font-weight: bold; font-family: 'Gotham Light'; font-size: 41px;">Contact Information</h3>
                  <h5 style="font-family: 'Gotham Light'; font-size: 27px; color: #252525; font-weight: bold">{{ opportunity.contactFullName }}</h5>
                  <h5 style="font-family: 'Gotham Light'; font-size: 27px; color: #252525; font-weight: bold">{{ opportunity.contactEmail }}</h5>
                  <h5 style="font-family: 'Gotham Light'; font-size: 27px; color: #252525; font-weight: bold">{{ opportunity.contactPhone }}</h5>
                </div>
                <div class="col-xs-2 col-md-2">
                  <img src="/assets/img/giving/1.png" alt="" class="img-responsive img-circle">                  </div>
                <div class="col-xs-2 col-md-2">
                  <img src="/assets/img/giving/2.png" alt="" class="img-responsive img-circle" style="padding: 0.75rem">                  </div>
                <div class="col-xs-2 col-md-2">
                  <img src="/assets/img/giving/3.png" alt="" class="img-responsive img-circle" style="padding: 0.75rem">                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
