/* You can add global styles to this file, and also import other style files */
@import 'src/styles/_variables';

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: $sansFont;
}

.btn {
    border-radius: 6%;
    width: 7rem;
    height: 2.4rem;
    text-transform: uppercase;
    border: none;
}

.primary {
    background-color: $primary;
    color: white;
}

.secondary {
    outline: 1px solid $secondary;
    border: none;
    background-color: white;
}

.fa-trash:hover {
    color: red;
    font-size:1.3em;
    transition: font-size 1s ease-in-out, color 1s ease-in-out;
}

.fa-circle-plus:hover {
    color: blue;
    font-size:1.3em;
    transition: font-size 1s ease-in-out, color 1s ease-in-out;
}

li > i {
    margin:1em;
}