/* You can add global styles to this file, and also import other style files */
@import 'src/styles/_variables';

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: $sansFont;
}