<div class="modal fade" id="modalCalender" tabindex="-1" role="dialog" aria-labelledby="modalCalender">
  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content modal-contentcustom" style="background-image: url(/assets/img/bg1.png); background-position-y: -10px; background-size: 325px;">
      <div class="modal-header" style="border:none">
        <h4 class="text-center">Calender Events</h4> <button type="button " class="close btn-lg" data-dismiss="modal" aria-label="Close" style="font-size: 1.5em; padding-right: 30px; padding-bottom: 30px; padding-top: -30px; margin-top: -30px;"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-md-12 text-center"> </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-md-12" style="overflow-y:scroll;overflow-x:hidden; float: left; width: 100%; left: -40px; right: 20px; top: -40px;"> -->
          <div class="col-md-12" style="float: left; width: 100%; left: -40px; right: 20px; top:-50px;">
            <ul role="menu" aria-labelledby="menu1" style="list-style-type: none; color: #189bf2;">
              <li class="text-left" role="presentation" style="color: #189bf2;background:rgba(233,234,240,.5);border-style: solid; padding: 1px 20px 1px 5px; color: #FFFFFF; border-bottom-width: 1px; border-bottom-color: #FFFFFF; border-top-width: 1px; border-top-color: #FFFFFF; width: 260px; margin-top: 10px; margin-bottom: 10px;">
                <a role="menuitem" tabindex="-1"><small style="color: #189bf2;">9.00 am to 9.35 a.m </small><br>
  <span style="font-size:1.3em;color: #189bf2;">Stand Up</span>

  </a></li>
              <li role="presentation" style="color: #189bf2;background:rgba(233,234,240,.5);border-style: solid; padding: 1px 20px 1px 5px; color: #FFFFFF; border-bottom-width: 1px; border-bottom-color: #FFFFFF; border-top-width: 1px; border-top-color: #FFFFFF; width: 260px; margin-top: 10px; margin-bottom: 10px;">
                <a role="menuitem" tabindex="-1"><small style="color: #189bf2;">11.00 am to 1.30 P.M </small><br>
  <span style="font-size:1.3em;color: #189bf2;">Fresh Delivery</span>

  </a></li>
              <li role="presentation" style="color: #189bf2;background:rgba(233,234,240,.5);border-style: solid; padding: 1px 20px 1px 5px; color: #FFFFFF; border-bottom-width: 1px; border-bottom-color: #FFFFFF; border-top-width: 1px; border-top-color: #FFFFFF; width: 260px; margin-top: 10px; margin-bottom: 10px;">
                <a role="menuitem" tabindex="-1"><small style="color: #189bf2;">4.00 P.M to 4.15 P.M </small><br>
  <span style="font-size:1.3em;color: #189bf2;">Install Whiteboards</span>

  </a></li>
              <li role="presentation" style="color: #189bf2;background:rgba(233,234,240,.5);border-style: solid; padding: 1px 20px 1px 5px; color: #FFFFFF; border-bottom-width: 1px; border-bottom-color: #FFFFFF; border-top-width: 1px; border-top-color: #FFFFFF; width: 260px; margin-top: 10px; margin-bottom: 10px;">
                <a role="menuitem" tabindex="-1"><small style="color: #189bf2;">4.30 P.M to 5.00 P.M </small><br>
  <span style="font-size:1.3em;color: #189bf2;">Team Progress Meeting</span>

  </a></li>
              <li role="presentation" style="color: #189bf2;background:rgba(233,234,240,.5);border-style: solid; padding: 1px 20px 1px 5px; color: #FFFFFF; border-bottom-width: 1px; border-bottom-color: #FFFFFF; border-top-width: 1px; border-top-color: #FFFFFF; width: 260px; margin-top: 10px; margin-bottom: 10px;">
                <a role="menuitem" tabindex="-1"><small style="color: #189bf2;">7.00 P.M to 9.00 P.M </small><br>
  <span style="font-size:1.3em;color: #189bf2;">Endurance Training</span>

  </a></li>
            </ul>
          </div>
          <div class="col-md-12 text-center " style="margin-top: 15px;padding-bottom: 15px;"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
