button.modal-exit-btn {
  padding: 3px 0px 3px 0px;
 border-radius: 20px;
  background-color: #0cca61;
  color: #FFFFFF;
  width: 130px;
  font-family: 'Gotham Book';
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
}
