<div class="modal fade" id="become-mentor" tabindex="-1" role="dialog" aria-labelledby="become-mentor">
  <div class="modal-dialog" role="document" style="width: 50%">
    <div class="modal-content" style="padding: 0 45px 0 45px;">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: -42px;font-size: 3em; font-family: 'Gotham Thin'; color: #252525;margin-top: -0px;"><span aria-hidden="true">X</span></button>

        <h2 style="font-family: 'Gotham Book'; font-size: 33px; color: #0cca61; text-align: center;">Interested in becoming a mentor?</h2>

      </div>

      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">

          <div class="row" style="padding-top: 15px; padding-bottom: 35px; margin-top: -30px;">
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-12">
                  <label class="text-h4" style="margin-bottom: 15px;text-align: center;color: #0cca61; font-family: 'Gotham Book'; font-size: 22px; ">Your Background</label>
                                    <textarea ngModel name="background" class="form-control textAreaMultiligne"
                      cols="20" rows="5" style="border-radius: 22px;resize:none;font-family: 'Gotham Book'; font-size: 19px;border:1px solid #0cca61;  color: #acacac;"
                      placeholder="Give a few details about your experiences"></textarea>
                </div>
                <div class="col-md-12">
                  <label class="text-h4" style="margin-top: 35px;margin-bottom: 15px;text-align: center;color: #0cca61; font-family: 'Gotham Book'; font-size: 22px; ">Why Choose Me?</label>
                                    <textarea ngModel name="whyMe" class="form-control textAreaMultiligne"
                      cols="20" rows="5" style="border-radius: 22px;font-family: 'Gotham Book'; font-size: 19px;resize:none;border:1px solid #0cca61; color: #acacac;"
                      placeholder="This can address your current and future interest"></textarea>
                </div>

              </div>
            </div>
            <div class="row">

              <div class="col-md-12 text-center " style="margin-top: 10px;margin-bottom: 0px;">
                <button type="submit" data-toggle="modal"  data-target="#myModal"class="btn modal-exit-btn">SUBMIT</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal"
    style="top: 260px">
  <div class="modal-dialog" role="document" style="width: 50%">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 3em; font-family: 'Gotham Thin'; color: #252525;margin-top: -0px;"><span aria-hidden="true">X</span></button>


      </div>
      <div class="modal-body">

        <div class="row" style="padding-top: 15px; padding-bottom: 35px; margin-top: -30px;">

          <div class="col-md-12">
            <h2 class="text-h4" style=" margin-top: -10px;text-align: center;	color: #0cca61; font-family: 'Gotham Book'; font-size: 33px; ">Thanks You for Your Interest!</h2></div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <h5 style="margin-top:28px;font-family:'Gotham Book'; font-size: 19px; color: #555555; ">Your request to become a mentor will be reviewed by an admin. You should
receive notification of your request status soon! Contact an admin if you do
not hear back within a week.</h5>

            </div>
          </div>
          <div class="row">

            <div class="col-md-12 text-center " style="margin-top: 10px;margin-bottom: 0px;">
              <a class="btn modal-exit-btn" data-dismiss="modal" type="button" style="margin-top:20px;padding: 7px; border-radius: 20px; background-color: #7b0046; color: #FFFFFF; width: 130px; font-family: 'Gotham Book'; font-size: 23px;"> CLOSE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
