<div class="modal fade" id="myModalsend" tabindex="-1" role="dialog" aria-labelledby="myModalLabelsend">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content sendgertie">
    
        
     
      
      <div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:4em; font-family: 'Gotham Book'; margin-top: -8px; margin-right: -5px; font-weight: bold;">&times;</button>      <div class="row" >
          <div class="col-md-12 text-center clerafix" style="margin-top:-30px;">
            <h2 class="heading-welcome" >Send-a-Gertie !</h2> 
			  <h4 class="text-center" >Select a person to recognize</h4> </div>
        </div>
        <div class="row" style="padding-top:20px;">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h5>Who would you like to recongnize in your company?</h5>
            <form action="" role="form" style="margin-top: 15px">
              <div class="form-group input-group col-xs-12 col-md-12 pull-right"> <input type="text" class="form-control boxborder" placeholder="Bob" style="border-radius: 5px; border: 1px solid #189BF2;"> <span class="input-group-btn" style="position: absolute; margin-left: 300px;margin-top: -2px">
                         <button class="btn "  style="background-color:transparent; color: #0099CC;"type="button">
                           <i class="fa fa-search" style="color: #0099CC; font-size: 16px;" ></i>
                         </button>
                     </span> </div>
            </form>
          </div>
          <div class="col-md-1"> <img src="/assets/img/shadow-hm-right.png" alt=""></div>
          <div class="col-md-5" style="margin-left: -40px; padding-left: 30px; padding-bottom: 30px;">
            <div class="row onhovered">
              <div class="col-md-2" style="text-align: left; margin-left: -20px;"> <img src="/assets/img/giving/bob-singh.png" alt="" width="70px" height="70px"> </div>
              <div class="col-md-10" style="padding-left: 50px"> 
				  <span class="empname"> Bob Singh</span> <br> <span class="job">Sr. Developer</span><br> <span class="job-dept">Information Technology Dept.</span> </div>
            </div>
            <div class="row onhovered">
              <div class="col-md-2" style="text-align: left; margin-left: -20px;"> <img src="/assets/img/giving/bob-bald-ross.png" alt="" width="70px" height="70px"> </div>
              <div class="col-md-10" style="padding-left: 50px"> <span class="empname"> Bob Bald Ross</span> <br> <span class="job">Cladestine Agent</span><br> <span class="job-dept">Central Intelligence Dept.</span> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="textarea-label">
			Say Something with your Gertie<span>(Optional)</span></p> <textarea name="TextArea1" class="form-control" cols="20" rows="3" placeholder="Thanks for Fixing my computer Bob :D"></textarea> </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center " style="margin-top: 30px"> <button class="btn modal-send-btn" data-dismiss="modal" type="button" >Send</button> 
          <button class="btn modal-exit-btn" data-dismiss="modal" type="button" >Exit</button>            </div>
        </div>
      </div>
    </div>
  </div>
</div>
