<div id="wrapper">
	<div class="container" style="margin-top: 30px;">
		<div class="row" >
			<div class="col-md-1">
				<a routerLink="/habitat"> 
        <span class="fa-stack fa-3x  circle-dir">
  <i class="fa fa-angle-left" style="font-size:46px; padding-right: 10px; padding-left: 10px;border: 0;"></i>
</span>
        </a>
				
				
				</div>
			<div class="col-md-11">
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-md-12 text-center font-color-white" style="font-size: 4em">
				<h1 class="heading">What's On Your Mind?</h1>
				<h4 class="subheading">Answer your Questions by speaking into your 
				mic</h4>
			</div>
		</div>
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="well-lg center-block">
					<div class="row">
						<div class="col-md-11">
							<h2 class="fontcolor-global">Which internet website 
							do you use most often ?</h2>
						</div>
						<div class="col-md-1">
							<i aria-hidden="true" class="fa fa-microphone"></i>
						</div>
					</div>
					<div class="col-md-12">
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="well-lg center-block" >
					<div class="row" >
						<div class="col-md-11">
							<h2 class="fontcolor-global">How helpful is the Internet 
							for making friends? </h2>
						</div>
						<div class="col-md-1">
							<i aria-hidden="true" class="fa fa-microphone"></i>
						</div>
					</div>
					<div class="col-md-12">
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="well-lg center-block">
					<div class="row">
						<div class="col-md-11">
							<h2 class="fontcolor-global">How often you use the internet 
							to make new friends? </h2>
						</div>
						<div class="col-md-1">
							<i aria-hidden="true" class="fa fa-microphone"></i>
						</div>
					</div>
					<div class="col-md-12">
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="well-lg center-block">
					<div class="row">
						<div class="col-md-11">
							<h2 class="fontcolor-global">Which social media network 
							do you use most often? </h2>
						</div>
						<div class="col-md-1">
							<i aria-hidden="true" class="fa fa-microphone"></i>
						</div>
					</div>
					<div class="col-md-12">
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
		<button class="btn btn-lg center-block" data-target="#myModal" data-toggle="modal" type="submit">
		SUBMIT</button>
		<div class="row" style="margin-top: 60px">
			<div class="col-md-1">
			</div>
			<div class="col-md-10 text-center ">
				<img alt="" src="/assets/img/habitat/ibmwatson-logo.png" /></div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
</div>
