/*Border radius*/
.bor-radius {
	border-radius: 10px!important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px 10px 10px 10px;
}
.bor-radius8 {
	border-radius: 8px!important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px 8px 8px 8px;
}
.bor-radius15 {
	border-radius: 15px!important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px 15px 15px 15px;
}
bor-radius20 {
	border-radius: 20px!important;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px 20px 20px 20px;
}
/*Color Codes*/
.font-color-white {
	color: #FFFFFF;
}
.font-greylight {
	color: #c1c4c5;
}
.font-grey {
	color: #959595;
}
.font-successgreen {
	color: 00a651;
}
.fontcolor-global {
	color: #0cca61!important;
	font-family: "Gotham Light";
	font-size: 33px;font-weight: 600;line-height: 1.2em;
}
.bgcolor-global {
	background-color: #189BF2!important;
}
.border-color-global {
	border: 2px solid #189BF2!important;
}
.font-maroon {
	color: #7b0046!important;
}
.bg-maroon {
	background-color: #7b0046!important;
}
/*Box-shadows*/
.global-box-shadow {
	-webkit-box-shadow: 0px 6px 5px 1px rgba(224,224,224,1);
	-moz-box-shadow: 0px 6px 5px 1px rgba(224,224,224,1);
box-shadow: 0px 6px 5px 1px rgba(224,224,224,1);
}
/*outline removing*/
.direction {
	color: white;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	padding: 5px;
	font-size: 2.8rem;
}
div.col-md-11 h2 {
	display: inline-block;
	padding-top: 15px;
	margin-top: -5px;
	font-family: 'Gotham Light';
	font-size: 31px;
}

button.btn-lg {
    border-radius: 50px;
    color: #fff;
    background: #0cca61;
    font-family: "Gotham Book";
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 350px;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 100px;}
.circle-dir {
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	font-size: 2em;
	padding-right: 5px;
	padding-left: 5px;
}
.heading {
	font-family: 'Gotham Thin';
	font-size: 55.56px;
	color: #0cca61;font-weight:600;
}
.subheading {
	font-family: 'Gotham Thin';
	font-size: 26px;
	color: #636363;font-weight:600;

}
.well-lg {
	background-color: #FFFFFF;
	
	border-radius: 10px;
	
	box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.09);
}
.well-lg div.row {
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
div.col-md-1 i.fa-microphone {
	color:  #0cca61;
	text-transform: uppercase;
	font-size: 85px;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.55); 
	border:0;
}
div.col-md-11 {
	padding-top: 10px;
}
.circle-dir{border-style: solid; border-width: 1px; border-radius: 50%; font-size:2em; padding-right: 5px; padding-left: 5px;}
